<template>
  <div id="form-raw-view" class="h-full overflow-auto">
    <div class="p-10 pl-52 text-xs text-stone-500">
      <code>
        <pre>{{ formStore.form }}</pre>
      </code>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
const formStore = useFormStore();
</script>
