{# Buttons used in form.html.twig #}

{% if form.save is defined and not form.save.vars.disabled %}
    <div id="submit-toolbar">
        <div class="form-group">

            <div class="col-sm-6">
                <div class="alert alert-warning mb0 mt0" id="tempHistoryWarning" style="display:none;">
                    {{ 'fields.tempHistoryWarning.notYetDefinitive'|trans({}, 'kulFormBase') }}
                </div>
            </div>

            <div class="col-sm-6">
                <div class="btn-group pull-right">
                    {% if cancel is defined and cancel is not null %}
                        <a class="btn btn-default {{ cancelClass is defined ? cancelClass : '' }}" href="{{ cancel }}" title="{{ 'fields.cancel.label'|trans({}, 'kulFormBase') }}">
                            {{ 'fields.cancel.label'|trans({}, 'kulFormBase') }}
                        </a>
                    {% endif %}
                    <p class="pull-left ma10"><span class="required-coloring">*</span>&nbsp;=&nbsp;{{ 'fields.required.info'|trans({}, 'kulFormBase') }}</p>
                    {% if form.tempSave is defined and not form.tempSave.vars.disabled %}
                        {{ form_widget(form.tempSave) }}
                    {% elseif tempSave.save is defined and form.tempSave.vars.disabled %}
                        {% do form.tempSave.setRendered() %}
                    {% endif %}
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>

{% elseif form.save is defined and form.save.vars.disabled %}
    {% do form.save.setRendered() %}
{% endif %}
