{%- block form_help -%}
    {% set row_class = row_attr.class|default('') %}
    {% set help_class = ' form-text' %}
    {% if 'input-group' in row_class %}
        {#- Hack to properly display help with input group -#}
        {% set help_class = ' input-group-text' %}
    {% endif %}
    {%- if help is not empty -%}
        {% if node_description_display_type == constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\InputNode::DESCRIPTION_DISPLAY_MODE_BOX') %}
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ help_class ~ ' text-muted mt-5')|trim}) -%}

            {% if matrix_view %}
                <div class="col-sm-12">
            {% else %}
                <div class="col-sm-offset-3 col-sm-8">
            {% endif %}

                    <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
                        {%- if translation_domain is same as(false) -%}
                            {%- if help_html is same as(false) -%}
                                {{- help -}}
                            {%- else -%}
                                {{- help|sanitize_html_custom -}}
                            {%- endif -%}
                        {%- else -%}
                            {%- if help_html is same as(false) -%}
                                {{- help|trans(help_translation_parameters, translation_domain) -}}
                            {%- else -%}
                                {{- help|trans(help_translation_parameters, translation_domain)|sanitize_html_custom -}}
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                </div>
        {% elseif node_description_display_type == constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\InputNode::DESCRIPTION_DISPLAY_MODE_ICON') %}
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ help_class ~ ' text-muted mt-5')|trim}) -%}

            <a
                    id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}
                    class="text-info p-5"
                    href="#"
                    data-placement="left"
                    data-trigger="hover"
                    data-html="true"
                    data-toggle="popover"
                    data-container="body"
                    data-content="{{- help|sanitize_html_custom -}}"
            >
                <i style="font-size: 18px" class="ico-info-sign text-muted"></i>
            </a>
        {% endif %}
    {%- endif -%}
{%- endblock form_help %}
