{# Main twig for rendering the form #}

{# @var rootNode \KUL\FormBundle\Domain\Template\Element\Node\Category\CategoryNode #}
{# @var formList \KUL\FormBundle\Domain\Template\Element\FormList #}
{% set validForProcessing = false %}
{% set showTempHistoryWarning = showTempHistoryWarning is defined and showTempHistoryWarning ? true : false %}

{# check required access parameters write/read/stepUid/role #}
{% if userCanWrite is defined and userCanRead is defined and step is defined and role is defined %}
    {#
    either rootNode is passed directly and assumed checked on reachables,
    or formList is passed instead. need at least one of the two
    #}
    {% if rootNode is not defined and formList is defined and not formList.isEmpty %}
        {% set rootNode = formList.rootNode %}
    {% endif %}

    {% if rootNode is defined %}
        {% if userCanWrite or userCanRead %}
            {% set validForProcessing = true %}
        {% endif %}
    {% endif %}

    {% if userCanWrite and (form is not defined or form is empty) %}
        {% set validForProcessing = false %}
    {% endif %}
{% endif %}

{# start processing if valid #}
{% if not validForProcessing %}
    <p class="text-danger">geen toegang/no access</p>
    {# can not handle formList for read and/or write. check your parameters! #}
{% else %}
    {% if userCanWrite %}
        {{ form_start(form) }}
        {% if customFormThemes is defined and customFormThemes is iterable and 0 < customFormThemes|length %}
            {% set formThemes = customFormThemes|merge(['@KULForm/embed/form/form_theme.html.twig']) %}
        {% else %}
            {% set formThemes = ['@KULForm/embed/form/form_theme.html.twig'] %}
        {% endif %}
        {% form_theme form with formThemes %}
    {% endif %}

    {% set readValues = (formValues is defined and formValues is not empty ? formValues : []) %}

    {# this twig combines read & write (i.e. a form exists) access: there is no form if only read access #}

    {# don't show the general one-liner 'form has errors' like message just above the form itself, if requested by implementing app via param hideDefaultGeneralFormErrorMessage
           this is a bit silly to use this negative parameter, but at time of writing, some implementing apps (Demoe & EQA) already relied on this message and we don't want to break them.
           in other implementing apps (SCONE) we don't want to render this general message, but instead render a more elaborate message with a summary of all validation errors
           on top of the page via embeddable @see twig src/Resources/views/embed/formError/formValidationErrorMessagesList.html.twig
    #}
    {% if hideDefaultGeneralFormErrorMessage is not defined or not hideDefaultGeneralFormErrorMessage %}
        {% if userCanWrite and not form.vars.valid %}
            <div class="panel-body">
                <div class="form-group mb0">
                    <div class="col-sm-12">
                        <div class="alert alert-danger mb0">
                            <strong>{{ 'general.formHasErrors'|trans({}, 'validators') }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="form-horizontal form-bordered">
        {% import "@KULForm/embed/form/macros.html.twig" as macros %}
        {% for child in rootNode.children %}
            <div style="page-break-inside: avoid">
                {% set formView = userCanWrite ? form : null %}
                {{ macros.nodeItem(child, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers) }}
            </div>
        {% endfor %}

        {% if userCanWrite %}
            {% if cancelClass is not defined %}
                {% set cancelClass = '' %}
            {% endif %}

            {% include '@KULForm/embed/form/buttons.html.twig' with {
                'form': form,
                'cancel' : (cancel is defined and cancel is not null ? cancel : null ),
                'cancelClass': cancelClass
            } %}
        {% endif %}
    </div>

    {# to avoid view issues (when rendering the form inside a Iframe wrapper), by default add extra whitespace between end of form and submit buttons.
       can be omitted if needed/desired by implementing app, allowing implmenting app to 'solve' view issue(s) #}
    {% if omitExtraWhitespaceAtEndOfForm is not defined or not omitExtraWhitespaceAtEndOfForm %}
        {# add fixed extra whitespace at very bottom of form to make sure end of form remains visible in Iframe and 'normal' view:
           1. avoids the absolute positioned 'submit toolbar' overlapping the end (last question) of the form
           2. in case of last question being choice question with (selectize) dropdown: avoids most of the dropdown answer options
              becoming partially hidden behind the absolute positioned 'submit toolbar' and/or dropping behind the Iframe bottom
        #}
        <div class="footer-spacer"><br><br><br><br><br><br><br><br><br><br><br>&nbsp;</div>
    {% endif %}

    {% if userCanWrite %}
        {{ form_end(form) }}
    {% else %}
        {# just in case the form is set but no write permission is set (should not occur) #}
        {% if form is defined and form is not empty %}
            {% for child in form.children %}
                {% do child.setRendered() %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}
