{# Macros for form.html.twig #}

{% macro nodeItem(node, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers, visibleMatrixCols) %}
    {# @var node \KUL\FormBundle\Domain\Template\Element\Node\Contract\NodeInterface #}
    {% if not node.isHidden %}
        {% import _self as macros %}
        {% if node.type starts with 'category' %}
            {{ macros.categoryItem(node, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers, visibleMatrixCols) }}
        {% elseif node.type starts with 'question' %}
            {{ macros.inputItem(node, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers) }}
        {% elseif node.type starts with 'read_only_view' %}
            {% import "@KULForm/embed/form/node/view_macros.html.twig" as view_macros %}
            {{ view_macros.readOnlyView(node, readValues, step, role, showPositionNumbers) }}
        {% endif %}
    {% endif %}
{% endmacro nodeItem %}

{% macro categoryItem(node, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers, visibleMatrixCols) %}
    {% import _self as macros %}
    {# don't show categories that are marked as hidden or don't have any active questions and read-only-view nodes in their descendants #}
    {# @var node \KUL\FormBundle\Domain\Template\Element\Node\Category\CategoryNode #}
    {% if node.hasReachableNonCategoryDescendants %}
        {% set writeAccessWithFormView = false %}
        {% set readOnlyAccess = false %}

        {# user could have (in hierarchical order):
            - write access to the node AND the node was added to the form => render node as writable field
            - write access to the node BUT the node was NOT added to the form (e.g. due to form allowing users to submit only once per role-step ) =>
                - user could still have read access => render node as readable field
                - user could NOT have read access => do NOT render node
            - read access => render node as readable field
            - no write and no read access => do NOT render node
         #}

        {# first check write access AND if so, check if node was added to the form on server side form construction  #}
        {% if node.isStepRoleWriteAccessGranted(step, role) %}
            {# object FormView is countable. although in this case, param formView will not return a false positive on 'is empty', #}
            {# it's better to not check on 'is empty' and use 'is null' instead. @see https://twig.symfony.com/doc/2.x/tests/empty.html #}
            {% set nodeFormView = formView is not null ? kul_form_find_form_view_by_node_uid(formView, node.getUid) : null %}
            {% if nodeFormView is not null %}
                {% set writeAccessWithFormView = true %}
            {% endif %}
        {% endif %}

        {# if no write access granted or write access granted but no formView found  #}
        {# check for explicit read access or for indirect read acces via write access #}
        {# category might grant no read access to any questions and only grant read access to read-only-view (radar-chart) nodes
           in this step for this role. but it's possible that there's nothing to plot in none of those read-only-view
           (radar-chart) nodes due to no answers yet given (e.g. radar chart in first step when no one has yet submitted any answers).
           so to avoid rendering 'empty' categories because of only access to non-renderable read-only-view (radar-chart) nodes,
           we don't show the category (for consistency as when there are no questions: never show an 'empty' category) #}
        {% if not writeAccessWithFormView and node.hasReadAccessibleNonCategoryDescendantsToRenderInStepForRole(step, role, readValues) %}
            {% set readOnlyAccess = true %}
        {% endif %}

        {# don't show categories that don't have neither read nor write access #}
        {# if the form is in read mode, we only show categories that have children which were never locked or locked children that have been answered #}
        {% if writeAccessWithFormView or (readOnlyAccess and (not node.locked or kul_form_hasAnsweredLockedChildren(node, readValues))) %}

            {# A matrix can have only (sub)categories as children and those subcategories cant have any other descendants that are categories #}
            {% if node.displayMode == 'matrix'%}
                {% set visibleCols = node.getVisibleCols(step, role) %}
                <div kfb-id="{{ node.uid }}"
                     class="panel panel-default form-panel kfb-category {{ readOnlyAccess ? 'read-only-node' }}
                        {{ node.isLocked and not kul_form_hasAnsweredLockedChildren(node, readValues) ? 'locked' }}">
                    {% if node.hasLabel(app.request.locale) %}
                        {% set headerTag = 'h' ~ (node.getDepth > 6 ? 6 : node.getDepth) %}
                        <div class="panel-heading">
                            {{ ('<' ~  headerTag|sanitize_html_custom ~ '>')|raw }}
                                {% if showPositionNumbers %}<span class="label label-info" style="margin-bottom: 0.5rem;margin-right: 1rem;">{{ node.positionString }}</span>{% endif %}
                                {{ node.label(app.request.locale)|sanitize_html_custom }}
                            {{ ('</' ~  headerTag|sanitize_html_custom ~ '>')|raw }}
                        </div>
                    {% endif %}
                    <div class="panel-body" style="overflow-x: auto;">
                        {% if node.hasFullDescription(app.request.locale, role) %}
                            <div class="alert alert-info mb0 mt15">{{ node.getFullDescription(app.request.locale, role)|sanitize_html_custom }}</div>
                        {% endif %}

                        <table class="table table-bordered matrix">
                            <thead>
                                <tr>
                                    <th>{% if node.hasFirstHeaderCellTitle(app.request.locale) %}<label class="control-label pull-right">{{ node.firstHeaderCellTitle(app.request.locale)|sanitize_html_custom }}</label>{% endif %}</th>
                                    {% for questionNode in node.children.first.children %}
                                        {% if visibleCols[loop.index0] %}
                                            <th class="matrix" style="vertical-align:bottom;"><label class="control-label" style="text-align:left;">{{ questionNode.label(app.request.locale)|sanitize_html_custom }}</label></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in node.getActiveChildren %}
                                    {{ macros.nodeItem(child, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers, visibleCols) }}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% elseif node.hasAncestorWithDisplayModeMatrix %} {# this is subcategory in a matrix. It may not have any other descendants that are categories#}
                {# TODO add kfb-id="{{ node.uid }}"?  #}
                <tr>
                    <th class="control-label">{{ node.label(app.request.locale)|sanitize_html_custom }}</th>
                    {% for colVisible in visibleMatrixCols %}
                        {% if colVisible %}
                            {{ macros.nodeItem(node.children[loop.index0], readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers) }}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% else %}
                <div kfb-id="{{ node.uid }}"
                     class="panel panel-default form-panel kfb-category {{ readOnlyAccess ? 'read-only-node' }}
                    {{ node.isLocked and not kul_form_hasAnsweredLockedChildren(node, readValues) ? 'locked' }}">
                    {% if node.hasLabel(app.request.locale) %}
                        {% set headerTag = 'h' ~ (node.getDepth > 6 ? 6 : node.getDepth) %}
                        <div class="panel-heading">
                            {{ ('<' ~  headerTag|sanitize_html_custom ~ '>')|raw }}
                                {% if showPositionNumbers %}<span class="label label-info" style="margin-bottom: 0.5rem;margin-right: 1rem;">{{ node.positionString }}</span>{% endif %}
                                {{ node.label(app.request.locale)|raw }}
                            {{ ('</' ~  headerTag|sanitize_html_custom ~ '>')|raw }}
                        </div>
                    {% endif %}

                    <div class="panel-body">
                        {% if node.hasFullDescription(app.request.locale, role) %}
                            <div class="alert alert-info mb15 mt15">{{ node.getFullDescription(app.request.locale, role)|sanitize_html_custom }}</div>
                        {% endif %}
                        <div class="form-horizontal form-bordered">
                            {% for child in node.getActiveChildren %}
                                {{ macros.nodeItem(child, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro categoryItem %}

{% macro inputItem(node, readValues, submittedFiles, step, role, formView, showTempHistoryWarning, fileUrls, showPositionNumbers) %}
    {% if not node.isHidden %}
        {% set writeAccessWithFormView = false %}
        {% set macroToUse = false %}
        {% set required = '' %}

        {% if node.isStepRoleWriteAccessGranted(step, role) %}
            {# object FormView is countable. although in this case, param formView will not return a false positive on 'is empty', #}
            {# it's better to not check on 'is empty' and use 'is null' instead. @see https://twig.symfony.com/doc/2.x/tests/empty.html #}
            {% set nodeFormView = formView is not null ? kul_form_find_form_view_by_node_uid(formView, node.getUid) : null %}
            {% if nodeFormView is not null %}
                {% set macroToUse = 'input' %}
                {% set writeAccessWithFormView = true %}
                {% if nodeFormView.vars.required %}{% set required = ' class=required' %}{% endif %}
            {% endif %}
        {% endif %}

        {# if no write access granted or write access granted but no formView found  #}
        {# check for explicit read access or for indirect read acces via write access #}
        {% if not writeAccessWithFormView and node.isStepRoleReadAccessGranted(step, role) %}
            {% set required = '' %}
            {% set macroToUse = 'view' %}
        {% endif %}

    {% endif %}
    {% if(node.ancestorWithDisplayModeMatrix) %}<td{{ required }}>{% endif %}
        {% if macroToUse == 'input' %}
            {% import "@KULForm/embed/form/node/input_item_macro.html.twig" as input_macros %}
            {{ input_macros.inputItem(nodeFormView, showTempHistoryWarning, fileUrls, showPositionNumbers) }}
        {% elseif macroToUse == 'view' %}
            {% import "@KULForm/embed/form/node/view_macros.html.twig" as view_macros %}
            {{ view_macros.inputItem(node, readValues, submittedFiles, fileUrls, role, showPositionNumbers) }}
        {% endif %}
    {% if(node.ancestorWithDisplayModeMatrix) %}</td>{% endif %}
{% endmacro inputItem %}
