.splitpanes__pane {
  /* min-width: min-content; */
}

.splitpanes__splitter {
  @apply bg-stone-200 flex w-2.5 items-center justify-evenly shrink-0;
}

.splitpanes__splitter::after {
  @apply bg-stone-400 h-9 w-[1px] content-[''];
}

.splitpanes__splitter::before {
  @apply bg-stone-400 h-9 w-[1px] content-[''];
}

.p-tooltip-text {
  line-height: 1.3;
}
