@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  html {
    /**
     * font-size and line-height are set here to ensure that the
     * scaling of PrimeVue components are correct
     */
    font-size: 14px;
    line-height: 1;
  }

  body {
    font-family: "Inter", "Roboto", "Helvetica", "Open Sans", sans-serif !important;
  }

  p {
    line-height: 1.5;
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
