{% trans_default_domain 'kulFormActivity' %}

{% include '@KULForm/embed/general/form-data-changes-detector.html.twig' %}

<script type="text/javascript">

    let $lastKnownFormData = null;
    let $idleFormDialog = null;
    let idleCheckIntervalInMinutes = parseInt({{ idleCheckInterval }});
    let idleCheckIntervalInMilliSeconds = parseInt({{ idleCheckInterval }}) * 60 * 1000;

    let getSerializedArrayFormData = function () {
        {# TODO WYSIWYG - CKEditor: if CKEditor (or other wysiwyg) will be used, then the $(form).serializeArray() might possibly not pick up the changes made by ckEditor upon $(form).serializeArray()
                    because those changes might not (yet) have been passed on from the CKEditor to its hidden text(area) field(s).
                    in SCONE a method called ckEditorElementsUpdate() was used to make sure changes are picked up before the $(form).serializeArray() below is executed #}
        return $($(document).find("form[name=base]")).serializeArray();
    };

    let hasChangesInForm = function () {
        console.log('form idle checker: checking for changes');

        let changedData = window.getChangesFromNewAgainstOldSerializedFormDataArrays($lastKnownFormData, getSerializedArrayFormData());

        return 0 < changedData.length;
    };

    let scheduleIdleFormCheck = function (idleCheckIntervalInMilliSeconds) {
        setTimeout(function () {
            if (false === hasChangesInForm()) {
                console.log('form idle checker: no changes detected in ' + idleCheckIntervalInMinutes + ' minutes');
                handleIdleForm();
            } else {
                console.log('form idle checker: changes detected => scheduling next idle check');
                $lastKnownFormData = getSerializedArrayFormData();
                scheduleIdleFormCheck(idleCheckIntervalInMilliSeconds);
            }
        }, idleCheckIntervalInMilliSeconds);
    };

    let handleIdleForm = function () {
        if (typeof window.autoSaveSuspended !== 'undefined') {
            window.autoSaveSuspended = true;

            console.log('form idle checker: suspended auto-save');
        }

        showIdleFormDialog();
    };

    let destroyIdleFormDialog = function () {
        if ($idleFormDialog) {
            $idleFormDialog.modal('hide');
            $idleFormDialog.data('bs.modal', null);
            $idleFormDialog = null;
        }
    };

    let showIdleFormDialog = function () {
        {#  just to be sure: avoid building a new dialog if one still exists and is shown. avoids overlaying multiple dialogs if one is shown. #}
        if ($idleFormDialog && $idleFormDialog.hasClass('in')) {

            return false;
        }

        destroyIdleFormDialog();

        let content = "<p>" + "{{ 'idleFormDialog.content'|trans({'%intervalInMinutes%' : idleCheckInterval},'kulFormActivity') }}" + "</p>";
        let title = "{{ 'idleFormDialog.title'|trans({},'kulFormActivity') }}";
        let buttons = {
            'reload' : {
                label: "{{ 'idleFormDialog.reloadBtn'|trans({},'kulFormActivity') }}",
                className: 'btn btn-primary',
                callback: function () {
                    window.location.replace("{{ reloadViewUrl }}");
                }
            },
            'continue' : {
                label: "{{ 'idleFormDialog.continueBtn'|trans({},'kulFormActivity') }}",
                className: 'btn btn-success',
                callback: function () {
                    if (typeof window.autoSaveSuspended !== 'undefined') {
                        window.autoSaveSuspended = false;
                        console.log('form idle checker: removing auto-save suspension and reactivating auto-save scheduling');
                    }

                    {# schedule next idle check #}
                    scheduleIdleFormCheck(idleCheckIntervalInMilliSeconds);
                }
            }
        };

        $idleFormDialog = bootbox.dialog({
            size: 'large',
            closeButton: false,
            title: title,
            message: content,
            buttons: buttons
        });
    };

    document.addEventListener('DOMContentLoaded', function () {
        $lastKnownFormData = getSerializedArrayFormData();
        {# if user has no write access and only read access, no form data will be present -> only schedule the checker if there is form data #}
        if (typeof $lastKnownFormData !== 'undefined' && 0 < $lastKnownFormData.length) {
            scheduleIdleFormCheck(idleCheckIntervalInMilliSeconds);
        }
    });
</script>
