<template>
  <TabEmailMessages v-if="workflowStore.step" :step="workflowStore.step" />
</template>
<script setup lang="ts">
import TabEmailMessages from "@/components/formBuilder/formWorkflow/detail/TabEmailMessages.vue";
import { useWorkflowStore } from "@/stores/workflow";

const workflowStore = useWorkflowStore();
</script>
