<template>
  <TabNameTiming v-if="workflowStore.step" :step="workflowStore.step" />
</template>
<script setup lang="ts">
import TabNameTiming from "@/components/formBuilder/formWorkflow/detail/TabNameTiming.vue";
import { useWorkflowStore } from "@/stores/workflow";

const workflowStore = useWorkflowStore();
</script>
