<template>
  <TabRawDetail v-if="workflowStore.step" :step="workflowStore.step" />
</template>
<script setup lang="ts">
import TabRawDetail from "@/components/formBuilder/formWorkflow/detail/TabRawDetail.vue";
import { useWorkflowStore } from "@/stores/workflow";

const workflowStore = useWorkflowStore();
</script>
