<template>
  <TabRoleAndSettings v-if="workflowStore.step" :step="workflowStore.step" />
</template>
<script setup lang="ts">
import TabRoleAndSettings from "@/components/formBuilder/formWorkflow/detail/TabRoleAndSettings.vue";
import { useWorkflowStore } from "@/stores/workflow";

const workflowStore = useWorkflowStore();
</script>
