<template>
  <TabTextsAndMessages v-if="workflowStore.step" :step="workflowStore.step" />
</template>
<script setup lang="ts">
import TabTextsAndMessages from "@/components/formBuilder/formWorkflow/detail/TabTextsAndMessages.vue";
import { useWorkflowStore } from "@/stores/workflow";

const workflowStore = useWorkflowStore();
</script>
