{% trans_default_domain 'kulFormStepStoringAttempt' %}

<script type="text/javascript">

    {#  variables and functions in this script are used in the javascript of other embeddable twigs. the implementing app does not necessarely
        uses all of those embeddable twigs, but if it does, let's avoid re-setting the variables in each embeddable.
        this is just for cleansiness, won't break or affect anything if they are set again elsewhere than here. #}

    document.addEventListener('DOMContentLoaded', function () {

        {# initialize the globals variables. check for existence to avoid multiple initializing/resetting in case of re-use of this embeddable  #}
        if (typeof window.lockedDialog === 'undefined' ) {
            window.lockedDialog = null;
        }

        if (typeof window.loggedOutDialog === 'undefined' ) {
            window.loggedOutDialog = null;
        }

        if (typeof window.ignoreLockedFormPrototypeMessage === 'undefined' ) {
            window.ignoreLockedFormPrototypeMessage = "{{ 'storingAttemptInDifferentStep.autoTemporarySaveAttempt.ignoreMessage'|trans({}, 'kulFormStepStoringAttempt') }}";
        }

        if (typeof window.ignoreLockedFormRepeatWarningMessage === 'undefined' ) {
            window.ignoreLockedFormRepeatWarningMessage = "{{ 'storingAttemptInDifferentStep.autoTemporarySaveAttempt.ignoreMessageRepeatWarning'|trans({'%minutes%':'__MINUTES__', '%seconds%':'__SECONDS__'}, 'kulFormStepStoringAttempt') }}";
        }

        if (typeof window.allowToIgnoreFormLock === 'undefined' ) {
            {# this will be false by default. the implementing app can choose to set this to true. it allows a user to close
               the modal(s) that inform him/her/them about the fact that they need to refresh the page becasue of session time-out or trying to
               auto-save in the wrong step, etc.. it should not be set to true becasue in 99% of the time, user should refresh the page,
               but allowing to close the modal(s) could allow user to e.g. copy there answers in to a Word doc or so before refreshing. #}
            window.allowToIgnoreFormLock = {% if allowToIgnoreFormLock is defined and allowToIgnoreFormLock %}true{% else %}false{% endif %};
        }

        if (typeof window.lastAutoSaveSuccessPrototypeMessage === 'undefined' ) {
            window.lastAutoSaveSuccessPrototypeMessage = "{{ 'lastAutoSaveSuccess'|trans({'%dateTime%':'__DATETIME__'}, 'kulFormStepStoringAttempt') }}";
        }

        {# initialize the globals functions. check for existence to avoid multiple initializing/resetting in case of re-use of this embeddable  #}
        if (!$.isFunction(window.getIgnoreLockedFormText)) {
            window.getIgnoreLockedFormText = function () {
                let msg = "<p>" + window.ignoreLockedFormPrototypeMessage;

                if (window.formUsesAutoSave !== 'undefined' && window.formUsesAutoSave) {
                    let milliSeconds = window.autoSaveIntervalInMilliSeconds;
                    let minutes = Math.floor(milliSeconds / 60000);
                    let seconds = ((milliSeconds % 60000) / 1000).toFixed(0);

                    msg += " " + window.ignoreLockedFormRepeatWarningMessage.replace(
                        '__MINUTES__',
                        "<strong>" + minutes + "</strong>"
                    ).replace(
                        '__SECONDS__',
                        "<strong>" + seconds + "</strong>"
                    );
                }

                msg += "</p>";

                return msg;
            };
        }

        if (!$.isFunction(window.hasLastAutoSaveSuccessDate)) {
            window.hasLastAutoSaveSuccessDate = function () {
                return typeof window.lastAutoSaveSuccessDate !== 'undefined' && null !== window.lastAutoSaveSuccessDate;
            };
        }

        if (!$.isFunction(window.getLastAutoSaveSuccessDateText)) {
            window.getLastAutoSaveSuccessDateText = function () {

                return "<p>" + window.lastAutoSaveSuccessPrototypeMessage.replace(
                    '__DATETIME__',
                    "<strong>" + window.lastAutoSaveSuccessDate + "</strong>"
                ) + "</p>";
            };
        }

        if (!$.isFunction(window.finishAutoSaveDetectedInvalidStepStoringAttempt)) {
            window.finishAutoSaveDetectedInvalidStepStoringAttempt = function (message, stillAccessInNewCurrentNextStep) {
                if (typeof window.autoSaveSuspended !== 'undefined') {
                    window.autoSaveSuspended = true;
                }

                {#  avoid building a new dialog if one still exists and is shown. avoids overlaying multiple dialogs if one is shown,
                    it will contain datetime of last successful autosave, since succesful autosave sets last datetime and hides & destroys dialog. #}
                if (null !== window.lockedDialog && window.lockedDialog.hasClass('in')) {

                    return false;
                }

                window.destroyLockedDialog();

                let content = "<p>" + message + "</p>";
                let title = "{{ 'storingAttemptInDifferentStep.autoTemporarySaveAttempt.title'|trans({},'kulFormStepStoringAttempt') }}";
                let buttons = {};
                if (stillAccessInNewCurrentNextStep) {
                    buttons['reload'] = {
                        label: "{{ 'storingAttemptInDifferentStep.autoTemporarySaveAttempt.reloadBtn.label'|trans({},'kulFormStepStoringAttempt') }}",
                        className: 'btn btn-primary',
                        callback: function () {
                            window.location.replace("{{ reloadViewUrl }}");
                        }
                    };
                }

                if (window.allowToIgnoreFormLock) {
                    buttons['cancel'] = {
                        label: "{{ 'formIsLocked.ignoreBtn.label'|trans({},'kulFormStepStoringAttempt') }}",
                        className: 'btn btn-danger',
                        callback: function () {
                            if (typeof window.autoSaveSuspended !== 'undefined') {
                                window.autoSaveSuspended = false;
                                console.log('invalid step storing attempt pop-up ignored: removing auto-save suspension and reactivating auto-save scheduling');
                            }
                        }
                    };

                    content += window.getIgnoreLockedFormText();
                }


                if (window.hasLastAutoSaveSuccessDate()) {

                    content += window.getLastAutoSaveSuccessDateText();
                }

                window.lockedDialog = bootbox.dialog({
                    size: 'large',
                    closeButton: window.allowToIgnoreFormLock,
                    title: title,
                    message: content,
                    buttons: buttons
                });

                if (typeof window.autoSaveSuspended !== 'undefined') {
                    console.log('invalid step storing attempt. auto-save is suspended.');
                } else {
                    console.log('invalid step storing attempt');
                }
            };
        }

        if (!$.isFunction(window.finishUserIsLoggedOut)) {
            window.finishUserIsLoggedOut = function () {
                if (typeof window.autoSaveSuspended !== 'undefined') {
                    window.autoSaveSuspended = true;
                }

                {#  avoid building a new dialog if one still exists and is shown. avoids overlaying multiple dialogs if one is shown,
                    it will contain datetime of last successful autosave, since succesful autosave sets last datetime and hides & destroys dialog. #}
                if (null !== window.loggedOutDialog && window.loggedOutDialog.hasClass('in')) {

                    return false;
                }

                window.destroyLoggedOutDialog();

                let content = "<p>" + "{{ 'userLoggedOut.content'|trans({},'kulFormActivity') }}" + "</p>";
                let title = "{{ 'userLoggedOut.title'|trans({},'kulFormActivity') }}";
                let buttons = {};
                buttons['reload'] = {
                    label: "{{ 'userLoggedOut.reloadBtn'|trans({},'kulFormActivity') }}",
                    className: 'btn btn-primary',
                    callback: function () {
                        window.location.replace("{{ reloadViewUrl }}");
                    }
                };

                if (window.allowToIgnoreFormLock) {
                    buttons['cancel'] = {
                        label: "{{ 'userLoggedOut.continueBtn'|trans({},'kulFormActivity') }}",
                        className: 'btn btn-danger',
                        callback: function () {
                            if (typeof window.autoSaveSuspended !== 'undefined') {
                                window.autoSaveSuspended = false;
                                console.log('user logged out pop-up ignored: removing auto-save suspension and reactivating auto-save scheduling');
                            }
                        }
                    };

                    content += window.getIgnoreLockedFormText();
                }


                if (window.hasLastAutoSaveSuccessDate()) {

                    content += window.getLastAutoSaveSuccessDateText();
                }

                window.loggedOutDialog = bootbox.dialog({
                    size: 'large',
                    closeButton: allowToIgnoreFormLock,
                    title: title,
                    message: content,
                    buttons: buttons
                });

                if (typeof window.autoSaveSuspended !== 'undefined') {
                    console.log('user is logged out / session timed out. auto-save is suspended.');
                } else {
                    console.log('user is logged out / session timed out.');
                }
            };
        }

        if (!$.isFunction(window.destroyLockedDialog)) {
            window.destroyLockedDialog = function () {
                if (window.lockedDialog) {
                    window.lockedDialog.modal('hide');
                    window.lockedDialog.data('bs.modal', null);
                    window.lockedDialog = null;
                }
            };
        }

        if (!$.isFunction(window.destroyLoggedOutDialog)) {
            window.destroyLoggedOutDialog = function () {
                if (window.loggedOutDialog) {
                    window.loggedOutDialog.modal('hide');
                    window.loggedOutDialog.data('bs.modal', null);
                    window.loggedOutDialog = null;
                }
            };
        }
    });
</script>
