<template>
  <div v-for="(roleDescription, i) in payload.descriptions" :key="i">
    <div v-if="i === selectedIndex">
      <!-- edit modus of a selected message -------------------------------------------------------------------- -->
      <div class="flex flex-row">
        <div class="basis-3/12 mr-4 text-right">Selecteer rol(len):</div>
        <div class="basis-8/12">
          <MultiSelect
            v-model="selectedRoles"
            :max-selected-labels="5"
            class="w-full"
            :options="availableRoles"
            placeholder="Selecteer rollen"
            option-label="label"
          />
        </div>
        <div class="basis-1/12">
          <div
            class="hover:bg-red-500 px-3 py-1 rounded-full hover:text-white w-12 float-right text-center mt-1.5"
            @click="deleteDescription(i, $event)"
          >
            <i class="pi pi-trash cursor-pointer"></i>
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-4">
        <div class="basis-1/4 mr-4 text-right">
          Editeer bericht
          <span>
            <Badge
              :value="selectedDescription.language"
              class="p-badge-warning"
              data-cy="activeLanguageBadge"
            />
          </span>
        </div>
        <div class="basis-3/4">
          <TextEditor
            v-model="selectedDescription.description"
            :height="100"
          ></TextEditor>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 mr-4">&nbsp;</div>
        <div class="basis-3/4">
          <div class="flex gap-2">
            <div>
              <Button
                class="w-32"
                outlined
                size="small"
                icon="pi pi-check"
                label="OK"
                @click="saveDescription(i)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <!-- view modus of a role message ------------------------------------------------------------------------ -->
      <div class="flex flex-row">
        <div class="basis-3/12 mr-4 text-right text-sm text-gray-500">
          Rol(len):
        </div>
        <div class="basis-8/12 flex gap-2">
          <div v-for="role in roleDescription.roles" :key="role.label">
            <div class="px-4 py-0.5 bg-gray-200 rounded-full">
              {{ role.label }}
            </div>
          </div>
        </div>
        <div class="basis-1/12">
          <div class="flex gap-4 float-right">
            <div
              class="hover:bg-blue-700 px-3 py-1 rounded-full hover:text-white"
              @click="editDescription(i)"
            >
              <i class="pi pi-pencil cursor-pointer"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 mr-4 text-right text-sm text-gray-500">
          <div>{{ props.config.label }}</div>
          <div class="mt-2">
            <ActiveLanguageBadge></ActiveLanguageBadge>
          </div>
        </div>
        <div class="basis-3/4">
          <div
            v-html="
              getDescriptionByIndexAndLanguage(i, languageStore.activeLanguage)
            "
          ></div>
        </div>
      </div>
    </div>
    <!-- -- separator -->
    <hr class="mt-4 mb-4" />
  </div>

  <div v-if="!allRolesAreUsed">
    <div class="flex">
      <div class="basis-1/4 mr-4 text-right">&nbsp;</div>
      <div class="basis-3/4">
        <Button
          icon="pi pi-plus"
          severity="secondary"
          size="small"
          class="w-full"
          :label="'Voeg een beschrijving toe: ' + props.config.label"
          @click="addRoleDescription"
        />
      </div>
    </div>
    <hr v-if="showSaveButton" class="mt-4" />
  </div>

  <!-- -- save button -->
  <div class="flex flex-row mt-4">
    <div class="basis-1/4 mr-4">&nbsp;</div>
    <div class="basis-3/4">
      <Button
        v-if="!isSaving"
        data-cy="btnSaveRoleDescriptions"
        :disabled="!changed || !showSaveButton"
        class="w-full"
        severity="success"
        icon="pi pi-save"
        label="Bewaar beschrijvingen"
        @click="saveDescriptions"
      />
      <Button
        v-else
        :disabled="true"
        class="w-full"
        severity="success"
        icon="pi pi-spin pi-spinner"
        label="Bewaar beschrijvingen"
      />
    </div>
  </div>

  <ConfirmPopup></ConfirmPopup>

  <CommandRenderer :command="command" />
</template>

<script setup lang="ts">
import {
  CategoryNode,
  QuestionNode,
  RoleSummary,
} from "@/api/queries/types/formTypes.ts";
import { EditorConfig } from "@/components/formBuilder/formList/nodeEditor/labels/EditorConfiguration.ts";
import { useFormStore } from "@/stores/form.ts";
import { useLanguageStore } from "@/stores/language.ts";
import { useConfirm } from "primevue/useconfirm";
import { computed, ref, toRef } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import {
  RoleDescription,
  RoleDescriptionTranslation,
  useUpdateRoleDescriptions,
} from "@/api/commands/UpdateRoleDescriptions.ts";
import { renderRoleLabel } from "@/functions/roles.ts";

const props = defineProps<{
  node: QuestionNode | CategoryNode;
  config: EditorConfig;
}>();

const formStore = useFormStore();
const languageStore = useLanguageStore();
const confirm = useConfirm();

const selectedIndex = ref<number>(-1);
const selectedDescription = ref({
  language: "en",
  description: "",
});
const selectedRoles = ref<Array<RoleSummary>>([]);

// ---------------------------------------------------------------------------------------------------------------------
// sending the command back to the backend (complex object)
// ---------------------------------------------------------------------------------------------------------------------

const { payload, command, changed, executeCommand } = useUpdateRoleDescriptions(
  toRef(props, "node"),
  toRef(props, "config"),
);

const isSaving = ref<boolean>(false);

async function saveDescriptions() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
}

const showSaveButton = computed(() => {
  return selectedIndex.value === -1;
});

// ---------------------------------------------------------------------------------------------------------------------
// multiple editor functions
// ---------------------------------------------------------------------------------------------------------------------

function addRoleDescription() {
  const _translatedDescription: RoleDescriptionTranslation = {
    language: languageStore.activeLanguage.toString(),
    description: "",
  };
  const _roleDescription: RoleDescription = {
    roles: [],
    translations: [_translatedDescription],
  };
  payload.value.descriptions.push(_roleDescription);
  editDescription(payload.value.descriptions.length - 1);
}

function editDescription(index: number): void {
  if (payload.value.descriptions[index]) {
    selectedIndex.value = index;
    const _roleDescription = payload.value.descriptions[index];
    selectedRoles.value = _roleDescription.roles;
    for (const _description of _roleDescription.translations) {
      if (_description.language === languageStore.activeLanguage) {
        selectedDescription.value = _description;
        break;
      }
    }
  } else {
    selectedIndex.value = -1;
  }
}

function saveDescription(index: number): void {
  // put back the information
  // - not needed for message -> two way binding
  // - needed for putting back the selected roles...
  const _currentItem = payload.value.descriptions[index];
  _currentItem.roles = selectedRoles.value;
  selectedIndex.value = -1;
}

function deleteDescription(index: number, event: MouseEvent): void {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message: "Ben je zeker dat je deze beschrijving wil verwijderen ?",
    icon: "pi pi-exclamation-triangle",
    acceptLabel: "Ja",
    rejectLabel: "Nee",
    acceptIcon: "pi pi-check",
    rejectIcon: "pi pi-times",
    accept: () => {
      deleteDescriptionHandler(index);
    },
    reject: () => {
      // callback to execute when user rejects the action
    },
  });
}

function deleteDescriptionHandler(index: number): void {
  payload.value.descriptions.splice(index, 1);
  selectedIndex.value = -1;
}

function getDescriptionByIndexAndLanguage(index: number, language: string) {
  const _currentDescriptions = payload.value.descriptions[index].translations;
  let _foundDescription = false;
  for (const _description of _currentDescriptions) {
    if (_description.language === language) {
      _foundDescription = true;
      return _description.description;
    }
  }
  if (!_foundDescription) {
    const _newLanguageDescription: RoleDescriptionTranslation = {
      language: languageStore.activeLanguage.toString(),
      description: "",
    };
    _currentDescriptions.push(_newLanguageDescription);
    return _newLanguageDescription;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// computed properties
// ---------------------------------------------------------------------------------------------------------------------

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const allRolesAreUsed = computed((): boolean => {
  let _foundRoles: Array<RoleSummary> = [];
  let _availableRoles: Array<RoleSummary> = [];
  for (const _roleDescription of payload.value.descriptions) {
    for (const _role of _roleDescription.roles) {
      _foundRoles.push(_role);
    }
  }
  for (const _formRole of formRoles.value) {
    let _isFoundRole = false;
    for (const _foundRole of _foundRoles) {
      if (_formRole.role === _foundRole.role) {
        _isFoundRole = true;
      }
    }
    if (!_isFoundRole) {
      _availableRoles.push(_formRole);
    }
  }
  return _availableRoles.length === 0;
});

const availableRoles = computed(() => {
  let _foundRoles = [];
  let _availableRoles = [];
  let _index = 0;
  for (const _roleDescription of payload.value.descriptions) {
    if (_index !== selectedIndex.value) {
      for (const _role of _roleDescription.roles) {
        _foundRoles.push(_role);
      }
    }
    _index++;
  }
  for (const _formRole of formRoles.value) {
    let _isFoundRole = false;
    for (const _foundRole of _foundRoles) {
      if (_formRole.role === _foundRole.role) {
        _isFoundRole = true;
      }
    }
    if (!_isFoundRole) {
      _availableRoles.push(_formRole);
    }
  }
  return _availableRoles;
});
</script>
