<template>
  <FormCardList id="CardRoleDescriptions" class="p-4">
    <FormCard>
      <MultipleEditors :node="props.node" :config="config" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";
import { CategoryNode, QuestionNode } from "@/api/queries/types/formTypes.ts";
import {
  EditorConfig,
  EditorSubject,
} from "@/components/formBuilder/formList/nodeEditor/labels/EditorConfiguration.ts";
import MultipleEditors from "@/components/formBuilder/formList/nodeEditor/labels/MultipleEditors.vue";

const props = defineProps<{ node: QuestionNode | CategoryNode }>();

const config: EditorConfig = {
  label: "Extra beschrijving per rol",
  height: 120,
  subject: EditorSubject.roleDescriptions,
};
</script>
