<template>
  <FormCardList id="CardRoleDescriptions" class="p-4">
    <FormCard>
      <div class="flex flex-ro mb-8">
        <div class="basis-3/12 text-right">
          <div class="flex gap-2 items-baseline">
            <div>Rol beschrijving</div>
            <div
              v-tooltip="
                'De tekst wordt voor de geselecteerde rollen toegevoegd onder de algemene beschrijving.'
              "
              class="pt-2 cursor-pointer text-stone-600 hover:text-black pr-4"
            >
              <font-awesome-icon
                icon="fa-solid fa-circle-question"
                class="fa-lg"
              />
            </div>
          </div>
        </div>
      </div>
      <MultipleEditors :node="props.node" :config="config" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";
import { CategoryNode, QuestionNode } from "@/api/queries/types/formTypes.ts";
import {
  EditorConfig,
  EditorSubject,
} from "@/components/formBuilder/formList/nodeEditor/labels/EditorConfiguration.ts";
import MultipleEditors from "@/components/formBuilder/formList/nodeEditor/labels/MultipleEditors.vue";

const props = defineProps<{ node: QuestionNode | CategoryNode }>();

const config: EditorConfig = {
  label: "Extra beschrijving per rol",
  height: 120,
  subject: EditorSubject.roleDescriptions,
};
</script>
