<template>
  <FormCardList>
    <FormCard>
      <div>
        <!-- is calculation -->
        <div class="flex">
          <div class="pt-2 pr-2 text-right basis-1/4">
            <ToggleSwitch
              v-model="isCalculation"
              @input="touchForm"
              @change="changeCalculation"
            />
          </div>
          <div class="basis-3/4">
            <div class="mt-2">
              <span class="mr-2"
                ><font-awesome-icon icon="fa-solid fa-calculator"
              /></span>
              Deze vraag is een berekening.
            </div>
          </div>
        </div>

        <!-- show calculate button -->
        <div v-if="isCalculation" class="flex">
          <div class="pt-2 pr-2 text-right basis-1/4">
            <ToggleSwitch v-model="showAutoCalculateBtn" @input="touchForm" />
          </div>
          <div class="basis-3/4">
            <div class="mt-2">Toon knop '(her)berekenen'</div>
          </div>
        </div>

        <!-- show calculate button -->
        <div v-if="isCalculation" class="flex">
          <div class="pt-2 pr-2 text-right basis-1/4">
            <ToggleSwitch
              v-model="allowNonAutoCalculatedValue"
              @input="touchForm"
            />
          </div>
          <div class="basis-3/4">
            <div class="mt-2">
              Laat toe de berekende score manueel te overschrijven
            </div>
          </div>
        </div>

        <!-- show use weights button -->
        <div v-if="isCalculation" class="flex">
          <div class="pt-2 pr-2 text-right basis-1/4">
            <ToggleSwitch
              v-model="useWeighing"
              :disabled="useWeighing ? !canDisableWeighing : !canEnableWeighing"
            />
          </div>
          <div class="basis-3/4">
            <div class="mt-2">
              Maak gebruik van gewichten.<br />
              <small
                v-if="useWeighing && !canDisableWeighing"
                class="text-stone-400"
              >
                Weging kan niet worden uitgeschakeld omdat er scores zijn een
                die een weging hebben die anders is dan hun maximum score.
              </small>
              <small
                v-if="!useWeighing && !canEnableWeighing"
                class="text-stone-400"
              >
                Weging kan niet worden ingeschakeld omdat er scorevragen zijn
                gekoppeld aan deze vraag die een maximum score hebben van 0.
              </small>
            </div>
          </div>
        </div>

        <!-- weight in total score -->
        <div v-if="isCalculation && useWeighing" class="flex mt-4">
          <div class="mr-2 text-right basis-1/4">Weging in totaalscore</div>
          <div class="basis-3/4">
            <div>
              <RadioButton
                v-model="weighingType"
                input-id="weight_absolute"
                value="absolute"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="weight_absolute" class="ml-2">
                <strong>Absoluut</strong>: t.o.v. totaal aantal mogelijk te
                behalen punten
              </label>
            </div>
            <div class="mt-2">
              <RadioButton
                v-model="weighingType"
                input-id="weight_percentage"
                value="percentage"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="weight_percentage" class="ml-2">
                <strong>Percentage</strong>: Voor een opgegeven percentage of
                deelpunt
              </label>
            </div>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <!-- number of decimals -->
        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <div v-if="isCalculation" class="flex mt-2">
          <div class="mt-2 mr-2 text-right basis-1/4">Aantal decimalen *</div>
          <div class="basis-1/3">
            <div class="mt-2">
              <RadioButton
                v-model="scale"
                input-id="decimal_0"
                :value="0"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="decimal_0" class="mr-4 ml-2">0</label>
              <RadioButton
                v-model="scale"
                input-id="decimal_1"
                :value="1"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="decimal_1" class="mr-4 ml-2">1</label>
              <RadioButton
                v-model="scale"
                input-id="decimal_2"
                :value="2"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="decimal_2" class="mr-4 ml-2">2</label>
              <RadioButton
                v-model="scale"
                input-id="decimal_3"
                :value="3"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="decimal_3" class="mr-4 ml-2">3</label>
            </div>
          </div>
          <div class="basis-1/4">
            <div class="mt-2 ml-3">
              <i
                v-if="!v$.scale.$invalid"
                class="text-green-600 pi pi-check-circle"
              />
              <i
                v-if="v$.scale.$invalid"
                class="text-red-600 pi pi-times-circle"
              />
            </div>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <!-- scale / rounding -->
        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <div v-if="isCalculation" class="flex mt-2">
          <div class="mt-2 mr-2 text-right basis-1/4">Afronding *</div>
          <div class="basis-1/3">
            <div class="mt-2">
              <RadioButton
                v-model="roundingMode"
                input-id="rounding_up"
                :value="1"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="rounding_up" class="mr-4 ml-2">up</label>
              <RadioButton
                v-model="roundingMode"
                input-id="rounding_down"
                :value="2"
                @input="touchForm"
                @change="touchForm"
              />
              <label for="rounding_down" class="mr-4 ml-2">down</label>
            </div>
          </div>
          <div class="basis-1/4">
            <div class="mt-2 ml-3">
              <i
                v-if="!v$.roundingMode.$invalid"
                class="text-green-600 pi pi-check-circle"
              />
              <i
                v-if="v$.roundingMode.$invalid"
                class="text-red-600 pi pi-times-circle"
              />
            </div>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <!-- max and min score for choice questions -->
        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <div v-if="isCalculation">
          <div v-if="props.question.subType === 'question_choice'">
            <div class="flex mt-4">
              <div class="mt-2 mr-2 text-right basis-1/4">Minimum score *</div>
              <div class="basis-1/3">
                <InputNumber
                  v-model="minScore"
                  class="w-75"
                  mode="decimal"
                  :min-fraction-digits="scale ?? undefined"
                  @input="touchForm"
                  @change="touchForm"
                />
                <div>
                  <small v-if="v$.maxScore.$invalid" class="p-error">
                    Min. score is niet geldig.
                  </small>
                </div>
              </div>
              <div class="basis-1/4">
                <div class="mt-2 ml-3">
                  <i
                    v-if="!v$.minScore.$invalid"
                    class="text-green-600 pi pi-check-circle"
                  />
                  <i
                    v-if="v$.minScore.$invalid"
                    class="text-red-600 pi pi-times-circle"
                  />
                </div>
              </div>
            </div>
            <div class="flex mt-2">
              <div class="mt-2 mr-2 text-right basis-1/4">Maximum score *</div>
              <div class="basis-1/3">
                <InputNumber
                  v-model="maxScore"
                  class="w-75"
                  mode="decimal"
                  :min-fraction-digits="scale ?? undefined"
                  @input="touchForm"
                  @change="touchForm"
                />
                <div>
                  <small v-if="v$.maxScore.$invalid" class="p-error">
                    Max. score is niet geldig.
                  </small>
                </div>
              </div>
              <div class="basis-1/4">
                <div class="mt-2 ml-3">
                  <i
                    v-if="!v$.maxScore.$invalid"
                    class="text-green-600 pi pi-check-circle"
                  />
                  <i
                    v-if="v$.maxScore.$invalid"
                    class="text-red-600 pi pi-times-circle"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- weight in total score -->
        <div v-if="isCalculation" class="flex mt-4">
          <div class="mt-2 mr-4 text-right basis-1/4">Pass-score</div>
          <div class="basis-1/4">
            <IconField>
              <InputNumber
                v-model="passScore"
                :use-grouping="false"
                class="w-full"
                @input="touchForm"
                @change="touchForm"
              />
              <InputIcon v-if="!v$.passScore.$invalid" class="pi pi-check" />
              <InputIcon v-if="v$.passScore.$invalid" class="pi pi-times" />
            </IconField>
          </div>
          <div class="basis-2/4">
            <div class="mt-1 ml-3 text-sm text-stone-400">
              <i class="pi pi-info-circle"></i>
              Deze score wordt gebruikt om score's aan te duiden onder de
              pass-score. Deze worden in rood aangeduid in het overzicht.
            </div>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------------------------------- save button -->
        <div class="flex flex-row mt-2">
          <div class="basis-1/4">&nbsp;</div>
          <div class="basis-3/4">
            <div class="mb-2">
              <!-- --------------------------------------------------------------------------------------------- touched -->
              <Message
                v-if="isTouched && isValid"
                severity="warn"
                icon="pi pi-exclamation-triangle"
                class="w-full"
              >
                Wijzigingen voor de eigenschappen voor deze berekening nog niet
                bewaard.
              </Message>
              <!-- --------------------------------------------------------------------------------------------- invalid -->
              <Message
                v-if="isTouched && !isValid"
                severity="error"
                icon="pi pi-times-circle"
                class="w-full"
              >
                Dit formulier is niet geldig.
              </Message>
            </div>
            <Button
              v-if="!isSaving"
              label="Bewaar eigenschappen berekening"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              :disabled="!isValid"
              @click="save()"
            />
            <Button
              v-else
              label="Bewaren eigenschappen berekening"
              icon="pi pi-spin pi-spinner"
              class="w-full"
              severity="success"
            />
          </div>
        </div>

        <CommandRenderer :command="command" />
      </div>
    </FormCard>

    <FormCard v-if="question.isCalculatedQuestion">
      <ListScores :question="question" :use-weighing="useWeighing" />
    </FormCard>
  </FormCardList>

  <!-- dialog for selected score question -->
  <Dialog
    v-model:visible="isCalculationWarning"
    :header="'Pas op!'"
    :modal="true"
  >
    <div style="width: 400px">
      <p>
        Als je de berekening afzet voor deze vraag, dan worden de score-vragen
        verwijderd uit de configuratie...
      </p>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
import type {
  ChoiceQuestionNode,
  NumberQuestionNode,
} from "@/api/queries/types/formTypes";
import { computed, onMounted, ref, toRef, watch } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useUpdateCalculationProperties } from "@/api/commands/UpdateCalculationProperties";
import { required } from "@vuelidate/validators";
import { getMaxScoreForQuestion, useNodeStore } from "@/stores/node";
import useVuelidate from "@vuelidate/core";
import ListScores from "./ListScores.vue";
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";

// props and stores
const props = defineProps<{
  question: NumberQuestionNode | ChoiceQuestionNode;
}>();
const nodeStore = useNodeStore();

/**
 * There are two options for the calculation and below are the valid states
 * useWeighing === true
 * maxScore is never 0 on scores
 * some weighings on scores are not equal to maxScore
 * weighingType is absolute or percentage
 *
 * useWeighing === false
 * maxScore may be be 0 on scores
 * all weighings on scores are equal to maxScore
 * weighingType is absolute
 */

const useWeighing = ref(false);
onMounted(() => {
  useWeighing.value =
    weighingType.value === "percentage" ||
    nodeStore.scoreQuestions.some(
      (q) =>
        getMaxScoreForQuestion(q) > 0 &&
        q.weighing !== getMaxScoreForQuestion(q),
    );
});

// if useWeights is false
// then don't show the option weging in totaal score
// disable setting this option to true if a participating score has a max score of 0

// if useWeights is set to false
// set weighing type to absolute

// if useWeights is true
// disable setting this option to false if a participating score has a max score != weighing

const canEnableWeighing = computed(() =>
  nodeStore.scoreQuestions.every((q) => getMaxScoreForQuestion(q) > 0),
);
const canDisableWeighing = computed(() =>
  nodeStore.scoreQuestions.every(
    (q) => getMaxScoreForQuestion(q) === q.weighing,
  ),
);

watch(useWeighing, (newValue) => {
  if (!newValue) {
    weighingType.value = "absolute";
  }
});
watch(canDisableWeighing, (newValue) => {
  if (!newValue) {
    useWeighing.value = true;
  }
});

const {
  isCalculation,
  weighingType,
  passScore,
  showAutoCalculateBtn,
  allowNonAutoCalculatedValue,
  roundingMode,
  scale,
  minScore,
  maxScore,

  newCalculationState,

  command,

  executeCommand,
} = useUpdateCalculationProperties(toRef(props, "question"));

// -- display extra warning when calculation is disabled

const isCalculationWarning = ref<boolean>(false);

function changeCalculation() {
  if (!isCalculation.value) {
    isCalculationWarning.value = true;
  }
}

// --------------------------------------------------------------------------------------------------------- validations

const weighingTypeValidator = function (value: string) {
  if (isCalculation.value) {
    if (!(value === "absolute" || value === "percentage")) return false;
  }
  return true;
};

const roundingModeValidator = function (value: number) {
  if (isCalculation.value) {
    if (!(value === 1 || value === 2)) return false;
  }
  return true;
};

const scaleValidator = function (value: number) {
  if (isCalculation.value) {
    if (!(value === 0 || value === 1 || value === 2 || value === 3))
      return false;
  }
  return true;
};

const minScoreValidator = function () {
  if (isCalculation.value && props.question.subType === "question_choice") {
    if (minScore.value === null) return false;
    if (maxScore.value !== null) {
      if (minScore.value >= maxScore.value) return false;
    }
  }
  return true;
};

const maxScoreValidator = function () {
  if (isCalculation.value && props.question.subType === "question_choice") {
    if (maxScore.value === null) return false;
    if (minScore.value !== null) {
      if (minScore.value >= maxScore.value) return false;
    }
  }
  return true;
};

const passScoreValidator = function () {
  if (passScore.value) {
    if (
      props.question.subType === "question_number" &&
      props.question.configProps.max < passScore.value
    ) {
      return false;
    }
    if (
      props.question.subType === "question_choice" &&
      maxScore.value !== null &&
      maxScore.value < passScore.value
    ) {
      return false;
    }
  }
  return true;
};

const rules = {
  isCalculation: { required },
  weighingType: { weighingTypeValidator },
  roundingMode: { roundingModeValidator },
  scale: { scaleValidator },
  minScore: { minScoreValidator },
  maxScore: { maxScoreValidator },
  passScore: { passScoreValidator },
};

const v$ = useVuelidate(rules, newCalculationState);
const isValid = computed(() => !v$.value.$invalid);

// ------------------------------------------------------------------------------------------------------------- command

const isTouched = ref(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

const isSaving = ref(false);
async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
