<template>
  <ConfirmPopup />
  <div v-if="calculationQuestions.length > 0">
    <div class="flex border-b-2 p-2 items-center">
      <div class="mr-2">
        <HighlightRelationsButton
          :relation-info="{
            type: RelativeRelation.SCORE_FOR,
            node: question,
          }"
        />
      </div>

      <div class="font-bold">
        Overzicht van de berekeningen die deze vraag gebruiken
      </div>
    </div>
    <div
      v-for="(q, index) in calculationQuestions"
      :key="q.id"
      :class="{
        'bg-stone-100': index % 2 !== 0,
      }"
      class="flex gap-3 p-2 items-center justify-between flex-none"
    >
      <div class="flex">
        <div class="">
          <PositionTagger
            class="mr-2"
            :position="q.position"
            :tooltip="`id: ${q.id} \nuid: ${q.uid}`"
          />
        </div>
        <div class="">
          <span class="line-clamp-1 underline">
            <router-link
              :to="{
                name: NodeEditorRouteName.Calculation,
                params: { questionId: q.id },
              }"
            >
              <span v-html="q.info.label[languageStore.activeLanguage]" />
            </router-link>
          </span>
        </div>
      </div>
      <div class="justify-end">
        <Button
          icon="pi pi-trash"
          severity="danger"
          outlined
          size="small"
          @click="deleteRelation($event, q)"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { RelativeRelation } from "@/api/queries/types/formTypes";
import { getCalculationsForScoreUid, useFormStore } from "@/stores/form";
import { useLanguageStore } from "@/stores/language";
import { computed, ref, toRef } from "vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import { useDeleteScoreCommand } from "@/api/commands/DeleteScore";
import {
  CalculationQuestion,
  MaybeScoreQuestion,
} from "@/api/queries/types/subtypesForNodeRelations";
import { useConfirm } from "primevue/useconfirm";
import HighlightRelationsButton from "../../HighlightRelationsButton.vue";
import { NodeEditorRouteName } from "@/router/routes/nodeEditor";

const formStore = useFormStore();
const languageStore = useLanguageStore();
const confirm = useConfirm();
const props = defineProps<{
  question: MaybeScoreQuestion;
}>();

const calculationQuestions = computed(() =>
  getCalculationsForScoreUid(props.question.uid, formStore.form.rootNode),
);

function deleteRelation(event: MouseEvent, calculation: CalculationQuestion) {
  const target = event.currentTarget;
  const { executeCommand } = useDeleteScoreCommand(
    ref(calculation),
    toRef(props, "question"),
  );
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message:
        "Ben je zeker dat je de vraag uit deze berekening wil verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        void executeCommand();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}
</script>
