<template>
  <div class="flex items-center p-2 border-b">
    <div class="mr-2">
      <HighlightRelationsButton
        :relation-info="{
          type: RelativeRelation.CALCULATION_OF,
          node: question,
        }"
      />
    </div>

    <div class="font-bold">
      Overzicht van de in deze berekening opgenomen scorevragen
    </div>
  </div>

  <!-- list score questions -->

  <table class="mt-2 w-full">
    <thead class="text-sm font-bold text-gray-400">
      <tr class="border-b-2 h-8">
        <td v-if="useWeighing" class="pr-10 pl-2 text-center">Aanpassen</td>
        <td v-if="useWeighing" v-tooltip="'Weging'" class="text-center">
          <FontAwesomeIcon :icon="['fas', 'scale-unbalanced']" />
        </td>
        <td class="text-center pl-2">
          <div v-tooltip="'Max Score'" class="flex gap-1">Max score</div>
        </td>
        <td v-if="showLockIconInfo" class="text-center"></td>
        <td class="pl-3 w-full">Vraag</td>
      </tr>
    </thead>
    <ScoreListRow
      v-for="(scoreQuestion, index) in nodeStore.scoreQuestions"
      :key="scoreQuestion.uid"
      :class="{
        'bg-stone-100': index % 2 !== 0,
      }"
      :score-question="scoreQuestion"
      :calculation-question="question"
      :use-weighing="useWeighing"
      :show-lock-icon-info="showLockIconInfo"
      :weighing-type="props.question.configScoring.weighingType"
    />
    <tr
      v-if="question.configScoring.weighingType === 'percentage' && useWeighing"
      class="border-t-[2px]"
    >
      <td class="pr-2 text-right">
        <span class="text-sm font-bold text-gray-400">Totaal</span>
      </td>
      <td class="py-2 text-center">
        <span class="p-2" :class="totalScoreClass">{{ totalScore }}%</span>
      </td>

      <td colspan="4">
        <span v-if="totalScore !== 100" class="text-sm text-red-600">
          Bij het gebruik van een 'percentage' weging moet de totaalsom van de
          gewichten altijd 100 zijn.
        </span>
      </td>
    </tr>
  </table>

  <div class="p-2 mt-2">
    <RelationDraggable
      :config="{
        question: question,
        relationToDropped: RelativeRelation.CALCULATION_OF,
      }"
    />
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import {
  ChoiceQuestionNode,
  NumberQuestionNode,
  RelativeRelation,
} from "@/api/queries/types/formTypes";
import RelationDraggable from "@/components/formBuilder/formList/nodeEditor/RelationDraggable.vue";
import { useNodeStore } from "@/stores/node";
import HighlightRelationsButton from "../../HighlightRelationsButton.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import ScoreListRow from "./ScoreListRow.vue";
// -- props and store

const props = defineProps<{
  question: ChoiceQuestionNode | NumberQuestionNode;
  useWeighing: boolean;
}>();
const nodeStore = useNodeStore();

const totalScore = computed(() =>
  nodeStore.scoreQuestions.reduce(
    (total, question) => total + question.weighing,
    0,
  ),
);
const totalScoreClass = computed(() =>
  totalScore.value === 100 ? "bg-green-200" : "bg-red-200",
);

const lockedScoreQuestions = computed(() =>
  nodeStore.scoreQuestions.filter(
    (scoreQuestion) => scoreQuestion.isLockedQuestion,
  ),
);

const showLockIconInfo = computed(() => lockedScoreQuestions.value.length > 0);
</script>
