<template>
  <tr class="h-12">
    <td v-if="useWeighing" class="p-2 text-center">
      <div v-if="editRow" class="flex">
        <ButtonGroup>
          <Button
            icon="pi pi-check"
            size="small"
            severity="success"
            @click="saveRowEdit()"
          />
          <Button
            icon="pi pi-times"
            size="small"
            severity="warning"
            @click="cancelRowEdit()"
          />
        </ButtonGroup>
        <CommandRenderer :command="command" />
      </div>

      <Button
        v-else
        icon="pi pi-pencil"
        severity="secondary"
        outlined
        size="small"
        @click="editRow = true"
      />
    </td>
    <td v-if="useWeighing" class="p-2 text-center">
      <InputNumber
        v-if="editRow"
        v-model="weight"
        :use-grouping="false"
        :max-fraction-digits="3"
        :suffix="
          props.calculationQuestion.configScoring.weighingType === 'percentage'
            ? '%'
            : ''
        "
        :min="0"
        :pt="{
          input: {
            class: 'w-20 text-center p-inputtext-sm',
          },
        }"
      />
      <span v-else class="py-2 px-3 bg-green-200"
        >{{ scoreQuestion.weighing }}{{ percentageSignWhenAppropriate }}
      </span>
    </td>
    <td class="p-2 text-center">
      {{ getMaxScoreForQuestion(scoreQuestion) }}
    </td>
    <td v-if="showLockIconInfo" class="p-2 text-center">
      <div v-if="scoreQuestion.isLockedQuestion" v-tooltip="lockedIconTooltip">
        <FontAwesomeIcon icon="fa-solid fa-lock" />
      </div>
    </td>
    <td>
      <div class="line-clamp-1">
        <PositionTagger
          class="mx-2"
          :position="scoreQuestion.position"
          :tooltip="`id: ${scoreQuestion.id} \nuid: ${scoreQuestion.uid}`"
        />
        <router-link
          :to="{
            name: NodeEditorRouteName.Properties,
            params: { questionId: scoreQuestion.id },
          }"
        >
          <span
            class="underline"
            v-html="scoreQuestion.info.label[languageStore.activeLanguage]"
          />
        </router-link>
      </div>
    </td>
    <td class="pr-2">
      <div class="flex pr-3">
        <span>
          <Button
            v-if="!isDeleting"
            v-tooltip="'Verwijder deze score'"
            icon="pi pi-trash"
            severity="danger"
            outlined
            size="small"
            @click="deleteScore($event)"
          />
          <Button
            v-else
            disabled="true"
            icon="pi pi-spin pi-spinner"
            severity="secondary"
            outlined
            size="small"
          />
        </span>
        <CommandRenderer :command="deleteCommand" />
        <ConfirmPopup />
      </div>
    </td>
  </tr>
</template>
<script setup lang="ts">
import { useConfirm } from "primevue/useconfirm";
import { useUpdateScoreCommand } from "@/api/commands/UpdateScore";
import {
  ChoiceQuestionNode,
  NumberQuestionNode,
  WeighingType,
} from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import {
  ScoreQuestionWithWeighing,
  getMaxScoreForQuestion,
} from "@/stores/node";
import { toRef } from "@vueuse/core";
import { computed, ref } from "vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useDeleteScoreCommand } from "@/api/commands/DeleteScore";
import { NodeEditorRouteName } from "@/router/routes/nodeEditor";

const languageStore = useLanguageStore();
const props = defineProps<{
  calculationQuestion: ChoiceQuestionNode | NumberQuestionNode;
  scoreQuestion: ScoreQuestionWithWeighing;
  useWeighing: boolean;
  showLockIconInfo: boolean;
  weighingType: WeighingType;
}>();

const percentageSignWhenAppropriate = computed(() =>
  props.weighingType === "percentage" ? "%" : "",
);

const editRow = ref(false);
const {
  weight,

  command,
  reset,
  executeCommand,
} = useUpdateScoreCommand(
  toRef(props, "calculationQuestion"),
  toRef(props, "scoreQuestion"),
);

const { command: deleteCommand, executeCommand: executeDeleteCommand } =
  useDeleteScoreCommand(
    toRef(props, "calculationQuestion"),
    toRef(props, "scoreQuestion"),
  );

async function saveRowEdit() {
  await executeCommand();
  editRow.value = false;
}
function cancelRowEdit() {
  reset();
  editRow.value = false;
}

const confirm = useConfirm();
function deleteScore(event: MouseEvent) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message: "Ben je zeker om deze score te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        void deleteScoreHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}
const isDeleting = ref(false);
async function deleteScoreHandler() {
  isDeleting.value = true;
  await executeDeleteCommand();
  isDeleting.value = false;
}

const ignoreLockedQuestionsInCalculation = computed(
  () =>
    !(
      "ignore_locked_questions_in_calculation" in
        props.calculationQuestion.configProps.custom_options &&
      !props.calculationQuestion.configProps.custom_options
        .ignore_locked_questions_in_calculation
    ),
);
const lockedIconTooltip = computed(() =>
  ignoreLockedQuestionsInCalculation.value
    ? "Deze score wordt genegeerd bij het berekenen van de totaalscore als deze vraag niet unlockt wordt."
    : "Deze score wordt niet genegeerd bij het berekenen van de totaalscore als deze vraag niet unlockt wordt.",
);
</script>
