<template>
  <button v-bind="$attrs" @click="showMenu">
    <span class="pi pi-bars"></span>
  </button>
  <Menu ref="menu" :model="menuItems" popup />
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import type { CategoryNode } from "@/api/queries/types/formTypes";
import { computed, ref } from "vue";
import { useAddAndCopyStore } from "@/stores/addAndCopy";

const formStore = useFormStore();
const props = defineProps<{
  node: CategoryNode;
}>();
const addAndCopyStore = useAddAndCopyStore();

const filterActive = computed(() => formStore.filter.applied);

const menuLabel = computed(() => {
  return props.node.displayMode === "matrix"
    ? "Deze Tabel..."
    : "Deze Categorie...";
});

const menuItems = computed(() => [
  {
    label: menuLabel.value,
    items: [
      {
        label: "wijzigen",
        icon: "pi pi-pencil",
        command: () => select(),
      },
      {
        label: "verwijderen",
        icon: "pi pi-trash",
        // prevent deletion of last category if there are no other nodes left in the form (see also QuestionMenu.vue)
        disabled:
          props.node.level === 1 &&
          formStore.form.rootNode.children.length <= 1,
        command: () => deleteItem(),
      },
      {
        label: "kopiëren",
        icon: "pi pi-copy",
        command: () => copy(),
        disabled: filterActive.value,
      },
      {
        label: "verplaatsen",
        icon: "pi pi-arrows-v",
        command: () => move(),
        disabled: filterActive.value,
      },
    ],
  },
]);

const menu = ref<null | { toggle: (event: Event) => void }>(null);

function showMenu(event: Event) {
  menu.value?.toggle(event);
}

function select() {
  void formStore.selectNode(props.node.id);
}

function deleteItem() {
  formStore.deleteNode(props.node);
}

function move() {
  void addAndCopyStore.selectNodeForMoving(props.node);
}

function copy() {
  void addAndCopyStore.selectNodeForCopying(props.node);
}
</script>
