<template>
  <div style="width: 800px">
    <div class="p-2">
      <div class="flex flex-row">
        <div class="basis-1/6 text-right text-xs text-gray-400">
          Score vraag
        </div>
        <div class="basis-1/12 ml-2">
          <span class="mr-4"><i class="pi pi-percentage"></i></span>
          <PositionTagger
            :position="scoreQuestionPosition"
            :tooltip="`id: ${scoreQuestionId}`"
          />
        </div>
        <div class="basis-9/12"><span v-html="scoreQuestionLabel" /></div>
      </div>
      <div class="flex flex-row mt-4">
        <div class="basis-1/6 text-right text-xs text-gray-400">
          Vraag met berekening
        </div>
        <div class="basis-1/12 ml-2">
          <span class="mr-4"
            ><font-awesome-icon icon="fa-solid fa-calculator"
          /></span>
          <PositionTagger
            :tooltip="`id: ${calculationQuestionId}`"
            :position="calculationQuestionPosition"
          />
        </div>
        <div class="basis-9/12"><span v-html="calculationQuestionLabel" /></div>
      </div>

      <div class="flex flex-row mt-8">
        <div class="basis-1/5 text-right">Gewicht:</div>
        <div class="basis-1/5 ml-2">
          <InputNumber v-model="weight" class="w-full" show-buttons />
        </div>
        <div class="basis-2/5 ml-2">
          <Button
            v-if="!isSaving"
            label="Bewaar deze berekening"
            icon="pi pi-check"
            class="w-full"
            severity="success"
            @click="save"
          />
          <Button
            v-else
            label="Bewaar deze berekening"
            icon="pi pi-spin pi-spinner"
            class="w-full"
            severity="success"
          />
        </div>
      </div>
    </div>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { ref, toRef } from "vue";
import { useAddScoreCommand } from "@/api/commands/AddScore.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import { NodePosition } from "@/functions/NodePositionFunctions.ts";

// -- props, stores and events

const props = defineProps<{
  scoreQuestionId: number;
  calculationQuestionId: number;
  scoreQuestionLabel: string;
  calculationQuestionLabel: string;
  scoreQuestionPosition: NodePosition;
  calculationQuestionPosition: NodePosition;
}>();

const emit = defineEmits(["calculationSaved"]);

const { weight, command, executeCommand } = useAddScoreCommand(
  toRef(props, "calculationQuestionId"),
  toRef(props, "scoreQuestionId"),
);

const isSaving = ref(false);
async function save() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
  emit("calculationSaved");
}
</script>
