<template>
  <div id="DialogSetChartRelation" style="width: 800px" class="p-2">
    <div class="flex flex-row">
      <div class="basis-1/6 text-right text-xs text-gray-400">Deelnemer</div>
      <div class="basis-1/12 ml-2 text-center">
        <IdTagger :id="chartParticipantQuestion.id" uid="" />
      </div>
      <div class="basis-4/6">
        <span v-html="chartParticipantQuestionLabel" />
      </div>
    </div>
    <div class="flex flex-row mt-4">
      <div class="basis-1/6 text-right text-xs text-gray-400">Diagram</div>
      <div class="basis-1/12 ml-2 text-center">
        <IdTagger :id="chartQuestionId" uid="" />
      </div>
      <div class="basis-4/6"><span v-html="chartQuestionLabel" /></div>
    </div>

    <div class="flex flex-row mt-6">
      <div class="basis-1/5 text-right">
        <div class="mt-2">
          Aangepast label (optioneel)
          <ActiveLanguageBadge />
        </div>
      </div>
      <div class="basis-1/2 ml-2">
        <InputText
          v-model="customLabel"
          :placeholder="chartParticipantQuestionLabel"
          class="w-full"
        />
      </div>
      <div class="basis-1/3 ml-2">
        <Button
          v-if="!isSaving"
          label="Voeg toe"
          icon="pi pi-check"
          class="w-full"
          severity="success"
          @click="save"
        />
        <Button
          v-else
          disabled="true"
          label="Toevoegen"
          icon="pi pi-spin pi-spinner"
          class="w-full"
          severity="success"
        />
      </div>
    </div>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import type { QuestionNode } from "@/api/queries/types/formTypes";
import IdTagger from "@/components/formBuilder/_general/IdTagger.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { ref, toRef } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useAddChartRelationCommand } from "@/api/commands/ChartRelationCommands";

// -- props, stores and events

const props = defineProps<{
  chartParticipantQuestion: QuestionNode;
  chartParticipantQuestionLabel: string;
  chartQuestionId: number;
  chartQuestionLabel: string;
}>();

const emit = defineEmits(["relationSaved"]);
const customLabel = ref("");

const { command, executeCommand } = useAddChartRelationCommand(
  toRef(props, "chartQuestionId"),
  toRef(props, "chartParticipantQuestion"),
  customLabel,
);

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
  emit("relationSaved");
}
</script>
