<template>
  <div id="DialogOptionSelector">
    <div style="width: 800px">
      <!-- list options -->

      <div
        v-if="props.question.subType === 'question_choice'"
        class="flex flex-col gap-2"
      >
        <div v-for="option in props.question.options" :key="option.id">
          <div class="flex items-end">
            <Checkbox
              v-model="payload.optionIds"
              name="optionUid"
              :value="option.id"
              :input-id="'option-' + option.uid"
            />
            <label :for="'option-' + option.uid" class="ml-2">
              <span v-html="getOptionLabel(option)"></span>
            </label>
          </div>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row mt-4">
        <div class="basis-1/3">
          <Button
            v-if="!isSaving"
            :disabled="!changed"
            icon="pi pi-check"
            class="w-full"
            severity="success"
            label="Bewaar logica"
            @click="saveLogic"
          />
          <Button
            v-else
            icon="pi pi-spin pi-spinner"
            class="w-full"
            severity="success"
            label="Bewaren van logica"
          />
        </div>
      </div>
      <!-- command renderer -->
      <CommandRenderer :command="command" />
    </div>
  </div>
</template>

<script setup lang="ts">
import type { OptionNode, QuestionNode } from "@/api/queries/types/formTypes";
import { computed, ref } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useUpdateUnlockingOptionsCommand } from "@/api/commands/UpdateUnlockingOptions.ts";
import { useLanguageStore } from "@/stores/language";
import { useNodeStore } from "@/stores/node";
import { ChoiceOption } from "@/api/queries/getChoiceQuestions";

// -- props, stores & emits

const props = defineProps<{
  question: QuestionNode;
  lockedId: number;
}>();
const languageStore = useLanguageStore();
const emit = defineEmits(["logicSaved"]);

const nodeStore = useNodeStore();

const unlockingOptions = computed(
  () =>
    nodeStore.multiUnlockQuestions
      .filter(
        (questionCondition) => questionCondition.id === props.question.id,
      )[0]
      ?.options.map((option: ChoiceOption) => option.id) ?? [],
);

const { payload, changed, command, executeCommand } =
  useUpdateUnlockingOptionsCommand(
    props.question,
    props.lockedId,
    unlockingOptions,
  );

const getOptionLabel = (option: OptionNode) =>
  option.info.label[languageStore.activeLanguage.toLowerCase()] ?? "[option]";

const isSaving = ref<boolean>(false);

async function saveLogic() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
  emit("logicSaved");
}
</script>
