<template>
  <div
    v-if="props.type !== 'move_node' && props.type !== 'copy_node'"
    id="NodeTypeRenderer"
    class="text-blue-400"
  >
    <div v-if="nodeTypeToIcon[props.type]">
      <font-awesome-icon :icon="nodeTypeToIcon[props.type]" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { NodeSubType } from "@/api/queries/types/formTypes";
import { ActionType } from "@/stores/addAndCopy";

type ActionTypesWithIcon = Exclude<ActionType, "move_node" | "copy_node">;
const props = defineProps<{
  type: ActionType | NodeSubType;
}>();
const nodeTypeToIcon: Record<ActionTypesWithIcon | NodeSubType, string> = {
  add_question_text: "fa-solid fa-font",
  question_text: "fa-solid fa-font",
  add_question_choice: "fa-solid fa-list-check",
  question_choice: "fa-solid fa-list-check",
  add_question_number: "fa-solid fa-9",
  question_number: "fa-solid fa-9",
  add_question_date: "fa-solid fa-calendar",
  question_date: "fa-solid fa-calendar",
  add_question_upload: "fa-solid fa-upload",
  question_upload: "fa-solid fa-upload",
  add_read_only_view_radar_chart: "fa-solid fa-chart-simple",
  read_only_view_radar_chart: "fa-solid fa-chart-simple",
  add_read_only_view_basic: "fa-solid fa-circle-info",
  read_only_view_basic: "fa-solid fa-circle-info",
  add_category: "fa-solid fa-folder",
  add_matrix: "fa-solid fa-table",
  category: "fa-solid fa-folder",
};
</script>
