<template>
  <div
    v-if="!hideFilteredNode"
    :data-cy="'node_' + renderPositionString(node.position)"
    :data-node-position="node.position"
  >
    <template v-if="node.subType === 'category'">
      <div class="m-2 rounded-lg" :class="selectedSectionClass">
        <Panel
          v-model:collapsed="collapsed"
          toggleable
          unstyled
          :pt="panelPt.panel"
          @toggle="formStore.recursivelyUnfoldNodePosition = undefined"
        >
          <template #header>
            <div
              ref="dropZoneRef"
              style="width: 85%"
              class="p-2"
              @click="handleCategoryClick"
              @dblclick="handleCategoryDoubleClick"
            >
              <div class="font-bold flex items-center mb-0.5">
                <div>
                  <PositionTagger
                    :position="node.position"
                    :tooltip="`id: ${node.id} \nuid: ${node.uid}`"
                    class="mr-3"
                  />
                </div>
                <span v-if="node.hidden" class="pr-2">
                  <i
                    v-tooltip="'Deze categorie is verborgen'"
                    class="text-stone-400 pi pi-eye-slash"
                  ></i>
                </span>
                <span
                  :id="'node-' + node.uid"
                  class="cursor-pointer disable-select"
                >
                  <!-- hidden: label -->
                  <span
                    v-if="node.hidden"
                    class="text-stone-400"
                    v-html="label"
                  />
                  <!-- normal: label -->
                  <span v-else v-html="label" />
                </span>
              </div>
              <div
                v-if="actionAllowed"
                class="text-center border-blue-700 text-white bg-blue-800"
              >
                <div class="text-2xl mb-1">+</div>
              </div>
            </div>
          </template>
          <template #icons>
            <button
              v-if="isMatrixCategoryNode(node)"
              :class="iconClass"
              icon="pi pi-table"
              @click="formStore.showMatrixEditor(node)"
            >
              <span class="pi pi-table"></span>
            </button>

            <CategoryMenu :node="node" :class="iconClass" />
            <button
              v-if="isMatrix && matrixCollapsed"
              :class="iconClass"
              @click="showAllBelow"
            >
              <span class="pi pi-wrench"></span>
            </button>
            <button
              v-else-if="isMatrix && !matrixCollapsed"
              :class="iconClass"
              @click="showAllBelow"
            >
              <span class="pi pi-eye-slash"></span>
            </button>
            <button v-else :class="iconClass" @click="showAllBelow">
              <span class="pi pi-angle-double-down"></span>
            </button>
          </template>
          <div v-if="!collapsed">
            <!-- todo: keep in memory if collapsed true => false -->
            <!-- introduction -->
            <div
              :data-cy="
                'categoryDescription_' + renderPositionString(node.position)
              "
              :class="hiddenClass"
            >
              <DescriptionBox :node="node" class="p-2" />
            </div>
            <div
              v-if="isMatrixCategoryNode(node) && matrixCollapsed"
              class="p-2"
            >
              <table
                v-tooltip.bottom="
                  'Deze categorie en vragen worden getoond in tabel vorm.'
                "
                class="w-full"
                @click="formStore.showMatrixEditor(node)"
              >
                <tr v-for="i in 3" :key="i">
                  <td
                    v-for="j in 3"
                    :key="j"
                    class="border-2 p-2 border-stone-300"
                  >
                    <div class="h-5 bg-stone-200 rounded-md" />
                  </td>
                </tr>
              </table>
            </div>
            <!-- children -->
            <NodeRenderer
              v-for="childNode in node.children"
              v-else
              :key="childNode.id"
              :node="childNode"
            ></NodeRenderer>
          </div>
        </Panel>
      </div>
    </template>
    <template v-else>
      <QuestionRenderer v-if="node.permission !== null" :node="node" />
    </template>
  </div>
</template>

<script setup lang="ts">
import QuestionRenderer from "./QuestionRenderer.vue";
import CategoryMenu from "./CategoryMenu.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import { useLanguageStore } from "@/stores/language";
import { useFormStore } from "@/stores/form";
import { computed, onMounted, ref, toRef, watch } from "vue";
import {
  isMatrixCategoryNode,
  type FormNode,
} from "@/api/queries/types/formTypes";
import { useSettingsStore } from "@/stores/settings";
import {
  isChildPosition,
  renderPositionString,
} from "@/functions/NodePositionFunctions";
import { useNodeStore } from "@/stores/node";
import { findNodeByUid } from "@/stores/form";
import { PrimeVuePTOptions } from "primevue/config";
import DescriptionBox from "@/components/formBuilder/_general/DescriptionBox.vue";
import { useAddCopyMoveDropAction } from "@/composables/useAddCopyMoveDropAction";
import { useDropZoneForNode } from "@/composables/useDropZoneForNode";
import { getInfoForQuestions } from "@/functions/getInfoForQuestions";

const formStore = useFormStore();
const languageStore = useLanguageStore();

const props = defineProps<{ node: FormNode }>();

// -------------------------------------------------------------------------
// -- drop zone logic
// -------------------------------------------------------------------------
const dropZoneRef = ref<HTMLElement>();

const { onDrop, actionAllowed } = useAddCopyMoveDropAction(
  toRef(props, "node"),
);
useDropZoneForNode(dropZoneRef, toRef(props, "node"), onDrop);

//

const isMatrix = computed(() => isMatrixCategoryNode(props.node));

// only select on click if not double click
let clickTimer: ReturnType<typeof setTimeout>;

function handleCategoryClick(event: MouseEvent) {
  clearTimeout(clickTimer);
  if (event.detail === 1) {
    clickTimer = setTimeout(select, 200);
  }
}

function handleCategoryDoubleClick() {
  clearTimeout(clickTimer);
  collapsed.value = !collapsed.value;
}

function select() {
  void formStore.selectNode(props.node.id);
}

function showAllBelow() {
  matrixCollapsed.value = !matrixCollapsed.value;
  formStore.recursivelyUnfoldNode(props.node);
}

const selectedSectionClass = computed(() =>
  props.node.id == formStore.selectedNodeId
    ? "border-2 border-stone-600"
    : "border-2 border-transparent",
);

const hiddenClass = computed(() =>
  props.node.hidden ? "bg-stone-50 text-stone-400" : "bg-white",
);

const label = computed(
  () =>
    props.node.info.label[languageStore.activeLanguage.toLowerCase()] ??
    "[label]",
);

const settingsStore = useSettingsStore();
const nodeStore = useNodeStore();
const collapsed = ref(true);
const matrixCollapsed = ref(true);

function setCollapsedState() {
  if (
    nodeIsCategoryAndSelected.value ||
    nodeIsParentOfSelectedQuestion.value ||
    nodeIsParentOfHighlightedQuestion.value ||
    recursiveUnfold.value ||
    isMatrix.value
  ) {
    collapsed.value = false;
  }
}

function setInitialCollapsedState() {
  if (
    nodeIsCategoryAndSelected.value ||
    nodeIsParentOfSelectedQuestion.value ||
    nodeIsParentOfHighlightedQuestion.value ||
    recursiveUnfold.value ||
    isMatrix.value
  ) {
    collapsed.value = false;
  } else {
    collapsed.value =
      settingsStore.unfoldUpToLevel <= props.node.position.length - 2;
  }
}

function nodeIsParentOf(node: FormNode) {
  return isChildPosition(props.node.position, node.position);
}

function nodeIsParentOfNodeWithUid(uid: string) {
  const node = findNodeByUid(uid, formStore.form.rootNode);
  return node && nodeIsParentOf(node);
}

const recursiveUnfold = computed(
  () =>
    formStore.recursivelyUnfoldNodePosition === props.node.position ||
    (formStore.recursivelyUnfoldNodePosition &&
      isChildPosition(
        formStore.recursivelyUnfoldNodePosition,
        props.node.position,
      )),
);
const nodeIsParentOfSelectedQuestion = computed(
  () => nodeStore.node && nodeIsParentOf(nodeStore.node),
);
const nodeIsParentOfHighlightedQuestion = computed(() =>
  Object.values(formStore.relationsToHighlightInFormList).some((relation) =>
    relation.some((nodeUid) => nodeIsParentOfNodeWithUid(nodeUid)),
  ),
);
const nodeIsCategoryAndSelected = computed(
  () =>
    props.node.type === "category" &&
    props.node.id === formStore.selectedNodeId,
);

const nodeHasChildrenWithPermission = computed(() =>
  getInfoForQuestions(props.node, (node) =>
    node.type === "question" ? node.permission : "",
  ).some((permission) => permission !== null),
);

const hideFilteredNode = computed(
  () => formStore.filter.applied && !nodeHasChildrenWithPermission.value,
);

onMounted(() => {
  setInitialCollapsedState();
});
watch(
  () => [
    settingsStore.unfoldUpToLevel,
    formStore.relationsToHighlightInFormList,
    formStore.recursivelyUnfoldNodePosition,
  ],
  () => {
    if (collapsed.value) setCollapsedState();
  },
  { deep: true },
);

// Panel theme: adjusted from PrimeVue's Tailwind theme
const TRANSITIONS = {
  toggleable: {
    enterFromClass: "max-h-0",
    enterActiveClass: "overflow-hidden transition-all duration-500 ease-in-out",
    enterToClass: "max-h-40	",
    leaveFromClass: "max-h-40",
    leaveActiveClass: "overflow-hidden transition-all duration-500 ease-in",
    leaveToClass: "max-h-0",
  },
};
const iconClass = [
  "inline-flex items-center justify-center overflow-hidden relative no-underline", // alignments
  "w-8 h-8 text-stone-600 border-0 bg-transparent rounded-full transition duration-200 ease-in-out", // widths, borders, and transitions
  "hover:text-stone-900 hover:border-transparent hover:bg-stone-200 ", // hover
  "focus:outline-none focus:outline-offset-0 focus:shadow-[0_0_0_0.2rem_rgba(191,219,254,1)]", // focus
];
const panelPt: PrimeVuePTOptions = {
  panel: {
    header: ({ props }) => ({
      class: [
        "flex items-center justify-between", // flex and alignments
        "border border-stone-300 bg-stone-100 text-stone-700 rounded-tl-lg rounded-tr-lg", // borders and colors
        { "p-2": !props.toggleable, "px-2": props.toggleable }, // condition
      ],
    }),
    title: "leading-none font-bold",
    pcToggleButton: {
      root: iconClass,
      label: "hidden", // there is some whitespace in the label of the togglebutton which messes up the alignment
    },
    headerActions: "flex",
    content: {
      class: [
        "p-1 border border-stone-300 bg-white text-stone-700 border-t-0 last:rounded-br-lg last:rounded-bl-lg",
      ],
    },
    transition: TRANSITIONS.toggleable,
  },
};
</script>
