<template>
  <Button
    icon="pi pi-bars"
    rounded
    outlined
    severity="secondary"
    @click="showMenu"
  />
  <Menu ref="menu" :model="menuItems" :popup="true" />
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import type { QuestionNode } from "@/api/queries/types/formTypes";
import { computed, ref } from "vue";
import { useAddAndCopyStore } from "@/stores/addAndCopy";
import { nodeIsMatrixQuestion } from "@/stores/node";

// -- props and stores

const props = defineProps<{ node: QuestionNode }>();
const formStore = useFormStore();
const addAndCopyStore = useAddAndCopyStore();
const filterActive = computed(() => formStore.filter.applied);

const menuItems = computed(() => [
  {
    label: "Deze vraag...",
    items: [
      {
        label: "wijzigen",
        icon: "pi pi-pencil",
        command: () => void select(),
      },
      {
        label: "verwijderen",
        icon: "pi pi-trash",
        command: () => deleteQuestion(),
        // prevent deletion of last question if if there are no other nodes left in the form (see also CategoryMenu.vue)
        disabled:
          (props.node.level === 1 &&
            formStore.form.rootNode.children.length <= 1) ||
          nodeIsMatrixQuestion(props.node),
      },
      {
        label: "kopiëren",
        icon: "pi pi-copy",
        command: () => copy(),
        disabled: filterActive.value,
      },
      {
        label: "verplaatsen",
        icon: "pi pi-arrows-v",
        command: () => move(),
        disabled: filterActive.value || nodeIsMatrixQuestion(props.node),
      },
    ],
  },
]);

const menu = ref<null | { toggle: (event: Event) => void }>(null);
function showMenu(event: Event) {
  menu.value?.toggle(event);
}

async function select() {
  await formStore.selectNode(props.node.id);
}

function deleteQuestion() {
  formStore.deleteNode(props.node);
}

function copy() {
  void addAndCopyStore.selectNodeForCopying(props.node);
}

function move() {
  void addAndCopyStore.selectNodeForMoving(props.node);
}
</script>
