<template>
  <div ref="dropZoneRef">
    <div
      :id="'question-' + node.uid"
      :class="'border-2 ' + questionClass"
      class="flex p-3"
      :node="node"
    >
      <div class="flex w-full" @click="select">
        <!-- some properties of this question -->
        <div class="flex-initial w-2/12">
          <PositionTagger
            :position="node.position"
            :tooltip="`id: ${node.id} \nuid: ${node.uid}`"
            class="mr-3 mb-2"
          />
          <div
            class="py-1 px-1.5 ml-1 w-7 text-sm text-gray-400 rounded-lg border-[1px]"
          >
            <NodeTypeRenderer :type="node.subType" />
            <QuestionRelationIcon :node="node" />
          </div>
        </div>

        <div class="flex w-full mr-2">
          <!-- question label rendering -->
          <div
            v-if="
              !(
                node.subType === 'read_only_view_basic' &&
                !node.info.label[languageStore.activeLanguage]
              )
            "
            class="flex-auto w-6/12 pr-2"
          >
            <div class="text-left">
              <p
                class="mr-1 cursor-pointer disable-select inline"
                v-html="label"
              />
              <span
                v-if="node.required"
                v-tooltip="'Dit is een verplichte vraag.'"
              >
                <strong>*</strong>
              </span>
            </div>

            <!-- show the calculation button for choice questions -->
            <div v-if="showCalculationButton" class="mt-2 text-right">
              <Button label="Calculate" severity="secondary" size="small" />
            </div>

            <!-- if choice and score question show some min and max values -->
            <div
              v-if="
                (node.isScoreQuestion || node.isChartParticipantQuestion) &&
                node.subType === 'question_choice' &&
                node.configScoring.scoringParameters.minScore !== null &&
                node.configScoring.scoringParameters.maxScore !== null
              "
              class="mt-2 text-xs text-gray-300"
            >
              min. score: {{ node.configScoring.scoringParameters.minScore }}
              <br />max. score:
              {{ node.configScoring.scoringParameters.maxScore }}
              <div
                v-if="
                  node.configScoring.scoringParameters.minScore >=
                  node.configScoring.scoringParameters.maxScore
                "
                class="mt-2 text-red-600"
              >
                <i class="pi pi-exclamation-triangle"></i>
              </div>
            </div>
          </div>

          <div class="flex-auto w-6/12">
            <!-- form rendering ---------------------------------------------------------------------------------------- -->

            <QuestionFormRenderer
              v-if="node.permission !== 'readonly'"
              :node="node"
            />

            <div v-else>
              <div class="p-2 mr-5 ml-4 text-xs bg-red-50">
                ... het antwoord op deze vraag is leesbaar maar niet aanpasbaar
                <span v-if="filterRole.role !== ''">
                  (voor {{ filterRole.label }} in de stap '{{ filterStep }}')
                </span>
                .
              </div>
            </div>

            <!-- description rendering --------------------------------------------------------------------------------- -->
            <div>
              <DescriptionBox :node="node" />
            </div>
          </div>
        </div>
      </div>

      <!-- menu button -->
      <div>
        <QuestionMenu :node="node" />
      </div>
    </div>
    <div
      v-if="actionAllowed"
      class="text-center border-blue-700 text-white bg-blue-800"
    >
      <div class="text-2xl mb-1">+</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import QuestionFormRenderer from "./QuestionFormRenderer.vue";
import QuestionMenu from "./QuestionMenu.vue";
import { computed, ref, toRef } from "vue";
import { QuestionNode } from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import { useFormStore } from "@/stores/form";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import DescriptionBox from "@/components/formBuilder/_general/DescriptionBox.vue";
import { DragType, useDragAndDropStore } from "@/stores/dragAndDropStore";
import { useAddCopyMoveDropAction } from "@/composables/useAddCopyMoveDropAction";
import { useDropZoneForNode } from "@/composables/useDropZoneForNode";
import { useRelationDropAction } from "@/composables/useRelationDropAction";
import QuestionRelationIcon from "./QuestionRelationIcon.vue";
import NodeTypeRenderer from "./NodeTypeRenderer.vue";
import { useQuestionClass } from "@/composables/useQuestionClass";

// -------------------------------------------------------------------------
// -- props
// -------------------------------------------------------------------------

const props = defineProps<{ node: QuestionNode; selection?: SelectionMode }>();

// -------------------------------------------------------------------------
// -- drop zone logic
// -------------------------------------------------------------------------

const dropZoneRef = ref<HTMLElement>();
const dragAndDropStore = useDragAndDropStore();

const { onDrop: relationDrop } = useRelationDropAction(toRef(props, "node"));
const { onDrop: onAddCopyMoveDrop, actionAllowed } = useAddCopyMoveDropAction(
  toRef(props, "node"),
);

useDropZoneForNode(dropZoneRef, toRef(props, "node"), onDrop);

function onDrop(event: DragEvent) {
  if (dragAndDropStore.dragType === DragType.AddCopyMove) {
    onAddCopyMoveDrop();
  } else {
    relationDrop(event);
  }
}

// -------------------------------------------------------------------------
// -- command add logic via the logic tab
// -------------------------------------------------------------------------

const showCalculationButton = computed<boolean>(() => {
  if (
    props.node.subType === "question_choice" &&
    props.node.isCalculatedQuestion &&
    props.node.configScoring.scoringParameters.showAutoCalculateBtn
  )
    return true;
  return false;
});

// -------------------------------------------------------------------------
// -- stores
// -------------------------------------------------------------------------

const languageStore = useLanguageStore();
const formStore = useFormStore();

async function select() {
  await formStore.selectNode(props.node.id);
}

const label = computed(
  (): string =>
    props.node.info.label[languageStore.activeLanguage.toLowerCase()] ??
    "[label]",
);

const filterRole = computed(() => formStore.filter.role);
const filterStep = computed(() => formStore.filter.step.label);

const hoveredStyling = "bg-blue-100";
const statusStyling = {
  default: "border-stone-100",
  selected: "border-stone-600",
  dragging: "border-blue-600",
};
const questionClass = useQuestionClass(toRef(props, "node"), {
  hovered: hoveredStyling,
  status: statusStyling,
});
</script>

<style scoped>
:deep(.popper) {
  display: block;
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 20px;
  color: #3a3a3a;
  width: 450px;
}

:deep(.popper #arrow::before) {
  background-color: #eeeeee;
}

:deep(.popper:hover),
:deep(.popper:hover > #arrow::before) {
  background-color: #eeeeee;
}

.striped {
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.03) 10px,
    rgba(0, 0, 0, 0.03) 20px
  );
}
</style>
