<template>
  <div v-if="nodeIcons.length">
    <div
      v-for="(nodeIcon, index) in nodeIcons"
      :key="index"
      v-tooltip="nodeIcon.tooltip"
    >
      <font-awesome-icon :icon="nodeIcon.icon" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { QuestionNode } from "@/api/queries/types/formTypes";
import { computed } from "vue";

const props = defineProps<{ node: QuestionNode }>();

const showPrefillIcon = computed(() => {
  if (
    props.node.subType === "question_choice" ||
    props.node.subType === "question_text"
  ) {
    if (props.node.configPrefill.prefillingQuestionUids.length !== 0) {
      return true;
    }
  }
  return false;
});

interface NodeIconType {
  tooltip: string;
  icon: string;
}

const nodeIcons = computed<NodeIconType[]>(() => {
  let nodeIconTypes: NodeIconType[] = [];
  if (props.node.isUnlockerQuestion) {
    nodeIconTypes.push({
      tooltip:
        "Andere vragen worden pas zichtbaar bij keuze van een of meerdere opties uit deze vraag.",
      icon: "fa-solid fa-lock-open",
    });
  }
  if (props.node.isLockedQuestion) {
    nodeIconTypes.push({
      tooltip:
        "Deze vraag wordt pas zichtbaar als bepaald opties bij een andere vraag gekozen zijn.",
      icon: "fa-solid fa-lock",
    });
  }
  if (props.node.isScoreQuestionForCalculation) {
    nodeIconTypes.push({
      tooltip: "Deze vraag is een onderdeel van een berekening",
      icon: "fa-solid fa-percentage",
    });
  } else if (props.node.isScoreQuestion) {
    nodeIconTypes.push({
      tooltip: "Dit is een score vraag",
      icon: "fa-solid fa-percentage",
    });
  }
  if (props.node.isChartParticipantQuestion) {
    nodeIconTypes.push({
      tooltip: "Deze vraag is een onderdeel van een diagram",
      icon: "fa-solid fa-chart-simple",
    });
  }
  if (props.node.isCalculatedQuestion) {
    nodeIconTypes.push({
      tooltip: "Deze vraag is een berekening van andere (score) vragen.",
      icon: "fa-solid fa-calculator",
    });
  }
  if (showPrefillIcon.value) {
    nodeIconTypes.push({
      tooltip: "Deze wordt vooraf ingevuld door andere vragen.",
      icon: "fa-solid fa-pen-to-square",
    });
  }
  if (props.node.hidden) {
    nodeIconTypes.push({
      tooltip: "Deze vraag is verborgen",
      icon: "fa-solid fa-eye-slash",
    });
  }
  if (props.node.permission === "readonly") {
    nodeIconTypes.push({
      tooltip: "Deze vraag is leesbaar maar niet aanpasbaar",
      icon: "fa-solid fa-eye",
    });
  }
  return nodeIconTypes;
});
</script>
