<template>
  <div
    :id="'questionFormRenderer-node-' + node.uid"
    :data-cy="'questionDetailForm_' + renderPositionString(node.position)"
  >
    <!-- question date/time ---------------------------------------------------------------------------------------- -->

    <template v-if="node.subType === 'question_date'">
      <DatePicker
        v-model="fieldValue"
        class="w-full"
        :placeholder="placeHolder"
        :date-format="node.configProps.formatMask"
      />
      <div class="mt-1 text-sm text-gray-400">
        format: {{ node.configProps.formatMask }}
      </div>
    </template>

    <!-- question upload ------------------------------------------------------------------------------------------- -->

    <template v-if="node.subType === 'question_upload'">
      <div class="p-4 border-gray-400 border-dashed border-[1px]">
        <div class="flex flex-row">
          <div class="basis-1/2">
            <div>
              <Badge
                v-for="extension in node.configProps.extensions"
                :key="extension"
                class="mb-1 ml-1 p-badge-secondary"
              >
                {{ extension }}
              </Badge>
            </div>
            <div class="mt-2 text-xs text-gray-300">
              min. bestanden : {{ node.configProps.minAmount }} <br/>max.
              bestanden : {{ node.configProps.maxAmount }} <br/>max. grootte :
              {{
                convertToReadableSize(
                  node.configProps.maxFileSize,
                  4,
                  "decimal",
                )
              }}
            </div>
          </div>
          <div class="text-right basis-1/2">
            <Button
              label="kies bestand"
              size="small"
              outlined
              severity="secondary"
              icon="pi pi-upload"
            />
          </div>
        </div>
      </div>
    </template>

    <!-- read_only_view_radar_chart -------------------------------------------------------------------------------- -->

    <template v-if="node.subType === 'read_only_view_radar_chart'">
      <RadarChartRenderer :node="node"/>
    </template>

    <!-- question text --------------------------------------------------------------------------------------------- -->

    <template v-if="node.subType === 'question_text'">
      <div>
        <div v-if="node.configProps.multiLine === true">
          <!-- wysiwyg toolbar -->
          <div
            v-if="node.displayMode == 'wysiwyg'"
            class="rounded-t-lg bg-stone-200"
          >
            &nbsp;&nbsp;
            <strong>B</strong>&nbsp;&nbsp; <em>I</em>&nbsp;&nbsp;
            <span class="underline">U</span>&nbsp;&nbsp;
          </div>
          <!-- textarea -->
          <Textarea
            v-model="fieldValue"
            rows="3"
            :placeholder="placeHolder"
            class="w-full"
            :disabled="node.hidden"
          />
        </div>
        <div v-else>
          <!-- single line text input -->
          <InputText
            v-model="fieldValue"
            type="text"
            :placeholder="placeHolder"
            class="w-full"
            :disabled="node.hidden"
          />
        </div>
      </div>
    </template>

    <!-- question number ------------------------------------------------------------------------------------------- -->

    <template v-else-if="node.subType === 'question_number'">
      <div>
        <template
          v-if="
            node.isCalculatedQuestion &&
            node.configScoring.showAutoCalculateBtn === true
          "
        >
          <div class="flex">
            <div>
              <div
                v-if="
                  node.configProps.showMaxAsInputAddon ||
                  node.configProps.showMinAsInputAddon
                "
              >
                <InputGroup>
                  <InputGroupAddon v-if="node.configProps.showMinAsInputAddon">
                    {{ node.configProps.min }}&nbsp;/
                  </InputGroupAddon>
                  <InputNumber
                    v-model="fieldValue"
                    :placeholder="placeHolder"
                    :readonly="node.hidden"
                  />
                  <InputGroupAddon v-if="node.configProps.showMaxAsInputAddon">
                    /&nbsp;{{ node.configProps.max }}
                  </InputGroupAddon>
                </InputGroup>
              </div>
              <div v-else>
                <InputGroup>
                  <InputNumber
                    v-model="fieldValue"
                    show-buttons
                    :placeholder="placeHolder"
                    :readonly="node.hidden"
                  />
                </InputGroup>
              </div>
            </div>
            <div class="pl-1">
              <Button severity="secondary">Calculate</Button>
            </div>
          </div>
        </template>
        <template v-else>
          <div
            v-if="
              node.configProps.showMaxAsInputAddon ||
              node.configProps.showMinAsInputAddon
            "
          >
            <InputGroup>
              <InputGroupAddon v-if="node.configProps.showMinAsInputAddon">
                {{ node.configProps.min }}&nbsp;/
              </InputGroupAddon>
              <InputNumber
                v-model="fieldValue"
                class="w-full"
                :placeholder="placeHolder"
                :readonly="node.hidden"
              />
              <InputGroupAddon v-if="node.configProps.showMaxAsInputAddon">
                /&nbsp;{{ node.configProps.max }}
              </InputGroupAddon>
            </InputGroup>
          </div>
          <div v-else>
            <InputGroup>
              <InputNumber
                v-model="fieldValue"
                show-buttons
                class="w-full"
                :placeholder="placeHolder"
                :readonly="node.hidden"
              />
            </InputGroup>
          </div>
        </template>
      </div>
    </template>

    <!-- question choice ------------------------------------------------------------------------------------------- -->

    <template v-else-if="node.subType === 'question_choice'">
      <div v-if="node.configProps.expanded === true">
        <div v-if="node.configProps.multiple === true">
          <div v-if="node.displayMode === 'singleTableRow'">
            <!-- render as single table row -->
            <table class="w-full">
              <tbody>
              <tr>
                <td
                  v-for="option in options"
                  :key="option.value"
                  class="border-[1px]"
                  align="center"
                >
                  <div>
                    <Checkbox
                      :id="option.value"
                      v-model="selectedOptions"
                      :name="node.uid"
                      :value="option.value"
                      :disabled="node.hidden"
                    />
                  </div>
                  <div>
                    <span v-html="option.text"></span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <div v-if="hasExtraTextField" class="flex flex-row mt-2">
              <div class="mt-2 mr-2 text-right basis-1/4">
                <i class="pi pi-plus-circle"/>
              </div>
              <div class="basis-3/4">
                <div class="flex">
                  <div v-if="isExtraTextFieldRequired">(*)</div>
                  <div class="ml-2 w-full">
                    <InputText
                      v-model="fieldValue"
                      type="text"
                      class="w-full p-inputtext-sm"
                      :disabled="node.hidden"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <!-- render as list -->
            <div v-for="option in options" :key="option.value">
              <div class="flex py-0.5 field-checkbox">
                <div class="pr-2">
                  <Checkbox
                    :id="option.value"
                    v-model="selectedOptions"
                    :name="node.uid"
                    :value="option.value"
                    :disabled="node.hidden"
                  />
                </div>
                <div>
                  <label :for="option.value">
                    <span v-html="option.text"></span>
                    <!-- render score if present -->
                    <span
                      v-if="option.score != null && node.isScoreQuestion"
                      class="ml-2 text-xs text-stone-400"
                    >
                      (score: {{ option.score }})
                    </span>
                  </label>
                </div>
              </div>
              <div v-if="option.hasTextField" class="mt-1">
                <div class="flex">
                  <div v-if="option.isExtraTextFieldRequired">(*)</div>
                  <div class="ml-2 w-full">
                    <InputText
                      v-model="fieldValue"
                      type="text"
                      class="w-full p-inputtext-sm"
                      :disabled="node.hidden"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div v-if="node.displayMode === 'singleTableRow'">
            <!-- render as single table row -->
            <table class="w-full">
              <tbody>
              <tr>
                <!-- add not applicable if this choice question is not required -->
                <td v-if="!node.required" class="border-[1px]" align="center">
                  <div class="py-1">
                    <div>
                      <RadioButton
                        id="not-applicable"
                        v-model="selectedOption"
                        :name="node.uid"
                        value="not-applicable"
                        :disabled="node.hidden"
                      />
                    </div>
                    <div>
                      <label for="not-applicable">{{
                          node.configInfo.placeholder[
                            languageStore.activeLanguage.toLowerCase()
                            ] ?? "Not applicable"
                        }}</label>
                    </div>
                  </div>
                </td>

                <td
                  v-for="option in options"
                  :key="option.value"
                  class="border-[1px]"
                  align="center"
                >
                  <div class="py-1">
                    <div>
                      <RadioButton
                        :id="option.value"
                        v-model="selectedOption"
                        :name="node.uid"
                        :value="option.value"
                        :disabled="node.hidden"
                      />
                    </div>
                    <div>
                      <span v-html="option.text"></span>
                    </div>
                    <span
                      v-if="option.score != null && node.isScoreQuestion"
                      class="ml-2 text-xs text-stone-400"
                    >
                        (s:{{ option.score }})
                      </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <div v-if="hasExtraTextField" class="flex flex-row mt-2">
              <div class="mt-2 mr-2 text-right basis-1/4">
                <i class="pi pi-plus-circle"/>
              </div>
              <div class="basis-3/4">
                <div class="flex">
                  <div v-if="isExtraTextFieldRequired">(*)</div>
                  <div class="ml-2 w-full">
                    <InputText
                      v-model="fieldValue"
                      type="text"
                      class="w-full p-inputtext-sm"
                      :disabled="node.hidden"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <!-- add not applicable if this choice question is not required -->
            <div v-if="!node.required">
              <div class="flex py-0.5">
                <div class="pr-2">
                  <RadioButton
                    id="not-applicable"
                    v-model="selectedOption"
                    :name="node.uid"
                    value="not-applicable"
                    :disabled="node.hidden"
                  />
                </div>
                <div>
                  <label for="not-applicable">{{
                      node.configInfo.placeholder[
                        languageStore.activeLanguage.toLowerCase()
                        ] ?? "Not applicable"
                    }}</label>
                </div>
              </div>
            </div>

            <!-- render as radio's as list -->
            <div v-for="option in options" :key="option.value">
              <div class="flex py-0.5">
                <div class="pr-2">
                  <RadioButton
                    :id="option.value"
                    v-model="selectedOption"
                    :name="node.uid"
                    :value="option.value"
                    :disabled="node.hidden"
                  />
                </div>
                <div>
                  <label :for="option.value">
                    <span v-html="option.text"></span>
                    <!-- render score if present -->
                    <span
                      v-if="option.score != null && node.isScoreQuestion"
                      class="ml-2 text-xs text-stone-400"
                    >
                      (score: {{ option.score }})
                    </span>
                  </label>
                </div>
              </div>
              <div v-if="option.hasTextField" class="mt-1">
                <div class="flex">
                  <div v-if="isExtraTextFieldRequired">(*)</div>
                  <div class="ml-2 w-full">
                    <InputText
                      v-model="fieldValue"
                      type="text"
                      class="w-full p-inputtext-sm"
                      :disabled="node.hidden"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <!-- Select -->
        <Select
          v-model="selectedOption"
          :options="options"
          option-label="text"
          option-value="value"
          class="w-full"
          :disabled="node.hidden"
          :placeholder="placeHolder"
        />
        <!-- if one option has an extra textfield, please render the extra textfield -->
        <div v-if="hasExtraTextField" class="mt-1">
          <div class="flex">
            <div v-if="isExtraTextFieldRequired">(*)</div>
            <div class="ml-2 w-full">
              <InputText
                v-model="fieldValue"
                type="text"
                class="w-full p-inputtext-sm"
                :disabled="node.hidden"
              />
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import {useLanguageStore} from "@/stores/language";
import {computed, ref} from "vue";
import type {OptionNode, QuestionNode} from "@/api/queries/types/formTypes";
import RadarChartRenderer from "@/components/formBuilder/formList/formListEditor/nodeRenderer/RadarChartRenderer.vue";
import {renderPositionString} from "@/functions/NodePositionFunctions.ts";

const props = defineProps<{ node: QuestionNode }>();
const languageStore = useLanguageStore();
const fieldValue = ref(undefined);

const placeHolder = computed(
  () =>
    props.node.configInfo.placeholder[
      languageStore.activeLanguage.toLowerCase()
      ] ?? "",
);

interface Option {
  value: string;
  text: string;
  hasTextField: boolean;
  score: number | null;
  isDefaultSelected: boolean;
  isExtraTextFieldRequired: boolean | null;
}

const options = computed(() => {
  if (props.node.subType !== "question_choice") {
    return [];
  }

  // Utility function to decode HTML entities
  const decodeHtml = (html: string): string => {
    const textArea = document.createElement("textarea");
    textArea.innerHTML = html;
    return textArea.value;
  };

  let _options: Option[] = props.node.options.map((option: OptionNode) => ({
    value: option.uid,
    text:
      decodeHtml(option.info.label[languageStore.activeLanguage.toLowerCase()] ??
        "[option]"),
    hasTextField: option.inputType === "optionWithAdditionalText",
    isExtraTextFieldRequired:
      option.inputType === "optionWithAdditionalText"
        ? option.configProps.additionalTextRequired
        : false,
    score: option.score,
    isDefaultSelected: option.defaultSelected,
  }));

  if (props.node.configProps.sortOptionsAlphabetically) {
    _options.sort((a, b) => a.text.localeCompare(b.text));
  }
  return _options;
});

const selectedOptions = computed(() =>
  options.value.filter((option) => option.isDefaultSelected),
);

const selectedOption = computed(() => {
  if (selectedOptions.value.length == 0) {
    return "";
  } else {
    // decode html entities
    const parser = document.createElement("div");
    parser.innerHTML = selectedOptions.value[0].text;
    return parser.textContent || parser.innerText || "";
  }
});

const hasExtraTextField = computed(() => {
  for (const option of options.value) {
    if (option.hasTextField) return true;
  }
  return false;
});

const isExtraTextFieldRequired = computed(() => {
  for (const option of options.value) {
    if (option.isExtraTextFieldRequired) return true;
  }
  return false;
});

function convertToReadableSize(
  bytes: number,
  precision = 2,
  prefixes: "decimal" | "binary" = "decimal",
): string {
  const units =
    prefixes === "decimal"
      ? ["B", "kB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]
      : ["B", "KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"];
  const factor = prefixes === "decimal" ? 1000 : 1024;
  const index = Math.floor(Math.log(bytes) / Math.log(factor));
  return `${(bytes / Math.pow(factor, index))
    .toFixed(precision)
    .replace(/\.?0+$/, "")} ${units[index]}`;
}
</script>
