<template>
  <div id="RadarChartRenderer">
    <Chart type="radar" :data="chartData" />
  </div>
</template>

<script setup lang="ts">
import type { RadarChartNode } from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import { computed } from "vue";

// -- props and stores

const props = defineProps<{ node: RadarChartNode }>();
const languageStore = useLanguageStore();

// -- radarchart variables ---------------------------------------------------------------------------------------------

const label = computed(
  (): string =>
    props.node.info.label[languageStore.activeLanguage.toLowerCase()] ??
    "[label]",
);

const chartData = computed(() => {
  return {
    labels: radarChartNodes.value,
    datasets: [
      {
        label: label.value,
        backgroundColor: "rgba(179,181,198,0.2)",
        borderColor: "rgba(179,181,198,1)",
        data: getRandomValues(radarChartNodes.value.length),
      },
    ],
  };
});

const radarChartNodes = computed(() =>
  props.node.chartParticipantQuestions.map(
    (question) =>
      question.customLabel[languageStore.activeLanguage.toLocaleLowerCase()] ??
      question.questionLabel[languageStore.activeLanguage.toLocaleLowerCase()],
  ),
);

function getRandomValues(count: number) {
  let _result = [];
  for (let i = 0; i < count; i++) {
    _result.push(getRandomNumber(10, 90));
  }
  return _result;
}

function getRandomNumber(min: number, max: number) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}
</script>
