<template>
  <div id="form-list" class="flex flex-shrink overflow-hidden h-full w-screen">
    <div class="">
      <LeftSideBar />
    </div>
    <Splitpanes
      first-splitter
      class="overflow-hidden"
      @pane-add="paneChange"
      @pane-remove="paneChange"
      @resize="manualResize"
    >
      <Pane
        v-for="(component, index) in components"
        :key="index"
        :size="paneSizes[index]"
        class="flex flex-col"
      >
        <div class="h-full w-full overflow-y-auto">
          <component
            :is="component"
            v-bind="getComponentProps(component)"
            class="min-w-[25vw]"
          />
        </div>
      </Pane>
    </Splitpanes>
  </div>
</template>

<script setup lang="ts">
import FormListEditor from "./formListEditor/FormListEditor.vue";
import NodeProperties from "./nodeEditor/NodeProperties.vue";
import LeftSideBar from "./leftSideBar/LeftSideBar.vue";
import { useAddAndCopyStore } from "@/stores/addAndCopy";
import { computed, onMounted, ref } from "vue";
import type { Component } from "vue";
import MatrixEditor from "./matrixEditor/MatrixEditor.vue";
import { useFormStore } from "@/stores/form";
import { useRoute } from "vue-router";

const route = useRoute();
const addAndCopyStore = useAddAndCopyStore();
const formStore = useFormStore();

const components = computed(() => {
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  const _components: Component[] = [FormListEditor];
  if (formStore.selectedMatrixNode?.displayMode === "matrix") {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-argument
    _components.push(MatrixEditor);
  }
  if (route.params.questionId) {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-argument
    _components.push(NodeProperties);
  }
  return _components;
});

function getComponentProps(component: Component) {
  switch (component) {
    case FormListEditor:
      return {};
    case MatrixEditor:
      return { matrix: formStore.selectedMatrixNode };
    case NodeProperties:
      return {};
  }
}

const manualResized = ref(false);
function manualResize() {
  manualResized.value = true;
}

const paneSizes = ref<number[]>([0, 0, 0]);

function resetPaneSizes() {
  paneSizes.value = components.value.map(() => 100 / components.value.length);
}

function paneChange(): void {
  // eslint-disable-next-line @typescript-eslint/no-unsafe-argument
  if (components.value.includes(MatrixEditor)) {
    if (manualResized.value === false) {
      setTimeout(() => {
        // without timeout, the pane sizes are not updated correctly
        paneSizes.value =
          components.value.length === 2 ? [0, 100] : [0, 49, 50];
      }, 1);
    }
    resetPaneSizes();
  } else {
    setTimeout(() => {
      resetPaneSizes();
    });
    manualResized.value = false;
  }
}

onMounted((): void => {
  resetPaneSizes();
  addAndCopyStore.resetStore();
});
</script>
