<template>
  <Button
    v-tooltip="tooltip"
    severity="secondary"
    :outlined="!highlightActive"
    @click="toggleHighlightRelations()"
  >
    <font-awesome-icon :icon="icon" />
  </Button>
</template>
<script setup lang="ts">
import { RelativeRelation } from "@/api/queries/types/formTypes";
import { RelationLookUpInfo } from "@/functions/nodeRelations";
import { useFormStore } from "@/stores/form";
import { computed } from "vue";

const props = defineProps<{
  relationInfo: RelationLookUpInfo;
}>();

const formStore = useFormStore();

function toggleHighlightRelations() {
  if (highlightActive.value) {
    formStore.unsetRelationToHighlight(props.relationInfo);
  } else {
    formStore.setRelationToHighlight(props.relationInfo);
  }
}

const highlightActive = computed(
  () =>
    formStore.relationsToHighlightInFormList[props.relationInfo.type] !==
    undefined,
);

const tooltipMap: Record<RelativeRelation, string> = {
  [RelativeRelation.CALCULATION_OF]:
    "Toon de gekoppelde berekeningen van deze vraag",
  [RelativeRelation.SCORE_FOR]: "Toon de gekoppelde scores van deze berekening",
  [RelativeRelation.PREFILLED_BY]:
    "Toon de bronvragen voor dit vooraf ingevuld veld.",
  [RelativeRelation.PREFILLS]: "Toon de vragen die dit veld vooraf invult",
  [RelativeRelation.MULTI_UNLOCKS]: "",
  [RelativeRelation.UNLOCKS]:
    "Toon de vragen die zichtbaar worden bij deze optie.",
  [RelativeRelation.UNLOCKABLE_BY]:
    "Toon de vraag die dezeqsdfsdfqdsq optie bevat die deze vraag zichtbaar maakt",
  [RelativeRelation.MULTI_UNLOCKABLE_BY]:
    "Toon de vraag die deze optie bevat die deze vraag zichtbaar maakt",
  [RelativeRelation.RADAR_CHART_SOURCE]:
    "Toon de radar charts die deze vraag gebruiken",
  [RelativeRelation.RADAR_CHART_THAT_USES]:
    "Toon de radar charts die deze vraag gebruikt",
};

const iconMap: Record<RelativeRelation, string> = {
  [RelativeRelation.CALCULATION_OF]: "fa-solid fa-percent",
  [RelativeRelation.SCORE_FOR]: "fa-solid fa-calculator",
  [RelativeRelation.PREFILLED_BY]: "fa-solid fa-pen-to-square",
  [RelativeRelation.PREFILLS]: "fa-solid fa-pen-to-square",
  [RelativeRelation.UNLOCKS]: "fa-solid fa-sitemap",
  [RelativeRelation.MULTI_UNLOCKS]: "fa-solid fa-sitemap",
  [RelativeRelation.UNLOCKABLE_BY]: "fa-solid fa-lock-open",
  [RelativeRelation.MULTI_UNLOCKABLE_BY]: "fa-solid fa-lock-open",
  [RelativeRelation.RADAR_CHART_SOURCE]: "fa-solid fa-chart-simple",
  [RelativeRelation.RADAR_CHART_THAT_USES]: "fa-solid fa-chart-simple",
};

const tooltip = computed(() => tooltipMap[props.relationInfo.type]);
const icon = computed(() => iconMap[props.relationInfo.type]);
</script>
