<template>
  <div id="DialogWorkflowPermissionDetail">
    <div class="mb-5">
      <IdTagger :id="permissionStore.nodeId" uid="" class="mr-2"></IdTagger>
      <span v-html="permissionStore.nodeQuestion"></span>
    </div>
    <QuestionPermissionsDetail
      v-if="permissionStore.permissionDetail && permissionStore.node"
      :question="permissionStore.node"
      :permissions="permissionStore.permissionDetail"
      @permissions-saved="permissionSavedHandler"
    />
  </div>
</template>

<script setup lang="ts">
import { usePermissionStore } from "@/stores/permissions";
import QuestionPermissionsDetail from "@/components/formBuilder/formList/nodeEditor/permissions/QuestionPermissionsDetail.vue";
import IdTagger from "@/components/formBuilder/_general/IdTagger.vue";

const props = defineProps<{ formId: number }>();
const permissionStore = usePermissionStore();

function permissionSavedHandler() {
  void permissionStore.loadPermissions(props.formId);
  permissionStore.showPermissionDetail = false;
}
</script>
