<template>
  <div v-if="permissionStore.permissions.rootNode" id="FormStructure">
    <div v-for="(node, index) in childrenCategories" :key="index">
      <FormStructureNodeRenderer :node="node" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { usePermissionStore } from "@/stores/permissions";
import FormStructureNodeRenderer from "@/components/formBuilder/formStructure/FormStructureNodeRenderer.vue";
import { computed } from "vue";
import type { PermissionCategoryNode } from "@/api/queries/types/permissionTypes";

const permissionStore = usePermissionStore();
const childrenCategories = computed(
  (): PermissionCategoryNode[] =>
    permissionStore.permissions.rootNode?.children.filter(
      (item): item is PermissionCategoryNode => item.type === "category",
    ) ?? [],
);
</script>
