<template>
  <div style="height: 7px">&nbsp;</div>
  <table v-tooltip="roleLabel" style="width: 100px !important; display: inline">
    <tbody>
      <tr>
        <td
          v-for="(value, name, index) in rolePermission"
          :key="index"
          class="p-0 m-0"
        >
          <div :class="renderStyle(index, value)">
            <div v-if="name == 'read'">R</div>
            <div v-else-if="name == 'write'">W</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- :class="renderBackground(value)" -->
  <!-- {{role}} -->
  <!-- {{rolePermission}} -->
</template>

<script setup lang="ts">
import { computed } from "vue";
import { renderRoleLabel } from "@/functions/roles";
import type { RolePermission } from "@/api/queries/types/permissionTypes";

const props = defineProps<{
  rolePermission: RolePermission;
  role: string;
}>();

const roleLabel = computed<string>(() => renderRoleLabel(props.role));

function renderStyle(index: number, value: boolean) {
  let _style =
    "border-l-[1px] border-t-[1px] border-b-[1px] rounded-l-lg text-sm p-1 border-gray-500";
  if (index == 1) {
    _style =
      "border-l-[1px] border-t-[1px] border-b-[1px] border-r-[1px] rounded-r-lg text-sm p-1 border-gray-500";
  }
  if (value) {
    _style = _style + " bg-green-200";
  } else {
    _style = _style + " bg-gray-50";
  }
  return _style;
}
</script>

<style scoped></style>
