<template>
  <!-- side bar with the structur -->
  <Drawer v-model:visible="structureVisible" :modal="false" position="left">
    <FormStructure />
  </Drawer>

  <!-- overview table for the permissions -->
  <div class="h-full overflow-auto">
    <table class="w-full mt-4">
      <!-- header -->
      <thead>
        <tr class="border-b-[1px] border-t-[1px]">
          <td>
            <div class="ml-2 flex items-center">
              <Button
                class="w-12 h-10"
                text
                style="color: black; font-size: 1.3em"
                @click="structureVisible = true"
              >
                <font-awesome-icon icon="fa-solid fa-folder-tree" />
              </Button>

              <div
                id="permissionTemplates"
                v-tooltip="'Permissie templates'"
                data-cy="btnNavPermissionTemplates"
                class="text-xl cursor-pointer ml-3"
                @click="permissionStore.showPermissionTemplateManager = true"
              >
                <font-awesome-icon icon="fa-solid fa-eye" />
                <PermissionTemplateManager />
              </div>
            </div>
          </td>
          <td align="right">
            <div class="mr-1 mt-1 mb-1">
              <Button
                size="small"
                outlined
                icon="pi pi-refresh"
                @click="reloadPermissions"
              />
            </div>
          </td>
          <template v-for="(step, indexStep) in formSteps" :key="indexStep">
            <td
              v-for="(role, index) in formRoles"
              :key="index"
              :class="firstCellClass(index, role)"
              class="text-center p-1 border-l-[1px]"
            >
              <i v-tooltip="role.label" class="pi pi-user"></i>
            </td>
          </template>
        </tr>
        <tr class="border-b-[1px] border-gray-600">
          <td class="w-1/4 p-1" colspan="2">
            <span class="font-bold">Vraag</span>
          </td>
          <td
            v-for="(step, index) in formSteps"
            :key="index"
            :colspan="formRoles.length"
            :width="75 / formSteps.length + '%'"
            class="text-center p-1 border-l-[1px] border-gray-500"
          >
            <span class="font-bold">
              Stap {{ index + 1 }}: {{ step.label }}
            </span>
          </td>
        </tr>
      </thead>
      <!-- body: overview permissions... -->
      <tbody v-if="permissionStore.permissions.rootNode">
        <WorkflowPermissionsQuestion
          v-for="(node, index) in permissionStore.permissions.rootNode.children"
          :key="index"
          :node="node"
          :steps="formSteps"
          :roles="formRoles"
          :level="0"
        />
      </tbody>
    </table>
  </div>

  <!-- dialog window for a detailed permission -->
  <Dialog
    v-model:visible="permissionStore.showPermissionDetail"
    header="Detail permissies voor:"
    :modal="true"
  >
    <div style="width: 1250px">
      <DialogWorkflowPermissionDetail :form-id="formId" />
    </div>
  </Dialog>
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import { useLanguageStore } from "@/stores/language";
import WorkflowPermissionsQuestion from "@/components/formBuilder/formPermissions/WorkflowPermissionsQuestion.vue";
import type { RoleSummary, StepSummary } from "@/api/queries/types/formTypes";
import { useSettingsStore } from "@/stores/settings";
import { renderRoleLabel } from "@/functions/roles";
import { usePermissionStore } from "@/stores/permissions";
import DialogWorkflowPermissionDetail from "@/components/formBuilder/formPermissions/DialogWorkflowPermissionDetail.vue";
import FormStructure from "@/components/formBuilder/formPermissions/FormStructure.vue";
import PermissionTemplateManager from "@/components/formBuilder/dialog/PermissionTemplateManager.vue";

const languageStore = useLanguageStore();
const settingsStore = useSettingsStore();
const permissionStore = usePermissionStore();

const props = defineProps<{ formId: number }>();

// -- left sidebar with structure

const structureVisible = ref(false);

// -- overview roles and steps

const formRoles = computed<RoleSummary[]>(() =>
  permissionStore.permissions.roles.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const formSteps = computed<StepSummary[]>(() =>
  permissionStore.permissions.steps.map((step, index) => ({
    id: step.id,
    uid: step.uid,
    label:
      step.info.label[languageStore.activeLanguage.toLowerCase()] ??
      (index + 1).toString(),
  })),
);

function reloadPermissions() {
  void permissionStore.loadPermissions(props.formId);
}

function firstCellClass(index: number, role: RoleSummary) {
  let _class = "";
  if (index == 0) _class = "border-gray-500";
  // highlight admin roles
  if (settingsStore.availableAdminRoles.includes(role.role)) {
    _class = _class + " bg-gray-50";
  }
  return _class;
}
</script>

<style scoped></style>
