<template>
  <template v-if="node.type === 'category'">
    <tr
      class="border-gray-500 border-b-[1px]"
      :data-node-position="node.position"
    >
      <!-- :colspan="colspanQuestion" -->
      <td class="p-1">
        <span v-for="index in level" :key="index">&nbsp;&nbsp;</span>
        <PositionTagger tooltip="" :position="node.position" class="mr-2" />
        <span
          :id="'node-' + node.id"
          class="text-sm font-bold"
          v-html="label"
        />
      </td>
      <td>&nbsp;</td>
      <td
        v-for="(step, index) in steps"
        :key="index"
        :colspan="roles.length"
        :width="75 / steps.length + '%'"
        class="p-1 text-center border-gray-500 border-l-[1px]"
      >
        <span class="text-gray-300">
          Stap {{ index + 1 }}: {{ step.label }}
        </span>
      </td>
    </tr>
    <workflow-permissions-question
      v-for="(childNode, index) in node.children"
      :key="index"
      :node="childNode"
      :level="level + 1"
      :roles="roles"
      :steps="steps"
    />
  </template>
  <tr v-else class="border-gray-200 border-b-[1px]">
    <td class="p-1">
      <span v-for="index in level" :key="index">&nbsp;&nbsp;</span>
      <PositionTagger tooltip="" :position="node.position" class="mr-2" />
      <span :id="'node-' + node.id" class="text-sm" v-html="label" />
    </td>

    <!-- edit button -->
    <td class="pr-1">
      <Button
        v-if="
          settingsStore.getPermissionByName('formPermissions') ===
          Permission.Write
        "
        icon="pi pi-pencil"
        rounded
        outlined
        severity="secondary"
        size="small"
        @click="openDetailPermission(node, label)"
      />
    </td>

    <!-- loop over the properties -->
    <template
      v-for="(_roles, indexStep) in node.flowPermission"
      :key="indexStep"
    >
      <template
        v-for="(rolePermission, roleName, indexRole) in _roles"
        :key="indexRole"
      >
        <td
          v-if="rolePermission"
          class="text-center border-l-[1px]"
          :class="firstCellClass(indexRole, roleName)"
        >
          <RolePermissionRenderer
            :role-permission="rolePermission"
            :role="roleName"
          />
        </td>
      </template>
    </template>
  </tr>
</template>

<script setup lang="ts">
import type { RoleSummary, StepSummary } from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import { Permission, useSettingsStore } from "@/stores/settings";
import { usePermissionStore } from "@/stores/permissions";
import { computed } from "vue";
import RolePermissionRenderer from "@/components/formBuilder/formPermissions/RolePermissionRenderer.vue";
import type {
  PermissionCategoryNode,
  PermissionNode,
  PermissionQuestionNode,
} from "@/api/queries/types/permissionTypes";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";

const props = defineProps<{
  node: PermissionCategoryNode | PermissionQuestionNode;
  roles: RoleSummary[];
  steps: StepSummary[];
  level: number;
}>();

const languageStore = useLanguageStore();
const settingsStore = useSettingsStore();
const permissionStore = usePermissionStore();

const label = computed<string>(
  (): string =>
    props.node.info.label[languageStore.activeLanguage.toLowerCase()] ??
    "[label]",
);

function firstCellClass(index: number, role: string) {
  let _class = "";
  if (index == 0) _class = "border-gray-500";
  // highlight admin roles
  if (settingsStore.availableAdminRoles.includes(role)) {
    _class = _class + " bg-gray-50";
  }
  return _class;
}

function openDetailPermission(node: PermissionNode, question: string) {
  void permissionStore.selectNodePermissionDetail(node, question);
}
</script>
