<template>
  <table class="w-full text-center">
    <!-- header -->
    <thead>
      <tr class="border-b-[1px] border-t-[1px]">
        <td class="border-r-[1px] border-gray-400 p-1">
          <slot><!-- Slot for top left corner content --></slot>
        </td>
        <td
          v-for="(step, indexStep) in formSteps"
          :key="indexStep"
          class="border-r-[1px] border-gray-200 p-3"
        >
          <span class="font-bold">
            Stap {{ indexStep + 1 }}: {{ step.label }}
          </span>
        </td>
      </tr>
      <tr v-if="!readOnly" class="border-b-[1px] border-gray-400">
        <td class="border-r-[1px] border-gray-400 text-sm">
          <span class="font-bold">R</span>
          = read/lezen &nbsp;&nbsp;
          <span class="font-bold">W</span>
          = write/schrijven &nbsp;&nbsp;
          <span class="font-bold">-</span>
          = reset all
        </td>
        <td
          v-for="(step, indexStep) in formSteps"
          :key="indexStep"
          class="border-r-[1px] border-gray-200 p-2"
        >
          <PermissionBulkSelector
            :type="'STEP'"
            :subject="step.uid"
            :status-read="allValueForStep(step.uid, 'read')"
            :status-write="allValueForStep(step.uid, 'write')"
            @set-value-for-steps="
              (eventData) => $emit('setValueForSteps', eventData)
            "
          />
        </td>
      </tr>
    </thead>

    <!-- rows -->
    <tbody>
      <tr
        v-for="(role, indexRole) in formRoles"
        :key="indexRole"
        class="border-b-[1px]"
        :class="adminRowBackgroundColor(role.role)"
      >
        <td class="border-r-[1px] border-gray-400 p-2">
          <div class="flex">
            <div class="flex-1 self-center">{{ role.label }}</div>
            <div>
              <PermissionBulkSelector
                v-if="!readOnly"
                class="flex-1"
                :type="'ROLE'"
                :subject="role.role"
                :status-read="allValueForRole(role.role, 'read')"
                :status-write="allValueForRole(role.role, 'write')"
                @set-value-for-roles="
                  (eventData) => $emit('setValueForRoles', eventData)
                "
              />
            </div>
          </div>
        </td>

        <!-- permission selector for step and role -->
        <td
          v-for="(step, indexStep) in formSteps"
          :key="indexStep"
          class="border-r-[1px] border-gray-200 p-2"
        >
          <RolePermissionRenderer
            v-if="readOnly"
            :role-permission="permissionFor(step.uid, role.role)"
            :role="role.role"
          />
          <PermissionSelector
            v-else
            :step-uid="step.uid"
            :role="role.role"
            :permission="permissionFor(step.uid, role.role)"
            @set-value-for-cell="
              (eventData) => $emit('setValueForCell', eventData)
            "
          />
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script setup lang="ts">
import type { RoleSummary, StepSummary } from "@/api/queries/types/formTypes";
import type {
  FlowPermissionRecord,
  RolePermission,
  SetValueForCellEvent,
  SetValueForRolesEvent,
  SetValueForStepsEvent,
} from "@/api/queries/types/permissionTypes";
import PermissionBulkSelector from "@/components/formBuilder/formList/nodeEditor/permissions/PermissionBulkSelector.vue";
import PermissionSelector from "@/components/formBuilder/formList/nodeEditor/permissions/PermissionSelector.vue";
import RolePermissionRenderer from "../../formPermissions/RolePermissionRenderer.vue";
import { useSettingsStore } from "@/stores/settings";

const settingsStore = useSettingsStore();

const props = defineProps<{
  formSteps: StepSummary[];
  formRoles: RoleSummary[];
  permissions: FlowPermissionRecord;
  readOnly?: boolean;
}>();

defineEmits<{
  (e: "setValueForRoles", value: SetValueForRolesEvent): void;
  (e: "setValueForSteps", value: SetValueForStepsEvent): void;
  (e: "setValueForCell", value: SetValueForCellEvent): void;
}>();

function permissionFor(stepUid: string, role: string): RolePermission {
  return (
    props.permissions[stepUid]?.[role] ?? {
      read: false,
      write: false,
    }
  );
}

function allValueForStep(stepUid: string, type: "read" | "write") {
  for (const stepProp in props.permissions) {
    if (stepProp === stepUid) {
      const roles = props.permissions[stepProp];
      for (const roleProp in roles) {
        const permission = roles[roleProp];
        if (!permission?.[type]) return false;
      }
    }
  }
  return true;
}

function allValueForRole(role: string, type: "read" | "write") {
  for (const stepProp in props.permissions) {
    const roles = props.permissions[stepProp];
    for (const roleProp in roles) {
      if (roleProp === role) {
        const permission = roles[roleProp];
        if (!permission?.[type]) return false;
      }
    }
  }
  return true;
}

function adminRowBackgroundColor(role: string) {
  let _class = "";
  if (settingsStore.availableAdminRoles.includes(role)) {
    _class = _class + " bg-gray-100";
  }
  return _class;
}
</script>
