{#{% trans_default_domain 'kulFormStepStoringAttempt' %}#}
{# this embeddable should preferably be placed/loaded before other embeds. especailly before upload/js.html.twig,
   calculation/js.html.twig and revert/revert-actions.html.twig, becasue those can suspend/(re)trigger autosave if needed #}

{% if triggerAutoSave is defined and triggerAutoSave and autoSaveUrl is defined %}

    {% include '@KULForm/embed/general/form-data-changes-detector.html.twig' %}
    {% include '@KULForm/embed/general/invalid-storing-attempt.html.twig' %}

    <script type="text/javascript">
        {# some auto-save related vars are global scoped variables. used in other embedded js.html.twig files ! #}
        window.formUsesAutoSave = true;
        window.autoSaveSuspended = true;
        window.lastAutoSaveSuccessDate = null;
        window.autoSaveIntervalInMilliSeconds = parseInt({{ autoSaveInterval }});
        let $scheduleAutoSaveTimeoutHandler = null;

        {# we will only START auto-saving when the user actually starts making changes (avoids user opening page and doing
           nothing. too many isers open a form that was never openend  by anyone and just leave the page open without
           making changes)
           only when the user starts making changes, will we keep auto-saving every x minutes according to interval, even if there are no
           changes made after this first changes: we do not check here in front-end for changes made after the first changes before triggering
           auto-save because we leave that to the back-end so back-end can also conduct other valuable checks (the most importnant being
           if the form is still in same step as the one the user loaded the form).
           if back-end then does not detect changes, it will not actually store anything.#}
        let initialFormData = null;

        let scheduleAutoSave = function (form, interval) {
            {# let's make sure every schedule call starts a new cycle, killing any existing ones (e.g. if upload file has alos triggert an auto-save #}
            if (null !== $scheduleAutoSaveTimeoutHandler) {
                window.clearTimeout($scheduleAutoSaveTimeoutHandler);
            }

            $scheduleAutoSaveTimeoutHandler = setTimeout(function () {
                if (false === window.autoSaveSuspended) {
                    console.log('triggering scheduled auto-save');
                    window.autoSaveForm(form);
                } else {
                    console.log('auto-save suspended: scheduling new auto-save cycle');
                    scheduleAutoSave(form, interval);
                }
            }, interval);
        };

        let updateLastAutoSaveSuccessDate = function () {
            let dNow = new Date();
            {# add 1 for month, because getMonth() returns the month from 0 to 11 start with a 0 and slice last 2 to make sure we get 01/03/2018 04:08:06 instead of 1/3/2018 4:8:6 #}
            window.lastAutoSaveSuccessDate =
                ('0' + dNow.getDate()).slice(-2) + '/' + ('0' + (dNow.getMonth() + 1)).slice(-2) + '/' + dNow.getFullYear() + ' '
                + ('0' + dNow.getHours()).slice(-2) + ':' + ('0' + dNow.getMinutes()).slice(-2) + ':' + ('0' + dNow.getSeconds()).slice(-2);
        };

        let finishAutoSaveSuccess = function () {
            {# keep track of date & time that last succesful autosave was executed, so that when a next autosave detects
               that form is locked and shows a message that user needs to reload/redirect page, this date & time can be used
               to show user when his changes were last stored (e.g. for those users that leave pc to come back hours later) #}
            updateLastAutoSaveSuccessDate();
            {# if a previous autosave detected that the form was locked, a lockedDialog will be in viewport. but if this
               statement was reached, autosave was succesful because either form was never locked or this autosave detected
                that the form lock is suspended by now (e.g. form's template was temporarely deactivated by admin, resulting
                in a previous autosave showing a locked dialog, but this autosave detected the template was re-activaed in
                meanwhile, so user can continue working on form. or even a change in the form's template workflow role rights
                could have been published by an admin, taking away this user's write access & ability to submit after this
                user had already loaded the form, and then an admin decided to change that workflow back. the latter is
                almost absurd as it assumes all this happens in a very short time, user being away from compu and not noticing
                the dialog or doing nothing with it, ... but it remains possible that a form's lock is rewind). #}
            window.destroyLockedDialog();

            window.autoSaveSuspended = false;

            console.log('auto-save response: changes successfully stored. removing auto-save suspension and reactivating auto-save scheduling');
        };

        let finishNoChangesDetected = function () {
            {# the LastAutoSaveSuccessDate does not need to be updated: the auto save was handled succesfully,
               but without having actually auto saved anything, since the backend didn't detect changes.
               one could argue it might be valuable to update it anyway, but then that would not match any back-end date
               of last update success, which will eventually also be shown to all users upon re-accessing or reloading the page #}
            window.destroyLockedDialog();
            {# continue to trigger the auto save #}
            window.autoSaveSuspended = false;

            console.log('auto-save response: no changes detected against already stored answers. removing auto-save suspension and reactivating auto-save scheduling');
        };

        {# IMPORTANT: autoSaveForm is globally scoped because it is used in src/Resources/views/embed/upload/js.html.twig #}
        window.autoSaveForm = function (form) {
            {# TODO WYSIWYG - CKEditor: if CKEditor (or other wysiwyg) will be used, then the $(form).serializeArray() might possibly not pick up the changes made by ckEditor upon $(form).serializeArray()
                    because those changes might not (yet) have been passed on from the CKEditor to its hidden text(area) field(s).
                    in SCONE a method called ckEditorElementsUpdate() was used to make sure changes are picked up before the $(form).serializeArray() below is executed #}
            let data = $(form).serializeArray();
            {# check for changes and if any are made, trigger auto-save.
               domain decision: we always check for changes against the INITIAL data. not against the last auto-saved data: once a user loads
               the form, we consider it a 'session' is started for that user. each change to existing answers (if any)  is a change in that 'session'
               e.g. a form with questions A, B and C. user loads the form, then adds or changes the answer for question A.
                    then an auto-save will be triggered, submitting question A with the changd answer. then user adds or changes
                    the answer for question B (thus without reloading the form page). then another auto-save will be triggered
                    submitting question B with the changd answer but ALSO question A with the previously (same) changed answer.
                    that way we can track and log what user changes in that 'session' and update all the answers in storage
                    accoriding what user actually changes in the 'session'. in this example, the first auto-save will update answer for
                    question A and log that answer to question A was added or changed, while the second auto-save will update answers for
                    question A and B and log that answers to question A and B was added or changed by that user.
               note that the idle checker (src/Resources/views/embed/form-activity/idle-checker.html.twig) does not checks for changes
               against initial data (after first check), but against last changed data (refreshes the last changed data on every
               idle check interval, if it detects changes and then restarts an interval). this has nothing to do with this auto-save,
               except that idle check will halt auto-saving if user didn't make any more changes in the idle check interval (default
               60 minutes). to avoid unneeded requests to server after an idle interval.  #}
            let changedData = window.getChangesFromNewAgainstOldSerializedFormDataArrays(initialFormData, data);

            {# don't save if no changes from initial data yet. but as soon as a change has been made, we will always trigger auto-save,
               we need the auto-save triggered so that the back-end can do its additional checks (still (temp- saving in same step. #}
            {# note: if a file upload is triggered (src/Resources/views/embed/upload/js.html.twig), then that succesful file upload
               will trigger an auto-save and then there will be changes against initialFormData, so trigger the auto-save to go true#}
            if (0 === changedData.length) {
                console.log('auto-save skipped: initial data not yet changed');
                scheduleAutoSave(form, window.autoSaveIntervalInMilliSeconds);
                return;
            }

            console.log('auto-save triggered: local changes detected against initially loaded answers.');

            {# add the tempsave button so that back-end can check the form(Type) on both 'submitted' & 'isTempSaveRequested'. (the 'submitted' is
               for standard Symfony FormType handling, the isTempSaveRequested is needed to bypass validation to only basic validation #}
            changedData.push(data.find(object => object.name === 'base[usedStepUid]'));
            {# get the button used for manual temp save (name = tempSave) <button id="base_tempSave" name="base[tempSave]" class="... primary-temp-save-btn btn" >....</button> #}
            let tempSaveBtnName = $(document).find('.primary-temp-save-btn').first().attr('name');
            changedData.push({'name': tempSaveBtnName, 'value': ""});

            {#  suspend the auto save during the current auto save: reactivation will depend on the auto save success or type of failure #}
            window.autoSaveSuspended = true;


            console.log('auto-save triggered: suspending all other auto-save action during current action.');
            console.log('auto-save triggered: firing api to auto save changes.');

            let request = $.ajax({
                url: "{{ autoSaveUrl }}",
                type: 'POST',
                data: changedData,
                cache: false,
                dataType: 'json'
            });

            request.done(function (response, textStatus, jqXHR) {
                if (jqXHR.status === 200 && typeof jqXHR.responseJSON !== 'undefined') {
                    if (jqXHR.responseJSON.hasOwnProperty('auto_saved') && jqXHR.responseJSON.auto_saved) {
                        finishAutoSaveSuccess();
                    } else if (jqXHR.responseJSON.hasOwnProperty('no_changes_detected') && jqXHR.responseJSON.no_changes_detected) {
                        finishNoChangesDetected();
                    } else if (jqXHR.responseJSON.hasOwnProperty('invalid_step_storing_attempt') && jqXHR.responseJSON.invalid_step_storing_attempt) {
                        window.finishAutoSaveDetectedInvalidStepStoringAttempt(
                            jqXHR.responseJSON.message,
                            jqXHR.responseJSON.hasOwnProperty('still_access_in_new_current_step') && jqXHR.responseJSON.still_access_in_new_current_step
                        );
                    }
                }
            });
            request.fail(function (jqXHR) {
                if (jqXHR.status === 400 && jqXHR.responseJSON.hasOwnProperty('invalid_submit')) {
                    {# USER IS NOT NOTIFIED and auto save is not kept suspended:
                    remember that autosave skips Constraints (e.g. notBlank is ignored)
                    but not basic validation: e.g. non-numeric string in number input will not validate.
                    this should preferrrably NOT lock user from further working on the form: if handled
                    silently, no auto save will ever be stored during user's session. but if we show user
                    validation errors in dismissable popup (with list of invalid fields, never going to be a
                    long list) it's might be really annoying for users to see this pop up every 3 minutes. #}
                    {# reactivate auto save. it is likely user is still working on input and might fix the invalid input #}
                    window.autoSaveSuspended = false;
                } else if (jqXHR.status === 400 && jqXHR.responseJSON.hasOwnProperty('failed_submit')) {
                    {# something went wrong in back-end (ERROR is logged in back-end) and auto save is kept suspended.#}
                } else if (jqXHR.status === 403 && jqXHR.responseJSON.hasOwnProperty('access_denied')) {
                    {# can only happen if user is tampering or in some weird edge cases (admin has changed form & published
                       it while user was working on it, and admin has taken awau all write access for that user-role)
                       USER IS NOT NOTIFIED and auto save is kept suspended #}
                } else if (jqXHR.status === 401) {
                    {# user is logged out / session invalidated: USER IS NOTIFIED and auto save is kept suspended.
                       auto-save is not re-activated: user has no choice to reload page.
                       should only occur if user has been doing nothing in this tab for a very long time.
                       it is far more likely this will not be triggered, since the idle activity checker will have detected
                       inactivity before user is logged out in back-end due to inactivity (src/Resources/views/embed/form-activity/idle-checker.html.twig) #}
                    window.finishUserIsLoggedOut();
                }

                return false;
            });

            request.always(function (jqXHR, textStatus, errorThrown) {
                scheduleAutoSave(form, window.autoSaveIntervalInMilliSeconds);
            });
        };

        document.addEventListener('DOMContentLoaded', function () {
            let form = $(document).find("form[name=base]");
            {# this auto-save script in this twig is only rendered if auto-save conditions are met (set by back-end and passed to twig).
               one of the conditions is that user has write access and thus the 'base' form has been rendered, so a form will exist.
               if not: something is really messed up. but can't harm to double check. #}
            if (0 < form.length) {
                console.log('activated auto-save scheduling.');
                window.autoSaveSuspended = false;
                initialFormData = $(form).serializeArray();
                scheduleAutoSave(form, window.autoSaveIntervalInMilliSeconds);
            } else {
                console.log('auto-save scheduling could not be activated: no form[name=base] found.');
            }
        });
    </script>
{% endif %}
