/*! Adminre v.1.2.0 - custom.css
 *
 * @note : Avoid altering this file. Any enhancement should be done in this file
 * @author : JohnPozy
 * @author URL : http://themeforest.net/user/pampersdry
 */
 
/* ----------------------------
 *
 * Your very own modification ;)
 *
 * --------------------------- */

.scrollDiv {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

h6 {
	font-variant:small-caps;
	font-size:13px
}

.btn {
	font-size: 14px;	
}

.table-without-border td {
	border-top: none !important;	
}

b, strong {
    font-weight: 600 !important;
}
dt {
	font-weight: 600 !important;
}
.dl-horizontal-left-align > dt {
	font-weight: normal !important;
	width:auto;
	text-align:left !important;
}
.dl-horizontal-left-align {
	margin-bottom: 0px;
}

.widget .panel, .widget.panel {
    overflow: inherit !important;
}

.panel-heading {
	border-bottom: 1px solid #CFD9DB !important;	
}

.pl20 {
    padding-left: 20px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pt20 {
    padding-top: 20px !important;
}

.nav-tabs > .nav-tabs-icon > li.active > a, .nav-tabs > .nav-tabs-icon > li.active > a:hover, .nav-tabs > .nav-tabs-icon > li.active > a:focus {
	height: 70px;
}
.nav-tabs > .nav-tabs-icon > li > a, .nav-tabs > .nav-tabs-icon > li > a:hover, .nav-tabs > .nav-tabs-icon > li > a:focus {
	height: 70px;
	color: #999 !important;
}

.table-high-td > tbody > tr > td {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.table-high-td > tbody > tr > td > a {
	padding: 2px !important;	
}
.table-high-td > tbody > tr > td > a.nolinkblock {
	width:auto !important;
	margin-right: 20px !important;
}
.table-high-td > tbody > tr > td > a.btn {
	padding: 8px !important;	
}

.languageswitch > .dropdown-menu {
	min-width: 54px !important;
	right:auto !important;
}

.nobr {
	white-space:nowrap;	
}

.owl-theme .owl-controls .owl-buttons .owl-next, .owl-theme .owl-controls .owl-buttons .owl-prev {
    background: none repeat scroll 0 0 #FFF;
	color: #333;
}

.editable-pre-wrapped {
	white-space:normal !important;
}

.media-list > .media:after {
	left: 0px !important;
}
#flotTip {
   z-index: 1000000 !important;	
}
.popover {
   width: 550px !important;
   max-width: 550px;
   z-index: 10000 !important;
}
	
.input-xs {
    font-size: 12px;
    height: 25px;
    line-height: 15px;
	padding-top: 3px;
}

span.introjs-helperNumberLayer {
    -webkit-box-sizing: initial !important;
    box-sizing: initial !important;
    -moz-box-sizing: initial !important;
}
.introjs-helperNumberLayer {
	top: -40px;
	left: 2px;
	background: linear-gradient(to bottom, #63D3E9 0px, #00B1E1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.btn-panel-right-top {
	border-bottom:none;
	border-top:none;
	border-right:none;
	padding: 11px 15px 11px 15px;
	border-radius: 0px;
}

.checkbox-more-spacing {
	min-height: 28px;
}

.globale-score {
	margin-left: 0px !important;
    margin-right: 0px !important;
}

.table-th-top th {
	vertical-align: top !important;	
}

.table-align-left td {
	text-align: left !important;	
}

.table-layout2 td {
	border-top: none !important;
	border-bottom: 1px solid #e0e7e8 !important;	
}
.table-layout2 th {
	border-top: none !important;
	border-bottom: 1px solid #e0e7e8 !important;	
}

.table-layout3 > tbody > tr > td {
	text-align:center;
	padding: 0;
}
.table-layout3 > tbody > tr > td > a {
	padding: 10px;
	display:block;
	width:100%;
}
.table-layout3 > tbody > tr > td > a:hover {
	background-color:#F8F8F8;
}
.table-layout3 th {
	text-align:center;
}
.table-layout3-tdcolored {
	background-color:#009DC8;
	color:#FFF;
}
.table-layout3 > tbody > tr > td > a.btn {
	width:40px;
}
.table-layout3 > tbody > tr > td > a.btn:hover {
	background-color:#FFFFFF;
}

.table-layout4 > tbody > tr > td {
	padding: 3px !important;
}

.table-layout5 > tbody > tr > td {
	text-align:center;
	vertical-align:top;
}
.table-layout5 > tbody > tr > td > a {
	padding: 10px;
	display:block;
	width:100%;
}
.table-layout5 > tbody > tr > td > a:hover {
	background-color:#F8F8F8;
}
.table-layout5 th {
	text-align:center;
}
.table-layout5-tdcolored {
	background-color:#009DC8;
	color:#FFF;
}
.table-layout5 > tbody > tr > td > a.btn {
	width:40px;
}


.fsize12 {
  font-size: 12px !important;
}
.fsize13 {
  font-size: 13px !important;
}
.fsize20 {
  font-size: 20px !important;
}
.fsize28 {
  font-size: 28px !important;
}

.bg-white {
	background-color: #FFF;
}


#logged-in-as > a {
	background-color: #ED5466 !important;
	color: #AAAAAA !important;
}
#logged-in-as-exit > a:hover, #logged-in-as-exit > a:focus {
	background-color: #ECA8A5 !important;
	color: #FFFFFF !important;
}


/* start change margins and padding filter options in search */
#zoek_filter .form-group {
	margin-bottom: 1px !important;
    padding-bottom: 5px;
    padding-top: 5px;
}
/* end change margins and padding filter options in search */

/* start compact dl list */
.dl-small-dt {
	margin-bottom: 0px;
}
.dl-small-dt dt {
	width:25px;
}
.dl-small-dt dd {
	margin-left:45px;
	padding-bottom: 5px;
}
/* end compact dl list */


/* start directory list */
.directory-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.directory-list li {
    border-left: 1px solid #eff0f4;
    display: table-cell;
    width: 1%;
}
.directory-list li a {
    background: none repeat scroll 0 0 #fff;
    color: #7a7676;
    display: block;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
}
.directory-list li a:hover {
	background: none repeat scroll 0 0 #00B1E1;
	color: #fff;
}
.directory-list li.selectedglossary {
    background: none repeat scroll 0 0 #00B1E1 !important;
	color: #fff !important;
	font-size:28px;
}
/* end directory list */


/* solve problem with bootstrap-select dropdowns below each other and overlapping */
.btn-group.open{
	z-index: 999 !important;
}

/* make background of special select drop downs white */
.bootstrap-select > .btn-default {
	background-color: #FFF !important;	
}

/* hide small logo on big screen*/
@media (min-width: 992px) {
	#header.navbar .navbar-header > .navbar-brand > .logo-figure {
	  display: none !important;
	}
	.sidebar-minimized #header.navbar .navbar-header > .navbar-brand > .logo-figure {
	  /* toon klein logo bij manueel inklappen (kleiner maken) hoofdmenu */
	  display: block !important;
	  margin-left:12px;
	}
	/* show stagiair details fixed on the right (affix) */
	#stagetraject .affix {
		top: 70px;
		right: -60px;
	}
	/* end show stagiair details fixed on the right (affix) */
}

/* hide small logo on big screen*/
@media (max-width: 992px) {
	/* show stagiair details below in stagetraject*/
	#stagetraject .affix {
		position:relative !important;
	}
	/* end show stagiair details below in stagetraject*/
}

/* hide small logo on big screen*/
@media (max-width: 768px) {
	#header.navbar .navbar-header > .navbar-brand > .logo-figure {
	  display: none !important;
	}
	#header.navbar .navbar-header > .navbar-brand > .logo-text {
	  background-size: 183px 50px;
      width: 183px;
	  height: 50px !important;
	}
	#main .popover {
 	   width: 300px !important;
	   max-width: 300px;
	   z-index: 10000 !important;
	}
	/* show stagiair details below in stagetraject*/
	#stagetraject .affix {
		position:relative !important;
	}
	/* end show stagiair details below in stagetraject*/
}

#header.navbar .navbar-toolbar .navbar-nav > .navbar-main > a:active,
#header.navbar .navbar-toolbar .navbar-nav > .navbar-main > a:focus {
  color: #ffffff;
  background-color: #00b1e1 !important;
}

.sidebar .scrollbar {
	background-color: rgba(189,194,197,.9)!important;
}
.sidebar .header, .sidebar .has-footer .footer {
	background-color: #ecf0f1;
}
.sidebar .header:after, .sidebar .has-footer .footer:after, .sidebar.has-footer .footer:after {
	border-bottom: 1px solid #d7e0e2 !important;
}
.sidebar .media-list-contact > .media:active {
  background-color: #ecf0f1;
}

.logo img {
	vertical-align: top !important;
}

.logo-text {
    background-image: url("../image/logo/ku-leuven.png");
    background-repeat: no-repeat;
    background-size: 240px 60px;
    width: 240px;
	height: 60px !important;
}

.logo-figure {
    background-image: url("../image/logo/ku-leuven-small.png");
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 36px 29px;
    width: 36px;
}

#header.navbar .navbar-header > .navbar-brand > .logo-text {
    margin-top: 0px !important;
}

.logo-text {
    margin-left: 0px !important;
}

#header.navbar .navbar-header {
    background-color: #00b1e1 !important;
}

.sidebar {
    background-color: #ffffff !important;
    color: #2A2A2A !important;
}

.sidebar .topmenu {
    background-color: #ffffff !important;
}

.sidebar .topmenu li:after {
    border-top: 1px solid #e9edf4 !important;
}

.sidebar .topmenu li.active {
    background-color: #ecf0f1 !important; /* cfd6e4 */
}

.sidebar .topmenu li.active a {
	color: #2A2A2A !important;
}

.sidebar .topmenu li.open a {
    color: #2A2A2A !important;
	background-color: #ecf0f1 !important; /* cfd6e4 */
    border-top: 1px solid #ecf0f1 !important;
}

.sidebar .topmenu li > .submenu li a {
	color: 	#2A2A2A !important;
	background-color: #d7e0e2 !important; /* b3bdcf */
}
.sidebar .topmenu li > .submenu li a:hover {
	color: 	#ecf0f1 !important; /* cfd6e4 */
}

.sidebar .topmenu li > .submenu li:after {
    background-color: #ffffff !important;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    bottom: auto;
    box-shadow: 0 0 0 1px #ffffff !important;
}

.sidebar .topmenu li > .submenu {
    background-color: #d7e0e2 !important; /* b3bdcf */
}

.sidebar .topmenu li > .submenu:after {
    border-left: 1px solid #ecf0f1 !important; /* cfd6e4 */
}

.sidebar .topmenu li > .submenu li.active:after {
    background-color: #00b1e1 !important;
	box-shadow: 0 0 0 2px #ffffff !important;
}

.sidebar .topmenu li > .submenu li.active a {
    color: #2A2A2A !important;
	background-color: #d7e0e2 !important; /* b3bdcf */
}

.sidebar .topmenu li.active a > .figure > [class*=" ico-"], .sidebar .topmenu li.active a > .figure > [class^="ico-"] {
    border-color: #906094 !important;
    color: #00b1e1 !important;
}

.sidebar .topmenu > li > .submenu > li.submenu-header {
    color: #2A2A2A;
}
.sidebar .submenu li a {
	/* dunne lijntjes tussen keuzes in second level menu */
	border-top: 1px solid #BFC8D7 !important;
}

.sidebar-minimized .sidebar .topmenu > li > .submenu > li.submenu-header {
	/* kleur header bij manueel inklappen (kleiner maken) hoofdmenu */
    color: #2A2A2A;
}

.sidebar .media-list-contact > .media:after {
	/* dunne lijntjes bij contacten in rechter openklap menu */
    border-color: #ecf0f1; /* cfd6e4 */
}

#radioBtn .notActive{
    color: #2A2A2A;
    background-color: #FFF;
	border-color: #cfd9db;
}

.custom-checkbox > input[type="checkbox"]:checked + label:before, .custom-radio > input[type="radio"]:checked + label:before {
    background-color: #63d3e9;
    border-color: #63d3e9;
}
.custom-checkbox:hover>label:before,.custom-radio:hover>label:before{
	border:1px solid #63d3e9;
}

@media (min-width: 1200px) {
	.arrow-separation {
		/*position: absolute;
		top: 0;
		bottom: 0;*/
		margin-right: 15px;
		margin-top: -10px;
		margin-bottom: -30px;
		border-right: 1px solid #cfd9db;
		min-height: 290px !important;	
	}
	
	.arrow-separation:after, .arrow-separation:before {
		left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
	}
	.arrow-separation:after {
		border-color: rgba(248, 248, 248, 0);
		border-left-color: #f8f8f8;
		border-width: 24px;
		margin-top: -20px;
	}
	.arrow-separation:before {
		border-color: rgba(207, 217, 219, 0);
		border-left-color: #cfd9db;
		border-width: 25px;
		margin-top: -21px;
	}
	#main .popover {
 	   width: 500px !important;
	   max-width: 500px;
	   z-index: 10000 !important;
	}
}

/*.popover.top {
    margin-top: -30px;
}*/



/* 
	makes popups in panels go over panel size 
	usage:
		
		<div class="panel-group" id="accordion1">
        	<div class="panel panel-default panel-overflow">
*/
.panel-overflow {
	overflow:visible !important;
}
/* end makes popups in panels go over panel size */



.panel-footer {
	overflow:visible !important;
}

#action-button{
	text-align:center;
}
#action-button-btn{
	height: 100px;
}

#table-actions .custom-checkbox {
	min-height:26px;	
}
.custom-radio {
	min-height:36px;	
}

#dowithselected ul {
	width: 100%;	
}

/* datatables css */
.dataTables_wrapper .dataTables_info {
    line-height: 32px;
    padding: 0px 0px 20px 0px;
    text-align: center;
}
.dataTables_wrapper .dataTables_length {
    padding: 0px 0px 20px 0px;
    text-align: left;
}
.dataTables_wrapper .dataTables_paginate {
    padding: 20px 0px 0px 0px;
    text-align: right;
}
.dataTables_wrapper .dataTables_filter {
    line-height: 32px;
    padding: 0px 0px 20px 0px;
    text-align: center;
}
.dataTables_wrapper .dataTables_filter > label > input {
	margin-left: 10px;
}

button.ColVis_Button {
	height: 35px;
    background-color: #F5F5F5;
    border-color: #CFD9DB;
    color: #6A6A6A !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	font-size: 13px;
    line-height: 18px;
    padding: 7px 12px;
	-moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
	box-shadow: 0px 0px 0px 0px #FFFFFF !important;
    font-weight: 400;
    margin-bottom: 0;
	margin-right:20px !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
button.ColVis_Button:hover {
	background: none !important;
	background-color: #EDEDED !important;
	border-color: #C6D2D5;
	color: #777777;
	outline: 0 none !important;
	text-decoration: none;
	box-shadow: 0px 0px 0px 0px #FFFFFF !important;
}
ul.ColVis_collection {
	border-radius: 4px;
	background-color: #F5F5F5;
    border-color: #CFD9DB;
	box-shadow: 0px 0px 0px 0px #FFFFFF !important;
}
ul.ColVis_collection li {
    background: none;
	border: 1px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	font-size: 13px;
    line-height: 14px;
    padding: 4px;
	color: #333;
	box-shadow: 0px 0px 0px 0px #FFFFFF !important;
}
ul.ColVis_collection li:hover {
	background: none !important;
	background-color: #EDEDED !important;
	border: 1px;
	color: #777777;
	outline: 0 none !important;
	text-decoration: none;
	box-shadow: 0px 0px 0px 0px #FFFFFF !important;
}
ul.ColVis_collection li label {
	font-weight: 500;	
}
/* end datatables css */

/* notes css */

.paper:before {
  content: '';
  position: absolute;
  width: 0px;
  top: 0;
  left: 39px;
  bottom: 0;
  border-left: 1px solid #F9D3D3;
}
.paper {
  position: relative;
  background: -webkit-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  background: -moz-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  background: linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}

#note-date {
	font-size:12px;
	color: #adadad;
	margin: 6px 0 7px 15px;
}

.paper textarea {
    background-color: transparent !important;
    border: medium none;
    height: 100%;
    line-height: 30px;
    min-height: 180px;
    padding: 30px 0 0 55px;
}

#note-items {
	margin-bottom: 0px;
}
#note-items > .list-group-item {
    border: 0px;
	border-top: 1px solid #DDDDDD;
}
#note-items > .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/* end notes css */

/* datatable sorting */
table.dataTable tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #f9f9f9;
}

table.dataTable tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
}
table.dataTable tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #f9f9f9;
}

table.dataTable tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f1f1f1;
}
table.dataTable tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #f9f9f9;
}

table.dataTable tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: #f1f1f1;
}
/* end datatable sorting */
/* datatable extra info in row */
td.details-control {
    background: url('../image/icons/details_open.png') no-repeat center center;
    cursor: pointer;
	min-width: 30px;
	max-width: 30px;
}
tr.shown td.details-control {
    background: url('../image/icons/details_close.png') no-repeat center center;
}
/* end datatable extra info in row */
/* datatable general styling */
.dataTables_wrapper .dataTable > thead > tr > th.sorting:before, .dataTables_wrapper .dataTable > thead > tr > th.sorting_asc:before, .dataTables_wrapper .dataTable > thead > tr > th.sorting_desc:before {
	float: right;
	margin-right: 0px !important;
}
.table > thead > tr > td, .table > thead > tr > th {
	vertical-align: top !important;	
}
.table-extra-info {
	float:right;
	width: 95%;
}
.table-extra-info > tbody > tr > td, .table-extra-info > tbody > tr > th {
	padding: 3px 5px 3px 5px;
}
/* end datatable general styling */
.panel-mailfilters {
	max-height:450px;
	padding: 0px !important;
}
.mailfilters {
	margin-bottom:0px !important;
}
.mailfilters td {
	padding-bottom:4px !important;
	padding-top:4px !important;
}
#mailfilters .form-group {
	padding-bottom: 5px;
	padding-top: 5px;
}


/* gritter kul - notifications */
.gritter-item-wrapper.gritter-kul {
    background-color: #52BDEC;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
}
.gritter-item-wrapper.gritter-kul .gritter-item, .gritter-item-wrapper.gritter-kul .gritter-item a {
    color: #FFE;
}
.gritter-item-wrapper.gritter-kul .gritter-close {
    color: #FFE;
}
.gritter-item-wrapper.gritter-kul .gritter-close:hover,
.gritter-item-wrapper.gritter-kul .gritter-close:active,
.gritter-item-wrapper.gritter-kul .gritter-close:focus {
    color: #FFE;
    background-color: #00407A;
}
.gritter-item-wrapper.gritter-kul .gritter-title {
    color: #FFF;
}
/* end gritter kul - notifications */


/* fix vertical positioning custom checkboxes after bootstrap upgrade from v3.1.1 to 3.2 */
.radio label, .checkbox label {
    display: inline !important;
}

.form-horizontal .control-label {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 7px !important;
}
.radio, .checkbox {
    padding-left: 20px !important;
	position:inherit !important;
}
/* fix vertical positioning custom checkboxes after bootstrap upgrade from v3.1.1 to 3.2 */

/* hand on mouseover on more info buttons stageverdeling.php */
#btnshowinfo td:hover {
    cursor: pointer;
}
#closemoreinfo {
    cursor: pointer;
}
/* hand on mouseover on more info buttons stageverdeling.php */

/* padding table op stagecoordinator-kwaliteitszorg.php */
#list-results_length, #list-results_info, #list-results_filter, #list-results-done_length, #list-results-done_info, #list-results-done_filter {
	padding-bottom: 0px !important;
}
#list-results_paginate, #list-results-done_paginate {
	padding-top: 5px !important;
}
/* padding table op stagecoordinator-kwaliteitszorg.php */

/* highlight part of screen for Tour Guide */
.introjs-helperLayer {
    background-color: rgba(255, 255, 255, 0.3) !important;
}
/* highlight part of screen for Tour Guide */


/* TODO: Omzetten in less
/* Make labels rounder */
#zoek_content span.label{
    padding-left: 10px;
    padding-right: 3px;
    padding-top: 2px;
    height: 23px;
    border-radius: 1em;
    cursor:pointer;
}
#zoek_content span.label a{
    color: #fff;
    font-size: 1.0em;
    padding:0;
}
#zoek_content .badge{
    background-color: #fff !important;
    color:#00b1e1 !important;
}
#zoek_content .badge:hover{
    color: red !important;
}
#zoek_content .filter-column{
    padding:0px !important;
}
#zoek_content .form-group{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#zoek_content .filter-column > div{
    padding:20px;
}
#zoek_content .filter-column.filter-column-left > div:nth-child(odd){
    background-color: #e7f4f9;
}
#zoek_content .filter-column.filter-column-right > div:nth-child(even){
    background-color: #e7f4f9;
}
#zoek_content .filter-column > div.current-filter{
    background-color: #e7f4f9;
}
#zoek_content .filter-slider .control-label{
    padding-top: 23px !important;
}
#zoek_content .filter-slider input.filter-input-slider{
    border:0;
    width:180px;
    text-align: center;
}
#zoek_filter .hideitems {
   display:none;
}
#zoek_filter.panel-heading{
    padding: 0!important;
}


#zoek_search{
    
}
#zoek_search .search-column{
    padding-right: 45px
}
#zoek_search h6{
    font-weight: bold;
    margin-bottom: 0px;
    margin-left:10px;
    margin-top:20px;
}
#zoek_search h6:first-of-type{
    margin-top:0px;
}
#zoek_search h6{
    margin-left:10px;
    margin-bottom:2px;
}
#zoek_search p{
    margin-left:10px;
    margin-bottom:0px;
}
#zoek_search dfn{
    background-color: #ddd;
    padding: 0px 5px;
    font-weight: bold;
}
#zoek_search div.joker,
#zoek_search div.wildcard{
    display: inline-block;
    margin-left:10px;
}
#zoek_search div.joker{
    margin-top: 17px;
}
#zoek_search div.wildcard{
    margin-bottom: 17px;
}
#zoek_search mark{
    background-color: #faebcc;
}


html.dashboard span.label{
    padding: 2px 10px;
    height: 23px;
    border-radius: 1em;
}
html.dashboard span.label.label-primary a{
    color:#fff;
}
html.dashboard span.label.label-primary i{
    padding-right:5px;
}
@media (min-width: 990px) {
    #zoek_content .filter-column.filter-column-left{
        border-right:dotted;
        border-right-color:#cfd9db
    }
}