label.required::after {
    content: "*";
    color: red;
    position: relative;
    top: -1px;
    right: -2px;
}

td {
    position: relative;
    padding-right: 26px !important;
}

.ui-datepicker-calendar td {
    padding-right: 0 !important;
}

td.required::before {
    content: "*";
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}

.matrix th {
    min-width: 15em
}

.matrix .form-group {
    padding: 0 !important;
}

.required-coloring {
    color: red;
}

input[type="radio"].readOnly, span.radio.readOnly label {
    cursor: default;
    pointer-events: none;
}

td.radio-cell, td.radio-cell * {
    cursor: pointer;
}

td.radio-cell.readOnly, td.radio-cell.readOnly * {
    cursor: default;
}

.selectize-control.readOnly * {
    color: #a2a2a2;
}

.selectize-control.readOnly [data-selectable].option {
    cursor: default;
    pointer-events: none;
}

.selectize-control.readOnly .selectize-input {
    cursor: pointer !important;
}

/* CSS based autogrow borrowed from: https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
}
.grow-wrap::after {
    /* Note the weird space! Needed to prevent jumpy behavior */
    content: attr(data-replicated-value) " ";

    /* This is how textarea text behaves */
    white-space: pre-wrap;

    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}
.grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;

    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;

    /* when (empty) locked textarea questions get unlocked (for fist time), the height is only 12px. adding the default min height */
    min-height: 52px;
}
.grow-wrap > textarea,
.grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid #cfd9db;
    padding: 0.5rem;
    font: inherit;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}
/* end autogrow */
