.panel .panel-heading h2 {
    margin: 5px 0 5px 0;
}

.panel .panel-heading h3 {
    margin: 5px 0 5px 0;
}

.panel-body {
    padding: 0 14px 0 14px;
}

.panel {
    margin-bottom: 10px;
}

.kfb-category {
    margin-top: 10px;
}

.form-group {
    border-top: 1px solid #4d4d4d !important;
}

#workflow-history.panel-body {
    padding-top: 10px;
}

#form-information.panel-body {
    padding-top: 10px;
}

#kfb-main-form-information.panel-body {
    padding-top: 10px;
}

form.form-horizontal {
    padding: 10px 10px 0 10px;
}

.table.matrix {
    margin-top: 15px;
}

.table.matrix .form-group {
    border-top: 0 !important;
}

/* general fault message of a form */

.form-group.mb0 {
    border-top: 0 !important;
}

.alert.mb0 {
    margin-top: 10px;
}

/* submit toolbar as fixed footer */

#submit-toolbar {
    background-color: #e9f9fc;
    padding-left:20px;
    padding-right:20px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    border-top:1px solid lightslategray;
    z-index: 10000;
}
