/* Some custom css hacks for the flow permission matrix */

#flowPermissions input[type=radio] {
    display: none;
}

#flowPermissions input[type=radio]:checked.rw + label {
    background-color: rgb(86, 207, 231);
}

#flowPermissions td {
    padding: 0 2px;
}
