.panel-heading a{
    display: block;
    padding:8px;
    color:#0a0a0a;
    font-weight: bold;
    min-height: 36px;
}

.panel-heading .title {
    display: block;
    width: 90%;
    float: left;
}

.panel-status-indicator:before {
    content: " > ";
    float: right;
    transition: all 0.5s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: 5px;
    font-weight: bold;
}

.panel-status-indicator.active:before {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}
