<template>
  <div
    ref="dropZoneRef"
    :class="hoverClass"
    class="h-full flex flex-row justify-between"
  >
    <slot class="w-4/5" />
    <div
      v-if="actionAllowed"
      class="text-center text-white bg-blue-800 w-1/5 h-full flex flex-col justify-center"
    >
      <div class="text-2xl">+</div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { computed, ref } from "vue";
import { MatrixCategoryNode } from "@/api/queries/types/formTypes";
import { useAddMatrixQuestionDropAction } from "@/composables/useAddMatrixQuestionDropAction";
import { ActionType } from "@/stores/addAndCopy";
import { useDropZoneForMatrixQuestion } from "@/composables/useDropZoneForMatrixQuestion";
import { MatrixQuestion } from "@/stores/dragAndDropStore";

const props = defineProps<{ matrix: MatrixCategoryNode; colIndex: number }>();
const matrixQuestion = computed<MatrixQuestion>(() => ({
  matrix: props.matrix,
  colIndex: props.colIndex,
}));

const dropZoneRef = ref<HTMLElement>();

const { onDrop, actionAllowed } = useAddMatrixQuestionDropAction(
  matrixQuestion,
  [
    ActionType.add.questionChoice,
    ActionType.add.questionDate,
    ActionType.add.questionNumber,
    ActionType.add.questionText,
    ActionType.add.questionUpload,
  ],
);

useDropZoneForMatrixQuestion(dropZoneRef, matrixQuestion, onDrop);

const hoverClass = computed(() => (actionAllowed.value ? "bg-blue-200" : ""));
</script>
