<template>
  <div style="width: 850px">
    <div class="flex mb-2">
      <div class="mr-2">
        <PositionTagger
          :position="matrix.position"
          :tooltip="`id: ${matrix.id} \nuid: ${matrix.uid}`"
        />
      </div>
      <div class="mr-2 ml-2">
        <NodeTypeRenderer :type="firstQuestionInCol.subType" />
      </div>
      <div class="mr-2">
        <ActiveLanguageBadge />
      </div>
      <div><span v-html="questionLabel"></span></div>
    </div>

    <RelationTable :relations="relations" show-source />

    <!-- confirmation & footer -->
    <Divider></Divider>
    <Message v-if="relations.length === 0 || forceDelete" severity="warn">
      Ben je zeker dat je deze vraag wil verwijderen? Dit kan niet ongedaan
      gemaakt worden.
    </Message>

    <div class="flex flex-row">
      <div v-if="relations.length !== 0" class="basis-3/4">
        <div class="flex align-items-center gap-2">
          <Checkbox
            v-model="forceDelete"
            :binary="true"
            input-id="forceDelete"
          />
          <label for="forceDelete">
            Verwijder de vraag en alle relaties.
          </label>
        </div>
      </div>

      <div class="basis-3/4">
        <Button
          v-if="!isDeleting"
          id="btnDelete"
          :disabled="relations.length !== 0 && !forceDelete"
          label="Verwijder vraag"
          class="w-full"
          severity="success"
          icon="pi pi-trash"
          @click="deleteNode"
        />
        <Button
          v-else
          disabled
          label="Verwijder vraag"
          class="w-full"
          severity="success"
          icon="pi pi-spin spinner"
        />
      </div>
      <div class="basis-1/4 text-right">
        <Button
          v-if="!isDeleting"
          label="Cancel"
          severity="secondary"
          outlined
          icon="pi pi-times"
          @click="cancelDeletion"
        />
      </div>
    </div>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import NodeTypeRenderer from "@/components/formBuilder/formList/formListEditor/nodeRenderer/NodeTypeRenderer.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { computed, onMounted, ref, toRef } from "vue";
import { useLanguageStore } from "@/stores/language";
import type {
  MatrixCategoryNode,
  NodeRelation,
} from "@/api/queries/types/formTypes";
import { getNodeRelations } from "@/api/queries/getNodeRelations";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import RelationTable from "@/components/formBuilder/formList/formListEditor/dialog/RelationTable.vue";
import { useDeleteMatrixQuestionCommand } from "@/api/commands/DeleteMatrixQuestion";

const props = defineProps<{ matrix: MatrixCategoryNode; colIndex: number }>();
const firstQuestionInCol = computed(
  () => props.matrix.children[0].children[props.colIndex],
);

const formStore = useFormStore();
const languageStore = useLanguageStore();
const relations = ref<NodeRelation[]>([]);
const emit = defineEmits(["cancel", "saved"]);

onMounted((): void => {
  let btnDelete: HTMLElement | null = document.getElementById("btnDelete");
  if (btnDelete) {
    btnDelete.focus();
  }
});

const forceDelete = ref(false);

// -- command and deleting ---------------------------------------------------
const { command, executeCommand } = useDeleteMatrixQuestionCommand(
  toRef(props, "matrix"),
  toRef(props, "colIndex"),
);

const isDeleting = ref(false);

async function deleteNode() {
  isDeleting.value = true;
  await executeCommand();
  isDeleting.value = false;
  emit("saved");
}

function cancelDeletion(): void {
  emit("cancel");
}

onMounted((): void => {
  void getRelations();
});

async function getRelations() {
  relations.value = [];
  for (const row of props.matrix.children) {
    const result = await getNodeRelations(
      formStore.form.id,
      row.children[props.colIndex].id,
      languageStore.activeLanguage,
    );
    relations.value = relations.value.concat(result);
  }
}

const questionLabel = computed(
  () =>
    firstQuestionInCol.value.info.label[
      languageStore.activeLanguage.toLowerCase()
    ],
);
</script>
