<template>
  <div>
    <Draggable :list="items" item-key="id" ghost-class="ghost">
      <template #item="{ element }">
        <div class="flex flex-row p-2 bg-stone-100 mb-1 cursor-move">
          <div class="basis-1/12">
            <i class="pi pi-arrows-v"></i>
          </div>
          <div class="basis-11/12" v-html="element.label" />
        </div>
      </template>
    </Draggable>

    <!-- save button -->
    <div class="flex gap-2 w-full">
      <div class="grow">
        <Button
          v-if="!isSaving"
          :disabled="!changed"
          label="Bewaar volgorde"
          icon="pi pi-save"
          class="w-full"
          severity="success"
          @click="save"
        />
        <Button
          v-else
          disabled
          label="Bewaren van volgorde..."
          icon="pi pi-spin pi-spinner"
          class="w-full"
          severity="success"
        />
      </div>
      <div>
        <Button
          label="Annuleren"
          icon="pi pi-times"
          outlined
          class="w-full"
          severity="secondary"
          @click="$emit('cancel')"
        />
      </div>
    </div>

    <!-- command renderer -->
    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import CommandRenderer from "../../_general/CommandRenderer.vue";
import { ref, toRef } from "vue";
import Draggable from "vuedraggable";
import type { MatrixCategoryNode } from "@/api/queries/types/formTypes";
import { useUpdateMatrixRowOrderCommand } from "@/api/commands/UpdateMatrixRowOrder";
import { useUpdateMatrixColOrderCommand } from "@/api/commands/UpdateMatrixColOrder";

const props = defineProps<{
  matrix: MatrixCategoryNode;
  commandUsable:
    | typeof useUpdateMatrixRowOrderCommand
    | typeof useUpdateMatrixColOrderCommand;
}>();

const emit = defineEmits(["saved", "cancel"]);

const { changed, items, command, executeCommand } = props.commandUsable(
  toRef(props, "matrix"),
);

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
  emit("saved");
}
</script>
