<template>
  <div id="matrixEditor" class="flex flex-col gap-2 w-full h-full">
    <PaneHeader @close="formStore.hideMatrixEditor">
      <div class="px-2 items-center pt-1">
        <span class="pi pi-table mr-2"></span>
        <span class="text-lg font-semibold text-stone-600">Tabel editor</span>
      </div>
    </PaneHeader>

    <div class="flex gap-2 items-center mx-4">
      <div
        class="text-xl font-semibold my-1"
        v-html="
          matrix.info.label[languageStore.activeLanguage]
            ? matrix.info.label[languageStore.activeLanguage]
            : '[label]'
        "
      />
      <div>
        <Button
          rounded
          icon="pi pi-pencil"
          text
          severity="secondary"
          @click="formStore.selectNode(matrix.id)"
        />
      </div>
    </div>

    <DescriptionBox class="mx-4" :node="matrix" />

    <div class="overflow-hidden max-h-5/6 mt-2 mx-4 bg-white border">
      <div class="overflow-auto max-h-full border-stone-300">
        <table
          class="relative w-full border-separate border-spacing-0 border-b-2 h-full"
        >
          <thead>
            <tr>
              <th
                class="sticky top-0 left-0 border-2 bg-stone-100 border-stone-300 z-20 min-w-[15rem]"
              >
                <ColHeaderDropZone
                  :matrix="matrix"
                  :col-index="0"
                  class="flexgap-2 items-center justify-between"
                >
                  <div
                    class="p-2"
                    v-html="
                      matrix.firstHeaderCellTitle[languageStore.activeLanguage]
                    "
                  />
                  <div>
                    <Button
                      rounded
                      icon="pi pi-pencil"
                      text
                      severity="secondary"
                      @click="formStore.selectNode(matrix.id)"
                    />
                  </div>
                </ColHeaderDropZone>
              </th>
              <th
                v-for="(question, index) of visibleCols"
                :key="question.id"
                class="sticky top-0 border-b-2 border-t-2 border-r-2 h-full bg-stone-100 border-stone-300 z-10 min-w-[15rem]"
              >
                <ColHeaderDropZone :matrix="matrix" :col-index="index + 1">
                  <div class="p-2 flex gap-2 items-center justify-between">
                    <div
                      class="py-1 px-1.5 ml-1 w-7 text-sm text-gray-400 rounded-lg border"
                    >
                      <NodeTypeRenderer :type="question.subType" />
                    </div>
                    <div
                      class="text-left"
                      v-html="question.info.label[languageStore.activeLanguage]"
                    />
                    <div>
                      <Button
                        icon="pi pi-bars"
                        rounded
                        outlined
                        severity="secondary"
                        @click="toggleMenu($event, question, 'col')"
                      />
                    </div>
                  </div>
                </ColHeaderDropZone>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) of visibleRows" :key="row.id">
              <td
                class="sticky left-0 border-r-2 border-l-2 border-stone-300 z-10 bg-stone-100"
                :class="{ 'border-t-2': index !== 0 }"
              >
                <RowHeaderDropZone :node="row">
                  <div
                    class="flex gap-2 p-2 justify-between items-center h-full"
                  >
                    <div
                      v-if="
                        row.info.description[languageStore.activeLanguage] ||
                        row.info.roleDescriptions.length > 0
                      "
                      class="flex flex-col h-full gap-2 w-full"
                    >
                      <div class="grow flex items-end">
                        <span
                          v-html="
                            `<strong>${
                              row.info.label[languageStore.activeLanguage]
                            }</strong>`
                          "
                        />
                      </div>

                      <DescriptionBox class="grow" :node="row" />
                    </div>

                    <div
                      v-else
                      v-html="
                        `<strong>${
                          row.info.label[languageStore.activeLanguage]
                        }</strong>`
                      "
                    />

                    <div>
                      <Button
                        icon="pi pi-bars"
                        rounded
                        outlined
                        severity="secondary"
                        @click="toggleMenu($event, row, 'row')"
                      />
                    </div>
                  </div>
                </RowHeaderDropZone>

                <div
                  :node="row"
                  type="category"
                  :allowed-action-types="[ActionType.copy]"
                />
              </td>
              <td
                v-for="node of row.children.flatMap((node) =>
                  isQuestionNode(node) && node.permission != null ? [node] : [],
                )"
                :key="node.id"
                class="border-stone-300 z-0 border-r-2 h-full"
                :class="{
                  'border-t-2': index !== 0,
                }"
              >
                <RelationDropZone
                  v-if="node.permission !== null"
                  class="flex gap-2 justify-between items-center h-full pr-2 py-3"
                  :node="node"
                  :class="
                    (hovered(node) ? 'bg-blue-100' : '') +
                    (draggingRelation(node) ? ' bg-blue-50 ' : ' ') +
                    useQuestionClass(toRef(node), {
                      hovered: hoveredStyling,
                      status: statusStyling,
                    }).value
                  "
                >
                  <div class="flex flex-col h-full gap-2">
                    <div class="p-2 flex gap-2 items-baseline">
                      <PositionTagger
                        :position="node.position"
                        :tooltip="`id: ${node.id}`"
                      />

                      <QuestionRelationIcon
                        :node="node"
                        class="py-1 px-1.5 text-sm text-gray-400 rounded-lg border-[1px] flex-row flex gap-1.5"
                      />
                    </div>

                    <div>
                      <div class="flex pl-2">
                        <QuestionFormRenderer
                          v-if="
                            node.type === 'question' &&
                            node.permission === 'writeable'
                          "
                          :node="node"
                        />
                        <div v-else>
                          <div class="p-2 mr-5 ml-4 text-xs bg-red-50">
                            ... het antwoord op deze vraag is leesbaar maar niet
                            aanpasbaar
                            <span v-if="formStore.filter.role.role !== ''">
                              (voor {{ formStore.filter.role.label }} in de stap
                              '{{ formStore.filter.step.label }}')
                            </span>
                            .
                          </div>
                        </div>
                        <div v-if="node.required" class="text-red-600">*</div>
                      </div>

                      <DescriptionBox :node="node" />
                    </div>
                  </div>
                  <div>
                    <Button
                      rounded
                      icon="pi pi-pencil"
                      outlined
                      severity="secondary"
                      @click="formStore.selectNode(node.id)"
                    />
                  </div>
                </RelationDropZone>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex flex-row gap-2 mx-4 mb-4 flex-wrap mt-2">
      <Button
        icon="pi pi-list"
        label="Wijzig volgorde rijen"
        severity="secondary"
        @click="
          dialogHeader = 'Wijzig volgorde rijen';
          dialogType = DialogType.MatrixRowSort;
        "
      />
      <Button
        icon="pi pi-list"
        label="Wijzig volgorde kolommen"
        severity="secondary"
        @click="
          dialogHeader = 'Wijzig volgorde kolommen';
          dialogType = DialogType.MatrixColSort;
        "
      />
    </div>

    <Menu
      ref="menu"
      :model="menuType === 'row' ? categoryMenu : questionMenu"
      :popup="true"
    />
    <Dialog
      v-model:visible="showDialog"
      class="w-1/2"
      :header="dialogHeader"
      modal
    >
      <MatrixSortDialog
        v-if="dialogType === DialogType.MatrixRowSort"
        :matrix="matrix"
        :command-usable="useUpdateMatrixRowOrderCommand"
        @saved="showDialog = false"
        @cancel="showDialog = false"
      />
      <MatrixSortDialog
        v-if="dialogType === DialogType.MatrixColSort"
        :matrix="matrix"
        :command-usable="useUpdateMatrixColOrderCommand"
        @saved="showDialog = false"
        @cancel="showDialog = false"
      />
      <QuestionLabelDialog
        v-if="
          dialogType === DialogType.QuestionLabel &&
          clickedNode &&
          isQuestionNode(clickedNode)
        "
        :node="clickedNode"
        @cancel="showDialog = false"
        @saved="showDialog = false"
      />
      <DeleteMatrixQuestionDialog
        v-if="
          dialogType === DialogType.DeleteMatrixQuestion &&
          clickedNode &&
          isQuestionNode(clickedNode)
        "
        :matrix="props.matrix"
        :col-index="clickedNode.position.slice(-1)[0]"
        @cancel="showDialog = false"
        @saved="showDialog = false"
      />
    </Dialog>
  </div>
</template>

<script setup lang="ts">
import { FormNode, MatrixCategoryNode } from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import { computed, ref, toRef } from "vue";
import Menu from "primevue/menu";
import QuestionFormRenderer from "../formListEditor/nodeRenderer/QuestionFormRenderer.vue";
import NodeTypeRenderer from "../formListEditor/nodeRenderer/NodeTypeRenderer.vue";
import { isDefined } from "@vueuse/core";
import PositionTagger from "../../_general/PositionTagger.vue";
import { useFormStore } from "@/stores/form";
import QuestionLabelDialog from "./QuestionLabelDialog.vue";
import DeleteMatrixQuestionDialog from "./DeleteMatrixQuestionDialog.vue";
import PaneHeader from "../../_general/PaneHeader.vue";
import DescriptionBox from "../../_general/DescriptionBox.vue";
import MatrixSortDialog from "./MatrixSortDialog.vue";
import { isQuestionNode } from "@/api/queries/types/formTypes";
import { useUpdateMatrixRowOrderCommand } from "@/api/commands/UpdateMatrixRowOrder";
import { useUpdateMatrixColOrderCommand } from "@/api/commands/UpdateMatrixColOrder";
import { ActionType, useAddAndCopyStore } from "@/stores/addAndCopy";
import { DragType, useDragAndDropStore } from "@/stores/dragAndDropStore";
import RelationDropZone from "./RelationDropZone.vue";
import RowHeaderDropZone from "./RowHeaderDropZone.vue";
import ColHeaderDropZone from "./ColHeaderDropZone.vue";
import QuestionRelationIcon from "../formListEditor/nodeRenderer/QuestionRelationIcon.vue";
import { useQuestionClass } from "@/composables/useQuestionClass";

const languageStore = useLanguageStore();
const formStore = useFormStore();
const props = defineProps<{
  matrix: MatrixCategoryNode;
}>();

function rowHasVisibleQuestions(row: FormNode) {
  return (
    row.children.filter(
      (question) => isQuestionNode(question) && question.permission !== null,
    ).length > 0
  );
}

const visibleRows = computed(() =>
  props.matrix.children.filter((row) => rowHasVisibleQuestions(row)),
);

function colHasVisibleQuestions(matrix: MatrixCategoryNode, colIndex: number) {
  return (
    matrix.children.filter(
      (row) =>
        isQuestionNode(row.children[colIndex]) &&
        row.children[colIndex].permission !== null,
    ).length > 0
  );
}

const visibleCols = computed(() =>
  props.matrix.children[0].children.filter((_, index) =>
    colHasVisibleQuestions(props.matrix, index),
  ),
);

const addAndCopyStore = useAddAndCopyStore();
const dragAndDropStore = useDragAndDropStore();

const enum DialogType {
  QuestionLabel,
  DeleteMatrixQuestion,
  MatrixRowSort,
  MatrixColSort,
}
const dialogHeader = ref("");
const dialogType = ref<DialogType>();
const showDialog = computed({
  get: () => dialogType.value !== undefined,
  set: (value) => {
    if (value !== false)
      throw new Error("Cannot set showDialog to true, use dialogType instead");
    dialogType.value = undefined;
  },
});

const menu = ref<InstanceType<typeof Menu>>();
const menuType = ref<"row" | "col">("row");

const categoryMenu = computed(() => [
  {
    label: clickedNode.value?.info.label[languageStore.activeLanguage],
    items: [
      {
        label: "Bewerken",
        icon: "pi pi-pencil",
        command: () => {
          if (isDefined(clickedNode.value)) {
            void formStore.selectNode(clickedNode.value.id);
          }
        },
      },
      {
        label: "Rij verwijderen",
        icon: "pi pi-times",
        command: () => {
          if (props.matrix.children.length === 1) {
            alert("Je kan niet alle rijen verwijderen"); //TODO make dialog
            return;
          }
          if (clickedNode.value) formStore.deleteNode(clickedNode.value);
        },
      },
    ],
  },
  {
    label: "Rij kopiëren",
    icon: "pi pi-plus",
    command: () => {
      if (clickedNode.value)
        void addAndCopyStore.selectNodeForCopying(clickedNode.value);
    },
  },
]);
const questionMenu = computed(() => [
  {
    label: clickedNode.value?.info.label[languageStore.activeLanguage],
    items: [
      {
        label: "Vraagstelling aanpassen",
        icon: "pi pi-pencil",
        command: () => {
          dialogType.value = DialogType.QuestionLabel;
          dialogHeader.value = "Vraagstelling aanpassen";
        },
      },
      {
        label: "Vraag verwijderen",
        icon: "pi pi-times",
        command: () => {
          if (props.matrix.children[0].children.length === 1) {
            alert("Je kan niet alle kolommen verwijderen"); //TODO make dialog
            return;
          }
          dialogType.value = DialogType.DeleteMatrixQuestion;
          dialogHeader.value = "Vraag uit tabel verwijderen";
        },
      },
    ],
  },
]);

const clickedNode = ref<FormNode>();
function toggleMenu(event: Event, node: FormNode, type: "row" | "col") {
  clickedNode.value = node;
  menuType.value = type;
  if (isDefined(menu.value)) {
    menu.value.toggle(event);
  }
}

const hovered = (node: FormNode) =>
  dragAndDropStore.hoveredNodeId === node.id &&
  dragAndDropStore.draggedNodeId !== node.id &&
  dragAndDropStore.dragType === DragType.Relation;

const draggingRelation = (node: FormNode) =>
  dragAndDropStore.draggedNodeId === node.id &&
  dragAndDropStore.dragType === DragType.Relation;

const hoveredStyling = " ";
const statusStyling = {
  default: " ",
  selected: "border-2 border-stone-600",
  dragging: "border-2 border-blue-600",
};
</script>
../formListEditor/nodeRenderer/NodeTypeRenderer.vue
