<template>
  <div class="flex flex-col gap-4">
    <div class="flex">
      <div class="flex-initial w-1/4 text-right pr-2 pt-2">
        Vraagstelling
        <ActiveLanguageBadge />
      </div>
      <div class="flex-initial w-3/4">
        <TextEditor v-model="question" limited-controls :height="50" />
      </div>
    </div>
    <div class="flex justify-end gap-2">
      <Button label="Cancel" severity="secondary" @click="$emit('cancel')" />
      <Button label="Opslaan" severity="success" @click="save" />
    </div>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { QuestionNode } from "@/api/queries/types/formTypes";
import TextEditor from "../../_general/TextEditor.vue";
import ActiveLanguageBadge from "../../_general/ActiveLanguageBadge.vue";
import { toRef } from "vue";
import { useUpdateMatrixQuestionCommand } from "@/api/commands/UpdateMatrixQuestion";
import CommandRenderer from "../../_general/CommandRenderer.vue";

const props = defineProps<{ node: QuestionNode }>();
const emit = defineEmits(["cancel", "saved"]);

async function save() {
  await executeCommand();
  emit("saved");
}

const { question, command, executeCommand } = useUpdateMatrixQuestionCommand(
  toRef(props, "node"),
);
</script>
