<template>
  <div ref="dropZoneRef">
    <slot />
  </div>
</template>
<script setup lang="ts">
import { ref, toRef } from "vue";
import { QuestionNode } from "@/api/queries/types/formTypes";
import { useDropZoneForNode } from "@/composables/useDropZoneForNode";
import { useRelationDropAction } from "@/composables/useRelationDropAction";

const props = defineProps<{ node: QuestionNode }>();
const dropZoneRef = ref<HTMLElement>();

const { onDrop } = useRelationDropAction(toRef(props, "node"));
useDropZoneForNode(dropZoneRef, toRef(props, "node"), onDrop);
</script>
