<template>
  <div ref="dropZoneRef" :class="hoverClass" class="h-full flex flex-col">
    <div v-if="actionAllowed" class="text-2xl">&nbsp;</div>
    <slot />
    <div v-if="actionAllowed" class="text-center text-white bg-blue-800">
      <div class="text-2xl">+</div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { computed, ref, toRef } from "vue";
import { FormNode } from "@/api/queries/types/formTypes";
import { useDropZoneForNode } from "@/composables/useDropZoneForNode";
import { useAddCopyMoveDropAction } from "@/composables/useAddCopyMoveDropAction";
import { ActionType } from "@/stores/addAndCopy";

const props = defineProps<{ node: FormNode }>();
const dropZoneRef = ref<HTMLElement>();

const { onDrop, actionAllowed } = useAddCopyMoveDropAction(
  toRef(props, "node"),
  [ActionType.move, ActionType.copy],
);
useDropZoneForNode(dropZoneRef, toRef(props, "node"), onDrop);

const hoverClass = computed(() => (actionAllowed.value ? "bg-blue-200" : ""));
</script>
