{% trans_default_domain 'kulFormUpload' %}

{# We need Chart.js here #}

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        $(".radar-chart-node").each(function( key, value ) {
            let _this = $(this);
            let chartData = _this.data('chart-data');
            let unitSign = _this.data('unit-sign');
            let hidePointValues = _this.data('hide-point-values');
            let hidePointUnitSuffix = _this.data('hide-point-unit-suffix');
            let hideScaleValues = _this.data('hide-scale-values');
            let hideScaleUnitSuffix = _this.data('hide-scale-suffix');
            let chartLabel = _this.data('label');
            let chartMinValue = _this.data('min-value');
            let chartMaxValue = _this.data('max-value');
            let chartId = _this.attr('id');

            new Chart($('#'+chartId), {
                "type": "radar",
                "data": {
                    "labels": chartData.labels,
                    "datasets": [{
                        "label": chartLabel,
                        "data": chartData.data,
                        "fill": true,
                        "backgroundColor": "rgba(60,124,220, 0.2)",
                        "borderColor": "rgb(60,124,220)",
                        "pointBackgroundColor": "rgb(60,124,220)",
                        "pointBorderColor": "#fff",
                        "pointHoverBackgroundColor": "#fff",
                        "pointHoverBorderColor": "rgb(60,124,220)"
                    }],
                },
                "options": {
                    "elements": {
                        "line": {
                            "tension": 0, // disabling curved  'bezier' lines improves performance
                            "borderWidth": 3
                        }
                    },
                    "scale": {
                        "angleLines": {
                            "display": true
                        },
                        "ticks": {
                            "min": chartMinValue,
                            "max": chartMaxValue,
                            "callback": function(value, index, values) {
                                if (hideScaleValues) {
                                    return '';
                                }

                                if (!hideScaleUnitSuffix && '' !== unitSign) {
                                    return value + ' ' + unitSign;
                                }

                                return value;
                            },
                            "fontSize": 12
                        },
                        "pointLabels": {
                            "fontSize": 12
                        }
                    },
                    "tooltips": {
                        "callbacks": {
                            "label": function(tooltipItem, data) {
                                if (hidePointValues) {
                                    return ' ' + data.datasets[tooltipItem.datasetIndex].label;
                                }

                                if (!hidePointUnitSuffix && '' !== unitSign) {
                                    return ' ' + data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel + ' ' + unitSign;
                                }

                                return ' ' + data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel;
                            },
                            "title": function(tooltipItem, data) {
                                // also fixes issue in title in some browser versions: default shows value (answer) instead of point-label
                                return data.labels[tooltipItem[0].index];
                            }
                        }
                    }
                }
            });
        });
    });
</script>
