<template>
  <h2 class="font-bold">Nieuwe template aanmaken.</h2>

  <PermissionTemplateTable v-model="permissionTemplate.flowPermission" />
  <Divider />
  <div class="flex mt-3">
    <div class="flex-auto pr-2">
      <InputText
        v-model="permissionTemplate.name"
        class="w-full"
        :class="v$.name.$error ? 'p-invalid' : ''"
      />
    </div>
    <div class="mr-2">
      <Button
        label="Annuleren"
        severity="secondary"
        outlined
        @click="$emit('canceled')"
      />
    </div>

    <Button
      :disabled="isSaving"
      label="Bewaar Template"
      severity="success"
      @click="saveTemplate"
    />
  </div>

  <div v-if="v$.name.$error" class="text-red-500 text-sm text-left">
    Verplicht veld.
  </div>
  <CommandRenderer :command="command" />
</template>
<script setup lang="ts">
import PermissionTemplateTable from "./PermissionTemplateTable.vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import { ref } from "vue";
import Divider from "primevue/divider";
import { useAddPermissionTemplateCommand } from "@/api/commands/PermissionsTemplateCommands";

const emit = defineEmits(["saved", "canceled"]);

const { permissionTemplate, command, executeCommand } =
  useAddPermissionTemplateCommand();

const rules = { name: { required } };
const v$ = useVuelidate(rules, permissionTemplate.value);

const isSaving = ref<boolean>(false);
async function saveTemplate() {
  const valid = await v$.value.$validate();
  if (!valid) return;

  isSaving.value = true;
  const response = await executeCommand();
  isSaving.value = false;
  if (response) emit("saved");
}
</script>
