<template>
  <h2 class="font-bold">Template '{{ currentTemplate.name }}' aanpassen.</h2>

  <PermissionTemplateTable v-model="newPermissionTemplate.flowPermission" />
  <Divider />
  <div class="flex mt-3">
    <div class="flex-auto pr-2">
      <InputText
        v-model="newPermissionTemplate.name"
        class="w-full"
        :class="v$.name.$error ? 'p-invalid' : ''"
      />
    </div>

    <div class="mr-2">
      <Button
        label="Annuleren"
        severity="secondary"
        outlined
        @click="$emit('canceled')"
      />
    </div>

    <Button
      label="Bewaar Template"
      severity="success"
      :disabled="!changed || isSaving"
      @click="saveTemplate"
    />
  </div>

  <div v-if="v$.name.$error" class="text-red-500 text-sm text-left">
    Verplicht veld.
  </div>

  <CommandRenderer v-if="command" :command="command" />
</template>
<script setup lang="ts">
import { ref, toRef } from "vue";
import type { FlowPermissionTemplate } from "@/api/queries/types/permissionTypes";
import { useUpdatePermissionTemplateCommand } from "@/api/commands/PermissionsTemplateCommands";

import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import PermissionTemplateTable from "./PermissionTemplateTable.vue";
import Divider from "primevue/divider";

const emit = defineEmits(["saved", "canceled"]);
const props = defineProps<{
  currentTemplate: FlowPermissionTemplate;
}>();

const {
  newPermissionTemplate,

  command,
  changed,

  executeCommand,
} = useUpdatePermissionTemplateCommand(toRef(props, "currentTemplate"));

const rules = { name: { required } };
const v$ = useVuelidate(rules, newPermissionTemplate.value);

const isSaving = ref<boolean>(false);
async function saveTemplate() {
  const valid = await v$.value.$validate();
  if (!valid) return;

  isSaving.value = true;
  const response = await executeCommand();
  isSaving.value = false;
  if (response) emit("saved");
}
</script>
