<template>
  <PermissionTable
    :permissions="flowPermission"
    :form-steps="formStore.stepSummaries"
    :form-roles="formStore.roleSummaries"
    @set-value-for-cell="setValueForCell"
    @set-value-for-roles="setValueForRoles"
    @set-value-for-steps="setValueForSteps"
  />
</template>
<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import PermissionTable from "../_general/permissions/PermissionTable.vue";
import type {
  FlowPermissionRecord,
  SetValueForCellEvent,
  SetValueForRolesEvent,
  SetValueForStepsEvent,
} from "@/api/queries/types/permissionTypes";
import { computed } from "vue";

const formStore = useFormStore();
const props = defineProps<{
  modelValue: FlowPermissionRecord;
}>();
const emit = defineEmits(["update:modelValue"]);

const flowPermission = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit("update:modelValue", value);
  },
});

function setValueForCell(event: SetValueForCellEvent): void {
  const roleWithPermissions = flowPermission.value[event.step];
  if (roleWithPermissions) {
    if (event.type === "reset") {
      roleWithPermissions[event.role] = { read: false, write: false };
    } else {
      const permission = roleWithPermissions[event.role];
      if (permission) {
        permission[event.type] = event.value;
      }
    }
  }
}

function setValueForSteps(event: SetValueForStepsEvent): void {
  const stepPermissions = flowPermission.value[event.step];
  if (!stepPermissions) return;
  for (const rolePermission of Object.values(stepPermissions)) {
    if (!rolePermission) return;
    if (event.type === "read") {
      rolePermission.read = true;
    } else if (event.type === "write") {
      rolePermission.write = true;
    } else {
      rolePermission.read = false;
      rolePermission.write = false;
    }
  }
}

function setValueForRoles(event: SetValueForRolesEvent): void {
  for (const roles of Object.values(flowPermission.value)) {
    if (!roles) return;
    for (const [roleProp, permission] of Object.entries(roles)) {
      if (roleProp === event.role) {
        if (!permission) return;
        if (event.type === "read") {
          permission.read = true;
        } else if (event.type === "write") {
          permission.write = true;
        } else {
          permission.read = false;
          permission.write = false;
        }
      }
    }
  }
}
</script>
