<template>
  <div
    id="NodeRelativeDate"
    :data-cy="'lblStep' + stepNumber"
    class="datenode border-2 w-96 bg-gray-100 rounded-lg border-gray-400 drop-shadow-lg text-sm"
  >
    <div class="text-center border-b-2 p-1 pb-2 pt-2">
      <span
        :data-cy="'lblFrom' + stepNumber"
        class="text-lg bg-gray-400 rounded-full text-white text-center w-16 px-4 mr-2"
      >
        <strong>{{ data.from }} d</strong>
      </span>
      <span v-if="workflowStore.isSimulationPeriod">
        (van {{ simulatedFromLabel }})
      </span>
    </div>

    <div class="bg-white p-2 flex">
      <div class="p-2 text-xl">
        <font-awesome-icon icon="fa-solid fa-timeline" />
      </div>
      <div class="w-full">
        <div class="text-center">
          <div class="flex w-32 mx-auto">
            <!-- step number pill -->
            <div
              :data-cy="'lblLabel' + stepNumber"
              class="bg-orange-400 rounded-full text-white w-16 pb-0.5"
            >
              <strong>{{ label }}</strong>
            </div>
            <!-- duration pill -->
            <div
              :data-cy="'lblDuration' + stepNumber"
              class="bg-orange-100 rounded-full w-16 pb-0.5 ml-2"
            >
              <div v-if="isLastInfiniteStep">
                <font-awesome-icon icon="fa-solid fa-infinity" />
              </div>
              <div v-else>{{ durationDays }}d</div>
            </div>
          </div>
        </div>
        <div
          class="text-center pt-2 text-lg"
          :data-cy="'lblDescription' + stepNumber"
        >
          {{ data.description }}
        </div>
      </div>
      <div class="p-2">
        <Button
          :data-cy="'btnEditStep' + stepNumber"
          icon="pi pi-pencil"
          rounded
          @click="loadDetailStep"
        />
      </div>
    </div>

    <div class="text-center border-t-2 pb-2 pt-1">
      <span
        :data-cy="'lblTo' + stepNumber"
        class="text-lg bg-gray-400 rounded-full text-white text-center w-16 px-4 mr-2"
      >
        <span v-if="isLastInfiniteStep">
          <font-awesome-icon icon="fa-solid fa-infinity" />
        </span>
        <strong v-else>{{ data.to }} d</strong>
      </span>
      <span v-if="workflowStore.isSimulationPeriod && !isLastInfiniteStep">
        (tot {{ simulatedToLabel }})
      </span>
    </div>

    <!-- handles ---------------------------------------------------------------- -->
    <Handle
      v-if="data.type !== 'output'"
      id="a"
      type="target"
      :position="Position.Top"
      class="bg-black text-white text-xs"
      :style="sourceHandleStyleA"
    />
    <Handle
      v-if="data.type !== 'input'"
      id="b"
      type="source"
      :position="Position.Bottom"
      class="bg-black text-white text-xs"
      :style="sourceHandleStyleB"
    />
  </div>
</template>

<script setup lang="ts">
import { Handle, Position } from "@vue-flow/core";
import { computed, PropType } from "vue";
import { useWorkflowStore } from "@/stores/workflow";
import "moment/locale/nl.js";
import moment from "moment";
import { StepNodeData } from "@/api/queries/types/workflowTypes";

//-- props and stores -----------------------------------------------------------

const props = defineProps({
  data: {
    type: Object as PropType<StepNodeData>,
    required: true,
  },
  label: {
    type: String,
    required: true,
  },
});

const workflowStore = useWorkflowStore();

async function loadDetailStep() {
  await workflowStore.setCurrentStep(props.data.sequence + 1);
}

//-- computed properties ---------------------------------------------------------

const stepNumber = computed(() => {
  return props.label.replace(/\D/g, "");
});

const simulatedFromLabel = computed(() => {
  if (workflowStore.isSimulationPeriod) {
    let fromDate = moment(workflowStore.simulationPeriod.start);
    fromDate.add(parseInt(props.data.from), "days");
    return fromDate.locale("nl").format("ddd DD MMM YYYY");
  } else {
    return "";
  }
});

const simulatedToLabel = computed(() => {
  if (workflowStore.isSimulationPeriod) {
    let toDate = moment(workflowStore.simulationPeriod.start);
    toDate.add(parseInt(props.data.to), "days");
    return toDate.locale("nl").format("ddd DD MMM YYYY");
  } else {
    return "";
  }
});

const durationDays = computed(() => {
  return parseInt(props.data.to) - parseInt(props.data.from);
});

const isLastInfiniteStep = computed(
  () => isLastStep.value && durationDays.value > 80000,
);

const isLastStep = computed(
  () => workflowStore.stepCount - 1 === props.data.sequence,
);

const sourceHandleStyleA = computed(() => ({
  width: "10px",
  height: "10px",
  border: "0px",
  margin: "-2px 0 0 0",
  backgroundColor: "silver",
}));

const sourceHandleStyleB = computed(() => ({
  width: "10px",
  height: "10px",
  border: "0px",
  margin: "0 0 -2px 0",
  backgroundColor: "silver",
}));
</script>

<style scoped></style>
