<template>
  <div id="NodeAdd">
    <!-- toggle button -->
    <Button
      data-cy="btnWorkflowAdd"
      icon="pi pi-plus"
      severity="secondary"
      @click="toggle"
    ></Button>

    <!-- overlay button with add form -->
    <Popover ref="op" :show-close-icon="true" :dismissable="true">
      <div style="width: 780px">
        <div class="text-sm font-bold">Voeg stap {{ data.step }} toe:</div>
        <div class="flex mt-1">
          <div class="mt-0.5">
            <div
              data-cy="btnSelectFixedDates"
              :class="fixedClass"
              class="flex p-2 hover:bg-blue-300 cursor-pointer rounded-lg"
              @click="type = 'fixed'"
            >
              <div>
                <font-awesome-icon icon="fa-solid fa-calendar-days" />
              </div>
              <div class="ml-2">met vaste data</div>
            </div>
          </div>
          <div class="ml-2 mt-0.5">
            <div
              data-cy="btnSelectRelativeDates"
              :class="relativeClass"
              class="flex p-2 hover:bg-blue-300 cursor-pointer rounded-lg"
              @click="type = 'relative'"
            >
              <div>
                <font-awesome-icon icon="fa-solid fa-timeline" />
              </div>
              <div class="ml-2">met relatieve data</div>
            </div>
          </div>
          <div class="mt-2 ml-2">
            <ActiveLanguageBadge />
          </div>
          <div class="ml-4 w-64">
            <IconField>
              <InputText
                v-model="label"
                data-cy="tiStepName"
                :class="{ 'p-invalid': v$.label.$invalid }"
                class="ml-2 w-full"
                placeholder="label"
              />
              <InputIcon v-if="!v$.label.$invalid" class="pi pi-check" />
              <InputIcon v-if="v$.label.$invalid" class="pi pi-times" />
            </IconField>
          </div>
          <div class="ml-4">
            <Button
              v-if="!isSaving"
              data-cy="btnAddStep"
              :disabled="!isValid"
              severity="success"
              icon="pi pi-save"
              label="Voeg toe"
              @click="save"
            />
            <Button
              v-else
              :disabled="!isValid"
              severity="success"
              icon="pi pi-spin pi-spinner"
              label="Voeg toe"
            />
          </div>
        </div>

        <!-- command renderer -->
        <CommandRenderer :command="command" />
      </div>
    </Popover>

    <!-- incoming handle -->
    <Handle
      v-if="data.type !== 'output'"
      id="a"
      type="target"
      :position="Position.Top"
      class="bg-black text-white text-xs"
      :style="sourceHandleStyleA"
    >
    </Handle>
  </div>
</template>

<script setup lang="ts">
import { Handle, Position } from "@vue-flow/core";
import { computed, PropType, ref, toRef } from "vue";
import { useFormStore } from "@/stores/form";
import { useAddWorkflowStepCommand } from "@/api/commands/AddStep.ts";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { useWorkflowStore } from "@/stores/workflow";
import {
  StepNodeData,
  StepNodePosition,
} from "@/api/queries/types/workflowTypes";
import Popover from "primevue/popover";
import CommandRenderer from "../../_general/CommandRenderer.vue";

// -- props & stores ----------------------------------------------------------

const props = defineProps({
  data: {
    type: Object as PropType<StepNodeData>,
    required: true,
  },
  position: {
    type: Object as PropType<StepNodePosition>,
    required: true,
  },
});

const formStore = useFormStore();
const workflowStore = useWorkflowStore();

// -- add step command --------------------------------------------------------

const { label, type, addStepState, command, executeCommand } =
  useAddWorkflowStepCommand(toRef(props, "data"), toRef(props, "position"));

// -- validation and saving --------------------------------------------------

const isValid = computed(() => !v$.value.$invalid);
const rules = {
  label: { required },
};
const v$ = useVuelidate(rules, addStepState);

// -- toggle the add form ----------------------------------------------------

const op = ref<InstanceType<typeof Popover>>();
const toggle = (event: Event) => {
  if (op.value) {
    op.value.toggle(event);
  }
};

//-- command executor -------------------------------------------------------

const isSaving = ref(false);

async function save() {
  if (!v$.value.$invalid) {
    isSaving.value = true;
    await executeCommand();
    await formStore.hardRefreshForm();
    await workflowStore.loadWorkflowSchema();
    await workflowStore.setCurrentStep(workflowStore.stepCount);
    isSaving.value = false;
    label.value = "";
    toggle(new Event("close-overlay"));
  }
}

// -- computed values ---------------------------------------------------------

const sourceHandleStyleA = computed(() => ({
  width: "10px",
  height: "10px",
  border: "0px",
  margin: "-2px 0 0 0",
  backgroundColor: "silver",
}));

const fixedClass = computed(() => {
  if (type.value == "fixed") return "bg-blue-700 text-white";
  return "";
});

const relativeClass = computed(() => {
  if (type.value == "relative") return "bg-blue-700 text-white";
  return "";
});
</script>
