<template>
  <div
    id="NodeFixedDate"
    :data-cy="'lblStep' + stepNumber"
    class="datenode border-2 w-96 bg-gray-100 rounded-lg border-gray-400 drop-shadow-lg text-sm"
  >
    <div class="text-center border-b-2 p-1 pb-2 pt-2">
      <div class="w-full text-lg" :data-cy="'lblFrom' + stepNumber">
        van <strong>{{ fromLabel }}</strong>
      </div>
    </div>

    <div class="bg-white p-2 flex">
      <div class="p-2 text-xl">
        <font-awesome-icon icon="fa-solid fa-calendar-days" />
      </div>
      <div class="w-full">
        <div class="text-center">
          <div class="flex w-32 mx-auto">
            <!-- step number pill -->
            <div
              class="bg-orange-400 rounded-full text-white w-16 pb-0.5"
              :data-cy="'lblLabel' + stepNumber"
            >
              <strong>{{ label }}</strong>
            </div>
            <!-- duration pill -->
            <div
              class="bg-orange-100 rounded-full w-16 pb-0.5 ml-2"
              :data-cy="'lblDuration' + stepNumber"
            >
              {{ durationLabel }}d
            </div>
          </div>
        </div>
        <div
          class="text-center pt-2 text-lg"
          :data-cy="'lblDescription' + stepNumber"
        >
          {{ data.description }}
        </div>
      </div>
      <div class="p-2">
        <Button
          :data-cy="'btnEditStep' + stepNumber"
          icon="pi pi-pencil"
          rounded
          @click="loadDetailStep"
        />
      </div>
    </div>

    <div class="text-center border-t-2 pb-2 pt-1">
      <div class="text-lg" :data-cy="'lblTo' + stepNumber">
        tot <strong>{{ toLabel }}</strong>
      </div>
    </div>

    <!-- handles ---------------------------------------------------------------- -->
    <Handle
      v-if="data.type !== 'output'"
      id="a"
      type="target"
      :position="Position.Top"
      class="bg-black text-white text-xs"
      :style="sourceHandleStyleA"
    />
    <Handle
      v-if="data.type !== 'input'"
      id="b"
      type="source"
      :position="Position.Bottom"
      class="bg-black text-white text-xs"
      :style="sourceHandleStyleB"
    />
  </div>
</template>

<script setup lang="ts">
import { Handle, Position } from "@vue-flow/core";
import { computed, PropType } from "vue";
import moment from "moment";
import { useWorkflowStore } from "@/stores/workflow";
import { StepNodeData } from "@/api/queries/types/workflowTypes";

//-- props and stores -----------------------------------------------------------

const props = defineProps({
  data: {
    type: Object as PropType<StepNodeData>,
    required: true,
  },
  label: {
    type: String,
    required: true,
  },
});

const workflowStore = useWorkflowStore();

async function loadDetailStep() {
  await workflowStore.setCurrentStep(props.data.sequence + 1);
}

//-- computed properties ---------------------------------------------------------

const fromLabel = computed(() => {
  let fromDate = moment(props.data.from);
  return fromDate.locale("nl").format("ddd DD MMM YYYY - HH:mm");
});

const toLabel = computed(() => {
  let toDate = moment(props.data.to);
  let _label = "";
  if (isLastStep.value && toDate.format("DD-MM-YYYY") === "01-01-2300") {
    _label = "...";
  } else {
    _label = toDate.locale("nl").format("ddd DD MMM YYYY - HH:mm");
  }
  return _label;
});

const durationLabel = computed(() => {
  let fromDate = moment(props.data.from);
  let toDate = moment(props.data.to);
  return toDate.diff(fromDate, "days");
});

const stepNumber = computed(() => {
  return props.label.replace(/\D/g, "");
});

const isLastStep = computed(
  () => workflowStore.stepCount - 1 === props.data.sequence,
);

const sourceHandleStyleA = computed(() => ({
  width: "10px",
  height: "10px",
  border: "0px",
  margin: "-2px 0 0 0",
  backgroundColor: "silver",
}));

const sourceHandleStyleB = computed(() => ({
  width: "10px",
  height: "10px",
  border: "0px",
  margin: "0 0 -2px 0",
  backgroundColor: "silver",
}));
</script>

<style scoped></style>
