<template>
  <div class="h-full flex flex-col">
    <div class="border-t-2 grow">
      <!-- schema overview using vueFlow  ------------------------------------------------ -->
      <VueFlow
        v-model="workflowStore.workflowSchema"
        :default-edge-options="{ type: 'smoothstep' }"
        :default-zoom="1"
        :min-zoom="0.2"
        :max-zoom="4"
        :apply-default="false"
        :snap-to-grid="true"
        fit-view-on-init
      >
        <!-- custom node: fixed data -->
        <template #node-fixed="{ data, label }">
          <StepFixedDate
            :data="data"
            :label="typeof label === 'string' ? label : ''"
          />
        </template>

        <!-- custom node: relative data -->
        <template #node-relative="{ data, label }">
          <StepRelativeDate
            :data="data"
            :label="typeof label === 'string' ? label : ''"
          />
        </template>

        <!-- custom node: add node -->
        <template #node-add="props">
          <StepAdd v-bind="props" />
        </template>

        <Background pattern-color="#aaa" :gap="10" />
        <Controls />
      </VueFlow>
    </div>

    <!-- button save schema overview --------------------------------------------------------- -->
    <div class="flex p-2 bg-gray-200 pl-4">
      <!-- save layout schema -->
      <div>
        <Button
          v-if="!isSaving"
          label="Bewaar dit schema"
          size="small"
          severity="success"
          icon="pi pi-save"
          @click="saveSchema"
        />
        <Button
          v-if="isSaving"
          label="Bewaar dit schema"
          disabled
          size="small"
          severity="success"
          icon="pi pi-spin pi-spinner"
          @click="saveSchema"
        />
      </div>
      <!-- validate the workflow -->
      <div
        v-tooltip="
          workflowStore.isSimulationPeriod
            ? ''
            : 'Vul eerst de simulatie periode in om het workflow schema te kunnen valideren.'
        "
        class="ml-4"
      >
        <Button
          :disabled="!workflowStore.isSimulationPeriod"
          icon="pi pi-check-square"
          label="Valideer workflow"
          severity="secondary"
          size="small"
          @click="showWorkflowValidationScreen"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { Background } from "@vue-flow/additional-components";
import { Controls } from "@vue-flow/controls";
import { useVueFlow, VueFlow } from "@vue-flow/core";
import StepFixedDate from "@/components/formBuilder/formWorkflow/workflow/StepFixedDate.vue";
import StepRelativeDate from "@/components/formBuilder/formWorkflow/workflow/StepRelativeDate.vue";
import StepAdd from "@/components/formBuilder/formWorkflow/workflow/StepAdd.vue";
import { useWorkflowStore } from "@/stores/workflow";
import { useUpdateWorkflowSchemaCommand } from "@/api/commands/UpdateWorkflowSchema.ts";

const isSaving = ref<boolean>(false);

const workflowStore = useWorkflowStore();

onMounted(() => {
  void fitView();
});

const { executeCommand } = useUpdateWorkflowSchemaCommand();

//-- vue flow configuration -----------------------------------------------

const { onConnect, addEdges, onNodesChange, applyNodeChanges, fitView } =
  useVueFlow();
onConnect((params) => addEdges([params]));
onNodesChange((changes) => {
  const nextChanges = [];
  for (let nextChange of changes) {
    if (nextChange.type !== "remove") {
      nextChanges.push(nextChange);
    }
  }
  applyNodeChanges(nextChanges);
});

async function saveSchema() {
  isSaving.value = true;
  await executeCommand();
  await workflowStore.loadWorkflowSchema();
  await fitView();
  isSaving.value = false;
}

function showWorkflowValidationScreen() {
  workflowStore.showValidationScreen();
}

watch(
  () => workflowStore.stepCount,
  () => {
    setTimeout(function () {
      void fitView();
    }, 500);
  },
);
</script>

<style scoped>
.vue-flow__container .selected .datenode {
  border: 2px solid black !important;
}
</style>
