{% trans_default_domain 'kulFormHistory' %}
{% import "@KULForm/embed/history/embed/macros.html.twig" as macros %}

{#
    this renders all submissions: submit & temporary save actions by users, for all steps in the workflow based on an access object.
    NOTE 1: the steps for which submissions are shown, are the steps that are defined in the CURRENT version workflow.
    meaning that if a step was deleted in the current workflow, no submissions for that step will be shown here,
    as those are not relevant anymore. for updated and/or added steps in the current workflow, nothing changes.
    NOTE 2: this history rendering is based on (and fully uses) an access(object) (i.e. a user with role & date based access to
    the form in currently open step for some target object)!
    this means that it uses the access object to get a reference date (if needed by workflow to calculate step start dates),
    to get the currently open step (a workflow could (still) be in no step (yet), but access is build on one currently
    open step), to get the submissions history from the associated stored target, etc...
    if a history must be rendered without the use of an access object, then that data will have to be passed explicitly
#}

<div class="panel panel-default" id="kfb-access-based-history">

    <div class="panel-heading">
        <a href="#workflow-history" data-toggle="collapse" title="{{ 'workflow.submission.panelHeading'|trans }}">
            <div class="title">{{ 'workflow.submission.panelHeading'|trans }}</div>
            <div class="pull-right panel-status-indicator"></div>
        </a>
    </div>

    <div class="panel-body {{ (isPrintPage is defined and isPrintPage == true) ? '' : 'collapse'}}" id="workflow-history">
        {% set flowSteps = accessObject.currentVersionWorkflow.steps.sortedByAscendingFlow %}
        {% set currentStepPositionNr = flowSteps.positionNumber(accessObject.openFlowStep)  %}
        {% set submissions = accessObject.targetSubmissions %}
        {% set tempSubmissions = accessObject.targetTemporarySubmissions %}
        {% set currentVersionNumber = accessObject.template.currentVersionNumber %}

        {% for flowStep in flowSteps %}
            {% set stepPositionNr = flowSteps.positionNumber(flowStep) %}
            {% set statusTimeline = 'future' %}
            {% if stepPositionNr == currentStepPositionNr %}
                {% set statusTimeline = 'current' %}
            {% elseif stepPositionNr < currentStepPositionNr %}
                {% set statusTimeline = 'past' %}
            {% endif %}

            {% include '@KULForm/embed/history/embed/step-submissions.html.twig' with {
                'flowStep': flowStep,
                'stepPositionNr': stepPositionNr,
                'statusTimeline': statusTimeline,
                'stepSubmissions': submissions.forStep(flowStep).sortedByDescendingSubmitDate,
                'stepTempSubmissions': tempSubmissions.forStep(flowStep).sortedByDescendingSubmitDate,
                'checkDate': accessObject.getCheckDate,
                'calculatedStepReferenceDate': accessObject.hasCalculatedStepReferenceDate ? accessObject.getCalculatedStepReferenceDate : null,
                'roleSlugifier': accessObject.template.participatableRoleSlugifier,
                'currentVersionNumber': currentVersionNumber,
                'showSubmitterIds': showSubmitterIds is defined and showSubmitterIds,
                'showStepOpenRange': showStepOpenRanges is defined and showStepOpenRanges,
            } %}
        {% endfor %}
   </div>
</div>
