<template>
  <QuestionCalculations
    v-if="
      nodeStore.node?.subType === 'question_number' ||
      (nodeStore.node?.subType === 'question_choice' &&
        !nodeStore.node?.configProps.multiple)
    "
    :question="nodeStore.node"
  />
</template>
<script setup lang="ts">
import QuestionCalculations from "@/components/formBuilder/formList/nodeEditor/calculations/CalculationProperties.vue";
import { useNodeStore } from "@/stores/node";
const nodeStore = useNodeStore();
</script>
