<template>
  <BasicViewNodeContent
    v-if="nodeStore.node?.subType === 'read_only_view_basic'"
    :node="nodeStore.node"
  />
  <QuestionLabels
    v-else-if="nodeStore.node?.type === 'question'"
    :question="nodeStore.node"
  />
  <CategoryLabels
    v-else-if="nodeStore.node?.type === 'category'"
    :category="nodeStore.node"
  />
</template>
<script setup lang="ts">
import QuestionLabels from "@/components/formBuilder/formList/nodeEditor/QuestionLabels.vue";
import CategoryLabels from "@/components/formBuilder/formList/nodeEditor/CategoryLabels.vue";
import { useNodeStore } from "@/stores/node";
import BasicViewNodeContent from "@/components/formBuilder/formList/nodeEditor/BasicViewNodeContent.vue";

const nodeStore = useNodeStore();
</script>
