<template>
  <QuestionFormLogic
    v-if="nodeStore.node?.type === 'question'"
    :question="nodeStore.node"
  />
</template>
<script setup lang="ts">
import QuestionFormLogic from "@/components/formBuilder/formList/nodeEditor/logic/QuestionFormLogic.vue";
import { useNodeStore } from "@/stores/node";
const nodeStore = useNodeStore();
</script>
