<template>
  <QuestionOptions
    v-if="nodeStore.node?.subType === 'question_choice'"
    :question="nodeStore.node"
  />
</template>
<script setup lang="ts">
import QuestionOptions from "@/components/formBuilder/formList/nodeEditor/options/QuestionOptions.vue";
import { useNodeStore } from "@/stores/node";
const nodeStore = useNodeStore();
</script>
