<template>
  <QuestionPermissions
    v-if="nodeStore.node?.type === 'question'"
    :question="nodeStore.node"
  />
  <CategoryPermissions
    v-if="nodeStore.node?.type === 'category'"
    :category="nodeStore.node"
  />
</template>
<script setup lang="ts">
import CategoryPermissions from "@/components/formBuilder/formList/nodeEditor/permissions/CategoryPermissions.vue";
import QuestionPermissions from "@/components/formBuilder/formList/nodeEditor/permissions/QuestionPermissions.vue";
import { useNodeStore } from "@/stores/node";
const nodeStore = useNodeStore();
</script>
