<template>
  <QuestionPrefill
    v-if="
      nodeStore.node?.subType === 'question_text' ||
      nodeStore.node?.subType === 'question_choice'
    "
    :question="nodeStore.node"
  />
</template>
<script setup lang="ts">
import QuestionPrefill from "@/components/formBuilder/formList/nodeEditor/prefill/QuestionPrefill.vue";
import { useNodeStore } from "@/stores/node";
const nodeStore = useNodeStore();
</script>
