<template>
  <TextProperties
    v-if="nodeStore.node?.subType === 'question_text'"
    :question="nodeStore.node"
  />
  <NumberProperties
    v-if="nodeStore.node?.subType === 'question_number'"
    :question="nodeStore.node"
  />
  <ChoiceProperties
    v-if="nodeStore.node?.subType === 'question_choice'"
    :question="nodeStore.node"
  />
  <RadarChartProperties
    v-if="nodeStore.node?.subType === 'read_only_view_radar_chart'"
    :question="nodeStore.node"
  />
  <UploadProperties
    v-if="nodeStore.node?.subType === 'question_upload'"
    :question="nodeStore.node"
  />
  <DateProperties
    v-if="nodeStore.node?.subType === 'question_date'"
    :question="nodeStore.node"
  />
</template>
<script setup lang="ts">
import { useNodeStore } from "@/stores/node";
import TextProperties from "@/components/formBuilder/formList/nodeEditor/properties/TextProperties.vue";
import NumberProperties from "@/components/formBuilder/formList/nodeEditor/properties/NumberProperties.vue";
import ChoiceProperties from "@/components/formBuilder/formList/nodeEditor/properties/ChoiceProperties.vue";
import RadarChartProperties from "@/components/formBuilder/formList/nodeEditor/properties/RadarChartProperties.vue";
import UploadProperties from "@/components/formBuilder/formList/nodeEditor/properties/UploadProperties.vue";
import DateProperties from "@/components/formBuilder/formList/nodeEditor/properties/DateProperties.vue";

const nodeStore = useNodeStore();
</script>
