{% trans_default_domain 'kulFormRoleSwitcher' %}

{# don't render if only one role (i.e. current one) and no others to switch to, unless it is explicitly set to render anyway #}
{# (cannot use 'default(true)' filter on bool param: if passed in & set to 'false', still evaluates to 'true' -> checking explicit 'defined' #}
{% if roleUrls|length > 1 or (renderOnlyIfRelevant is defined and not renderOnlyIfRelevant) %}
<select id="kfb-roleSwitcher">
    {% for role, url in roleUrls %}
        {% set roleLabel = roleLabels[role]|default(role) %}
        <option value='{{ role }}'
                data-data='{"url":"{{ url }}","roleLabel":"{{ roleLabel }}"}'
                {% if role == currentRole  %}selected='selected'{% endif %}>
            {% if role == currentRole %}
                {{ 'select.viewingAs'|trans }}
            {% else %}
                {{ 'select.viewAs'|trans }}
            {% endif %}
            {{ roleLabel }}
        </option>
    {% endfor %}
</select>
{% endif %}
