{#<link rel="stylesheet" href="{{ asset('bundles/kulform/plugins/jquery-file-upload/css/jquery.fileupload.css') }}">#}

<style>
    .node_files_table {
        width: 100%;
    }

    .node_files_table tr {
        border-top: 1px solid #CCCCCC;
    }

    .node_files_table tr:first-child {
        border-top: none;
    }

    .node_files_table td {
        padding-bottom: 5px;
        padding-top: 5px;
    }
</style>
