{% trans_default_domain 'kulFormUpload' %}

{# this script depends on: https://github.com/blueimp/jQuery-File-Upload #}

{% include '@KULForm/embed/general/invalid-storing-attempt.html.twig' %}

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        // FIXME: make me configurable
        const MAX_FILE_SIZE = {{ constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Input\\UploadInput::DEFAULT_MAX_FILE_SIZE') }}; // bytes, so this is 25 Megabyte

        let canCallAutoSave = {% if canAutoSaveForm is defined and canAutoSaveForm %}true{% else %}false{% endif %};
        if (canCallAutoSave && !$.isFunction(window.autoSaveForm)) {
            canCallAutoSave = false;
        }
        let canSuspendAutoSave = canCallAutoSave && typeof window.autoSaveSuspended !== 'undefined';

        $(document).find(".node_files_table").on("click", ".node-upload-action-delete", function (e) {
            e.preventDefault();

            if (canSuspendAutoSave) {
                console.log('file delete: suspending auto-save');
                window.autoSaveSuspended = true;
            }

            let deleteBtn = $(this);

            bootbox.confirm({
                message: "{{ 'fields.uploadType.delete.bootBoxTitle'|trans({}, 'kulFormBase') }}",
                buttons: {
                    confirm: {
                        label: "{{ 'fields.uploadType.delete.confirmBtn.label'|trans({}, 'kulFormBase') }}",
                        className: 'btn-success'
                    },
                    cancel: {
                        label: "{{ 'fields.uploadType.delete.cancelBtn.label'|trans({}, 'kulFormBase') }}",
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        let row = deleteBtn.closest('tr');
                        let nodeUid = $(row).attr('data-node-uid');
                        let fileUid = $(row).attr('data-file-uid');
                        row.remove();
                        removeFileUidFromNodeFileInput(nodeUid, fileUid);
                        // I don't think I need to autosave here. If the user removes
                        // a file without submitting, he probably didn't mean to
                        // remove the file.
                    }

                    if (canSuspendAutoSave) {
                        console.log('file delete: removing auto-save suspension and reactivating auto-save scheduling');
                        window.autoSaveSuspended = false;
                    }
                }
            });
        });

        let getNodeTableByNodeUid = function (nodeUid) {
            return $('#' + nodeUid + '_files_table');
        };

        let addFileUidToNodeFileInput = function (nodeUid, fileUid) {
            let input = $("input[name=" + nodeUid + "]");
            let fileUids = input.val().split('|');

            fileUids.push(fileUid);
            fileUids = fileUids.filter(function (v) {
                return v !== ''
            });
            let stringValue = fileUids.join('|');

            input.val(stringValue).attr('value', stringValue);
        };

        let removeFileUidFromNodeFileInput = function (nodeUid, fileUid) {
            let input = $("input[name=" + nodeUid + "]");
            let stringValue = input.val().replace(fileUid, '');

            let fileUids = stringValue.split('|');
            fileUids = fileUids.filter(function (v) {
                return v !== ''
            });
            stringValue = fileUids.join('|');

            input.val(stringValue).attr('value', stringValue);
        };

        $('.node-upload-action-add').on("click", function (e) {
            getNodeTableByNodeUid($(this).attr('data-node-uid')).closest('div').removeClass('errortje');
        });

        $('.node-upload-action-add').each(function () {
            let nodeUid = $(this).attr('data-node-uid');

            $(this).fileupload({
                // Upload files one by one, to avoid concurrency issues
                // caused by slow doctrine operations. (see also STAGES-3521)
                sequentialUploads: true,
                change: function (e, data) {
                    data.files.forEach(function (file) {
                        if (file.size > MAX_FILE_SIZE) {
                            bootbox.alert({
                                title: "File is too big",
                                message: "Files should not be bigger than " + MAX_FILE_SIZE / 1000000 + "MB, " +
                                    file.name + " is " + (file.size/1000000).toFixed(2) + "MB",
                                backdrop: true,
                                size: 'large'
                            });
                            e.preventDefault();
                        }
                    })
                },
                progressall: function (e, data) {
                    let progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#' + nodeUid + '_upload_progress_bar').show();
                    if (progress === 100) {
                        $('#' + nodeUid + '_upload_progress_info').text('{{ 'action.status.loading'|trans }}');
                    } else {
                        $('#' + nodeUid + '_upload_progress_info').text('{{ 'action.status.uploading'|trans }}');
                    }
                    $('#' + nodeUid + '_upload_progress').css('width', progress + '%');
                },
                formData: function (form) {
                    {# send the hidden form element about the used step id along with the upload, so back-end can check if uploading in same step as form was loaded #}
                    let data = form.serializeArray();

                    return [data.find(object => object.name === 'base[usedStepUid]')];
                },
                fail: function (e, data) {
                    {# @see https://github.com/blueimp/jQuery-File-Upload/wiki/Options#fail #}

                    $('#' + nodeUid + '_upload_progress_bar').hide();
                    $('#' + nodeUid + '_upload_progress').css('width', '0%');

                    if (data.jqXHR.status === 401) {
                        {# user is logged out / session invalidated: USER IS NOTIFIED
                           if possible (auto-save enabled), then auto save is kept suspended.
                           auto-save is not re-activated: user has no choice to reload page.
                           should only occur if user has been doing nothing in this tab for a very long time.
                           it is far more likely this will not be triggered, since the idle activity checker
                           (if enabled) will have detected inactivity before user is logged out in back-end due
                            to inactivity (src/Resources/views/embed/form-activity/idle-checker.html.twig) #}
                        window.finishUserIsLoggedOut();

                        return false;
                    }

                    bootbox.alert({
                        title: "An unknown error caused the upload to fail",
                        message: "<strong>please contact an administrator</strong>",
                        backdrop: true,
                        size: 'large'
                    });

                    if (canSuspendAutoSave) {
                        console.log('file upload: removing auto-save suspension and reactivating auto-save scheduling after error');
                        window.autoSaveSuspended = false;
                    }
                },
                start: function (e) {
                    if (canSuspendAutoSave) {
                        console.log('file upload started: suspending auto-save during upload');
                        window.autoSaveSuspended = true;
                    }
                },
                stop: function (e, data) {
                    $('#' + nodeUid + '_upload_progress_bar').fadeOut(500, function() {
                        $('#' + nodeUid + '_upload_progress').css('width','0%');
                    });
                },
                done: function (e, data) {

                    if (data.result.hasOwnProperty('error')) {
                        alert('damn');

                        // let's return quickly (return value true/false doesn't really matter (jQuery internals))
                        return true;

                    }

                    if (data.result.hasOwnProperty('success') && data.result.success) {
                        let table = getNodeTableByNodeUid(nodeUid);
                        let tBody = table.find('tbody');
                        let rowTemplate = table.attr('data-row-template');
                        $.each(data.result.files_data, function (i, item) {
                            tBody.append(
                                rowTemplate
                                    .replace(/__FILE_UID__/g, item.uid)
                                    .replace(/__FILE_NAME__/g, item.uploadedFile.originalName)
                                    .replace(/__FILE_SIZE__/g, item.uploadedFile.readableSize)
                                    .replace(
                                        /__DOWNLOAD_URL__/g,
                                        '{{ fileUrls.downloadFileUrl.prototypeUrl }}'
                                            .replace('__NODE_UID__', item.nodeUid)
                                            .replace('__FILE_UID__', item.uid)
                                    )
                            );
                            addFileUidToNodeFileInput(item.nodeUid, item.uid);
                        });

                        {# always call an autosave once all selected files are processed (will handle autoSuspended internally) #}
                        if (canCallAutoSave) {
                            console.log('file upload success: triggering non-scheduled auto-save');
                            window.autoSaveForm($(document).find("form[name=base]"));
                        }

                        // let's return quickly (return value true/false doesn't really matter (jQuery internals))
                        return true;
                    }

                    {# user tried to upload files in a step X that is now already finished (a next step Y has opened by deadline previous
                       step X or by finishing user(s) action(s) while user was wroking client side in step X without reloading #}
                    if (data.result.hasOwnProperty('invalid_step_storing_attempt') && data.result.invalid_step_storing_attempt) {

                        console.log('file upload response: detected invalid step storing attempt');
                        window.finishAutoSaveDetectedInvalidStepStoringAttempt(
                            data.result.message,
                            data.result.hasOwnProperty('still_access_in_new_current_step') && data.result.still_access_in_new_current_step
                        );

                        // let's return quickly (return value true/false doesn't really matter (jQuery internals))
                        return true;
                    }

                    {# upload succeeded but with invalid files from user: too big, invalid extension, etc. #}
                    if (data.result.hasOwnProperty('invalid_files_data')) {
                        let invalidSizeLabel = data.result.invalid_size_label;
                        let invalidMimeTypeLabel = data.result.invalid_mime_type_label;
                        let invalidExtensionLabel = data.result.invalid_extension_label;
                        let content = "<div class='alert alert-info'>";
                        $.each(data.result.info_messages, function (i, item) {
                            content += "<p>" + item + "</p>";
                        });

                        content += "</div>";

                        content += "<ul>"
                        $.each(data.result.invalid_files_data, function (i, item) {
                            content += "<li><strong>" + item.name + ":</strong>";
                            content += "<div class='alert alert-danger' style='padding: 5px;'>";
                            if (item.hasInvalidSize) {
                                content += "<p><strong>" + invalidSizeLabel + ":</strong> <em>" + item.size + "</em></p>";
                            }
                            if (item.hasInvalidMimeType) {
                                content += "<p><strong>" + invalidMimeTypeLabel + ":</strong> <em>" + item.mimeType + "</em></p>";
                            }
                            if (item.hasInvalidExtension) {
                                content += "<p><strong>" + invalidExtensionLabel + ":</strong> <em>" + item.extension + "</em></p>";
                            }
                            content += "</li>";
                        });
                        content += "</ul>";

                        bootbox.alert({
                            title: data.result.title,
                            message: content,
                            backdrop: true,
                            size: 'large',
                        });

                        {# user now has a pop-up with the invalid-files message. he can choose to re-upload with valid
                           files or do nothing. regardless of what user does, we need to re-activate the auto-save shceduling.
                           ideally, we would only re-activate after user has uploaded valid files, but there is no way
                           of knwowing if user will do that. listening to pop-up buttons (ok','cancel') to reactivate
                           will only delay. user only made a human error, the form handling is not broken or corrupted.
                           so we can reactivate auto-save scheduling. we do not trigger a non-scheduled auto-save here,
                           like we do upon upload success. we just remove the suspension on the auto-save scheduling #}
                        if (canSuspendAutoSave) {
                            console.log('file upload returned with invalid-files message for user: removing auto-save suspension and reactivating auto-save scheduling');
                            window.autoSaveSuspended = false;
                        }

                        // let's return quickly (return value true/false doesn't really matter (jQuery internals))
                        return true;
                    }
                }
            });
        });
    });
</script>
