{% trans_default_domain 'kulFormUpload' %}

<tr data-node-uid="{{ nodeUid }}" data-file-uid="{{ fileUid }}">
    <td style="width: 75%;">
        <a href="{{ downloadUrl }}" title="{{ 'action.download'|trans }}">
            {{ name }}&nbsp;({{ size }})
        </a>
    </td>
    <td style="width: 0;" class="text-right">
        <div class="btn-group btn-group-sm" role="group">
            <a href="{{ downloadUrl }}" class="btn btn-default" title="{{ 'action.download'|trans }}">
                {{ 'action.download'|trans }}
            </a>
            {% if allowManage is defined and allowManage %}
                <button type="button" class="btn btn-danger node-upload-action-delete">
                    {{ 'action.delete.label'|trans }}
                </button>
            {% endif %}
        </div>
    </td>
</tr>
