{% trans_default_domain 'kulFormUpload' %}

<table id="{{ nodeUid }}_files_table" class="node_files_table"
       {% if allowManage %}data-row-template="{{ kul_form_render_manageable_prototype_table_row(nodeUid) }}"{% endif %}>

    <tbody>
    {# submitted files passed in here, should be asserted to match the passed in nodeUid by form builder #}
    {# but can't harm to double check if file actualy belongs to nodeUid, makes for less failed actions #}
    {% if submittedNodeFiles.hasCommonNodeUid and submittedNodeFiles.getCommonNodeUid == nodeUid %}
        {% for submittedFile in submittedNodeFiles %}
            {% if allowManage %}
                {{ kul_form_render_manageable_submitted_file_table_row(submittedFile, urls.downloadFileUrl)|raw }}
            {% else %}
                {{ kul_form_render_read_only_submitted_file_table_row(submittedFile, urls.downloadFileUrl)|raw }}
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
