{% trans_default_domain 'kulFormUpload' %}

<div class="row">

    <div class="col-sm-4">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>{{ 'action.upload'|trans }}</span>

            <input id="{{ nodeUid }}_upload"
                   type="file"
                   name="{{ nodeUid }}_files[]"
                   class="node-upload-action-add"
                   data-url="{{ urls.uploadFileUrl.urlByNodeUid(nodeUid) }}"
                   data-node-uid="{{ nodeUid }}"
                   multiple
            />

        </span>
    </div>

    <div class="col-sm-8">

        <div id="{{ nodeUid }}_upload_progress_bar" class="progress nm mt5" style="height: 25px; display: none;">
            <div id="{{ nodeUid }}_upload_progress" class="progress-bar progress-bar-success">
                <span id="{{ nodeUid }}_upload_progress_info" class="fsize16">{{ 'action.status.uploading'|trans }}</span>
            </div>
        </div>

    </div>

</div>
