{% macro renderItem(form, locale, categoryNodes, key, item) %}

    {# if key refers to category, item contains set of inputNodeAnswers or more nested categories #}
    {# if key doen not refer to category, item is inputNodeAnswers#}

    {% import _self as self_macros %}

    {% if categoryNodes.hasOneByNodeUid(key) %}
        {{ self_macros.renderCategoryItem(form, locale, categoryNodes, key, item) }}
    {% else %}
        {{ self_macros.renderInputNodeAnswerItem(form, item) }}
    {% endif %}

{% endmacro %}

{% macro renderCategoryItem(form, locale, categoryNodes, categoryUid, items) %}

    {% set categoryNode = categoryNodes.getOneByNodeUid(categoryUid) %}
    {% set label = categoryNode.label(locale) %}
    <div class="panel panel-default form-panel">
        {% if label is not null %}
            {% set depth = categoryNode.depth %}
            {% set headerTag = 'h' ~ (depth > 6 ? 6 : depth) %}
            <div class="panel-heading">
                {{ ('<' ~  headerTag ~ '>')|sanitize_html_custom }}{{ label|sanitize_html_custom }}{{ ('</' ~  headerTag ~ '>')|sanitize_html_custom }}
            </div>
        {% endif %}
        <div class="panel-body">
            {% import _self as self_macros %}
            {% for key,item in items %}
                {{ self_macros.renderItem(form, locale, categoryNodes, key, item) }}
            {% endfor %}
        </div>
    </div>

{% endmacro %}

{% macro renderInputNodeAnswerItem(form, inputNodeAnswer) %}
    {% set radioFormView = kul_form_find_form_view_by_node_uid(form, inputNodeAnswer.inputNode.uid) %}
    {# object FormView is countable. in this case, param formView will return a false positive on 'is empty', because #}
    {# it's a checkBox without children, hence use of 'is null' instead. @see https://twig.symfony.com/doc/2.x/tests/empty.html #}
    {% if radioFormView is not null %}
        <div class="col-sm-12">
            <div class="checkbox custom-checkbox" style="padding-left: 0 !important;">
                <input type="checkbox"
                       value="{{ radioFormView.vars.value }}" {% if radioFormView.vars.checked %}checked="checked"{% endif %}
                       name="{{ radioFormView.vars.full_name }}"
                       id="{{ radioFormView.vars.id }}"
                       class="answer-checkbox"/>
                <label {% if radioFormView.vars.required %}required{% endif %}
                       for="{{ radioFormView.vars.id }}">&nbsp;&nbsp;{{ radioFormView.vars.label|sanitize_html_custom }}</label>
            </div>
        </div>
        {% do radioFormView.setRendered %}
    {% endif %}
{% endmacro %}
