{% import "@KULForm/inputNodeValue/selectInputNodeAnswersForm/macros.html.twig" as select_render_macros %}

{{ form_start(form) }}

<div class="form-horizontal form-bordered">

    <div class="form-group">
        <div class="col-sm-12">
            <div class="btn-group pull-left">
                <button id="check-all-answers" class="btn btn-block btn-default" style="min-width:200px;max-width:380px;">
                    {{ 'inputNodeAnswersSelect.deSelectAll.label'|trans({}, 'kulFormInputNodeAnswer') }}
                </button>
            </div>
            <div class="btn-group pull-right">
                {{ form_widget(form.primaryCancel) }}
                {{ form_widget(form.primarySubmit) }}
            </div>
        </div>
    </div>

    {% set locale = app.request.locale %}
    {% set categoryNodes =  form.vars.category_nodes %}
    {% set nestedInputNodeAnswers = form.vars.nested_input_node_answers %}
    {% for key,item in nestedInputNodeAnswers %}
        {{ select_render_macros.renderItem(form, locale, categoryNodes, key, item) }}
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-12">
            <div class="btn-group pull-right">
                {{ form_widget(form.secondaryCancel) }}
                {{ form_widget(form.secondarySubmit) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var selectAllText = "{{ 'inputNodeAnswersSelect.selectAll.label'|trans({}, 'kulFormInputNodeAnswer') }}";
        var deselectAllText = "{{ 'inputNodeAnswersSelect.deSelectAll.label'|trans({}, 'kulFormInputNodeAnswer') }}";
        $('button#check-all-answers').toggle(function () {
            $('input:checkbox.answer-checkbox').removeAttr('checked');
            $(this).text(selectAllText);
        }, function () {
            $('input:checkbox.answer-checkbox').attr('checked', 'checked');
            $(this).text(deselectAllText);
        })
    </script>
</div>

{{ form_end(form) }}
