<template>
  <FormCardList>
    <FormCard>
      <div class="flex">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <ToggleSwitch v-model="multiple" @input="touchForm" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Meerdere keuzes toegelaten</div>
        </div>
      </div>

      <!-- min. & max. number of choices -->
      <div v-if="multiple" class="flex">
        <div class="basis-1/4">&nbsp;</div>
        <div class="text-right basis-1/4">
          <div>Min. aantal keuzes *</div>
        </div>
        <div class="ml-2 basis-1/4">
          <span class="w-full p-input-icon-right">
            <InputNumber
              v-model="minSelect"
              class="w-full"
              :min="0"
              :max="numberOfOptions"
              @input="touchForm"
              @change="touchForm"
            />
            <i v-if="!v$.minSelect.$invalid" class="pi pi-check" />
            <i v-if="v$.minSelect.$invalid" class="pi pi-times" />
          </span>
          <small v-if="v$.minSelect.$invalid" class="p-error">
            Min. aantal keuzes is niet geldig.
          </small>
        </div>
      </div>
      <div v-if="multiple" class="flex mt-1">
        <div class="basis-1/4">&nbsp;</div>
        <div class="text-right basis-1/4">
          <div>Max. aantal keuzes *</div>
        </div>
        <div class="ml-2 basis-1/4">
          <span class="w-full p-input-icon-right">
            <InputNumber
              v-model="maxSelect"
              class="w-full"
              :min="minSelect ?? undefined"
              :max="numberOfOptions"
              @input="touchForm"
              @change="touchForm"
            />
            <i v-if="!v$.minSelect.$invalid" class="pi pi-check" />
            <i v-if="v$.minSelect.$invalid" class="pi pi-times" />
          </span>
          <small v-if="v$.maxSelect.$invalid" class="p-error">
            Max. aantal keuzes is niet geldig.
          </small>
        </div>
      </div>

      <!-- expanded -->
      <div class="flex">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <ToggleSwitch v-model="expanded" @input="touchForm" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">
            <div v-if="!multiple">
              Toon keuzelijst als
              <strong>radio</strong>
              knoppen
            </div>
            <div v-if="multiple">
              Toon keuzelijst als
              <strong>checkboxen</strong>
            </div>
          </div>
        </div>
      </div>

      <!-- alphabetically -->
      <div class="flex">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <ToggleSwitch
            v-model="sortOptionsAlphabetically"
            @input="touchForm"
          />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Toon antwoordopties in alfabetische volgorde.</div>
        </div>
      </div>

      <!-- display mode -->
      <div class="flex">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <ToggleSwitch
            v-model="displayMode"
            true-value="singleTableRow"
            false-value="regular"
            @input="touchForm"
          />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">
            Toon antwoordopties in tabel vorm naast elkaar.
          </div>
        </div>
      </div>

      <!-- show scoring options -->
      <div v-if="!multiple" class="flex mt-4">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <ToggleSwitch
            v-model="showScoringOptions"
            :disabled="multiple"
            @input="touchForm"
          />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Geef een score in bij de beschikbare opties.</div>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row mt-4">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-3/4">
          <div class="mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="isTouched && isValid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor de eigenschappen nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="isTouched && !isValid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <div v-if="!isSaving">
            <Button
              :disabled="!isValid"
              label="Bewaar eigenschappen"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              @click="save"
            ></Button>
          </div>
          <div v-else>
            <Button
              icon="pi pi-spin pi-spinner"
              disabled
              label="Bewaren van eigenschappen"
              class="w-full"
              severity="success"
            ></Button>
          </div>
        </div>
      </div>

      <CommandRenderer :command="command"></CommandRenderer>
      <div
        v-if="
          !multiple &&
          question.isScoreQuestion &&
          !question.isScoreQuestionForCalculation
        "
        class="mt-2"
      >
        <RelationDraggable
          :config="{
            question: question,
            relationToDropped: RelativeRelation.SCORE_FOR,
          }"
        />
      </div>
    </FormCard>

    <!-- form card for the score choice properties -----------------------------------  -->
    <FormCard
      v-if="!multiple && (question.isScoreQuestion || showScoringOptions)"
    >
      <div class="p-2"><ScoreChoiceProperties :question="question" /></div>
    </FormCard>

    <!-- form card for the related calculation questions -----------------------------  -->
    <FormCard
      v-if="isScoringChoiceQuestionNode(question) && question.isScoreQuestion"
    >
      <ListCalculations :question="question" />
      <div class="mt-2">
        <RelationDraggable
          :config="{
            question: question,
            relationToDropped: RelativeRelation.SCORE_FOR,
          }"
        />
      </div>
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import useVuelidate from "@vuelidate/core";
import CommandRenderer from "../../../_general/CommandRenderer.vue";
import { useUpdateChoicePropertiesCommand } from "@/api/commands/UpdateChoiceProperties";
import { ref, computed, toRef, watch, onMounted } from "vue";
import type { ChoiceQuestionNode } from "@/api/queries/types/formTypes";
import ListCalculations from "../calculations/ListCalculations.vue";
import { isScoringChoiceQuestionNode } from "@/api/queries/types/subtypesForNodeRelations";
import { RelativeRelation } from "@/api/queries/types/formTypes";
import RelationDraggable from "../RelationDraggable.vue";
import ScoreChoiceProperties from "./ScoreChoiceProperties.vue";
import FormCardList from "@/components/layout/FormCardList.vue";

// -- props and stores --------------------------------------------------------

const props = defineProps<{ question: ChoiceQuestionNode }>();

const {
  newPayload,

  multiple,
  expanded,
  minSelect,
  maxSelect,
  sortOptionsAlphabetically,
  displayMode,
  custom_options,

  command,
  executeCommand,
} = useUpdateChoicePropertiesCommand(toRef(props, "question"));

// -- show scoring options (as custom_option) ---------------------------------

const showScoringOptions = ref<boolean>(false);

watch(
  () => showScoringOptions.value,
  (newValue) => {
    custom_options.value = { show_scores_in_options: false };
    custom_options.value.show_scores_in_options = newValue;
  },
);

watch(
  () => multiple.value,
  (newValue) => {
    if (newValue) {
      showScoringOptions.value = false;
    }
  },
);

onMounted(() => {
  if (props.question.isScoreQuestion) {
    showScoringOptions.value = true;
  } else {
    if (!Array.isArray(props.question.configProps.custom_options)) {
      showScoringOptions.value =
        props.question.configProps.custom_options.show_scores_in_options;
    } else {
      showScoringOptions.value = false;
    }
  }
});

// -- validation --------------------------------------------------------------

const minSelectValidator = function (value: number) {
  if (multiple.value) {
    let _value = parseInt(value.toString());
    if (_value != value) return false;
    if (_value < 0) return false;
    if (maxSelect.value && _value > maxSelect.value) return false;
  }
  return true;
};

const numberOfOptions = computed(() => props.question.options.length);
const maxSelectValidator = function (value: number) {
  if (multiple.value) {
    let _value = parseInt(value.toString());
    if (_value != value) return false;
    if (minSelect.value && _value < minSelect.value) return false;
    if (_value > numberOfOptions.value) return false;
  }
  return true;
};

// -- save form --------------------------------------------------------------

const isTouched = ref(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}

const rulesChoiceProperties = {
  minSelect: { minSelectValidator },
  maxSelect: { maxSelectValidator },
};
const v$ = useVuelidate(rulesChoiceProperties, newPayload);

const isValid = computed(() => v$.value.$errors.length === 0);
</script>
