<template>
  <FormCardList>
    <FormCard id="DateProperties">
      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Format datum</div>
        </div>
        <div class="basis-1/4 ml-2">
          <Select
            v-model="formatMask"
            :options="formatOptions"
            class="w-full"
            @input="touchForm"
            @change="touchForm"
          />
        </div>
        <div class="basis-2/4">
          <div class="text-sm ml-2 mt-2">
            dd = dag / mm = maand / yy = jaar (xxxx)
          </div>
        </div>
      </div>

      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right"></div>
        <div class="basis-3/4 ml-2">
          <div class="flex">
            <div>
              <ToggleSwitch
                v-model="prefillWithToday"
                @input="touchForm"
                @change="touchForm"
              />
            </div>
            <div class="ml-3 mt-0.5">Pre-fill met datum vandaag.</div>
          </div>
        </div>
      </div>

      <!--    <div class="flex flex-row mt-4">-->
      <!--      <div class="basis-1/4 text-right">-->
      <!--        <div class="mt-2">Datum moet vallen <strong>voor</strong></div>-->
      <!--      </div>-->
      <!--      <div class="basis-2/4 ml-2">-->
      <!--        <span class="p-input-icon-right w-full">-->
      <!--          <DatePicker class="w-full"-->
      <!--                    date-format="dd/mm/yy"-->
      <!--                    v-model="minDate"></DatePicker>-->
      <!--        </span>-->
      <!--      </div>-->
      <!--      <div class="basis-1/4 ml-2">-->
      <!--        <div class="text-sm mt-2 text-gray-400">(dd/mm/yyyy)</div>-->
      <!--      </div>-->
      <!--    </div>-->

      <!--    <div class="flex flex-row mt-4">-->
      <!--      <div class="basis-1/4 text-right">-->
      <!--        <div class="mt-2">Datum moet vallen <strong>na</strong></div>-->
      <!--      </div>-->
      <!--      <div class="basis-2/4 ml-2">-->
      <!--        <span class="p-input-icon-right w-full">-->
      <!--          <DatePicker class="w-full"-->
      <!--                    v-model="maxDate"-->
      <!--                    date-format="dd/mm/yy"></DatePicker>-->
      <!--        </span>-->
      <!--      </div>-->
      <!--      <div class="basis-1/4 ml-2">-->
      <!--        <div class="text-sm mt-2 text-gray-400">(dd/mm/yyyy)</div>-->
      <!--      </div>-->
      <!--    </div>-->

      <!-- save button ----------------------------------------------------------------------------------------------- -->
      <div class="mt-4 flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-3/4">
          <div class="mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="isTouched && isValid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor de eigenschappen nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="isTouched && !isValid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <div v-if="!isSaving">
            <Button
              :disabled="!isValid"
              label="Bewaar eigenschappen"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              @click="save"
            ></Button>
          </div>
          <div v-else>
            <Button
              icon="pi pi-spin pi-spinner"
              disabled
              label="Bewaren van eigenschappen"
              class="w-full"
              severity="success"
            ></Button>
          </div>
        </div>
      </div>

      <CommandRenderer :command="command" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import type { DateQuestionNode } from "@/api/queries/types/formTypes";
import { computed, ref, toRef } from "vue";
import { useUpdateDatePropertiesCommand } from "@/api/commands/UpdateDateProperties";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";

// -- properties --------------------------------------------------------

const props = defineProps<{ question: DateQuestionNode }>();

const {
  newPayload,
  formatMask,
  prefillWithToday,
  // minDate,
  // maxDate,
  // changed,
  command,
  executeCommand,
} = useUpdateDatePropertiesCommand(toRef(props, "question"));

const isTouched = ref<boolean>(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

// -- available format options -------------------------------------------

let formatOptions: string[] = ["dd/mm/yy", "mm/yy", "dd-mm-yy", "mm-yy"];

// -- saving the command -------------------------------------------------

const isSaving = ref(false);

async function save() {
  if (!v$.value.$invalid) {
    isSaving.value = true;
    await executeCommand();
    isTouched.value = false;
    isSaving.value = false;
  }
}

// -- validations -------------------------------------------------------

const rules = {
  formatMask: { required },
};
const v$ = useVuelidate(rules, newPayload);
const isValid = computed(() => !v$.value.$invalid);
</script>
