<template>
  <FormCardList>
    <FormCard>
      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <!-- minimum value -->
      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <div class="flex mt-4">
        <div class="mt-2 mr-2 text-left basis-1/4 required-label">
          Minimum {{ isCalculation ? "score" : "waarde" }}
        </div>
        <div class="basis-1/4">
          <span class="w-full p-input-icon-right">
            <InputNumber
              v-model="min"
              class="w-full"
              mode="decimal"
              :min-fraction-digits="scale"
              @input="touchForm"
              @change="touchForm"
            />
          </span>
          <small v-if="v$.min.$invalid" class="p-error">
            Minimum waarde is niet geldig.
          </small>
        </div>
        <div class="basis-2/4">
          <div class="mt-2 ml-4">
            <Checkbox
              id="showMinAsInputAddon"
              v-model="showMinAsInputAddon"
              :binary="true"
            />
            <label for="showMinAsInputAddon" class="ml-2">
              Toon aan gebruiker
            </label>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <!-- maximum value -->
      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <div class="flex mt-2">
        <div class="mt-2 mr-2 text-left basis-1/4 required-label">
          Maximum {{ isCalculation ? "score" : "waarde" }}
        </div>
        <div class="basis-1/4">
          <span class="w-full p-input-icon-right">
            <InputNumber
              v-model="max"
              class="w-full"
              mode="decimal"
              :min-fraction-digits="scale"
              @input="touchForm"
              @change="touchForm"
            />
          </span>
          <small v-if="v$.max.$invalid" class="p-error">
            Maximum waarde is niet geldig.
          </small>
        </div>
        <div class="basis-2/4">
          <div class="mt-2 ml-4">
            <Checkbox
              id="showMaxAsInputAddon"
              v-model="showMaxAsInputAddon"
              :binary="true"
            />
            <label for="showMaxAsInputAddon" class="ml-2">
              Toon aan gebruiker
            </label>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <!-- number of decimals -->
      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <div class="flex mt-2">
        <div class="mt-2 mr-2 text-left basis-1/4 required-label">
          Aantal decimalen
        </div>
        <div class="basis-1/3">
          <div class="mt-2">
            <RadioButton
              v-model="scale"
              input-id="decimal_0"
              :value="0"
              @input="touchForm"
              @change="touchForm"
            />
            <label for="decimal_0" class="mr-4 ml-2">0</label>
            <RadioButton
              v-model="scale"
              input-id="decimal_1"
              :value="1"
              @input="touchForm"
              @change="touchForm"
            />
            <label for="decimal_1" class="mr-4 ml-2">1</label>
            <RadioButton
              v-model="scale"
              input-id="decimal_2"
              :value="2"
              @input="touchForm"
              @change="touchForm"
            />
            <label for="decimal_2" class="mr-4 ml-2">2</label>
            <RadioButton
              v-model="scale"
              input-id="decimal_3"
              :value="3"
              @input="touchForm"
              @change="touchForm"
            />
            <label for="decimal_3" class="mr-4 ml-2">3</label>
          </div>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <!-- step interval -->
      <!-- ----------------------------------------------------------------------------------------------------------- -->
      <div class="flex mt-3">
        <div class="mt-2 mr-2 text-left basis-1/4 required-label">
          Stap interval
        </div>
        <div class="basis-1/4">
          <span class="w-full p-input-icon-right">
            <InputNumber
              v-model="stepInterval"
              :use-grouping="false"
              :min="0"
              class="w-full"
              @input="touchForm"
              @change="touchForm"
            />
          </span>
          <small v-if="v$.stepInterval.$invalid" class="p-error">
            Stap interval is niet geldig.
          </small>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-2/4">
          <div class="mt-2 mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="isTouched && isValid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor de eigenschappen nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="isTouched && !isValid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <div class="pt-2 ml-2">
            <div v-if="!isSaving">
              <Button
                :disabled="!isValid"
                label="Bewaar"
                icon="pi pi-save"
                class="w-full"
                severity="success"
                @click="save"
              ></Button>
            </div>
            <div v-else>
              <Button
                icon="pi pi-spin pi-spinner"
                disabled
                label="Bewaren van eigenschappen"
                class="w-full"
                severity="success"
              ></Button>
            </div>
          </div>
        </div>
        <div class="basis-1/4"></div>
      </div>
      <CommandRenderer :command="command"></CommandRenderer>
    </FormCard>

    <FormCard>
      <ListCalculations :question="question" />

      <RelationDraggable
        :config="{
          question: question,
          relationToDropped: RelativeRelation.SCORE_FOR,
        }"
      />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import useVuelidate from "@vuelidate/core";
import { ref, computed, watch, toRef } from "vue";
import { integer, minValue, required, decimal } from "@vuelidate/validators";
import CommandRenderer from "../../../_general/CommandRenderer.vue";
import { useUpdateCalculationProperties } from "@/api/commands/UpdateNumberProperties";
import type { NumberQuestionNode } from "@/api/queries/types/formTypes";
import ListCalculations from "@/components/formBuilder/formList/nodeEditor/calculations/ListCalculations.vue";
import RelationDraggable from "../RelationDraggable.vue";
import { RelativeRelation } from "@/api/queries/types/formTypes";

// -- props and stores

const props = defineProps<{ question: NumberQuestionNode }>();

const {
  min,
  max,
  scale,
  stepInterval,
  showMaxAsInputAddon,
  showMinAsInputAddon,

  newPayload,

  // changed,
  command,

  executeCommand,
} = useUpdateCalculationProperties(toRef(props, "question"));

// ----------------------------------------------------------------------------------------------------------- interaction

const isTouched = ref(false);
function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}

// ------------------------------------------------------------------------------------------------------------ validation

const scaleValidator = function (value: number) {
  if (!(value == 0 || value == 1 || value == 2 || value == 3)) return false;
  return true;
};

const minValidator = function (value: number) {
  let _value = parseFloat(value.toString());
  if (_value != value) return false;
  if (_value > newPayload.value.max) return false;
  return true;
};

const maxValidator = function (value: number) {
  let _value = parseFloat(value.toString());
  if (_value != value) return false;
  if (_value < newPayload.value.min) return false;
  return true;
};

const isCalculation = computed(() => props.question.isCalculatedQuestion);

const rules = {
  min: { required, decimal, minValidator },
  max: { required, decimal, maxValidator },
  scale: { required, integer, scaleValidator },
  stepInterval: { required, integer, minValue: minValue(0) },
};
const v$ = useVuelidate(rules, newPayload);
const isValid = computed(() => !v$.value.$invalid);

// -------------------------------------------------------------------------------------------------------------- watchers

watch(newPayload, (): void => {
  isTouched.value = false;
});
</script>
