<template>
  <FormCardList>
    <FormCard id="RadarChartProperties">
      <div class="flex flex-row">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <ToggleSwitch v-model="hidePointValues" @input="touchForm" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Verberg score/antwoord</div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <ToggleSwitch v-model="hidePointUnitSuffix" @input="touchForm" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Verberg de eenheid achter score/antwoord</div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <ToggleSwitch v-model="hideScaleValues" @input="touchForm" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Verberg schaal op as</div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <ToggleSwitch v-model="hideScaleUnitSuffix" @input="touchForm" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Verberg de eenheid achter schaal op as</div>
        </div>
      </div>

      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Eenheid</div>
        </div>
        <div class="basis-1/4 ml-2">
          <IconField>
            <InputText
              v-model="unitSign"
              class="w-full"
              @input="touchForm"
              @change="touchForm"
            />
            <InputIcon v-if="!v$.unitSign.$invalid" class="pi pi-check" />
            <InputIcon v-if="v$.unitSign.$invalid" class="pi pi-times" />
          </IconField>
          <small v-if="v$.unitSign.$invalid" class="p-error">
            Eenheid is te lang.
          </small>
        </div>
        <div class="basis-1/4 ml-2">
          <div class="text-gray-500 text-xs mt-3">(max. 10 chars)</div>
        </div>
      </div>

      <!-- save button ----------------------------------------------------------------------------------------------- -->
      <div class="mt-4 flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-3/4">
          <div class="mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="isTouched && isValid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor de eigenschappen nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="isTouched && !isValid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <div v-if="!isSaving">
            <Button
              :disabled="!isValid"
              label="Bewaar eigenschappen"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              @click="save"
            ></Button>
          </div>
          <div v-else>
            <Button
              icon="pi pi-spin pi-spinner"
              disabled
              label="Bewaren van eigenschappen"
              class="w-full"
              severity="success"
            ></Button>
          </div>
        </div>
      </div>

      <CommandRenderer :command="command" />
    </FormCard>

    <FormCard>
      <RadarChartRelatedQuestions :question="question" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import type { RadarChartNode } from "@/api/queries/types/formTypes";
import RadarChartRelatedQuestions from "@/components/formBuilder/formList/nodeEditor/chart/RadarChartRelatedQuestions.vue";
import { computed, ref, toRef } from "vue";
import { useUpdateRadarChartPropertiesCommand } from "@/api/commands/UpdateRadarChartProperties";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";

import { maxLength } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import FormCardList from "@/components/layout/FormCardList.vue";

// -- props and stores

const props = defineProps<{ question: RadarChartNode }>();

const isTouched = ref<boolean>(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

const {
  hidePointValues,
  hideScaleValues,
  hideScaleUnitSuffix,
  hidePointUnitSuffix,
  unitSign,

  newPayload,
  command,
  executeCommand,
} = useUpdateRadarChartPropertiesCommand(toRef(props, "question"));

// -- validations

const rules = {
  unitSign: { maxLength: maxLength(10) },
};

const v$ = useVuelidate(rules, newPayload);
const isValid = computed(() => !v$.value.$invalid);

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
