<template>
  <!-- introduction -->
  <div class="flex flex-row mb-4">
    <div class="text-sm text-gray-500">
      <i class="pi pi-exclamation-circle"></i>
      Deze keuze-vraag is als score ( <i class="pi pi-percentage"></i> )
      onderdeel van een berekening (
      <font-awesome-icon icon="fa-solid fa-calculator" /> ). Gelieve
      onderstaande eigenschappen te vervolledigen:
    </div>
  </div>

  <!-- properties -->
  <div class="flex gap-2">
    <div class="grow">
      <div class="pb-2">Minimum score *</div>
      <InputGroup class="flex-1">
        <InputNumber
          v-model="minScore"
          mode="decimal"
          :min-fraction-digits="scale ?? 0"
          :invalid="vScoreProperties$.minScore.$invalid"
          @input="touchForm"
          @change="touchForm"
        />
        <Button
          v-tooltip.bottom="'Vul in op basis van de gemaakte opties.'"
          icon="pi pi-chevron-left"
          label="Vul in"
          @click="takeMinScoreFromOptions"
        />
      </InputGroup>
      <div class="pt-1">
        <small v-if="vScoreProperties$.minScore.$invalid" class="text-red-500">
          Min. score is groter dan max. score.
        </small>
      </div>
    </div>
    <div class="grow">
      <div class="pb-2">Maximum score *</div>
      <InputGroup class="flex-1">
        <InputNumber
          v-model="maxScore"
          mode="decimal"
          :min-fraction-digits="scale ?? 0"
          :invalid="vScoreProperties$.maxScore.$invalid"
          @input="touchForm"
          @change="touchForm"
        />
        <InputGroupAddon
          v-if="
            props.question.configScoring.scoringParameters.passScore !== null
          "
        >
          &lt;{{ props.question.configScoring.scoringParameters.passScore }}
        </InputGroupAddon>
        <Button
          v-tooltip.bottom="'Vul in op basis van de gemaakte opties.'"
          icon="pi pi-chevron-left"
          label="Vul in"
          @click="takeMaxScoreFromOptions"
        />
      </InputGroup>
      <div class="flex flex-col pt-1 text-red-500">
        <small v-if="vScoreProperties$.maxScore.scoreValidator.$invalid">
          Max. score is kleiner dan min. score.
        </small>
        <small v-if="vScoreProperties$.maxScore.passScoreValidator.$invalid">
          Max. score moet kleiner zijn dan pass-score:
          {{ props.question.configScoring.scoringParameters.passScore }}. Zie
          tabblad berekening.
        </small>
      </div>
    </div>
    <!-- <div class="basis-1/12"> -->
    <!--   <div class="mt-2 ml-3"> -->
    <!--     <i -->
    <!--       v-if="!v$.minScore.$invalid" -->
    <!--       class="text-green-600 pi pi-check-circle" -->
    <!--     /> -->
    <!--     <i -->
    <!--       v-if="v$.minScore.$invalid" -->
    <!--       class="text-red-600 pi pi-times-circle" -->
    <!--     /> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
  <div class="flex gap-4 my-4">
    <div class="grow">
      <div class="mb-2">Aantal decimalen *</div>
      <div class="flex">
        <SelectButton
          v-model="scale"
          :options="[0, 1, 2, 3].map((i) => ({ name: i.toString(), value: i }))"
          option-label="name"
          option-value="value"
          :allow-empty="false"
          @input="touchForm"
          @change="touchForm"
        />

        <div class="grid place-content-center pl-2">
          <i
            v-if="!vScoreProperties$.scale.$invalid"
            class="text-green-600 pi pi-check-circle"
          />
          <i
            v-if="vScoreProperties$.scale.$invalid"
            class="text-red-600 pi pi-times-circle"
          />
        </div>
      </div>
    </div>

    <div class="grow">
      <div class="mb-2">Afronden *</div>
      <div class="flex">
        <SelectButton
          v-model="roundingMode"
          :options="[
            { name: 'Naar boven', value: 1 },
            { name: 'Naar beneden', value: 2 },
          ]"
          option-label="name"
          option-value="value"
          :allow-empty="false"
          @input="touchForm"
          @change="touchForm"
        />
        <div class="grid place-content-center pl-2">
          <i
            v-if="!vScoreProperties$.roundingMode.$invalid"
            class="text-green-600 pi pi-check-circle"
          />
          <i
            v-if="vScoreProperties$.roundingMode.$invalid"
            class="text-red-600 pi pi-times-circle"
          />
        </div>
      </div>
    </div>

    <div class="grid items-end grow">
      <Button
        v-if="!isSaving"
        label="Bewaar"
        icon="pi pi-check"
        class="w-full p-button-success"
        :disabled="!isValid"
        @click="save"
      />
      <Button
        v-else
        label="Bewaren"
        icon="pi pi-spin pi-spinner"
        class="p-button-success"
      />
    </div>
  </div>
  <div class="mt-2">
    <!-- --------------------------------------------------------------------------------------------- touched -->
    <Message
      v-if="isTouched && isValid"
      severity="warn"
      class="w-full"
      icon="pi pi-exclamation-triangle"
    >
      Wijzigingen voor de score eigenschappen zijn nog niet bewaard.
    </Message>
    <!-- --------------------------------------------------------------------------------------------- invalid -->
    <Message
      v-if="isTouched && !isValid"
      severity="error"
      icon="pi pi-times-circle"
      class="w-full"
    >
      Dit formulier is niet geldig.
    </Message>
  </div>
  <CommandRenderer :command="command" />
</template>

<script setup lang="ts">
import type { ChoiceQuestionNode } from "@/api/queries/types/formTypes";
import { computed, ref, toRef } from "vue";
import useVuelidate from "@vuelidate/core";
import { useUpdateScoreProperties } from "@/api/commands/UpdateScoreProperties";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import {
  roundingModeValidatorFn,
  scaleValidatorFn,
} from "@/api/validations/calculationValidations";

// -- props and stores

const props = defineProps<{ question: ChoiceQuestionNode }>();

const {
  newPayload,

  roundingMode,
  scale,
  minScore,
  maxScore,

  command,
  executeCommand,
} = useUpdateScoreProperties(toRef(props, "question"));

// -- validations

const scoreValidator = () =>
  minScore.value !== null &&
  maxScore.value !== null &&
  minScore.value < maxScore.value;

const passScoreValidator = (maxScore: number) => {
  return (
    props.question.configScoring.scoringParameters.passScore === null ||
    maxScore > props.question.configScoring.scoringParameters.passScore
  );
};

const rulesScoreProperties = {
  roundingMode: { roundingModeValidatorFn },
  scale: { scaleValidatorFn },
  minScore: { scoreValidator },
  maxScore: { scoreValidator, passScoreValidator },
};

const vScoreProperties$ = useVuelidate(rulesScoreProperties, newPayload);
const isValid = computed(() => vScoreProperties$.value.$errors.length === 0);

// -- touching

const isTouched = ref(false);

function touchForm() {
  isTouched.value = true;
  vScoreProperties$.value.$touch();
}

function takeMinScoreFromOptions() {
  touchForm();
  let _result = 100000000000000;

  for (const option of props.question.options) {
    if (option.score !== null && option.score < _result) {
      _result = option.score;
    }
  }
  minScore.value = _result;
}

function takeMaxScoreFromOptions() {
  touchForm();
  let _result = 0;

  for (const option of props.question.options) {
    if (option.score !== null && option.score > _result) {
      _result = option.score;
    }
  }
  maxScore.value = _result;
}

// ---------------------------------------------------------------------------------------------------------------------
// -- commands and saving the information
// ---------------------------------------------------------------------------------------------------------------------

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
