<template>
  <FormCardList>
    <FormCard>
      <!-- multiple -->
      <div class="flex">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <ToggleSwitch v-model="multiLine" @input="toggleMultilineSwitch" />
        </div>
        <div class="basis-1/4">
          <div class="mt-2">Meerdere lijnen ?</div>
        </div>
        <div class="basis-1/4">
          <div class="mt-2">
            <i
              v-tooltip="
                'Groot tekstveld (indien je deze optie uitvinkt zal het invulveld maar 1 lijn hoog zijn).'
              "
              class="pi pi-info-circle"
            ></i>
          </div>
        </div>
      </div>

      <!-- wysiwyg -->
      <div v-if="multiLine" class="flex">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <ToggleSwitch
            v-model="displayMode"
            true-value="wysiwyg"
            false-value="regular"
            @input="touchForm"
          />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">
            Toon een teksteditor (zoals Word), met beperkte stijlopties.
          </div>
        </div>
      </div>

      <!-- min length -->
      <div class="flex mt-3">
        <div class="basis-2/4 text-right">
          <div>Minimum aantal karakters *</div>
        </div>
        <div class="basis-1/4 ml-2">
          <IconField>
            <InputNumber
              v-model="minLength"
              :use-grouping="false"
              :min="0"
              class="w-full"
              @input="touchForm"
              @change="touchForm"
            />
            <InputIcon v-if="!v$.minLength.$invalid" class="pi pi-check" />
            <InputIcon v-if="v$.minLength.$invalid" class="pi pi-times" />
          </IconField>
          <small v-if="v$.minLength.$invalid" class="p-error">
            Dit is geen geldige waarde.
          </small>
        </div>
      </div>

      <!-- max length -->
      <div class="flex mt-3">
        <div class="basis-2/4 text-right">
          <div>Maximum aantal karakters *</div>
        </div>
        <div class="basis-1/4 ml-2">
          <IconField>
            <InputNumber
              v-model="maxLength"
              class="w-full"
              :use-grouping="false"
              :min="minLength"
              @input="touchForm"
              @change="touchForm"
            />
            <InputIcon v-if="!v$.maxLength.$invalid" class="pi pi-check" />
            <InputIcon v-if="v$.maxLength.$invalid" class="pi pi-times" />
          </IconField>
          <small v-if="v$.maxLength.$invalid" class="p-error">
            Dit is geen geldige waarde.
          </small>
        </div>
      </div>

      <!-- save button -->
      <div class="mt-4 flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-3/4">
          <div class="mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="isTouched && isValid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor de eigenschappen nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="isTouched && !isValid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <div v-if="!isSaving">
            <Button
              :disabled="!isValid"
              label="Bewaar eigenschappen"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              @click="save"
            ></Button>
          </div>
          <div v-else>
            <Button
              icon="pi pi-spin pi-spinner"
              disabled
              label="Bewaren van eigenschappen"
              class="w-full"
              severity="success"
            ></Button>
          </div>
        </div>
      </div>

      <!-- debug the command (for the backend) -->
      <CommandRenderer :command="command"></CommandRenderer>
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import useVuelidate from "@vuelidate/core";
import { minValue, numeric, required } from "@vuelidate/validators";
import { ref, computed, toRef } from "vue";
import { useUpdateTextPropertiesCommand } from "@/api/commands/UpdateTextProperties";
import type { TextQuestionNode } from "@/api/queries/types/formTypes";
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";

const isTouched = ref(false);

function toggleMultilineSwitch() {
  if (multiLine.value) {
    if (maxLength.value.toString() === "255") {
      maxLength.value = 10000;
    }
  } else {
    if (maxLength.value.toString() === "10000") {
      maxLength.value = 255;
    }
  }
  touchForm();
}

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

const props = defineProps<{ question: TextQuestionNode }>();

const {
  currentState,
  newPayload,

  multiLine,
  minLength,
  maxLength,
  displayMode,

  command,
  executeCommand,
} = useUpdateTextPropertiesCommand(toRef(props, "question"));

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}

// -- validators and validation

const minLengthValidator = function (value: number) {
  return parseInt(value.toString()) == value;
};

const rules = {
  minLength: { minLengthValidator },
  maxLength: {
    required,
    numeric,
    minValue: minValue(currentState.value.minLength),
  },
};
const v$ = useVuelidate(rules, newPayload);
const isValid = computed(() => !v$.value.$invalid);
</script>
