<template>
  <FormCardList>
    <FormCard id="UploadProperties">
      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Min. aantal bestanden</div>
        </div>
        <div class="basis-1/4 ml-2">
          <IconField>
            <InputNumber
              v-model="minAmount"
              :min="0"
              :max="maxAmount"
              class="w-full"
              @input="touchForm"
              @change="touchForm"
            />
            <InputIcon v-if="!v$.minAmount.$invalid" class="pi pi-check" />
            <InputIcon v-if="v$.minAmount.$invalid" class="pi pi-times" />
          </IconField>
          <small v-if="v$.minAmount.$invalid" class="p-error">
            Min. aantal bestanden is niet geldig.
          </small>
        </div>
      </div>
      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Max. aantal bestanden</div>
        </div>
        <div class="basis-1/4 ml-2">
          <IconField>
            <InputNumber
              v-model="maxAmount"
              class="w-full"
              :min="minAmount"
              @input="touchForm"
              @change="touchForm"
            />
            <InputIcon v-if="!v$.maxAmount.$invalid" class="pi pi-check" />
            <InputIcon v-if="v$.maxAmount.$invalid" class="pi pi-times" />
          </IconField>
          <small v-if="v$.maxAmount.$invalid" class="p-error">
            Max. aantal bestanden is niet geldig.
          </small>
        </div>
      </div>

      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Max. grootte bestand</div>
        </div>
        <div class="basis-1/4 ml-2">
          <div class="flex">
            <div>
              <IconField>
                <InputNumber
                  v-model="maxFileSizeInMB"
                  :max-fraction-digits="7"
                  locale="nl-BE"
                  class="w-full"
                  @input="touchForm"
                  @change="touchForm"
                />
                <InputIcon
                  v-if="!v$.maxFileSize.$invalid"
                  class="pi pi-check"
                />
                <InputIcon v-if="v$.maxFileSize.$invalid" class="pi pi-times" />
              </IconField>
              <small v-if="v$.maxFileSize.$invalid" class="p-error">
                Max. grootte bestand is niet geldig.
              </small>
            </div>
            <div class="mt-2 ml-2">MB</div>
          </div>
        </div>
      </div>

      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Extensions</div>
        </div>
        <div class="basis-3/4 ml-2">
          <MultiSelect
            v-model="fileTypes"
            filter
            :filter-fields="['code', 'mimeType']"
            class="w-full"
            option-label="code"
            :options="allowedFileTypes as FileType[]"
            display="chip"
            placeholder="selecteer toegelaten extensies"
          />
        </div>
      </div>

      <div class="flex flex-row mt-4">
        <div class="basis-1/4 text-right">
          <div class="mt-2">Mime types</div>
        </div>
        <div class="basis-3/4 ml-2">
          <div>
            <Badge
              v-for="mimeType in fileTypes.map((type) => type.mimeType)"
              :key="mimeType"
              class="p-badge-secondary mt-2 mr-2"
            >
              {{ mimeType }}
            </Badge>
          </div>
        </div>
      </div>

      <!-- save button ----------------------------------------------------------------------------------------------- -->
      <div class="mt-4 flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-3/4">
          <div class="mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="isTouched && isValid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor de eigenschappen nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="isTouched && !isValid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <div v-if="!isSaving">
            <Button
              :disabled="!isValid"
              label="Bewaar eigenschappen"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              @click="save"
            ></Button>
          </div>
          <div v-else>
            <Button
              icon="pi pi-spin pi-spinner"
              disabled
              label="Bewaren van eigenschappen"
              class="w-full"
              severity="success"
            ></Button>
          </div>
        </div>
      </div>

      <CommandRenderer :command="command" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import type { UploadQuestionNode } from "@/api/queries/types/formTypes";
import { computed, ref, toRef, watch } from "vue";
import useVuelidate from "@vuelidate/core";
import {
  FileType,
  useUpdateUploadPropertiesCommand,
} from "@/api/commands/UpdateUploadProperties";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { integer, required } from "@vuelidate/validators";
import FormCardList from "@/components/layout/FormCardList.vue";

// -- props and stores

const props = defineProps<{ question: UploadQuestionNode }>();

const {
  allowedFileTypes,

  newPayload,

  minAmount,
  maxAmount,
  maxFileSize,
  fileTypes,

  command,
  executeCommand,
} = useUpdateUploadPropertiesCommand(toRef(props, "question"));

const maxFileSizeInMB = ref(maxFileSize.value / 1000 / 1000);
watch(maxFileSizeInMB, (value) => {
  maxFileSize.value = Math.floor(value * 1000 * 1000);
});

const isTouched = ref<boolean>(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

// -- validations

const minValidator = function (value: number) {
  let _value = parseFloat(value.toString());
  if (_value != value) return false;
  if (_value > maxAmount.value) return false;
  if (props.question.required && _value === 0) return false;
  return true;
};

const maxValidator = function (value: number) {
  let _value = parseFloat(value.toString());
  if (_value != value) return false;
  if (_value < minAmount.value) return false;
  return true;
};

const rules = {
  minAmount: { required, integer, minValidator },
  maxAmount: { required, integer, maxValidator },
  maxFileSize: { required, integer },
};

const v$ = useVuelidate(rules, newPayload);
const isValid = computed(() => !v$.value.$invalid);
const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
