{# @var errorQuestion \KUL\FormBundle\Domain\Template\Element\Node\Question\InputNode #}
{% if form is defined and form is not empty %}
    <div id="kfb-validation-error-messages-list">
        {% if not form.vars.valid %}
            <div class="well alert alert-danger">
                <h4><strong>{{ 'formErrors.mainTitle'|trans({}, 'kulFormBase') }}:</strong></h4>
                {% if useAnchorsForErrorMessages is defined and useAnchorsForErrorMessages %}
                    <p><strong>{{ 'formErrors.clickInfo'|trans({}, 'kulFormBase') }}.</strong></p>
                {% endif %}
            </div>
            {# get the top level form errors, if any those are not related to questions but to the form itself or other like a session timeout... #}
            {% set topFormErrors = form.vars.errors %}
            {# get all errors of the children (questions) in the form in a single iterable list, without having to recurisively loop over the nested form children,
               https://ourcodeworld.com/articles/read/1077/how-to-render-form-errors-in-a-list-with-twig-in-symfony-4
            #}
            {% set childFormErrors = form.vars.errors.form.getErrors(true) %}
            <div class="well alert alert-danger">
                <ul class="list-unstyled">
                    {% for topFormError in topFormErrors %}
                        {% set errorMsg = topFormError.message %}
                        <li>
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            &nbsp;
                            {{ topFormError.message }}
                        </li>
                    {% endfor %}
                    {% for childFormError in childFormErrors %}
                        {% set errorMsg = childFormError.message %}
                        {% set errorQuestion = childFormError.origin.config.options.node %}
                        <li>
                            {% if useAnchorsForErrorMessages is defined and useAnchorsForErrorMessages %}
                                <a href="#" class="kfb-validation-error-link" data-kfb-id-reference="{{ errorQuestion.uid }}">
                            {% endif %}
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;
                                    <strong>
                                        {% if useNestedQuestionLabelsForErrorMessages is defined and useNestedQuestionLabelsForErrorMessages %}
                                            {{ errorQuestion.nestedLabel(app.request.locale)|sanitize_html_custom }}
                                        {% else %}
                                            {{ errorQuestion.label(app.request.locale)|sanitize_html_custom }}
                                        {% endif %}
                                    </strong>:
                                    {{ childFormError.message }}
                            {% if useAnchorsForErrorMessages is defined and useAnchorsForErrorMessages %}
                                <span class="glyphicon glyphicon glyphicon-link"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {% if useAnchorsForErrorMessages is defined and useAnchorsForErrorMessages %}
        <script>
            $("a.kfb-validation-error-link").each(function () {
                $(this).on('click', function (e) {
                    e.preventDefault();
                    let refKfbQuestionId = $(this).data('kfb-id-reference');
                    let refKfbQuestionSelector = 'div[kfb-id="'+ refKfbQuestionId + '"]';
                    let refKfbQuestion = $(document).find(refKfbQuestionSelector);
                    if (0 !== refKfbQuestion.length) {
                        $('html,body').animate({scrollTop: $(refKfbQuestionSelector).offset().top},'fast');
                    }
                });
            });
        </script>
    {% endif %}
{% endif %}
