<template>
  <div class="text-center">
    <div class="px-4">
      <div class="mt-4">
        <!-- button to show the structure -->
        <div
          id="overviewCategories"
          v-tooltip="'Overzicht van de categorieën'"
          data-cy="btnNavTree"
          class="text-xl cursor-pointer"
          @click="structureVisible = true"
        >
          <font-awesome-icon icon="fa-solid fa-folder-tree" />
        </div>
      </div>
      <div class="mt-4">
        <!-- button to show permission template manager -->
        <div
          id="permissionTemplates"
          v-tooltip="'Permissie templates'"
          data-cy="btnNavPermissionTemplates"
          class="text-xl cursor-pointer"
          @click="permissionStore.showPermissionTemplateManager = true"
        >
          <font-awesome-icon icon="fa-solid fa-eye" />
          <PermissionTemplateManager />
        </div>
      </div>
    </div>

    <!-- add categories and questions ------------------------------------------------ -->
    <div class="block p-2 mt-4">
      <div
        v-if="!filterActive"
        id="addItems"
        class="w-10 text-blue-700 rounded-full border-2 border-sky-200"
      >
        <div class="text-4xl text-sky-200" style="margin-top: -5px">
          <font-awesome-icon icon="fa-solid fa-circle-plus" />
        </div>

        <div
          v-tooltip="'Sleep mij om een categorie toe te voegen.'"
          data-cy="btnNavDragCategory"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.category)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-folder-plus" />
        </div>

        <div
          v-tooltip="'Sleep mij om een vragentabel toe te voegen.'"
          data-cy="btnNavDragMatrix"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.matrix)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-table" />
        </div>

        <Divider />
        <div
          v-tooltip="'Sleep mij om een tekst vraag toe te voegen.'"
          data-cy="btnNavDragTextQuestion"
          class="ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.questionText)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-font" />
        </div>

        <div
          v-tooltip="'Sleep mij om een keuze vraag toe te voegen.'"
          data-cy="btnNavDragChoiceQuestion"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.questionChoice)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-list-check" />
        </div>

        <div
          v-tooltip="'Sleep mij om een nummer vraag toe te voegen.'"
          data-cy="btnNavDragNumberQuestion"
          class="mt-2 ml-1 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.questionNumber)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-9" />
        </div>

        <div
          v-tooltip="'Sleep mij om een datum vraag toe te voegen.'"
          data-cy="btnNavDragDateQuestion"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.questionDate)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-calendar-plus" />
        </div>

        <div
          v-tooltip="'Sleep mij om een upload vraag toe te voegen.'"
          data-cy="btnNavDragUploadQuestion"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.questionUpload)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-upload" />
        </div>
        <Divider />
        <div
          v-tooltip="'Sleep mij om een radar grafiek toe te voegen.'"
          data-cy="btnNavDragRadarChart"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.readOnlyViewRadarChart)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-chart-simple" />
        </div>

        <div
          v-tooltip="'Sleep mij om een info node toe te voegen.'"
          data-cy="btnNavDragInfoNode"
          class="mt-2 ml-0.5 text-2xl cursor-move hover:text-black"
          draggable="true"
          @dragstart="startDrag($event, ActionType.add.readOnlyViewBasic)"
          @dragend="onDragEnd()"
        >
          <font-awesome-icon icon="fa-solid fa-circle-info" />
        </div>
        <div class="mb-4"></div>
      </div>
    </div>

    <!-- copy ---------------------------------------------------------------------- -->
    <div v-if="showCopyZone" class="copyZone fade-in-background">
      <Divider />
      <div class="block pb-4 ml-2 mt-4 w-8">
        <div
          v-if="!filterActive"
          class="w-10 text-blue-700 rounded-full border-2 border-orange-500"
        >
          <div
            class="text-2xl text-orange-500"
            style="margin-top: -5px; margin-left: -1px"
          >
            <font-awesome-icon icon="fa-solid fa-copy" class="mt-3" />
          </div>
          <div
            data-cy="btnDragCopyNode"
            class="mt-2 cursor-move"
            style="margin-left: -8px"
            draggable="true"
            @dragstart="startDrag($event, ActionType.copy)"
            @dragend="onDragEnd()"
          >
            <PositionTagger
              v-if="addAndCopyStore.copySelectedNode"
              :position="addAndCopyStore.copySelectedNode.position"
              :tooltip="copySelectedNodeLabel"
              class="ml-2 drop-shadow-md"
            />
          </div>
          <div
            v-tooltip="'Annuleer kopiëren'"
            data-cy="btnDragCopyNodeCancel"
            class="mx-auto mt-2 w-3 text-xl cursor-pointer hover:text-black text-orange-500"
            @click="resetCopyZone"
          >
            <font-awesome-icon icon="fa-solid fa-xmark" />
          </div>
        </div>
      </div>
    </div>

    <!-- move -------------------------------------------------------------------- -->
    <div v-if="showMoveZone" class="moveZone fade-in-background">
      <Divider class="margin-top:0px;" />
      <div class="block pb-4 ml-2 mt-4 w-8">
        <div
          v-if="!filterActive"
          class="w-10 text-blue-700 rounded-full border-2 border-orange-500"
        >
          <div
            class="text-xl text-orange-500"
            style="margin-top: -5px; margin-left: -1px"
          >
            <font-awesome-icon icon="fa-solid fa-up-down" class="mt-3" />
          </div>
          <div
            data-cy="btnDragMoveNode"
            class="mt-1.5 cursor-move"
            style="margin-left: -8px"
            draggable="true"
            @dragstart="startDrag($event, ActionType.move)"
            @dragend="onDragEnd()"
          >
            <PositionTagger
              v-if="addAndCopyStore.moveSelectedNode"
              :position="addAndCopyStore.moveSelectedNode.position"
              :tooltip="moveSelectedNodeLabel"
              class="ml-2 drop-shadow-md"
            />
          </div>
          <div
            v-tooltip="'Annuleer verplaatsing'"
            data-cy="btnDragMoveNodeCancel"
            class="mx-auto mt-2 w-3 text-xl cursor-pointer hover:text-black text-orange-500"
            @click="resetMoveZone"
          >
            <font-awesome-icon icon="fa-solid fa-xmark" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- form structure side bar -->
  <Drawer
    v-model:visible="structureVisible"
    :modal="false"
    position="left"
    class="drop-shadow-lg"
  >
    <FormStructureNodeRenderer
      v-for="node in rootNodeChildrenCategories"
      :key="node.id"
      :node="node"
    />
  </Drawer>
</template>

<script setup lang="ts">
import FormStructureNodeRenderer from "@/components/formBuilder/formStructure/FormStructureNodeRenderer.vue";
import { computed, ref } from "vue";
import { useFormStore } from "@/stores/form";
import { ActionType, useAddAndCopyStore } from "@/stores/addAndCopy";
import { useLanguageStore } from "@/stores/language";
import PositionTagger from "../../_general/PositionTagger.vue";
import type { CategoryNode, FormNode } from "@/api/queries/types/formTypes";
import { usePermissionStore } from "@/stores/permissions";
import PermissionTemplateManager from "@/components/formBuilder/dialog/PermissionTemplateManager.vue";
import { useDragAndDropStore } from "@/stores/dragAndDropStore";

const structureVisible = ref(false);
const formStore = useFormStore();
const addAndCopyStore = useAddAndCopyStore();
const dragAndDropStore = useDragAndDropStore();
const languageStore = useLanguageStore();
const permissionStore = usePermissionStore();
const filterActive = computed(() => formStore.filter.applied);
const rootNodeChildrenCategories = computed((): CategoryNode[] =>
  formStore.rootNodeChildren.filter(
    (item: FormNode): item is CategoryNode => item.type === "category",
  ),
);

function startDrag(event: DragEvent, type: ActionType) {
  if (event.dataTransfer) {
    event.dataTransfer.dropEffect = "copy";
    event.dataTransfer.effectAllowed = "copyLink";

    const selectedNodeId =
      type === "copy_node"
        ? addAndCopyStore.copySelectedNode?.id
        : addAndCopyStore.moveSelectedNode?.id;
    dragAndDropStore.startAddCopyMoveDrag(selectedNodeId);

    addAndCopyStore.actionType = type;

    formStore.clearRelationsToHighlight();
  }
}

function onDragEnd() {
  dragAndDropStore.endNodeDrag();
}

const showCopyZone = computed(() => !!addAndCopyStore.copySelectedNode);

const copySelectedNodeLabel = computed((): string => {
  if (addAndCopyStore.copySelectedNode)
    return (
      addAndCopyStore.copySelectedNode.info.label[
        languageStore.activeLanguage.toLowerCase()
      ] ?? ""
    );
  return "";
});

function resetCopyZone() {
  addAndCopyStore.clearNodeForCopying();
}

const showMoveZone = computed(() => !!addAndCopyStore.moveSelectedNode);

const moveSelectedNodeLabel = computed((): string => {
  if (addAndCopyStore.moveSelectedNode)
    return (
      addAndCopyStore.moveSelectedNode.info.label[
        languageStore.activeLanguage.toLowerCase()
      ] ?? ""
    );
  return "";
});

function resetMoveZone() {
  addAndCopyStore.clearNodeForMoving();
}
</script>

<style scoped>
.fade-in-background {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    background-color: #ffc107;
  }

  100% {
    background-color: rgba(227, 227, 160, 0);
  }
}
</style>
