<template>
  <div id="FormWorkflowWrapper" class="overflow-hidden h-full">
    <Splitter
      :pt="{
        root: {
          class: 'overflow-hidden h-full',
        },
      }"
    >
      <SplitterPanel :size="50">
        <WorkflowOverview />
      </SplitterPanel>
      <SplitterPanel :size="50" class="bg-stone-100">
        <WorkflowValidation v-if="workflowStore.showValidation" />
        <RouterView v-else />
      </SplitterPanel>
    </Splitter>
  </div>
</template>

<script setup lang="ts">
import WorkflowOverview from "@/components/formBuilder/formWorkflow/WorkflowOverview.vue";
import { useWorkflowStore } from "@/stores/workflow";
import { onMounted } from "vue";
import WorkflowValidation from "@/components/formBuilder/formWorkflow/WorkflowValidation.vue";

const workflowStore = useWorkflowStore();

onMounted(async () => {
  await workflowStore.loadWorkflowSchema();
});
</script>

<style scoped></style>
