<template>
  <div id="WorkflowValidation">
    <!-- header ---------------------------------------------------------------------- -->
    <div class="p-1 bg-stone-500">
      <div class="flex mx-2 justify-between items-center">
        <div class="text-xl font-bold text-white">Validatie</div>
        <Button
          rounded
          severity="secondary"
          icon="pi pi-times"
          @click="workflowStore.hideValidationScreen()"
        ></Button>
      </div>
    </div>

    <div>
      <!-- draggable list -->
      <Draggable
        :list="steps"
        tag="div"
        item-key="id"
        handle=".handle"
        ghost-class="ghost"
      >
        <template #item="{ element, index }">
          <div
            class="flex flex-row p-2 border-t-2"
            :class="getBorderStyle(element)"
          >
            <!-- move knop -->
            <div class="pt-4 basis-1/12 handle">
              <div class="cursor-move">
                <i class="pi pi-arrows-v"></i>
              </div>
            </div>

            <!-- information -->
            <div class="basis-3/12">
              <div class="flex">
                <!-- icon -->
                <div class="ml-2">
                  <div v-if="element.type === 'stepWithCalculatedDateStart'">
                    <font-awesome-icon icon="fa-solid fa-timeline" />
                  </div>
                  <div v-if="element.type === 'stepWithFixedDateStart'">
                    <font-awesome-icon icon="fa-solid fa-calendar-days" />
                  </div>
                </div>
                <div class="ml-2">
                  <div class="flex">
                    <!-- step number pill -->
                    <div
                      class="mt-1 w-16 text-xs text-center text-white bg-orange-400 rounded-full"
                    >
                      <strong>Stap {{ element.sequence + 1 }}</strong>
                    </div>
                    <!-- duration pill -->
                    <div
                      class="mt-1 ml-2 w-16 text-xs text-center bg-orange-100 rounded-full"
                    >
                      {{ getDurationLabel(element) }} d
                    </div>
                  </div>
                </div>
              </div>

              <!-- label + edit button -->
              <div class="flex">
                <div class="mt-1 ml-2 w-full font-bold">
                  {{ getLabel(element.info) }}
                </div>
                <div class="mr-2">
                  <Button
                    icon="pi pi-pencil"
                    rounded
                    size="small"
                    @click="loadDetailStep(element)"
                  />
                </div>
              </div>
            </div>

            <!-- berekende data -->
            <div class="py-1 basis-4/12" :class="validStartClass(index)">
              <div
                v-if="element.type == 'stepWithCalculatedDateStart'"
                class="mb-2 ml-2"
              >
                <div
                  class="w-16 text-xs text-center text-white bg-gray-400 rounded-full"
                >
                  {{ element.period.amountOfDaysToCalculateStartDate }} d
                </div>
              </div>
              <div class="flex ml-2">
                <div v-if="!isValidStart(index)" class="mr-4 text-red-600">
                  <i class="pi pi-exclamation-triangle"></i>
                </div>
                <div>{{ getStartLabel(element) }}</div>
              </div>
            </div>

            <div class="py-1 basis-4/12" :class="validEndClass(index)">
              <div
                v-if="element.type == 'stepWithCalculatedDateStart'"
                class="mb-2 ml-2"
              >
                <div
                  class="w-16 text-xs text-center text-white bg-gray-400 rounded-full"
                >
                  {{ element.period.amountOfDaysToCalculateEndDate }} d
                </div>
              </div>
              <div class="flex ml-2">
                <div>
                  <span> &mdash; </span>
                  {{ getEndLabel(element) }}
                </div>
                <div v-if="!isValidEnd(index)" class="ml-4 text-red-600">
                  <i class="pi pi-exclamation-triangle"></i>
                </div>
              </div>
            </div>
          </div>
        </template>
      </Draggable>

      <!-- update button -->
      <div class="p-4 border-t-2">
        <Button
          v-if="!isSaving"
          label="Bewaar volgorde"
          severity="secondary"
          size="small"
          icon="pi pi-save"
          @click="saveStepOrder"
        />
        <Button
          v-else
          label="Bewaar volgorde"
          disabled
          severity="secondary"
          size="small"
          icon="pi pi-spin pi-spinner"
        />
      </div>

      <div class="p-2">
        <CommandRenderer :command="command"></CommandRenderer>
      </div>
      <!-- <div class="p-4 font-mono text-xs"> -->
      <!-- {{ listDates }} -->
      <!-- </div> -->
    </div>
  </div>
</template>

<script setup lang="ts">
import { useWorkflowStore } from "@/stores/workflow";
import { computed, ref, watch } from "vue";
import { FormInfo } from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import Draggable from "vuedraggable";
import { Step, ValidationStep } from "@/api/queries/types/workflowTypes";
import moment, { Moment } from "moment/moment";
import { useUpdateStepOrderCommand } from "@/api/commands/UpdateStepOrder";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";

const workflowStore = useWorkflowStore();
const languageStore = useLanguageStore();

//-- load detail step --------------------------------------------------------

function loadDetailStep(step: Step) {
  void workflowStore.setCurrentStep(step.sequence + 1);
}

watch(
  () => workflowStore.isSimulationPeriod,
  () => {
    if (!workflowStore.isSimulationPeriod) {
      workflowStore.hideValidationScreen();
    }
  },
);

//-- computed properties -----------------------------------------------------

const listDates = computed(() => {
  let _result: ValidationStep[] = [];
  for (let i = 0; i < steps.value.length; i++) {
    let _step = steps.value[i];
    let _stepArray: ValidationStep = {
      start: getStartDate(_step),
      end: getEndDate(_step),
      startValid: true,
      endValid: true,
    };
    _result.push(_stepArray);
    if (i !== 0) {
      // look back at the previous end date and compare with current start date to validate
      let _previousEndDate: Moment = _result[i - 1].end;
      let _currentStartDate: Moment = _result[i].start;
      if (_currentStartDate.isBefore(_previousEndDate)) {
        _result[i - 1].endValid = false;
        _result[i].startValid = false;
      }
    }
  }
  return _result;
});

//-- change order command ---------------------------------------------------

const {
  steps,

  command,
  executeCommand,
} = useUpdateStepOrderCommand();

const isSaving = ref(false);

async function saveStepOrder() {
  isSaving.value = true;
  await executeCommand();
  await workflowStore.refresh();
  isSaving.value = false;
}

//-- functions --------------------------------------------------------------

function getLabel(info: FormInfo) {
  return info.label[languageStore.activeLanguage.toLowerCase()] ?? "";
}

function getDurationLabel(step: Step) {
  if (step.type === "stepWithFixedDateStart") {
    if ("fixedStartDate" in step.period && "fixedEndDate" in step.period) {
      let fromDate = moment(step.period.fixedStartDate);
      let toDate = moment(step.period.fixedEndDate);
      return toDate.diff(fromDate, "days");
    }
  } else {
    if (
      "amountOfDaysToCalculateStartDate" in step.period &&
      "amountOfDaysToCalculateEndDate" in step.period
    ) {
      return (
        step.period.amountOfDaysToCalculateEndDate -
        step.period.amountOfDaysToCalculateStartDate
      );
    }
  }
}

function getStartLabel(step: Step): string {
  let fromDate = getStartDate(step);
  if (step.type === "stepWithFixedDateStart") {
    return fromDate.locale("nl").format("ddd DD MMM YYYY - HH:mm");
  } else {
    return fromDate.locale("nl").format("ddd DD MMM YYYY");
  }
}

function getEndLabel(step: Step): string {
  let toDate = getEndDate(step);
  if (step.type === "stepWithFixedDateStart") {
    return toDate.locale("nl").format("ddd DD MMM YYYY - HH:mm");
  } else {
    return toDate.locale("nl").format("ddd DD MMM YYYY");
  }
}

function getStartDate(step: Step): Moment {
  if (
    step.type === "stepWithFixedDateStart" &&
    "fixedStartDate" in step.period
  ) {
    return moment(step.period.fixedStartDate);
  } else if (
    step.type === "stepWithCalculatedDateStart" &&
    "amountOfDaysToCalculateStartDate" in step.period
  ) {
    if (workflowStore.isSimulationPeriod) {
      let fromDate = moment(workflowStore.simulationPeriod.start);
      return fromDate.add(step.period.amountOfDaysToCalculateStartDate, "days");
    }
  }
  return moment(new Date());
}

function getEndDate(step: Step): Moment {
  if (step.type === "stepWithFixedDateStart" && "fixedEndDate" in step.period) {
    return moment(step.period.fixedEndDate);
  } else if (
    step.type === "stepWithCalculatedDateStart" &&
    "amountOfDaysToCalculateEndDate" in step.period
  ) {
    if (workflowStore.isSimulationPeriod) {
      let toDate = moment(workflowStore.simulationPeriod.start);
      return toDate.add(step.period.amountOfDaysToCalculateEndDate, "days");
    }
  }
  return moment(new Date());
}

function validStartClass(index: number): string {
  if (isValidStart(index)) {
    return "bg-green-100";
  } else {
    return "bg-yellow-100";
  }
}

function validEndClass(index: number): string {
  if (isValidEnd(index)) {
    return "bg-green-100";
  } else {
    return "bg-yellow-100";
  }
}

function getBorderStyle(step: Step): string {
  if (step.allowsStartIfPreviousStepIsFulfilled) {
    return "border-dashed";
  } else {
    return "";
  }
}

function isValidStart(index: number): boolean {
  return listDates.value[index].startValid;
}

function isValidEnd(index: number): boolean {
  return listDates.value[index].endValid;
}
</script>
