<template>
  <div id="WorkflowOverview" class="flex flex-col overflow-hidden h-full">
    <WorkflowOverviewHeader />
    <WorkFlowSchema />
  </div>
</template>

<script setup lang="ts">
import WorkflowOverviewHeader from "@/components/formBuilder/formWorkflow/WorkflowOverviewHeader.vue";
import WorkFlowSchema from "@/components/formBuilder/formWorkflow/workflow/WorkFlowSchema.vue";
</script>

<style scoped></style>
