<template>
  <div id="WorkflowOverviewHeader" class="p-1 bg-stone-100">
    <div class="flex flex-row">
      <div class="basis-1/6">
        <div class="flex flex-row">
          <Button
            data-cy="btnWorkflowRefresh"
            severity="success"
            icon="pi pi-refresh"
            @click="hardRefresh"
          />
          <div class="pt-2 pl-2">
            <i
              v-if="formStore.isFormReloading"
              class="pi pi-spin pi-spinner text-stone-500"
              style="font-size: 1.7rem"
            ></i>
          </div>
        </div>
      </div>
      <div class="basis-5/6">
        <div class="flex items-center gap-2">
          <div
            v-tooltip="
              'Simuleer een periode tussen twee data (enkel voor relatieve data!).'
            "
          >
            <font-awesome-icon
              icon="fa-solid fa-circle-question"
              class="fa-lg"
            />
          </div>
          <InputGroup class="flex-1">
            <InputGroupAddon>van</InputGroupAddon>
            <DatePicker
              v-model="workflowStore.simulationPeriod.start"
              data-cy="tiWorkflowSimulationStart"
              show-button-bar
              class="w-full"
              date-format="dd/mm/yy"
              :max-date="workflowStore.simulationPeriod.end"
            />

            <InputGroupAddon>tot</InputGroupAddon>

            <DatePicker
              v-model="workflowStore.simulationPeriod.end"
              data-cy="tiWorkflowSimulationEnd"
              show-button-bar
              class="w-full"
              date-format="dd/mm/yy"
              :min-date="workflowStore.simulationPeriod.start"
            />
            <Button
              v-tooltip="'Reset periode simulator'"
              data-cy="btnResetWorkflowSimulation"
              :severity="
                workflowStore.isSimulationPeriod ? 'success' : 'secondary'
              "
              icon="pi pi-times"
              @click="resetPeriod"
            />
          </InputGroup>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { useWorkflowStore } from "@/stores/workflow";

const formStore = useFormStore();
const workflowStore = useWorkflowStore();

async function hardRefresh() {
  await workflowStore.refresh();
  resetPeriod();
}

function resetPeriod() {
  workflowStore.resetSimulationPeriod();
}
</script>
