{% trans_default_domain 'kulFormCalculation' %}

<script type="text/javascript">

    const calcValidationErrorsTitle = "{{ 'action.failedAutoCalculate.validationErrorsTitle'|trans() }}" + ":";
    const keyCalcSuccess = "{{ constant('KUL\\FormBundle\\Client\\Response\\DoGlobalScoreResponse\\AbstractDoGlobalScoreResponse::KEY_CALCULATION_SUCCESS') }}";
    const keyCalcValidationErrors = "{{ constant('KUL\\FormBundle\\Client\\Response\\DoGlobalScoreResponse\\DoGlobalScoreCalculationHaltedWithFormValidationErrorsResponse::KEY_CALCULATION_VALIDATION_ERRORS') }}";
    const keyCalcInsufficientData = "{{ constant('KUL\\FormBundle\\Client\\Response\\DoGlobalScoreResponse\\DoGlobalScoreCalculationImpossibleWithInsufficientDataResponse::KEY_CALCULATION_INSUFFICIENT_DATA') }}";
    const keyCalcCalculatedOptionUid = "{{ constant('KUL\\FormBundle\\Client\\Response\\DoGlobalScoreResponse\\DoGlobalScoreCalculationSuccessWithCalculatedChoiceOptionResultResponse::KEY_CALCULATION_CALCULATED_OPTION_UID') }}";
    const keyCalcCalculatedNumericValue = "{{ constant('KUL\\FormBundle\\Client\\Response\\DoGlobalScoreResponse\\DoGlobalScoreCalculationSuccessWithCalculatedNumberResultResponse::KEY_CALCULATION_CALCULATED_NUMERIC_VALUE') }}";
    const globalNodeUidPlaceholder = "{{ constant('KUL\\FormBundle\\Client\\Util\\GlobalScore\\CalculateValueUrl::NODE_UID_PLACEHOLDER') }}";

    document.addEventListener('DOMContentLoaded', function () {
        {# this js/twig depends on an url and can not function without #}
        {% if autoCalculatePrototypeUrl is defined and autoCalculatePrototypeUrl is not empty %}
        $(document).find('.auto-calculate-btn').on('click', function (e) {
            getGlobalScoreBtnCalculatedValue($(this), "{{ autoCalculatePrototypeUrl }}");
        });
        {% else %}
        $(document).find('.auto-calculate-btn').remove();
        {% endif %}

		$(document).find('td.radio-cell').on('click', function (e) {
			e.preventDefault();

			if ($(this).hasClass('readOnly')) {

				return false;
			}

			checkRadioCellInSingleTableRow($(this));

		});

        let showCalculationAlertBootBox = function (title, content, size) {
            bootbox.alert({
                title: title,
                message: content,
                backdrop: true,
                size: size
            });
        };

        let showAjaxFailBox = function (jqXHR) {
            var message = "An unkown error has occured / Er is een onbekende fout opgetreden";
            if (typeof jqXHR.responseJSON !== 'undefined' && jqXHR.responseJSON.hasOwnProperty('message')) {
                message = jqXHR.responseJSON.message;
            }
            showCalculationAlertBootBox('', "<p class='text-danger'><strong>" + message + "</strong></p>", 'large');
        };

        let finishCalculationSuccessResponse = function (jqXHR, form, inputName, inputType) {
            switch (inputType) {
                case 'number':
                    return finishNumberTypeCalculationSuccessResponse(jqXHR, form, inputName);
                case 'choice-select':
                    return finishChoiceSelectTypeCalculationSuccessResponse(jqXHR, form, inputName);
                case 'choice-radios':
                    return finishChoiceRadiosTypeCalculationSuccessResponse(jqXHR, form, inputName);
            }

            return false;
        };

        let finishNumberTypeCalculationSuccessResponse = function (jqXHR, form, numberInputName) {

            if (!jqXHR.responseJSON.hasOwnProperty(keyCalcCalculatedNumericValue)) {

                return false;
            }

            let numberInput = form.find("input[name='" + numberInputName + "']");
            if (typeof numberInput === 'undefined' || !numberInput.length) {

                return false;
            }

            numberInput
                .val(jqXHR.responseJSON[keyCalcCalculatedNumericValue])
                .removeClass('errortje')
                .effect("highlight", {color: '#00b1e1'}, 2000);

            return true;
        };

        let finishChoiceSelectTypeCalculationSuccessResponse = function (jqXHR, form, selectName) {

            if (!jqXHR.responseJSON.hasOwnProperty(keyCalcCalculatedOptionUid)) {

                return false;
            }

            let select = $('select[name=' + selectName + ']');
            let $selectize = select[0].selectize;
            let optionUid = jqXHR.responseJSON[keyCalcCalculatedOptionUid];

            if (optionUid in $selectize.options) {
                $selectize.setValue(optionUid);

                select.siblings().children('.selectize-input')
                    .effect("highlight", {color: '#00b1e1'}, 2000);

                return true
            }

            return false;
        };

        let finishChoiceRadiosTypeCalculationSuccessResponse = function (jqXHR, form, radioGroupName) {
            if (!jqXHR.responseJSON.hasOwnProperty(keyCalcCalculatedOptionUid)) {

                return false;
            }
            let optionUid = jqXHR.responseJSON[keyCalcCalculatedOptionUid];
            let radioInput = form.find("input[type='radio'][name='" + radioGroupName + "'][value='" + optionUid + "']");
            if (typeof radioInput === 'undefined' || !radioInput.length) {

                return false;
            }

            let parentSpan = radioInput.parent('span.custom-radio');
            if (typeof parentSpan === 'undefined' || !parentSpan.length) {
                radioInput.prop("checked", true);

                return true;
            }

            let tableCell = parentSpan.parent('td.radio-cell');
            if (typeof tableCell !== 'undefined' && tableCell.length) {
                checkRadioCellInSingleTableRow(tableCell);
                tableCell.effect("highlight", {color: '#00b1e1'}, 2000);

                return true;
            }

            parentSpan.effect("highlight", {color: '#00b1e1'}, 2000);
            radioInput.prop("checked", true);

            return true;
        };

        let checkRadioCellInSingleTableRow = function (cell) {
            $(cell).closest('tr').find('input[type=radio]').attr('checked', false);
            $(cell).find('input[type=radio]').prop("checked", true).trigger('change');
            $(cell).addClass('bg-info').siblings().removeClass('bg-info').trigger('change');
        };

        let getGlobalScoreBtnCalculatedValue = function (button, autoCalculatePrototypeUrl) {
            if (typeof button === 'undefined') {
                return false;
            }

            let globalScoreNodeUid = button.attr('data-target-node-uid');
            let globalScoreNodeInputType = button.attr('data-target-node-input-type');

            if (typeof globalScoreNodeUid === 'undefined' || globalScoreNodeUid == '') {
                return false;
            }

            if (typeof globalScoreNodeInputType === 'undefined' || globalScoreNodeInputType == '') {
                return false;
            }

            button.attr('disabled', false);
            let orginalButtonText = button.text();

            button.text('loading...')
            button.prop('disabled', true);

            let form = button.closest('form');

            let request = $.ajax({
                url: autoCalculatePrototypeUrl.replace(globalNodeUidPlaceholder, globalScoreNodeUid),
                type: 'POST',
                data: $(form).serializeArray(),
                cache: false,
                dataType: 'json'
            });

            // if possible, disable auto save during server-side processing up to handling response. avoids concurrency issues
            if (typeof window.autoSaveSuspended !== 'undefined') {
                console.log('calculation: suspending auto-save');
                window.autoSaveSuspended = true;
            }

            request.done(function (response, textStatus, jqXHR) {
                if (typeof jqXHR.responseJSON === 'undefined') {
                    showAjaxFailBox(jqXHR);

                    return false;
                }

                let calculationSuccess = jqXHR.responseJSON.hasOwnProperty(keyCalcSuccess) && jqXHR.responseJSON[keyCalcSuccess];

                if (calculationSuccess && finishCalculationSuccessResponse(jqXHR, form, globalScoreNodeUid, globalScoreNodeInputType)) {

                    return true;
                }

                if (jqXHR.responseJSON.hasOwnProperty(keyCalcValidationErrors)) {
                    let title = "<span class='text-danger'>" + calcValidationErrorsTitle + "</span>"
                    let content = ""
                    $.each(jqXHR.responseJSON[keyCalcValidationErrors], function (key, item) {
                        content += "<p class='text-danger'>"
                            + "<strong>"
                            + item.label
                            + ":</strong> "
                            + item.message
                            + "</p>";
                        $(document).find("input[name=" + item.uid + "]").addClass('errortje');
                    });

                    showCalculationAlertBootBox(title, content, 'large');

                    return true;
                }

                if (jqXHR.responseJSON.hasOwnProperty(keyCalcInsufficientData)) {
                    showCalculationAlertBootBox('', "<h4 class='text-danger'>" + jqXHR.responseJSON[keyCalcInsufficientData] + "</h4>", 'large');

                    return true;
                }

                showAjaxFailBox(jqXHR);

                return false;

            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                showAjaxFailBox(jqXHR);

                return false;
            });

            request.always(function (jqXHR, textStatus, errorThrown) {
                $(button).text(orginalButtonText);
                button.prop('disabled', false);
                if (typeof window.autoSaveSuspended !== 'undefined') {
                    console.log('calculation: removing auto-save suspension and reactivating auto-save scheduling');
                    window.autoSaveSuspended = false;
                }
            });
        };

    });
</script>
