{% trans_default_domain 'kulFormBase' %}
{# main form information (template.currentVersion.info) #}

{% set mainFormInfo = accessObject.template.currentVersion.info %}
{% set mainInfoGeneralDescription = mainFormInfo.hasDescription(app.request.locale) ? mainFormInfo.getDescription(app.request.locale) : null %}
{% set mainInfoRoleDescription = mainFormInfo.hasRoleDescription(accessObject.accessingRole, app.request.locale) ? mainFormInfo.getRoleDescription(accessObject.accessingRole, app.request.locale) : null %}

{% if mainInfoGeneralDescription is not empty or mainInfoRoleDescription is not empty %}
    <div class="row" id="kfb-main-form-info">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#kfb-main-form-information" data-toggle="collapse">
                        <div class="title">{{ 'info.mainFormInfo.title'|trans }}</div>
                        <div class="pull-right panel-status-indicator"></div>
                    </a>
                </div>
                <div class="panel-body collapse" id="kfb-main-form-information">
                    {% if mainInfoGeneralDescription is not empty %}
                        {{ mainInfoGeneralDescription|sanitize_html_custom }}
                    {% endif %}

                    {% if mainInfoRoleDescription is not empty %}
                        {{ mainInfoRoleDescription|sanitize_html_custom }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
