<template>
  <div id="deconstructed-form-view" class="p-2">
    <h3 class="text-lg font-bold mb-2" data-cy="lblViewTitle">
      Available templates.
    </h3>
    <div>
      <FormsOverview></FormsOverview>
    </div>
    <div>&nbsp;</div>
  </div>
</template>

<script setup lang="ts">
import FormsOverview from "@/components/formsOverview/FormsOverview.vue";
import { onMounted } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

router.beforeEach((to, from, next) => {
  if (to.name === "formsOverview") {
    document.body.style.overflowY = "auto";
  } else {
    document.body.style.overflowY = "hidden";
  }
  next();
});

onMounted((): void => {
  document.body.style.overflowY = "auto";
});
</script>
