<template>
  <div
    v-if="canDelete && !isDeleting"
    id="DeleteFormButton"
    class="text-xs text-gray-400 cursor-pointer"
    @click="deleteFormConfirmation($event)"
  >
    <i class="pi pi-trash"></i>
  </div>
</template>

<script setup lang="ts">
import { useConfirm } from "primevue/useconfirm";
import { computed, ref } from "vue";
import { useSettingsStore } from "@/stores/settings";
import { DeleteForm } from "@/components/formsOverview/DeleteForm";
import { useToast } from "primevue/usetoast";

const props = defineProps<{
  id: number;
  uid: string;
}>();
const emit = defineEmits(["deleted"]);
const isDeleting = ref<boolean>(false);
const confirm = useConfirm();
const settingsStore = useSettingsStore();
const toast = useToast();

const canDelete = computed<boolean>(() => {
  if (settingsStore.formBuilderPermissions.allowDeleteForm === "WRITE") {
    return true;
  }
  return false;
});

function deleteFormConfirmation(event: Event) {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message:
      "Weet je 100% zeker dat je dit formulier wilt verwijderen? Dit kan niet ongedaan gemaakt worden.",
    icon: "pi pi-exclamation-triangle",
    acceptLabel: "Ja",
    rejectLabel: "Nee",
    acceptIcon: "pi pi-check",
    rejectIcon: "pi pi-times",
    accept: () => {
      void doRemoveForm();
    },
    reject: () => {
      // callback to execute when user rejects the action
    },
  });
}

async function doRemoveForm() {
  isDeleting.value = true;
  let result = await DeleteForm(props.uid);
  isDeleting.value = false;
  if (result) {
    emit("deleted");
    toast.add({
      severity: "success",
      summary: "Formulier verwijderd.",
      detail: "Het formulier is met succes verwijderd.",
      life: 3000,
    });
  }
}
</script>
