<template>
  <!-- // button -->
  <div
    v-if="canDuplicate"
    class="text-gray-400 text-xs cursor-pointer"
    @click="showDuplicateDialog"
  >
    [ duplicate template ]
  </div>

  <!-- // dialog to import a template on an existing template ------------- -->
  <Dialog
    v-model:visible="showDialog"
    :header="'Duplicate template: ' + props.uid + ' to '"
    position="top"
    :modal="true"
  >
    <div style="width: 750px">
      <!-- form -->
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2 mr-2">Target Uid</div>
        <div class="basis-3/4 ml-2">
          <InputText
            id="tiTargetUid"
            v-model="targetUid"
            class="w-full"
          ></InputText>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="basis-1/4 mt-2 mr-2">&nbsp;</div>
        <div class="basis-3/4 ml-2">
          <div :class="showButtonsAndFeedbackMessage.messageColor">
            {{ showButtonsAndFeedbackMessage.message }}
          </div>
        </div>
      </div>

      <div v-if="showConfirmation" class="flex flex-row mt-4">
        <div class="basis-1/4 text-right mt-2">&nbsp;</div>
        <div class="basis-3/4 ml-2">
          <div class="float-left">
            <ToggleSwitch v-model="hasConfirmed" class="mt-2" />
          </div>
          <div class="float-left ml-4 mt-3">
            I confirm that the target form may be overwritten with a new
            version.
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div
        v-if="showButtonsAndFeedbackMessage.showButtons"
        class="flex flex-row mt-4"
      >
        <div class="basis-1/4 text-right mt-2"></div>
        <div class="basis-2/4 ml-2">
          <Button
            v-if="!isDuplicating"
            label="Duplicate template"
            severity="success"
            size="small"
            icon="pi pi-download"
            @click="duplicateFormTemplate"
          />
          <Button
            v-else
            label="Duplicate template"
            disabled
            severity="success"
            size="small"
            icon="pi pi-spinner pi-spin"
          />
        </div>
        <div class="basis-1/4 text-right">
          <Button
            label="Cancel"
            size="small"
            outlined
            icon="pi pi-times"
            @click="closeDuplicateDialog"
          />
        </div>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
import { useSettingsStore } from "@/stores/settings.ts";
import { computed, ref } from "vue";
import { FormMeta, getForms } from "@/api/queries/getForms.ts";
import {
  DuplicateForm,
  DuplicateFormCommand,
} from "@/components/formsOverview/DuplicateForm.ts";
import { useToast } from "primevue/usetoast";

const props = defineProps<{
  id: number;
  uid: string;
}>();
const settingsStore = useSettingsStore();
const toast = useToast();
const emit = defineEmits(["duplicated"]);

const showDialog = ref<boolean>(false);
const isDuplicating = ref<boolean>(false);
const canDuplicate = computed<boolean>(() => {
  return settingsStore.formBuilderPermissions.allowDuplicateForm === "WRITE";
});

async function showDuplicateDialog() {
  targetUid.value = "";
  showDialog.value = true;
  await loadForms();
  // autofocus the input field
  setTimeout(function () {
    let tiTargetUid: HTMLElement | null =
      document.getElementById("tiTargetUid");
    if (tiTargetUid) {
      tiTargetUid.focus();
    }
  }, 200);
}

function closeDuplicateDialog() {
  showDialog.value = false;
}

// -- load the list of forms into this component...to determine an override on an existing form

const forms = ref<FormMeta[]>([]);
const isLoading = ref(false);

async function loadForms() {
  isLoading.value = true;
  getTemplatesHandler(await getForms());
}

function getTemplatesHandler(_forms: FormMeta[]) {
  isLoading.value = false;
  forms.value = _forms;
}

// -- new or target uid for form duplication

const targetUid = ref<string>("");
const hasConfirmed = ref<boolean>(false);

const showConfirmation = computed<boolean>(() => {
  for (const form of forms.value) {
    if (form.uid.trim() === targetUid.value.trim() && form.id === 0) {
      return true;
    }
  }
  return false;
});

const targetIsOnline = computed<boolean>(() => {
  for (const form of forms.value) {
    if (form.uid.trim() === targetUid.value.trim() && form.id !== 0) {
      return false;
    }
  }
  return true;
});

interface feedbackMessage {
  showButtons: boolean;
  message: string;
  messageColor: string;
}

const showButtonsAndFeedbackMessage = computed<feedbackMessage>(() => {
  const _feedbackMessage: feedbackMessage = {
    showButtons: true,
    message: "Nieuwe Uid ingegeven, dupliceer om nieuw formulier aan te maken.",
    messageColor: "text-gray-600",
  };

  if (props.uid.trim() === targetUid.value.trim()) {
    _feedbackMessage.showButtons = false;
    _feedbackMessage.message =
      "It's not possible to duplicate a form-template to itself.";
    _feedbackMessage.messageColor = "text-red-500";
    return _feedbackMessage;
  }
  if (targetUid.value.trim() === "") {
    _feedbackMessage.showButtons = false;
    _feedbackMessage.message =
      "Please enter a new or existing Uid, to duplicate the form template.";
    _feedbackMessage.messageColor = "text-gray-600";
    return _feedbackMessage;
  }
  if (!targetIsOnline.value) {
    _feedbackMessage.showButtons = false;
    _feedbackMessage.message =
      "The existing Uid is in edit mode, it's not possible to duplicate to it.";
    _feedbackMessage.messageColor = "text-red-500";
    return _feedbackMessage;
  }

  if (showConfirmation.value) {
    if (hasConfirmed.value) {
      _feedbackMessage.showButtons = hasConfirmed.value;
      _feedbackMessage.message =
        "Existing Uid, please duplicate to overwrite the target form-template.";
      _feedbackMessage.messageColor = "text-gray-600";
      return _feedbackMessage;
    } else {
      _feedbackMessage.showButtons = hasConfirmed.value;
      _feedbackMessage.message =
        "Existing Uid, please confirm to overwrite the target form-template.";
      _feedbackMessage.messageColor = "text-yellow-500";
      return _feedbackMessage;
    }
  }

  return _feedbackMessage;
});

async function duplicateFormTemplate() {
  const _command: DuplicateFormCommand = {
    sourceUid: props.uid.trim(),
    targetUid: targetUid.value.trim(),
  };
  isDuplicating.value = true;
  const result = await DuplicateForm(_command);
  if (result) {
    emit("duplicated");
    toast.add({
      severity: "success",
      summary: "Template gedupliceerd.",
      detail: "Template succesvol gedupliceerd.",
      life: 3000,
    });
    targetUid.value = "";
    hasConfirmed.value = false;
    closeDuplicateDialog();
  } else {
    toast.add({
      severity: "warn",
      summary:
        "Bestaande template kon niet worden overschreven, template staat in edit-mode, of er zijn al inzendingen.",
      detail: "Template niet gedupliceerd.",
      life: 10000,
    });
  }
  isDuplicating.value = false;
}
</script>
