<template>
  <div v-if="id == 0">
    <div class="flex flex-row">
      <div>
        <Button
          severity="success"
          icon="pi pi-pencil"
          :disabled="isLoading"
          label="Start Editing"
          @click="doEdit"
        />
      </div>
      <div v-if="isLoading" class="pl-2">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="flex flex-row">
      <div>
        <Button
          severity="warning"
          icon="pi pi-times"
          label="Cancel Editing"
          :disabled="isLoading"
          @click="cancelEditing($event)"
        ></Button>
      </div>
      <div v-if="isLoading" class="pl-2 pt-2">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </div>
    </div>
  </div>

  <ConfirmPopup></ConfirmPopup>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { useConfirm } from "primevue/useconfirm";
import { startEdit } from "@/api/startEdit";
import { stopEdit } from "@/api/stopEdit";

const confirm = useConfirm();
const props = defineProps<{
  id: number;
  uid: string;
}>();
const emit = defineEmits(["stop-edit", "start-edit"]);
const isLoading = ref(false);

function cancelEditing(event: Event) {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message:
      "Weet je zeker dat je wilt stoppen met bewerken? Hierdoor worden je aanpassingen ongedaan gemaakt.",
    icon: "pi pi-exclamation-triangle",
    acceptLabel: "Ja",
    rejectLabel: "Nee",
    acceptIcon: "pi pi-check",
    rejectIcon: "pi pi-times",
    accept: () => {
      void doCancelEdit();
    },
    reject: () => {
      // callback to execute when user rejects the action
    },
  });
}

async function doCancelEdit() {
  isLoading.value = true;
  if (await stopEdit(props.uid)) {
    isLoading.value = false;
    emit("stop-edit");
  }
}

async function doEdit() {
  isLoading.value = true;
  if (await startEdit(props.uid)) {
    isLoading.value = false;
    emit("start-edit");
  }
}
</script>
