<template>
  <div id="datatableWrapper" ref="tableWrapper">
    <DataTable
      v-model:filters="filters"
      :value="forms"
      :paginator="true"
      :rows="10"
      striped-rows
      show-gridlines
      paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink"
      :loading="isLoading"
      class="p-datatable-sm"
      filter-display="menu"
      :global-filter-fields="['id', 'uid', 'title']"
      responsive-layout="scroll"
      current-page-report-template="Showing {first} to {last} of {totalRecords}"
    >
      <!-- -------------------------------------------------------------------------------------------------- header -->
      <template #header>
        <div class="flex">
          <div class="mr-4">
            <Button
              type="button"
              data-cy="btnClearSearch"
              icon="pi pi-filter-slash"
              label="Clear"
              size="small"
              outlined
              @click="clearFilter()"
            />
          </div>
          <div class="flex-initial w-1/3">
            <IconField icon-position="left">
              <InputIcon class="pi pi-search"></InputIcon>
              <InputText
                v-model="filters.global.value"
                data-cy="tiSearch"
                placeholder="Keyword Search"
                class="p-inputtext-sm w-full"
              />
            </IconField>
          </div>
          <div class="w-full text-right">
            <Button
              v-if="canAddForm"
              data-cy="btnAddForm"
              label="Add form template"
              icon="pi pi-plus"
              size="small"
              outlined
              severity="secondary"
              @click="gotoFormAdd"
            />
          </div>
        </div>
      </template>
      <template #empty> No forms found.</template>
      <template #loading> Loading forms. Please wait...</template>

      <!-- ------------------------------------------------------------------------------------------------- columns -->
      <Column field="id" header="Id" :sortable="true"></Column>
      <Column field="uid" header="Uid" :sortable="true">
        <template #body="slotProps">
          <div class="" :data-cy="'lbl_' + slotProps.data.uid">
            <div>
              <code
                ><strong>{{ slotProps.data.uid }}</strong></code
              >
              <h4 class="text-gray-600 text-sm">{{ slotProps.data.title }}</h4>
            </div>
            <div class="mt-2">
              <div v-if="slotProps.data.id === 0" class="float-left">
                <!-- // import template -->
                <ImportButtonAndDialog
                  :id="slotProps.data.id"
                  class="mr-2"
                  :uid="slotProps.data.uid"
                  @imported="loadForms"
                />
              </div>
              <DuplicateFormAndDialog
                :id="slotProps.data.id"
                :uid="slotProps.data.uid"
                @duplicated="loadForms"
              />
            </div>
          </div>
        </template>
      </Column>
      <Column header="source json">
        <template #body="slotProps">
          <div v-if="canDownload" class="flex flex-row">
            <div class="basis-5/6">
              <div>
                <a
                  :href="
                    apiUrl +
                    '/template/' +
                    slotProps.data.uid +
                    '/working-version-json'
                  "
                  target="_blank"
                  class="underline text-blue-400 text-xs"
                >
                  <i class="pi pi-link"></i>
                  Working version json
                </a>
              </div>
              <div>
                <a
                  :href="
                    apiUrl +
                    '/template/' +
                    slotProps.data.uid +
                    '/current-version-json'
                  "
                  target="_blank"
                  class="underline text-blue-400 text-xs"
                >
                  <i class="pi pi-link"></i>
                  Current version json
                </a>
              </div>
            </div>
            <div class="basis-1/6 mt-3">
              <a
                :href="
                  apiUrl + '/template/' + slotProps.data.uid + '/zip/download'
                "
                target="_blank"
                class="underline text-blue-400 text-xs"
              >
                ZIP
              </a>
            </div>
          </div>
        </template>
      </Column>
      <Column field="active" header="Active?" :sortable="true"></Column>
      <Column field="currentVersion" header="Version Number">
        <template #body="slotProps">
          <div :data-cy="'lblCurrentVersion_' + slotProps.data.uid">
            {{ slotProps.data.currentVersion }}
          </div>
        </template>
      </Column>
      <Column field="status" header="Status">
        <template #body="slotProps">
          <div
            v-if="slotProps.data.status == 'editing'"
            :data-cy="'lblStatus_' + slotProps.data.uid"
          >
            <strong>{{ slotProps.data.status }}</strong>
          </div>
          <div v-else :data-cy="'lblStatus_' + slotProps.data.uid">
            {{ slotProps.data.status }}
          </div>
        </template>
      </Column>
      <!-- start editing / cancel editing -->
      <Column>
        <template #body="slotProps">
          <EditingButton
            :id="slotProps.data.id"
            :uid="slotProps.data.uid"
            @stop-edit="loadForms"
            @start-edit="loadForms"
          />
        </template>
      </Column>

      <!-- button to go details -->
      <Column>
        <template #body="slotProps">
          <div v-if="slotProps.data.id != 0">
            <div class="flex">
              <div>
                <Button
                  :data-cy="'btnEdit_' + slotProps.data.uid"
                  icon="pi pi-pencil"
                  @click="gotoBuilder(slotProps.data.id)"
                ></Button>
              </div>
              <div class="ml-4">
                <div class="text-sm text-stone-500 mt-2">
                  Started
                  {{
                    formatTimeAgo(
                      new Date(slotProps.data.editingStartedAt.date),
                    )
                  }}
                  by
                  <strong>{{ slotProps.data.editingStartedBy }}</strong>
                </div>
                <div>
                  <div
                    class="cursor-pointer underline text-xs text-right text-stone-400"
                    @click="gotoRawDetail(slotProps.data.id)"
                  >
                    Raw Detail
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <!-- // delete template -->
            <DeleteFormButton
              :id="slotProps.data.id"
              :uid="slotProps.data.uid"
              class="float-right mr-3"
              @deleted="loadForms"
            />
          </div>
        </template>
      </Column>

      <!-- ---------------------------------------------------------------------------------------------- pagination -->
      <template #paginatorstart>
        <Button
          data-cy="btnRefresh"
          type="button"
          icon="pi pi-refresh"
          size="small"
          text
          @click="loadForms"
        />
      </template>
    </DataTable>
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { FilterMatchMode } from "@primevue/core/api";
import { computed, onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import EditingButton from "./EditingButton.vue";
import { getForms, type FormMeta } from "@/api/queries/getForms";
import { usePermissionStore } from "@/stores/permissions";
import DeleteFormButton from "@/components/formsOverview/DeleteFormButton.vue";
import { useSettingsStore } from "@/stores/settings";
import ImportButtonAndDialog from "@/components/formsOverview/ImportButtonAndDialog.vue";
import DuplicateFormAndDialog from "@/components/formsOverview/DuplicateFormAndDialog.vue";
import { formatTimeAgo } from "@vueuse/core";
import { apiUrl } from "@/main";

const router = useRouter();

const forms = ref();
const isLoading = ref(false);

async function loadForms() {
  isLoading.value = true;
  getTemplatesHandler(await getForms());
}

function getTemplatesHandler(_forms: FormMeta[]) {
  isLoading.value = false;
  forms.value = _forms;
}

onMounted(async () => {
  await loadForms();
});

const formStore = useFormStore();
const permissionStore = usePermissionStore();
const settingsStore = useSettingsStore();

const canDownload = computed<boolean>(() => {
  if (settingsStore.formBuilderPermissions.allowDownloadFormZip === "WRITE") {
    return true;
  }
  return false;
});

async function gotoBuilder(id: number) {
  await formStore.loadForm(id);
  await permissionStore.loadPermissionTemplates(id);
  await router.push({ name: "formList", params: { id: id } });
}

async function gotoRawDetail(id: number) {
  await formStore.loadForm(id);
  await router.push({ name: "formRaw", params: { id: id } });
}

const canAddForm = computed<boolean>(() => {
  if (settingsStore.formBuilderPermissions.formAdd === "WRITE") {
    return true;
  }
  return false;
});

async function gotoFormAdd() {
  await router.push({ name: "formAdd" });
}

const filters = ref({
  global: { value: null, matchMode: FilterMatchMode.CONTAINS },
});

function clearFilter() {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
  };
}
</script>

<style scoped></style>
