<template>
  <div v-if="canImport" id="ImportButtonAndDialog">
    <!-- // button import template ------------------------------------------ -->
    <div class="text-gray-400 text-xs cursor-pointer" @click="showImportDialog">
      [ import template ]
    </div>

    <!-- // dialog to import a template on an existing template ------------- -->
    <Dialog
      v-model:visible="showDialog"
      :header="'Importeer template: ' + props.uid"
      position="top"
      :modal="true"
    >
      <div style="width: 750px">
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 text-right mt-2">Import from Zip file</div>
          <div class="basis-3/4 ml-2 mt-2">
            <input
              v-if="!isImporting"
              id="zipInput"
              type="file"
              accept=".zip"
              severity="success"
              size="small"
              @change="zipFileSelected"
            />
          </div>
        </div>

        <div class="flex flex-row mt-4">
          <div class="basis-1/4 text-right mt-2">Workflow [JSON]</div>
          <div class="basis-3/4 ml-2">
            <Textarea
              v-model="command.workflow"
              rows="8"
              class="w-full"
              placeholder='{"stepsType": "stepsWithFixedDateStart", "steps": [...]}'
            ></Textarea>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 text-right mt-2">FormList [JSON]</div>
          <div class="basis-3/4 ml-2">
            <Textarea
              v-model="command.formList"
              class="w-full"
              rows="8"
              placeholder='{"root": {...}'
            ></Textarea>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 text-right mt-2"></div>
          <div class="basis-2/4 ml-2">
            <Button
              v-if="!isImporting"
              label="Import template"
              severity="success"
              size="small"
              icon="pi pi-download"
              @click="importFormTemplate"
            />
            <Button
              v-else
              label="Import template"
              disabled
              severity="success"
              size="small"
              icon="pi pi-spinner pi-spin"
            />
          </div>
          <div class="basis-1/4 text-right">
            <Button
              label="Cancel"
              size="small"
              outlined
              icon="pi pi-times"
              @click="closeImportDialog"
            />
          </div>
        </div>
      </div>
    </Dialog>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import { useSettingsStore } from "@/stores/settings";
import { useToast } from "primevue/usetoast";
import type { ImportFormCommand } from "@/components/formsOverview/ImportForm";
import { ImportForm } from "@/components/formsOverview/ImportForm";
import { ZipReader, BlobReader, BlobWriter } from "@zip.js/zip.js";

const props = defineProps<{
  id: number;
  uid: string;
}>();

const settingsStore = useSettingsStore();
const toast = useToast();
const showDialog = ref<boolean>(false);
const isImporting = ref<boolean>(false);

const emit = defineEmits(["imported"]);

const canImport = computed<boolean>(() => {
  return settingsStore.formBuilderPermissions.allowImportForm === "WRITE";
});

function showImportDialog() {
  showDialog.value = true;
}

function closeImportDialog() {
  showDialog.value = false;
}

export interface FormJson {
  formList: string;
  workFlow: string;
}

// -- selecting the zip file and unzip and parse the content of the form.json file
async function zipFileSelected(event: Event) {
  if (event.target) {
    let _target = event.target as HTMLInputElement;
    let _files: FileList | null = _target.files;
    if (_files) {
      let _selectedFile: File = _files[0];
      let _isFormJsonFileLoaded = false;
      let _formJsonFile: File | undefined = undefined;
      let _formJson: FormJson = { workFlow: "", formList: "" };
      let _zipReader = new ZipReader(new BlobReader(_selectedFile));
      let _entries = await _zipReader.getEntries();
      for (const entry of _entries) {
        if (!_isFormJsonFileLoaded && entry.filename === "form.json") {
          let _blob: Blob | undefined = await entry.getData?.(new BlobWriter());
          if (_blob) {
            _formJsonFile = new File([_blob], entry.filename);
            let _reader = new FileReader();
            _reader.onload = function (event: Event) {
              if (event.target) {
                let _fileReaderTarget = event.target as FileReader;
                _formJson = JSON.parse(
                  _fileReaderTarget.result as string,
                ) as FormJson;
                if (_formJson.workFlow) {
                  command.value.workflow = JSON.stringify(_formJson.workFlow);
                }
                if (_formJson.formList) {
                  command.value.formList = JSON.stringify(_formJson.formList);
                }
                _isFormJsonFileLoaded = true;
              }
            };
            _reader.readAsText(_formJsonFile);
          }
        }
      }
    }
  }
}

// -- importing the form --------------------------------------------------------

const command = ref<ImportFormCommand>({
  id: props.uid,
  workflow: "",
  formList: "",
});

async function importFormTemplate() {
  isImporting.value = true;
  let result = await ImportForm(command.value);
  if (result) {
    emit("imported");
    toast.add({
      severity: "success",
      summary: "Template geïmporteerd.",
      detail: "Template succesvol geïmporteerd.",
      life: 3000,
    });
    command.value.workflow = "";
    command.value.formList = "";
    closeImportDialog();
  }
  isImporting.value = false;
}
</script>
