<template>
  <div id="DeletePrefillSourceQuestion" class="w-fit">
    <ConfirmPopup />
    <div class="flex">
      <div v-if="!isDeleting" class="flex-none">
        <Button
          icon="pi pi-trash"
          severity="secondary"
          outlined
          size="small"
          @click="deleteSourcePrefill($event)"
        />
      </div>

      <Button v-else icon="pi pi-spinner pi-spin" />

      <CommandRenderer :command="command" />
    </div>
  </div>
</template>

<script setup lang="ts">
import type { QuestionNode } from "@/api/queries/types/formTypes";
import { useConfirm } from "primevue/useconfirm";
import type { PrefillSourceQuestion } from "@/api/queries/getQuestionPrefillSources";
import { computed, ref, toRef } from "vue";
import {
  PrefillSourceToDelete,
  useDeletePrefillSourceCommand,
} from "@/api/commands/DeletePrefillSource";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";

// -- props and store

const props = defineProps<{
  question: QuestionNode;
  prefillSource: PrefillSourceQuestion;
}>();

const confirm = useConfirm();
const emit = defineEmits(["prefillSourceDeleted"]);

// -- delete command

const currentState = computed(
  (): PrefillSourceToDelete => ({
    sourceId: props.prefillSource.id,
  }),
);
const { command, executeCommand } = useDeletePrefillSourceCommand(
  currentState,
  props.question.id,
  toRef(props.question, "contentHash"),
);

function deleteSourcePrefill(event: MouseEvent) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message:
        "Ben je zeker om deze vraag als bron vooraf-invullen te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        void deleteSourcePrefillHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}

const isDeleting = ref(false);
async function deleteSourcePrefillHandler() {
  isDeleting.value = true;
  await executeCommand();
  emit("prefillSourceDeleted");
  isDeleting.value = false;
}
</script>
