<template>
  <FormCardList>
    <FormCard>
      <Message severity="info" icon="pi pi-exclamation-circle" class="!mt-0">
        <p class="font-normal">
          Door middel van deze optie kan je een vraag vooraf invullen met de
          antwoorden die eerder werden gegeven op andere vragen. Vooraf invullen
          kan met meerkeuzevragen, checkboxen en tekstvragen. Bij tekstvragen
          worden de antwoorden samengevoegd, bij de andere types wordt het
          antwoord enkel automatisch geselecteerd als de antwoorden in de
          bronvragen overeenkomen en in dezelfde volgorde staan.
        </p>
      </Message>
      <div v-if="nodeStore.prefillSources.length > 0">
        <div class="flex gap-4 pt-4">
          <HighlightRelationsButton
            :relation-info="{
              type: RelativeRelation.PREFILLED_BY,
              node: question,
            }"
          />

          <div class="mt-2">
            <strong>Overzicht bronvragen</strong>
          </div>
        </div>

        <!-- list prefill sources ------------------------------------------------------- -->
        <table id="listChartParticipants" class="mt-2 w-full">
          <thead class="text-sm font-bold text-gray-400">
            <tr class="border-b-2 h-8">
              <td class="p-2 w-16">ID</td>
              <td class="p-2 w-3/4">Bronvraag</td>
              <td class="p-2">&nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(prefillSource, index) in nodeStore.prefillSources"
              :key="prefillSource.id"
              class="h-12"
              :class="{
                'bg-stone-100': index % 2 !== 0,
              }"
            >
              <td class="p-2">
                <PositionTagger
                  :position="prefillSource.position"
                  :tooltip="`id: ${prefillSource.id} \nuid: ${prefillSource.uid}`"
                />
              </td>
              <td class="p-2">
                <router-link
                  class="line-clamp-1 underline"
                  :to="{
                    name: NodeEditorRouteName.Calculation,
                    params: { questionId: prefillSource.id },
                  }"
                >
                  <span class="ml-2" v-html="prefillSource.question" />
                </router-link>
              </td>
              <td class="p-2 text-right">
                <div class="flex justify-end pr-5">
                  <DeletePrefillSourceQuestion
                    :prefill-source="prefillSource"
                    :question="question"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <RelationDraggable
        class="mt-2"
        :config="{
          question: question,
          relationToDropped: RelativeRelation.PREFILLED_BY,
        }"
      />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import {
  ChoiceQuestionNode,
  RelativeRelation,
  TextQuestionNode,
} from "@/api/queries/types/formTypes";
import DeletePrefillSourceQuestion from "@/components/formBuilder/formList/nodeEditor/prefill/DeletePrefillSourceQuestion.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import { useNodeStore } from "@/stores/node";
import RelationDraggable from "../RelationDraggable.vue";
import HighlightRelationsButton from "../../HighlightRelationsButton.vue";
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import { NodeEditorRouteName } from "@/router/routes/nodeEditor.ts";

defineProps<{
  question: ChoiceQuestionNode | TextQuestionNode;
}>();

const nodeStore = useNodeStore();
</script>
