<template>
  <SettingsDialog />
  <div
    id="form-detail-header"
    class="flex flex-row flex-wrap gap-y-2 justify-between content-center p-1 text-white md:flex-nowrap bg-stone-800"
  >
    <div class="flex overflow-hidden truncate">
      <div v-if="settingsStore.logo.length !== 0" class="flex shrink-0">
        <img
          class="object-none"
          :src="settingsStore.logo"
          alt="logo"
          @click="settingsStore.showSettingsDialog"
        />
      </div>

      <div
        v-if="!formStore.isFormLoading"
        class="flex overflow-hidden flex-wrap gap-x-2 items-center"
      >
        <span
          class="overflow-hidden font-bold text-ellipsis truncate"
          data-cy="lblTitle"
          >{{ label }}</span
        >
        <span
          class="font-mono text-stone-500 truncate text-ellipsis"
          data-cy="lblUid"
        >
          [{{ formStore.form?.uid }}]
        </span>
      </div>
    </div>

    <div
      v-if="settingsStore.setForceOnCommands"
      v-tooltip="
        'Forced commando\'s worden uitgevoerd ookal zijn er al inzendingen in een formulier.'
      "
      class="h-full flex items-center text-red-400 gap-2"
      @click="settingsStore.showSettingsDialog"
    >
      <FontAwesomeIcon
        icon="fa-solid fa-triangle-exclamation"
        class="text-lg"
      />
      <p>Commando's worden <em>forced</em> uitgevoerd.</p>
    </div>

    <div
      v-if="!formStore.isFormLoading"
      class="flex gap-2 items-center pr-1 shrink-0"
    >
      <span class="mx-2 text-stone-500" data-cy="lblVersion"
        >versie {{ formStore.form.currentVersionNumber }}</span
      >
      <div v-show="false" data-cy="hiddenUnPublishedItemCount">
        {{ formStore.form.unPublishedItemCount }}
      </div>
      <Badge
        v-if="formStore.form.unPublishedItemCount === 0"
        data-cy="lblFormNotChanged"
        value="Ongewijzigd"
      />
      <div
        v-else-if="publishStore.isValidated && !publishStore.isValid"
        class="py-1.5 pl-1.5 mr-3 rounded border border-transparent cursor-pointer hover:text-stone-500 hover:border-stone-500"
        tabindex="0"
        role="button"
        data-cy="btnValidation"
        @click="showDialog.validation = true"
      >
        <OverlayBadge
          :value="publishStore.validationMessages.length"
          severity="danger"
          size="small"
        >
          <FontAwesomeIcon
            id="btnValidationErrors"
            icon="fa-solid fa-bug"
            class="text-2xl pr-1.5"
          />
        </OverlayBadge>
      </div>
      <!-- <Badge v-else value="Gevalideerd" severity="success" /> -->

      <ButtonGroup v-if="formStore.form.unPublishedItemCount != 0">
        <Button
          id="btnNonPublished"
          v-tooltip="
            'Aantal wijzigingen aan de template die nog niet gepubliceerd zijn.'
          "
          data-cy="lblUnpublishedItems"
          :label="formStore.form.unPublishedItemCount.toString()"
          severity="info"
          icon="pi pi-history"
          rounded
          @click="showDialog.history = true"
        />

        <Button
          id="btnPublishMe"
          v-tooltip.bottom="publishTooltip"
          :disabled="!enablePublish"
          data-cy="btnPublish"
          severity="success"
          icon="pi pi-cloud-upload"
          label="Publiceren"
          @click="publish"
        />
      </ButtonGroup>

      <!-- -- download the form template as a zip file -->
      <a
        v-if="canDownloadAsZip && formStore.form.unPublishedItemCount === 0"
        :href="`${apiUrl}/template/${formStore.form.uid}/zip/download`"
        target="_blank"
        class="darkmode"
      >
        <Button
          :outlined="true"
          icon="pi pi-download"
          icon-pos="right"
          label="Download (ZIP)"
        />
      </a>
    </div>
    <div v-else>
      <div class="text-stone-400">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </div>
    </div>
    <!-- ----------------------------------------------------------------------- validation -->
    <Dialog
      v-model:visible="showDialog.validation"
      header="Validatie"
      position="top"
      :modal="true"
    >
      <ValidateForm />
    </Dialog>

    <!-- -------------------------------------------------------------------------- publish -->
    <Dialog
      v-model:visible="showDialog.publish"
      header="Publiceer dit formulier"
      position="top"
      :modal="true"
    >
      <PublishForm />
    </Dialog>

    <!-- ------------------------------------------------------------- last history overview -->
    <Dialog
      v-model:visible="showDialog.history"
      header="Niet gepubliceerde wijzigingen"
      position="top"
      :modal="true"
    >
      <ResetForm @close="showDialog.history = false" />
    </Dialog>
  </div>
</template>

<script setup lang="ts">
import ValidateForm from "./dialog/ValidateForm.vue";
import PublishForm from "./dialog/PublishForm.vue";
import { useLanguageStore } from "@/stores/language";
import { useFormStore } from "@/stores/form";
import { computed, reactive } from "vue";
import { useFormPublishStore } from "@/stores/formPublish";
import { useSettingsStore } from "@/stores/settings";
import ResetForm from "@/components/formBuilder/dialog/ResetForm.vue";
import { apiUrl } from "@/main.ts";
import SettingsDialog from "./dialog/SettingsDialog.vue";

const formStore = useFormStore();
const languageStore = useLanguageStore();
const publishStore = useFormPublishStore();
const settingsStore = useSettingsStore();

const showDialog = reactive({
  validation: false,
  tryOut: false,
  publish: false,
  history: false,
});

function publish() {
  if (publishStore.isValid && publishStore.isValidated) {
    showDialog.publish = true;
  }
}

const label = computed(
  () =>
    formStore.form.info.label[languageStore.activeLanguage.toLowerCase()] ??
    "FORM TITLE",
);

const enablePublish = computed(
  () =>
    formStore.form.unPublishedItemCount > 0 &&
    publishStore.isValid &&
    publishStore.isValidated,
);

const publishTooltip = computed(() =>
  publishStore.isValidated
    ? publishStore.isValid
      ? ""
      : "Er zijn nog validatie fouten. Deze moeten eerst opgelost worden."
    : "Validatie is nog niet uitgevoerd.",
);

const canDownloadAsZip = computed(() => {
  let _result = false;
  for (const permission in settingsStore.formBuilderPermissions) {
    if (
      permission === "allowDownloadFormZip" &&
      settingsStore.formBuilderPermissions[permission] === "WRITE"
    ) {
      _result = true;
    }
  }
  return _result;
});
</script>

<style scoped>
.fake-disabled {
  opacity: 0.65;
}
</style>
