<template>
  <div id="languageSelector" class="flex">
    <div
      v-for="language in languageStore.languages"
      :key="language"
      class="px-1"
    >
      <Button
        :data-cy="'btnChoose_' + language"
        class="text-center"
        :label="language"
        :outlined="languageStore.activeLanguage !== language"
        :pt="{
          label: { class: 'uppercase font-bold text-lg leading-none' },
        }"
        @click="languageStore.activeLanguage = language"
      >
      </Button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useLanguageStore } from "@/stores/language";
const languageStore = useLanguageStore();
</script>
