<template>
  <div id="wizard-header" class="p-1.5 pb-2 text-white bg-stone-700">
    <div class="flex flex-row gap-2 justify-between">
      <div class="flex flex-wrap gap-2 darkmode">
        <Button
          v-for="(route, index) in accessibleRoutes"
          :id="route.name"
          :key="route.name"
          :data-cy="'btn' + route.name"
          :disabled="!formStore.form"
          :outlined="!isButtonActive(route.name)"
          :label="`${index + 1}. ${route.label}`"
          @click="gotoRoute(route.name)"
        />
      </div>
      <div class="">
        <HelpButton
          class="float-left mr-3"
          :code="helpCodes.LABEL_ALGEMEEN_POPUP"
        />
        <LanguageSelector class="float-right darkmode" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { Permission, useSettingsStore } from "@/stores/settings";
import { useRouter } from "vue-router";
import { computed } from "vue";
import LanguageSelector from "@/components/formBuilder/LanguageSelector.vue";
import { RoutePermissionName } from "@/router/routePermissions";
import { helpCodes } from "@/help/codes";
import HelpButton from "@/components/formBuilder/_general/HelpButton.vue";

const formStore = useFormStore();
const settingsStore = useSettingsStore();
const router = useRouter();

const headerRoutes = [
  {
    name: RoutePermissionName.FormGeneral,
    label: "Algemene instellingen",
  },
  {
    name: RoutePermissionName.FormWorkflow,
    label: "Workflow stappen",
  },
  {
    name: RoutePermissionName.FormList,
    label: "Opbouw formulier",
  },
  {
    name: RoutePermissionName.FormPermissions,
    label: "Workflow rechten",
  },
];

const accessibleRoutes = computed(() =>
  headerRoutes.filter((route) => routeAccessible(route.name)),
);

function routeAccessible(route: RoutePermissionName) {
  if (settingsStore.routesWithPermissions.includes(route)) {
    return settingsStore.routePermissions[route] !== Permission.None;
  }
  return true;
}

function gotoRoute(route: RoutePermissionName) {
  void router.push({
    name: route,
    params: { id: formStore.form.id },
  });
}

function isButtonActive(module: string): boolean {
  switch (module) {
    case "formList":
      if (router.currentRoute.value.path.includes("form-list")) return true;
      break;
    case "formWorkflow":
      if (router.currentRoute.value.path.includes("workflow")) return true;
      break;
    default:
      if (module === router.currentRoute.value.name) return true;
  }
  return false;
}
</script>
