<template>
  <FormCardList>
    <FormCard>
      <!-- question permissions detail component -->

      <Message severity="info" icon="pi pi-exclamation-circle" class="mb-2">
        U kunt een template toepassen op de hele catagorie en alle vragen die
        zich bevinden in de hierarchie hieronder.
      </Message>
      <div class="flex">
        <div v-if="permissionStore.permissionTemplates.length !== 0">
          <div class="flex">
            <div class="pr-2">
              <Select
                v-model="selectedTemplate"
                class="w-full"
                placeholder="Selecteer een template"
                :options="permissionStore.permissionTemplates"
                option-label="name"
              />
            </div>
            <div class="">
              <Button
                v-tooltip="
                  'Pas deze template toe op alle vragen in de hele hierarchie binnen deze categorie.'
                "
                :disabled="selectedTemplate === undefined"
                label="toepassen"
                icon="pi pi-arrow-circle-down"
                severity="success"
                @click="applyTemplate"
              ></Button>
            </div>
          </div>
        </div>
        <div class="ml-2">
          <Button
            label="Template aanmaken"
            severity="secondary"
            outlined
            @click="createTemplate"
          />
        </div>
      </div>
      <CommandRenderer v-if="command" :command="command" />
    </FormCard>
    <!-- overview permissions -->

    <FormCard>
      <VisibilityDetail :node="category" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import VisibilityDetail from "@/components/formBuilder/formList/nodeEditor/permissions/VisibilityDetail.vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import type { CategoryNode } from "@/api/queries/types/formTypes";
import { usePermissionStore } from "@/stores/permissions";
import { FlowPermissionTemplate } from "@/api/queries/types/permissionTypes";
import { ref, toRef } from "vue";
import { useApplyPermissionToCategory } from "@/api/commands/UpdatePermissions";
import FormCardList from "@/components/layout/FormCardList.vue";

const props = defineProps<{ category: CategoryNode }>();
const permissionStore = usePermissionStore();

const selectedTemplate = ref<FlowPermissionTemplate>({
  id: 0,
  name: "",
  contentHash: "",
  flowPermission: {},
});

const isSaving = ref(false);

function createTemplate() {
  permissionStore.showPermissionTemplateManager = true;
  permissionStore.createNewTemplate = true;
}

const { command, executeCommand } = useApplyPermissionToCategory(
  selectedTemplate,
  toRef(props, "category"),
);

async function applyTemplate() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
}
</script>
