<template>
  <div id="PermissionBulkSelector" class="flex">
    <div class="flex-auto">&nbsp;</div>
    <div
      class="border-l-[1px] border-t-[1px] border-b-[1px] rounded-l-lg text-sm border-gray-500"
      :class="readClass"
    >
      <div class="p-1 px-2 cursor-pointer" @click="toggleRead">R</div>
    </div>
    <div
      class="border-l-[1px] border-t-[1px] border-b-[1px] text-sm border-gray-500"
    >
      <div class="p-1 px-2 cursor-pointer" @click="resetSelector">-</div>
    </div>
    <div
      class="border-l-[1px] border-r-[1px] border-t-[1px] border-b-[1px] rounded-r-lg text-sm border-gray-500"
      :class="writeClass"
    >
      <div class="p-1 px-2 cursor-pointer" @click="toggleWrite">W</div>
    </div>
    <div class="flex-auto">&nbsp;</div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import type {
  SetValueForRolesEvent,
  SetValueForStepsEvent,
} from "@/api/queries/types/permissionTypes";

const props = defineProps<{
  type: "ROLE" | "STEP";
  subject: string;
  statusRead: boolean;
  statusWrite: boolean;
}>();

const emit = defineEmits<{
  (e: "setValueForRoles", value: SetValueForRolesEvent): void;
  (e: "setValueForSteps", value: SetValueForStepsEvent): void;
}>();

const readClass = computed(() => {
  let _style = "";
  if (props.statusRead) _style = "bg-green-300";
  return _style;
});

const writeClass = computed(() => {
  let _style = "";
  if (props.statusWrite) _style = "bg-green-300";
  return _style;
});

function toggleRead() {
  if (!props.statusRead) {
    if (props.type === "ROLE") {
      emit("setValueForRoles", {
        role: props.subject,
        type: "read",
        value: true,
      });
    } else {
      emit("setValueForSteps", {
        step: props.subject,
        type: "read",
        value: true,
      });
    }
  }
}

function toggleWrite() {
  if (!props.statusWrite) {
    if (props.type === "ROLE") {
      emit("setValueForRoles", {
        role: props.subject,
        type: "write",
        value: true,
      });
    } else {
      emit("setValueForSteps", {
        step: props.subject,
        type: "write",
        value: true,
      });
    }
  }
}

function resetSelector() {
  if (props.type === "ROLE") {
    emit("setValueForRoles", {
      role: props.subject,
      type: "reset",
      value: true,
    });
  } else {
    emit("setValueForSteps", {
      step: props.subject,
      type: "reset",
      value: true,
    });
  }
}
</script>

<style scoped></style>
