<template>
  <div id="PermissionSelector" class="flex">
    <div class="flex-auto">&nbsp;</div>
    <div
      class="border-l-[1px] border-t-[1px] border-b-[1px] rounded-l-lg text-sm border-gray-500"
      :class="readClass"
    >
      <div class="p-1 px-2 cursor-pointer" @click="selectReadProperty">R</div>
    </div>
    <div
      class="border-l-[1px] border-t-[1px] border-b-[1px] text-sm border-gray-500"
    >
      <div class="p-1 px-2 cursor-pointer" @click="resetProperties">-</div>
    </div>
    <div
      class="border-l-[1px] border-r-[1px] border-t-[1px] border-b-[1px] rounded-r-lg text-sm border-gray-500"
      :class="writeClass"
    >
      <div class="p-1 px-2 cursor-pointer" @click="selectWriteProperty">W</div>
    </div>
    <div class="flex-auto">&nbsp;</div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import type {
  RolePermission,
  SetValueForCellEvent,
} from "@/api/queries/types/permissionTypes";

const emit =
  defineEmits<(e: "setValueForCell", value: SetValueForCellEvent) => void>();

const props = defineProps<{
  stepUid: string;
  role: string;
  permission: RolePermission;
}>();

function selectReadProperty() {
  if (!props.permission.read) {
    emit("setValueForCell", {
      step: props.stepUid,
      role: props.role,
      type: "read",
      value: true,
    });
  }
}

function selectWriteProperty() {
  if (!props.permission.write) {
    emit("setValueForCell", {
      step: props.stepUid,
      role: props.role,
      type: "write",
      value: true,
    });
  }
  selectReadProperty();
}

function resetProperties() {
  if (props.permission.read || props.permission.write) {
    emit("setValueForCell", {
      step: props.stepUid,
      role: props.role,
      type: "reset",
      value: true,
    });
  }
}

const readClass = computed(() => {
  let _style = "";
  if (props.permission.read) _style = "bg-green-300";
  return _style;
});

const writeClass = computed(() => {
  let _style = "";
  if (props.permission.write) _style = "bg-green-300";
  return _style;
});
</script>

<style scoped></style>
