<template>
  <FormCardList>
    <FormCard>
      <QuestionPermissionsDetail
        v-if="loaded"
        :question="question"
        class="mt-2"
      />
      <div v-else class="flex justify-center">
        <ProgressSpinner class="py-40" />
      </div>
    </FormCard>
    <FormCard>
      <VisibilityDetail :node="question" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import type { QuestionNode } from "@/api/queries/types/formTypes";
import QuestionPermissionsDetail from "@/components/formBuilder/formList/nodeEditor/permissions/QuestionPermissionsDetail.vue";
import { usePermissionStore } from "@/stores/permissions";
import VisibilityDetail from "@/components/formBuilder/formList/nodeEditor/permissions/VisibilityDetail.vue";
import { onMounted, ref } from "vue";
import FormCardList from "@/components/layout/FormCardList.vue";

const props = defineProps<{ question: QuestionNode }>();
const permissionStore = usePermissionStore();
const loaded = ref(false);
onMounted(async () => {
  await permissionStore.loadNodePermissions(props.question.id);
  loaded.value = true;
});
</script>
