<template>
  <div id="QuestionPermissionsDetail">
    <PermissionTable
      :permissions="flowPermission"
      :form-roles="formRoles"
      :form-steps="formSteps"
      @set-value-for-steps="setValueForSteps"
      @set-value-for-roles="setValueForRoles"
      @set-value-for-cell="setValueForCell"
    >
      <!-- Slot for top left corner content -->
      <div
        v-if="permissionStore.permissionTemplates.length !== 0"
        class="flex flex-row"
      >
        <div class="w-11/12">
          <Select
            v-model="selectedTemplate"
            class="w-full"
            :options="permissionStore.permissionTemplates"
            option-label="name"
          />
        </div>
        <div class="w-1/12 ml-2 mr-4">
          <Button
            v-if="selectedTemplate"
            v-tooltip="'Laad template permissies.'"
            icon="pi pi-arrow-circle-down"
            severity="secondary"
            @click="loadTemplate"
          ></Button>
        </div>
      </div>
    </PermissionTable>

    <div class="mt-2 flex flex-row">
      <div class="basis-1/3">
        <!-- ----------------------------------------------------------------------------- button: bewaar permissies -->
        <div v-if="!isSaving">
          <Button
            label="Bewaar permissies"
            icon="pi pi-check"
            class="w-full"
            severity="success"
            @click="savePermissions"
          />
        </div>
        <div v-else>
          <Button
            icon="pi pi-spin pi-spinner"
            disabled
            label="Bewaren van permissies"
            class="w-full"
            severity="success"
          ></Button>
        </div>
      </div>
      <div class="basis-1/3 ml-2">
        <Button
          label="Bewaar als template"
          icon="pi pi-circle"
          class="w-full"
          severity="secondary"
          outlined
          @click="permissionStore.showPermissionsTemplates = true"
        />
      </div>
    </div>

    <!-- dialog for the template management for permissions -->
    <Dialog
      v-model:visible="permissionStore.showPermissionsTemplates"
      header="Templates voor permissies:"
      :modal="true"
    >
      <div style="width: 1250px">
        <DialogPermissionTemplates
          :form-id="formStore.form.id"
          :content-hash="formStore.form.contentHash"
          :permission-detail="flowPermission"
        />
      </div>
    </Dialog>

    <!-- ---------------------------------------------------------------------------------------------- debug output -->
    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { useLanguageStore } from "@/stores/language";
import { computed, ref, toRaw, toRef } from "vue";
import type {
  QuestionNode,
  RoleSummary,
  StepSummary,
} from "@/api/queries/types/formTypes";
import { renderRoleLabel } from "@/functions/roles";
import type {
  FlowPermissionTemplate,
  PermissionNode,
  SetValueForCellEvent,
  SetValueForRolesEvent,
  SetValueForStepsEvent,
} from "@/api/queries/types/permissionTypes";
import { useUpdatePermissionCommand } from "@/api/commands/UpdatePermissions";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { usePermissionStore } from "@/stores/permissions";
import DialogPermissionTemplates from "@/components/formBuilder/formList/nodeEditor/permissions/templates/DialogPermissionTemplates.vue";
import PermissionTable from "@/components/formBuilder/_general/permissions/PermissionTable.vue";

// ---------------------------------------------------------------------------------------------------------- properties
const props = defineProps<{
  question: QuestionNode | PermissionNode;
}>();

// -------------------------------------------------------------------------------------------------------------- stores
const formStore = useFormStore();
const languageStore = useLanguageStore();
const permissionStore = usePermissionStore();

// ------------------------------------------------------------------------------------------------------- command stuff
const selectedTemplate = ref<FlowPermissionTemplate | undefined>(
  getInitialPermissionTemplate(),
);
const { flowPermission, templateId, command, executeCommand } =
  useUpdatePermissionCommand(
    toRef(props, "question"),
    toRef(permissionStore, "permissionDetail"),
  );

const emit = defineEmits<(e: "permissionsSaved") => void>();
const isSaving = ref<boolean>(false);

async function savePermissions() {
  isSaving.value = true;
  await executeCommand();
  emit("permissionsSaved");
  isSaving.value = false;
}

// ------------------------------------------------------------------------------------------------------- roles & steps

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const formSteps = computed<StepSummary[]>(() =>
  formStore.form.workFlow.steps.map((step, index) => ({
    id: step.id,
    uid: step.uid,
    label:
      step.info.label[languageStore.activeLanguage.toLowerCase()] ??
      (index + 1).toString(),
  })),
);

// ---------------------------------------------------------------------------------------------------- template loading

function loadTemplate(): void {
  if (selectedTemplate.value) {
    templateId.value = selectedTemplate.value.id;
    flowPermission.value = structuredClone(
      toRaw(selectedTemplate.value.flowPermission),
    );
  }
}

// -------------------------------------------------------------------------------------------- event handlers functions

function setValueForCell(event: SetValueForCellEvent): void {
  templateId.value = 0;
  selectedTemplate.value = undefined;

  const roleWithPermissions = flowPermission.value[event.step];
  if (roleWithPermissions) {
    if (event.type === "reset") {
      roleWithPermissions[event.role] = { read: false, write: false };
    } else {
      const permission = roleWithPermissions[event.role];
      if (permission) {
        permission[event.type] = event.value;
      }
    }
  }
}

function setValueForSteps(event: SetValueForStepsEvent): void {
  templateId.value = 0;
  selectedTemplate.value = undefined;

  const roleWithPermissions = flowPermission.value[event.step];
  if (!roleWithPermissions) return;
  for (const permission of Object.values(roleWithPermissions)) {
    if (!permission) return;
    if (event.type === "read") {
      permission.read = true;
    } else if (event.type === "write") {
      permission.write = true;
    } else {
      permission.read = false;
      permission.write = false;
    }
  }
}

function setValueForRoles(event: SetValueForRolesEvent): void {
  templateId.value = 0;
  selectedTemplate.value = undefined;

  for (const roles of Object.values(flowPermission.value)) {
    if (!roles) return;
    for (const [roleProp, permission] of Object.entries(roles)) {
      if (roleProp === event.role) {
        if (!permission) return;
        if (event.type === "read") {
          permission.read = true;
        } else if (event.type === "write") {
          permission.write = true;
        } else {
          permission.read = false;
          permission.write = false;
        }
      }
    }
  }
}

function getInitialPermissionTemplate(): FlowPermissionTemplate | undefined {
  if (permissionStore.originalPermissionDetail.templateId !== 0) {
    return permissionStore.permissionTemplates.find(
      (template) =>
        template.id === permissionStore.originalPermissionDetail.templateId,
    );
  }
  return undefined;
}
</script>
