<template>
  <div>
    <div class="flex mt-5">
      <div class="basis-1/12 text-right pr-2 pt-2">
        <ToggleSwitch
          :model-value="node.hidden"
          :disabled="isLoading"
          @change="changeHidden"
        />
      </div>
      <div class="basis-3/4 pl-2">
        <div class="mt-2">Verberg/deactiveer deze vraag.</div>
      </div>
    </div>

    <!-- debug the command (for the backend) -->
    <CommandRenderer :command="command"></CommandRenderer>
  </div>
</template>

<script setup lang="ts">
import type { CategoryNode, QuestionNode } from "@/api/queries/types/formTypes";
import { ref, toRef } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useUpdateDisplayCommand } from "@/api/commands/UpdateDisplay";

const props = defineProps<{ node: QuestionNode | CategoryNode }>();
const isLoading = ref<boolean>(false);

const { command, executeCommand } = useUpdateDisplayCommand(
  toRef(props, "node"),
);
async function changeHidden() {
  isLoading.value = true;
  await executeCommand();
  isLoading.value = false;
}
</script>
