<template>
  <Dialog
    v-model:visible="permissionStore.showPermissionTemplateManager"
    header="Permissie templates"
    modal
    style="min-width: 60rem"
    @hide="reset"
  >
    <AddTemplate v-if="editingNewTemplate" @saved="saved" @canceled="reset" />
    <EditTemplate
      v-else-if="selectedTemplate"
      :current-template="selectedTemplate"
      @saved="saved"
      @canceled="reset"
    />
    <DataTable
      v-else-if="permissionStore.permissionTemplates.length > 0"
      striped-rows
      :value="permissionStore.permissionTemplates"
      paginator
      :always-show-paginator="false"
      :rows="5"
      :table-style="{ 'min-width': '50rem' }"
    >
      <Column header="Beschikbare Templates">
        <template #body="slotProps">
          <div class="flex">
            <div class="flex-grow">
              <p class="font-bold">{{ slotProps.data.name }}</p>
            </div>
            <div class="flex-none mr-1">
              <Button
                label="Aanpassen"
                severity="secondary"
                @click="selectedTemplate = slotProps.data"
              />
            </div>
            <div class="flex-none">
              <ConfirmPopup />
              <Button
                icon="pi pi-trash"
                outlined
                severity="secondary"
                @click="triggerDeleteTemplate($event, slotProps.data.id)"
              />
            </div>
          </div>
        </template>
      </Column>
    </DataTable>
    <p v-else>Er zijn nog geen permissie templates.</p>
    <!-- <CommandRenderer v-if="command" :command="command" /> -->
    <template v-if="!editingNewTemplate && !selectedTemplate" #footer>
      <Button
        label="Nieuwe Template"
        severity="success"
        @click="createNewTemplate"
      />
    </template>
  </Dialog>
</template>
<script setup lang="ts">
import { useConfirm } from "primevue/useconfirm";
import { usePermissionStore } from "@/stores/permissions";
import { useFormStore } from "@/stores/form";
import { computed, ref } from "vue";
import AddTemplate from "@/components/formBuilder/permissionTemplates/AddTemplate.vue";
import EditTemplate from "../permissionTemplates/EditTemplate.vue";
import type { FlowPermissionTemplate } from "@/api/queries/types/permissionTypes";
import { executeApiCommand } from "@/api/commands/common/executeApiCommand";

import { DeletePermissionsTemplateCommand } from "@/api/commands/PermissionsTemplateCommands";

const selectedTemplate = ref<FlowPermissionTemplate>();

const formStore = useFormStore();
const permissionStore = usePermissionStore();
const confirm = useConfirm();

const formId = computed<number>(() => formStore.form.id);

const creatingNewTemplateInManager = ref<boolean>(false);
function createNewTemplate() {
  creatingNewTemplateInManager.value = true;
}

const editingNewTemplate = computed<boolean>(
  () => permissionStore.createNewTemplate || creatingNewTemplateInManager.value,
);

function reset() {
  selectedTemplate.value = undefined;
  creatingNewTemplateInManager.value = false;
  // in case only creating a new template and not really managing:
  if (permissionStore.createNewTemplate)
    permissionStore.showPermissionTemplateManager = false;
  permissionStore.createNewTemplate = false;
}

async function saved() {
  await permissionStore.loadPermissionTemplates(formId.value);
  reset();
}

function triggerDeleteTemplate(event: MouseEvent, templateId: number) {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message: "Are you sure you want to proceed?",
    icon: "pi pi-exclamation-triangle",
    acceptIcon: "pi pi-check",
    rejectIcon: "pi pi-times",
    acceptLabel: "Ja",
    rejectLabel: "Nee",
    accept: () => {
      void deleteTemplate(templateId);
    },
  });
}

const contentHash = computed<string>(() => formStore.form.contentHash);
async function deleteTemplate(templateId: number) {
  const deleteCommand: DeletePermissionsTemplateCommand = {
    subject: "form",
    type: "deletePermissionsTemplate",
    contentHash: contentHash.value,
    delete: {
      id: templateId,
    },
    id: formId.value,
  };
  await executeApiCommand(deleteCommand);
  await permissionStore.loadPermissionTemplates(formId.value);
}
</script>
