<template>
  <div style="width: 850px">
    <div>
      <p>
        Heb je de aanpassingen aan het formulier voltooid? Dan kun je het
        formulier opnieuw publiceren.
        <br />Hier zijn de aanpassingen die zijn gemaakt:
      </p>
    </div>

    <!-- -- history of the commands -->
    <Divider />
    <div class="table text-xs table-wrapper">
      <table class="w-full">
        <thead>
          <tr class="border-b-[1px]">
            <th>Actie</th>
            <th>Onderwerp</th>
            <th></th>
            <th width="18%">door</th>
            <th width="15%">om</th>
            <th>versie</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in history"
            :key="item.id"
            class="border-t-[1px]"
            :class="getRowClass(item)"
          >
            <td class="py-1">{{ item.command }}</td>
            <td class="pl-1">{{ item.subject }}</td>
            <td class="pl-1"><span v-html="item.label"></span></td>
            <td class="pl-1">{{ item.by }}</td>
            <td class="pl-1">
              {{ formatTimeAgo(new Date(item.at)) }}
            </td>
            <td class="text-center">{{ item.versionNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <Divider />

    <div class="w-full">
      <!-- step 1: select version number ----------------------------------------- -->
      <div v-if="currentStep == 0">
        <div class="flex flew-row">
          <div class="basis-2/3">
            <div class="mt-2 mr-4 text-right">
              <!--              <RadioButton-->
              <!--                v-model="publishVersionNumber"-->
              <!--                input-id="currentVersionNumber"-->
              <!--                name="versionNumber"-->
              <!--                :value="formVersionNumber"-->
              <!--                class="mr-2 ml-2"-->
              <!--              />-->
              <label for="currentVersionNumber">
                huidige versie nummer
                <strong> v{{ formVersionNumber }} </strong>
              </label>
              <!--              <RadioButton-->
              <!--                v-model="publishVersionNumber"-->
              <!--                input-id="newVersionNumber"-->
              <!--                name="versionNumber"-->
              <!--                :value="formVersionNumber + 1"-->
              <!--                class="mr-2 ml-4"-->
              <!--              />-->
              <!--              <label for="newVersionNumber">-->
              <!--                nieuwe versie nummer-->
              <!--                <strong>(v{{ formVersionNumber + 1 }})</strong>-->
              <!--              </label>-->
            </div>
          </div>
          <div class="basis-1/3">
            <Button
              data-cy="btnPublishSubmit"
              class="w-full"
              severity="success"
              icon="pi pi-cloud-upload"
              label="Publiceer formulier"
              @click="publishForm"
            />
          </div>
        </div>
      </div>

      <!-- -- confirmation ----------------------------------------------------- -->
      <div v-if="currentStep == 1" class="p-2 bg-yellow-100">
        <div class="flex">
          <div class="mt-2">
            <i class="mt-1 pi pi-exclamation-triangle"></i>
            <span class="ml-2" v-html="confirmationMessage"></span>
          </div>
          <div class="ml-4 w-2/12">
            <Button
              data-cy="btnPublishConfirm"
              label="Ja"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              @click="publishConfirmation"
            />
          </div>
          <div class="ml-4">
            <Button
              data-cy="btnPublishCancel"
              label="Cancel"
              icon="pi pi-times"
              outlined
              @click="cancelPublishForm"
            />
          </div>
        </div>
      </div>

      <!-- -- loading bar -------------------------------------------------------- -->
      <div v-if="currentStep == 2" data-cy="pgbPublishing">
        <ProgressBar mode="indeterminate" />
        <Divider></Divider>
      </div>

      <!-- -- publish result ----------------------------------------------------- -->
      <div v-if="currentStep == 3" data-cy="msgPublished">
        <div>
          <Message severity="success" :life="3000">
            Het formulier is succesvol gepubliceerd.
            <!-- met versie nummer<strong>v{{ publishVersionNumber }}</strong>.-->
          </Message>
        </div>
      </div>
    </div>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { getTranslatedCommandHistory } from "@/api/queries/getTranslatedCommandHistory";
import { useFormStore } from "@/stores/form";
import { useLanguageStore } from "@/stores/language";
import type { TranslatedCommandHistoryEntry } from "@/api/queries/types/commandHistory";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { usePublishFormCommand } from "@/api/commands/AddPublishForm.ts";
import { formatTimeAgo } from "@vueuse/core";

const formStore = useFormStore();
const languageStore = useLanguageStore();
const currentStep = ref(0);
const history = ref<TranslatedCommandHistoryEntry[]>([]);

onMounted((): void => {
  void loadHistory();
});

async function loadHistory() {
  history.value = await getTranslatedCommandHistory(
    formStore.form.id,
    languageStore.activeLanguage,
  );
}

const formVersionNumber = computed<number>(
  () => formStore.form.currentVersionNumber,
);
const useNewVersionNumber = computed<boolean>(
  () => !(formVersionNumber.value === publishVersionNumber.value),
);

const publishVersionNumber = ref<number>(formVersionNumber.value);

const isPublishing = ref(false);

function getRowClass(item: TranslatedCommandHistoryEntry) {
  if (
    item.command === "publishForm" ||
    item.command == "resetToWorkingVersion"
  ) {
    return "bg-green-200 font-bold border-b-[1px] border-t-2 border-gray-600";
  }
  return "";
}

const confirmationMessage = computed<string>(() => {
  if (useNewVersionNumber.value) {
    return "Ben je zeker om het formulier te publiceren met een <strong>nieuw versie nummer</strong>?";
  } else {
    return "Ben je zeker om het formulier te publiceren met <strong>hetzelfde versie nummer</strong>?";
  }
});

function publishForm() {
  currentStep.value = 1;
}

function cancelPublishForm() {
  currentStep.value = 0;
}

const { command, executeCommand } = usePublishFormCommand(useNewVersionNumber);

async function publishConfirmation() {
  currentStep.value = 2;
  isPublishing.value = true;
  await executeCommand();
  await loadHistory();
  isPublishing.value = false;
  currentStep.value = 3;
}
</script>

<style scoped>
.table-wrapper {
  display: block;
  height: 400px;
  overflow: auto;
}
</style>
