<template>
  <div style="width: 750px">
    <div class="w-full">
      <!-- actual confirmation for resetting the form -->
      <p v-if="!formStore.isFormLoading">
        Weet u zeker dat u het formulier wil terugzetten naar de laatst
        gepubliceerde versie? Onderstaande wijzigingen zullen ongedaan gemaakt
        worden.
      </p>

      <!-- list of item that will be discarded -->
      <div class="table mt-4 text-xs table-wrapper border-t-[1px]">
        <table class="w-full">
          <thead>
            <tr class="border-b-[1px]">
              <th>Actie</th>
              <th>Onderwerp</th>
              <th></th>
              <th width="18%">door</th>
              <th width="15%">om</th>
              <th>versie</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in history" :key="item.id" class="border-t-[1px]">
              <td class="py-1">{{ item.command }}</td>
              <td class="pl-1">{{ item.subject }}</td>
              <td class="pl-1"><span v-html="item.label"></span></td>
              <td class="pl-1">{{ item.by }}</td>
              <td class="pl-1">
                {{ formatTimeAgo(new Date(item.at)) }}
              </td>
              <td class="text-center">{{ item.versionNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div v-if="formStore.isFormLoading" data-cy="resetLoading">
        <h2>Herstellen...</h2>
        <ProgressBar mode="indeterminate" />
      </div>

      <Divider />

      <div class="flex gap-2 justify-end">
        <Button
          data-cy="btnResetSubmit"
          severity="danger"
          icon="pi pi-eraser"
          label="Herstel dit formulier"
          :disabled="formStore.isFormLoading"
          @click="confirmReset"
        />
        <Button
          data-cy="btnResetCancel"
          label="Venster sluiten"
          :disabled="formStore.isFormLoading"
          @click="emit('close')"
        />
        <ConfirmPopup />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useConfirm } from "primevue/useconfirm";
import { useFormStore } from "@/stores/form";
import { executeResetToWorkingVersion } from "@/api/commands/ResetToWorkingVersion.ts";
import { useLanguageStore } from "@/stores/language.ts";
import { onMounted, ref } from "vue";
import { TranslatedCommandHistoryEntry } from "@/api/queries/types/commandHistory.ts";
import { getTranslatedCommandHistorySinceLastPublish } from "@/api/queries/getTranslatedCommandHistorySinceLastPublish.ts";
import { formatTimeAgo } from "@vueuse/core";

const formStore = useFormStore();
const languageStore = useLanguageStore();
const history = ref<TranslatedCommandHistoryEntry[]>([]);

onMounted((): void => {
  void loadHistorySinceLastPublish();
});

async function loadHistorySinceLastPublish() {
  history.value = await getTranslatedCommandHistorySinceLastPublish(
    formStore.form.id,
    languageStore.activeLanguage,
  );
}

const emit = defineEmits(["close"]);

const confirm = useConfirm();
function confirmReset(event: Event) {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message:
      "Weet u zeker dat u het formulier wil terugzetten naar de laatst gepubliceerde versie? Bovenstaande wijzigingen zullen ongedaan gemaakt worden.",
    icon: "pi pi-exclamation-triangle",
    acceptClass: "p-button-danger",
    acceptLabel: "Herstel dit formulier",
    rejectLabel: "Annuleren",

    accept: () => {
      void resetForm();
    },
  });
}
async function resetForm() {
  formStore.isFormLoading = true;

  await executeResetToWorkingVersion();

  emit("close");
  formStore.isFormLoading = false;
}
</script>

<style scoped>
.table-wrapper {
  display: block;
  height: 300px;
  overflow: auto;
}
</style>
