<template>
  <Dialog
    v-model:visible="settingsStore.settingsDialogVisible"
    header="FormBuilder Instellingen"
    :style="{ width: '30vw' }"
  >
    <div class="flex items-center gap-8 w-full justify-between">
      force all commands
      <ToggleSwitch
        v-model="settingsStore.setForceOnCommands"
        :dt="{
          colorScheme: {
            light: {
              root: {
                checkedBackground: '{red.500}',
                checkedHoverBackground: '{red.600}',
              },
              handle: {
                checkedBackground: '{red.50}',
                checkedHoverBackground: '{red.100}',
              },
            },
          },
        }"
      />
    </div>
  </Dialog>
</template>
<script setup lang="ts">
import { useSettingsStore } from "@/stores/settings";

const settingsStore = useSettingsStore();
</script>
