<template>
  <div style="width: 750px">
    <div>
      <p>
        We herbouwen het formulier met de informatie die in deze "edit status"
        is opgegeven. We controleren of het formulier compleet is en of er geen
        afwijkende configuraties zijn. Zolang het formulier niet is goedgekeurd
        door onze validatie-engine, kun je het niet publiceren.
      </p>
    </div>
    <Divider />
    <div
      v-if="publishStore.isValidated && !publishStore.isLoading"
      id="validationErrorDescriptions"
      class="w-full"
    >
      <ul>
        <li
          v-for="(validationMessage, index) in publishStore.validationMessages"
          :key="index"
        >
          <p v-tooltip="validationMessage.type">
            {{ validationMessage.message }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useFormPublishStore } from "@/stores/formPublish";

const publishStore = useFormPublishStore();
</script>

<style scoped>
#validationErrorDescriptions ul {
  list-style: disc;
  margin-left: 30px;
}

#validationErrorDescriptions li {
  margin-top: 5px;
}
</style>
