{#
    Macro for used in src/Resources/views/embed/form/macros.html.twig
    for rendering input items.
#}
{% macro inputItem(nodeFormView, showTempHistoryWarning, fileUrls, showPositionNumbers) %}
    {# @var nodeFormView \Symfony\Component\Form\FormView #}
    {% if nodeFormView.vars.node_input_type is defined %}
        {% set type = nodeFormView.vars.node_input_type %}

        {% set nodeTempHistory = null %}
        {% if showTempHistoryWarning is defined and showTempHistoryWarning %}
            {% if nodeFormView.vars.node_temp_history_entry is defined and nodeFormView.vars.node_temp_history_entry is not empty %}
                {% set nodeTempHistory = nodeFormView.vars.node_temp_history_entry %}
            {% endif %}
        {% endif %}

        {% set descriptionInfo = nodeFormView.vars.node_description %}
        {% set descriptionInfoType = nodeFormView.vars.node_description_display_type %}

        <div kfb-id="{{ nodeFormView.vars.id }}"
             kfb-parent-id="{{ nodeFormView.vars.parent_id }}"
             kfb-multi-unlocking-question-ids = "{{ nodeFormView.vars.multi_unlocking_question_ids|json_encode|e('html_attr') }}"
             class="kfb-question {{ nodeFormView.vars.is_locked ? 'locked' }}" >

        {# place calculate buttons inline in matrix view except when its radios #}
        {% set calculateMatrix = false %}
        {%  if nodeFormView.vars.matrix_view and
            nodeFormView.vars.show_auto_calculate_btn is defined and (
            nodeFormView.vars.show_auto_calculate_btn
            and nodeFormView.vars.node_input_type == "number"
            or (nodeFormView.vars.node_input_type == "choice" and nodeFormView.vars.choice_type != "radios")
            )
        %}
            {% set calculateMatrix = true %}
        {% endif %}
        {% if nodeFormView.vars.matrix_view and showPositionNumbers %}
            <span class="label label-info" style="margin-bottom: 1rem;">{{ nodeFormView.vars.position }}</span>
        {% endif %}
        <div class="form-group"{% if calculateMatrix %} style="min-width: max-content" {% endif %}>

            {# --------------------------------------------------------------------- render the different input types #}
            {% if nodeFormView.vars.node_input_type == 'text' %}
                {% import "@KULForm/embed/form/node/input/text_input_node_macros.html.twig" as text_macros %}
                {{ text_macros.render(nodeFormView, showPositionNumbers) }}
            {% elseif nodeFormView.vars.node_input_type == 'choice' %}
                {% import "@KULForm/embed/form/node/input/choice_input_node_macros.html.twig" as choice_macros %}
                {{ choice_macros.render(nodeFormView, showPositionNumbers) }}
            {% elseif nodeFormView.vars.node_input_type == 'number' %}
                {% import "@KULForm/embed/form/node/input/number_input_node_macros.html.twig" as number_macros %}
                {{ number_macros.render(nodeFormView, showPositionNumbers) }}
            {% elseif nodeFormView.vars.node_input_type == 'checkbox' %}
                {% import "@KULForm/embed/form/node/input/checkbox_input_node_macros.html.twig" as checkbox_macros %}
                {{ checkbox_macros.render(nodeFormView, showPositionNumbers) }}
            {% elseif nodeFormView.vars.node_input_type == 'upload' %}
                {% import "@KULForm/embed/form/node/input/upload_input_node_macros.html.twig" as upload_macros %}
                {{ upload_macros.render(nodeFormView, fileUrls, showPositionNumbers) }}
            {% elseif nodeFormView.vars.node_input_type == 'date' %}
                {% import "@KULForm/embed/form/node/input/date_input_node_macros.html.twig" as date_macros %}
                {{ date_macros.render(nodeFormView, showPositionNumbers, showPositionNumbers) }}
            {% endif %}

            <div class="col-sm-1 text-left pt5">
                {# ---------------------------------------------------- render node temp history as icon with popover #}
                {% if nodeTempHistory is not empty %}
                    <a href="#" class="text-info p5 nodeTempHistory" data-history="true"
                       data-trigger="hover" data-container="body" data-html="true" data-placement="left" data-toggle="popover"
                       data-content="
                            {% if nodeTempHistory.isAutoSaved %}
                                {{ 'fields.tempHistoryWarning.AutoTempSavedBy'|trans({},'kulFormBase')|raw }}
                            {% else %}
                                {{ 'fields.tempHistoryWarning.tempSavedBy'|trans({},'kulFormBase')|raw }}
                            {% endif %}
                            {% if nodeTempHistory.isConvertedByRollback %}
                                ({{ 'fields.tempHistoryWarning.handledByRollback'|trans({},'kulFormBase')|raw }})
                            {% endif %}
                            {{ 'fields.tempHistoryWarning.lastUpdateOn'|trans({},'kulFormBase')|raw }}
                            {{ nodeTempHistory.getSubmitDateString(app.request.locale) }}

                            {% if nodeTempHistory.isConvertedByRollback %}
                                . {{ 'fields.tempHistoryWarning.originallySubmitted'|trans({},'kulFormBase')|raw }}
                            {% endif %}

                            {{ 'fields.tempHistoryWarning.lastUpdateBy'|trans({},'kulFormBase') }}
                            {{ nodeTempHistory.person }}

                            {% if nodeTempHistory.isConvertedByRollback %}
                                {{ 'fields.tempHistoryWarning.lastUpdateOn'|trans({},'kulFormBase')|raw }}
                                {{ nodeTempHistory.getOriginalSubmitDateBeforeRollbackString(app.request.locale) }}
                            {% endif %}
                    ">
                        <i style="font-size:18px" class="ico-warning-sign text-warning"></i>
                    </a>
                {% else %}
{#                    <span>&nbsp;</span>#}
                {% endif %}
                {# ---------------------------------------------------------------------------- icon description info #}
                {% if descriptionInfo is not empty and descriptionInfoType == constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\InputNode::DESCRIPTION_DISPLAY_MODE_ICON') %}
                   {{ form_help(nodeFormView) }}
                {% endif %}
            </div>

            {# -------------------------------------------------------------------- error message for this form-field #}
            {% if not nodeFormView.vars.valid and nodeFormView.vars.errors|length > 0 %}
                {% if nodeFormView.vars.matrix_view %}
                    <div class="col-sm-12 mt10">
                        <div class="alert alert-danger mb0" role="alert">
                {% else %}
                    <div class="col-sm-offset-3 col-sm-8 mt10">
                        <div class="alert alert-danger mb10" role="alert">
                {% endif %}
                            <ul class="list-unstyled">
                                {%  for error in nodeFormView.vars.errors %}
                                    <li>
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        {{ error.message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            {% endif %}
        </div>

        {# ------------------------------------------------------------------------------------- box description info #}
        {% if descriptionInfo is not empty and descriptionInfoType == constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\InputNode::DESCRIPTION_DISPLAY_MODE_BOX') %}
            <div class="row">
                {{ form_help(nodeFormView) }}
            </div>
        {% endif %}

        </div>
    {% endif %}
    {% do nodeFormView.setRendered %}
{% endmacro %}
