{#
    Macro for used in src/Resources/views/embed/form/macros.html.twig
    for rendering read only (view) items.
#}

{# @var scoringParameters \KUL\FormBundle\Domain\Template\Element\Node\Scoring\ScoringParameters #}
{% macro readOnlyView(node, readvalues, step, role, showPositionNumbers) %}
    {% import _self as macros %}
    {% if node.type == 'read_only_view_basic' %}
        {{ macros.basic(node, readvalues, step, role, showPositionNumbers) }}
    {% elseif node.type == 'read_only_view_radar_chart' %}
        {{ macros.radarChart(node, readvalues, step, role) }}
    {% endif %}
{% endmacro readOnlyView %}

{% macro basic(node, readvalues, step, role, showPositionNumbers) %}
    {#  @var chartNode  \KUL\FormBundle\Domain\Template\Element\Node\ReadOnly\BasicViewNode #}
    {% if not node.isHidden and node.isStepRoleReadAccessGranted(step, role) %}
        <div class="read-only-node form-group view-node">
            {% if node.hasLabel(app.request.locale) %}
                {% if showPositionNumbers %}
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="label label-info">{{ node.positionString }}</span>
                            </div>
                            <div class="col-sm-9 control-label">
                                {{ node.getLabel(app.request.locale) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-3 text-right">
                        <span class="control-label">{{ node.getLabel(app.request.locale) }}</span>
                    </div>
                {% endif %}
                <div class="col-sm-9">
                    {{ node.getFullDescription(app.request.locale, role)|sanitize_html_custom }}
                </div>
            {% else %}
                <div class="col-sm-12">
                    {{ node.getFullDescription(app.request.locale, role)|sanitize_html_custom }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endmacro basic %}

{% macro radarChart(chartNode, readvalues, step, role) %}
    {#  @var chartNode  \KUL\FormBundle\Domain\Template\Element\Node\ReadOnly\RadarChartViewNode #}

    {# radar chart view node is a read-only node. write access is impossible. only plotted & shown if read access is granted
       to the node itself and - if configured to do so - if access is granted to at least one of its participating questions
       for the role-step combo. if acces granted, chart will only be plotted & shown if at least one of the
       (step-role accessible) participating questions has a submitted answer available (in given read values) #}
    {% if not chartNode.isHidden and chartNode.hasPlottableDataFor(step, role, readvalues) %}
        {# chart is always read-only-node. which means if the displayToggler for readOnly questions is available, the chart can be shown/hidden via this button by the user to improve gloabl page readbility.
           this is off course fine. if a step is set to hide all read-only questions on init (page load), then users will have to use the toggle button to see the chart. I guess that's fine as well,
           especially since configuring a step to hide all read-only questions on init is unusual and further more; only if the user has also write access to other questions, will the toggle be available
           or can the read-only nodes be hidden on init anayway. @see src/Resources/views/embed/togglers/read-only-togglers.html.twig #}
        <div class="read-only-node view-node row">
            {# on big screens, using col-lg-6 makes it too big, using col-lg-4 makes it a bit small but ok, however it makes it very small
               near the transition to medium screens (col-md) before jumping to the col-md and making it big enough again. so col-lg-4 is not ok
               col-lg-5 is ok in size on big screens (a bit big though) and good near transition; but since that is an uneven number
               we cannot use col-lg-offset to center it. hence the custom style on top of the bootstrap cols #}
            <div class="col-sm-12 col-md-6 col-lg-5" style="float: none; margin: 0 auto;">
                <canvas id="radar-chart-{{ chartNode.uid }}"
                        class="radar-chart-node"
                        width="100%"
                        height="100%"
                        data-label='{{ chartNode.label(app.request.locale) }}'
                        data-chart-data='{{ chartNode.getPlottableDataFor(step, role, readvalues, app.request.locale) | json_encode }}'
                        data-unit-sign= '{{ chartNode.usesUnitSign ? chartNode.getUnitSign : '' }}'
                        data-hide-point-values='{{ chartNode.hidePointValues ? 'true' : 'false' }}'
                        data-hide-point-unit-suffix='{{ chartNode.hidePointUnitSuffix ? 'true' : 'false' }}'
                        data-hide-scale-values='{{ chartNode.hideScaleValues ? 'true' : 'false' }}'
                        data-hide-scale-suffix='{{ chartNode.hideScaleUnitSuffix ? 'true' : 'false' }}'
                        data-min-value='{{ chartNode.getChartMinValue}}'
                        data-max-value='{{ chartNode.getChartMaxValue}}'
                ></canvas>
            </div>
        </div>
    {% endif %}
{% endmacro radarChart %}

{% macro inputItem(node, readvalues, submittedFiles, fileUrls, role, showPositionNumbers) %}
    {% if not node.isHidden() and (not node.isLocked or kul_form_hasBeenAnswered(node, readvalues)) %}
        {% import _self as macros %}
        {% set wrapperClass = 'col-sm-8' %}
        {% if node.hasAncestorWithDisplayModeMatrix %}
            {% set wrapperClass = 'col-sm-12' %}
        {% endif %}
        <div class="form-group read-only-node">
            {% if not node.hasAncestorWithDisplayModeMatrix %}
                {% if showPositionNumbers %}
                    <div class="col-sm-3 row">
                        <div class="col-sm-3">
                            <span class="label label-info">{{ node.positionString }}</span>
                        </div>
                        <label class="control-label col-sm-9">
                            {{ (node.label(app.request.locale))|sanitize_html_custom }}
                        </label>
                    </div>
                {% else %}
                    <label class="control-label col-sm-3">
                        {{ (node.label(app.request.locale))|sanitize_html_custom }}
                    </label>
                {% endif %}
            {% endif %}
            <div class="{{ wrapperClass }}"
                 style="{% if node.input.type != 'upload' %}padding-top: 7px;{% else %}margin-top: -4px;{% endif %}">
                {% if node.input.type == 'text' %}
                    {{ macros.textInputItem(node, readvalues) }}
                {% elseif node.input.type == 'choice' %}
                    {{ macros.choiceInputItem(node, readvalues, role) }}
                {% elseif node.input.type == 'checkbox' %}
                    {{ macros.checkboxInputItem(node, readvalues) }}
                {% elseif node.input.type == 'number' %}
                    {{ macros.numberInputItem(node, readvalues) }}
                {% elseif node.input.type == 'date' %}
                    {{ macros.dateInputItem(node, readvalues) }}
                {% elseif node.input.type == 'upload' %}
                    {{ macros.uploadInputItem(node, readvalues, submittedFiles, fileUrls) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro checkboxInputItem(node, readvalues) %}
    {% if readvalues[node.uid] is defined and readvalues[node.uid] %}
        {{ 'display.inputType.checkbox.checked'|trans({}, 'kulFormBase') }}
    {% else %}
        /
    {% endif %}
{% endmacro %}

{% macro choiceInputItem(node, readvalues, role) %}

    {# only build togglable answer box if choice question was answered - even with a blank value if it's a non-required question - and options are avialable #}
    {% if node.hasActiveChildren() and readvalues[node.uid] is defined %}

        {% set availableOptions = {} %}
        {% set selectedOptionLabels = [] %}
        {% set showOptionScoreValues = role is defined and role is not empty and node.allowsRoleToSeeOptionScoreValues(role) %}

        {% for option in node.getActiveChildren() %}
            {% set optionUid = option.uid %}
            {% set optionLabel = option.label(app.request.locale) %}
            {% if showOptionScoreValues and option.hasScoringValue %}
                {% set scoringParameters = node.input.scoringParameters %}
                {% set minScorePrefix = ''%}
                {% if scoringParameters.hasMinScore %}
                    {% set minScorePrefix = '<span class="small text-muted">' ~
                        kul_form_localizedNumberFormat(
                            scoringParameters.getMinScore,
                            app.request.locale,
                            null,
                            scoringParameters.hasScale ? scoringParameters.getScale : null,
                            scoringParameters.hasRoundingMode ? scoringParameters.getRoundingMode : null,
                        ) ~
                        '/ </span>'
                    %}
                {% endif %}
                {% set maxScoreSuffix = ''%}
                {% if scoringParameters.hasMaxScore %}
                    {% set maxScoreSuffix = '<span class="small text-muted"> /' ~
                        kul_form_localizedNumberFormat(
                            scoringParameters.getMaxScore,
                            app.request.locale,
                            null,
                            scoringParameters.hasScale ? scoringParameters.getScale : null,
                            scoringParameters.hasRoundingMode ? scoringParameters.getRoundingMode : null,
                        ) ~
                        '</span>'
                    %}
                {% endif %}

                {% set optionLabel = optionLabel ~
                    ' (score: ' ~ minScorePrefix ~ kul_form_localizedChoiceOptionScoringValueNumberFormat(option, app.request.locale) ~ maxScoreSuffix ~ ')' %}
            {% endif %}
            {% if readvalues[optionUid] is defined %}
                {% if option.usesAdditionalTextInput %}
                    {% set optionLabel = optionLabel ~  ': ' ~ readvalues[optionUid] %}
                {% endif %}
                {% set selectedOptionLabels = selectedOptionLabels|merge([optionLabel]) %}
                {% set availableOptions = availableOptions|merge({(optionUid): {'label':optionLabel, 'selected': true}}) %}
            {% else %}
                {% set availableOptions = availableOptions|merge({(optionUid): {'label':optionLabel, 'selected': false}}) %}
            {% endif %}
        {% endfor %}

        {# users must be able to toggle between seeing only selected answer or all answer options if choice question is answered
           (toggle button & functionality can be rendered using embeddable twig @see src/Resources/views/embed/togglers/read-only-togglers.html.twig #}
        <div class="choice-answers-toggle-box">
            {# display box with only selected answer(s) or blank answer. show by default #}
            <div class="selected-answers-box show">
                {% if selectedOptionLabels is not empty %}
                    {% if node.input.multiple and selectedOptionLabels|length > 1 %}
                        <ul>
                            {% for optionLabel in selectedOptionLabels %}
                                <li>{{ optionLabel|sanitize_html_custom }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ selectedOptionLabels|first|sanitize_html_custom }}
                    {% endif %}
                {% else %}
                    / {# show the default blank answer if choice question is answered with blank value (e.g. if question is not required #}
                {% endif %}
            </div>

            {# display box with all answer options. with the selected answer(s) highlighted (if any). hide by default #}
            <div class="all-answers-box hide">
                <table class="table table-bordered mt5 mb0">
                    <tbody>
                    {% if not node.input.expanded %}
                        {# if question is marked as not expanded, it is rendered in write views (formView) as select #}
                        {# to match the write view as much as possible in read view, render the options below one and another #}
                        {% for availableOption in availableOptions %}
                            <tr class="{% if availableOption.selected %}bg-info{% else %}text-muted{% endif %}">
                                <td>{{ availableOption.label|sanitize_html_custom }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {# if question is marked as not expanded, it is rendered in write views radio or checkbox group #}
                        {# add a dummy radio or checkbox to make the read view match the write view as closely as possible #}
                        {% set cellAddon = node.input.multiple ? 'checkbox' : 'radio' %}
                        {% if node.input.useSingleRowView %}
                            {# evenly spread radio's/checkboxes using html attribute 'width': round down (avoids sum over 100%), drop decimal & cast to string.#}
                            {% set tdWidth = ( 100 / availableOptions|length )|round(0,'floor')|number_format %}
                            <tr>
                                {% for availableOption in availableOptions %}
                                    <td width="{{ tdWidth }}%"
                                        class=" text-center {% if availableOption.selected %}bg-info{% else %}text-muted{% endif %}">
                                        {% if cellAddon == 'radio' %}
                                            <span class="radio custom-radio custom-radio-primary"
                                                  style="padding-left: 6px !important;">
                                                <input type="radio" disabled="disabled"
                                                       {% if availableOption.selected %}checked="checked"{% endif %}/>
                                                <label>&nbsp;&nbsp;</label>
                                            </span>
                                            <label>{{ availableOption.label|sanitize_html_custom }}</label>
                                        {% else %}
                                            <span class="checkbox custom-checkbox custom-checkbox-primary"
                                                  style="padding-left: 12px !important;">
                                                <input type="checkbox" disabled="disabled"
                                                       {% if availableOption.selected %}checked="checked"{% endif %}/>
                                                <label>&nbsp;&nbsp;</label>
                                            </span>
                                            <label>{{ availableOption.label|sanitize_html_custom }}</label>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            {% for availableOption in availableOptions %}
                                <tr class="{% if availableOption.selected %}bg-info{% else %}text-muted{% endif %}">
                                    <td>
                                        {% if cellAddon == 'radio' %}
                                            <span class="radio custom-radio custom-radio-primary "
                                                  style="padding-left: 0 !important;">
                                                <input type="radio" disabled="disabled"
                                                       {% if availableOption.selected %}checked="checked"{% endif %}/>
                                                <label>&nbsp;&nbsp;{{ availableOption.label|sanitize_html_custom }}</label>
                                            </span>
                                        {% else %}
                                            <span class="checkbox custom-checkbox custom-checkbox-primary "
                                                  style="padding-left: 0 !important;">
                                                <input type="checkbox" disabled="disabled"
                                                       {% if availableOption.selected %}checked="checked"{% endif %}/>
                                                <label>&nbsp;&nbsp;{{ availableOption.label|sanitize_html_custom }}</label>
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        / {# show the default blank answer if choice question is not answered or has no available answer options (anymore) #}
    {% endif %}
{% endmacro %}

{% macro textInputItem(node, readvalues) %}

    {% set prefillableValue = '' %}
    {% if readvalues[node.uid] is defined and readvalues[node.uid] is not null and readvalues[node.uid] != '' %}
        <span id="{{ node.uid }}">{{ readvalues[node.uid]|sanitize_html_custom|nl2br }}</span>
    {% else %}
        {#
            an 'empty' (not yet answered or answered blank) value is displayed in view & export as '/' (domain decision),
            but for prefilling purposes, we still need the JS to find the question and it's better to use an empty string
            to avoid confusion (/ could also be an deliberate anwser) hence the separate (!) span with id and empty string
        #}
        /
        <span id="{{ node.uid }}"></span>
    {% endif %}

{% endmacro %}

{% macro dateInputItem(node, readvalues) %}
    {# convert the javascript formatting string to a php/twig date formatting string #}
    {% set mask = node.input.formatMask | replace({'dd':'d','mm':'m','yy':'Y'}) %}
    {% if readvalues[node.uid] is defined and readvalues[node.uid] is not null and readvalues[node.uid] != '' %}
        {{ readvalues[node.uid]|date(mask) }}
    {% else %}
        /
    {% endif %}
{% endmacro %}

{% macro numberInputItem(node, readvalues) %}
    {% if readvalues[node.uid] is defined and readvalues[node.uid] is not null and readvalues[node.uid] is not same as('') %}
        {% if node.input.showMinAsInputAddon %}
            <span class="small text-muted">
                {{ kul_form_localizedNumberFormat(node.input.min, app.request.locale, null, node.input.scale, node.input.roundingMode) }}/
            </span>
        {% endif %}
        {# format number with exact scale (not minimum scale): this macro always displays read-only values comming
           from a previously final submit action that fully validated the number value with exact scale before storing that
           validated number. hence this number will always already been rounded to exact scale, but we just need to
           add decimal zero's to reach the exact amount of decimals (scales) for uniform rendering of numbers. #}
        {{ kul_form_localizedNumberFormat(readvalues[node.uid], app.request.locale, null, node.input.scale, node.input.roundingMode) }}
        {% if node.input.showMaxAsInputAddon %}
            <span class="small text-muted">
                /{{ kul_form_localizedNumberFormat(node.input.max, app.request.locale, null, node.input.scale, node.input.roundingMode) }}
            </span>
        {% endif %}
    {% else %}
        /
    {% endif %}
{% endmacro %}

{% macro uploadInputItem(node, readvalues, submittedFiles, fileUrls) %}
    {% if readvalues[node.uid] is defined and readvalues[node.uid] is not null and readvalues[node.uid] != '' %}
        {% if submittedFiles is defined and not submittedFiles.isEmpty %}
            {% set fileUids = readvalues[node.uid]|split(node.input.getFormValueDelimiter) %}
            {% include "@KULForm/embed/upload/table.html.twig" with {
                'nodeUid': node.uid,
                'submittedNodeFiles': submittedFiles.getForInputNode(node).getWhereInUids(fileUids),
                'allowManage': false,
                'urls': fileUrls,
            } %}
        {% else %}
            /
        {% endif %}
    {% else %}
        /
    {% endif %}
{% endmacro %}
