<template>
  <div id="formPermissionsView" class="flex flex-col overflow-hidden h-full">
    <div
      v-if="permissionStore.isLoading"
      class="p-8 grid place-content-center h-full"
    >
      <ProgressSpinner />
      <div>Ophalen van formulier en overzicht permissies...</div>
    </div>

    <WorkflowPermissionsOverview v-else :form-id="formStore.form.id" />
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { onMounted } from "vue";
import WorkflowPermissionsOverview from "@/components/formBuilder/formPermissions/WorkflowPermissionsOverview.vue";
import { usePermissionStore } from "@/stores/permissions";

const formStore = useFormStore();
const permissionStore = usePermissionStore();

onMounted((): void => {
  void permissionStore.loadPermissions(formStore.form.id);
  if (permissionStore.permissionTemplates.length === 0)
    void permissionStore.loadPermissionTemplates(formStore.form.id);
});
</script>
