<template>
  <span class="pl-2">
    <Badge
      :value="props.language ?? languageStore.activeLanguage"
      class="p-badge-warning"
      data-cy="activeLanguageBadge"
    ></Badge>
  </span>
</template>

<script setup lang="ts">
import { useLanguageStore } from "@/stores/language";
const props = defineProps<{ language?: string }>();
const languageStore = useLanguageStore();
</script>
