<template>
  <!-- Only show this component for developers. -->
  <div v-if="showDeveloperInformation" class="flex flex-row mt-2 mr-2">
    <div class="w-11/12">
      <Transition>
        <div
          v-if="isOpen"
          class="p-2 bg-yellow-50 border-r-[1px] border-gray-400"
        >
          <div class="text-xs text-stone-500 min-w-48 max-h-72 overflow-auto">
            <pre>command: {{ props.command }}</pre>
          </div>
        </div>
      </Transition>
    </div>
    <div class="w-1/12 text-right">
      <div v-if="!isOpen">
        <i
          v-tooltip="'Developer tool: toon detail commando.'"
          class="pi pi-cog cursor-pointer text-gray-300"
          @click="openCommand"
        ></i>
      </div>
      <div v-if="isOpen">
        <div>
          <i class="pi pi-times cursor-pointer" @click="closeCommand"></i>
        </div>
        <div class="mt-2">
          <i class="pi pi-info cursor-pointer" @click="showHistoryDialog"></i>
        </div>
      </div>
    </div>

    <!-- dialog for showing the history for this command -->
    <Dialog
      v-model:visible="showHistory"
      :header="
        'Historiek voor commando: ' +
        command.type +
        ' (' +
        command.subject +
        ' - id:' +
        command.id +
        ')'
      "
      :modal="true"
    >
      <div style="width: 850px">
        <table class="w-full text-sm" cellpadding="2">
          <thead>
            <tr class="font-bold border-b-[1px] border-gray-400">
              <td>ID</td>
              <td width="30%">Form</td>
              <td>VersionNumber</td>
              <td width="20%">By</td>
              <td width="30%">On</td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <template v-if="isLoading">
              <tr v-for="i in 3" :key="i">
                <td><Skeleton width="100%" height="1rem" /></td>
                <td><Skeleton width="100%" height="1rem" /></td>
                <td><Skeleton width="100%" height="1rem" /></td>
                <td><Skeleton width="100%" height="1rem" /></td>
                <td><Skeleton width="100%" height="1rem" /></td>
                <td><Skeleton width="100%" height="1rem" /></td>
              </tr>
            </template>
            <template v-if="!isLoading">
              <tr
                v-for="entry in historyLog"
                :key="entry.id"
                class="border-b-[1px] border-gray-200"
              >
                <td>{{ entry.id }}</td>
                <td>{{ entry.form }}</td>
                <td>{{ entry.currentVersionNumber }}</td>
                <td>{{ entry.user }}</td>
                <td>{{ entry.timestamp.date }}</td>
                <td>
                  <div
                    class="cursor-pointer text-blue-400 underline"
                    @click="showDetail(entry)"
                  >
                    bekijk
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </Dialog>

    <!-- dialog for the    -->
    <Dialog v-model:visible="showHistoryDetail" :modal="true" header="Detail">
      <div style="width: 800px">
        <table class="w-full text-sm" cellpadding="2">
          <thead>
            <tr class="font-bold border-b-[1px] border-gray-400">
              <td>ID</td>
              <td width="30%">Form</td>
              <td>VersionNumber</td>
              <td width="20%">By</td>
              <td width="30%">On</td>
            </tr>
          </thead>
          <tbody v-if="historyLogDetail">
            <tr>
              <td>{{ historyLogDetail.id }}</td>
              <td>{{ historyLogDetail.form }}</td>
              <td>{{ historyLogDetail.currentVersionNumber }}</td>
              <td>{{ historyLogDetail.user }}</td>
              <td>{{ historyLogDetail.timestamp.date }}</td>
            </tr>
          </tbody>
        </table>

        <!-- string comparison -->
        <div v-if="historyLogDetail">
          <Diff
            class="text-sm"
            mode="split"
            theme="light"
            language="json"
            :prev="historyLogDetail.changeFrom"
            :current="historyLogDetail.changeTo"
          />
        </div>
      </div>
    </Dialog>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from "vue";
import { getCommandHistory } from "@/api/queries/getCommandHistory";
import type { CommandHistoryEntry } from "@/api/queries/types/commandHistory";
import type { Command } from "@/api/commands/common/_commandTypes.ts";
import { useSettingsStore } from "@/stores/settings.ts";

const props = defineProps<{
  command: Command;
}>();

const isOpen = ref<boolean>(false);
const showHistory = ref<boolean>(false);
const showHistoryDetail = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const historyLog = ref<CommandHistoryEntry[]>([]);
const historyLogDetail = ref<CommandHistoryEntry | undefined>(undefined);
const settingsStore = useSettingsStore();

const showDeveloperInformation = computed((): boolean => {
  let userRoles = settingsStore.formBuilderUserRoles;
  return userRoles.includes("ROLE_DEVELOPER");
});

function openCommand() {
  isOpen.value = true;
}

function closeCommand() {
  isOpen.value = false;
}

function showHistoryDialog() {
  showHistory.value = true;
  void loadHistory();
}

async function loadHistory() {
  isLoading.value = true;
  historyLog.value = await getCommandHistory(
    props.command.type,
    props.command.id,
  );
  isLoading.value = false;
}

function showDetail(detail: CommandHistoryEntry) {
  showHistoryDetail.value = true;
  historyLogDetail.value = detail;
}
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>

<style>
.vue-diff-viewer {
  font-size: 12px !important;
}
</style>
