<template>
  <div v-if="descriptionAvailable">
    <div
      v-if="
        node.type === 'question' &&
        node.configInfo?.descriptionDisplayMode === 'icon'
      "
    >
      <!-- popper with html rendering -->
      <button @click="toggle">
        <span class="pi pi-question-circle ml-2 mt-1" />
      </button>
      <Popover ref="popoverRef">
        <div class="min-w-[15rem]">
          <p v-html="descriptionHTML + filteredRoleDescriptionsHTML" />
          <div v-if="!formStore.filter.applied">
            <p
              v-for="roleDescription in labeledRoleDesciptions"
              :key="roleDescription.label"
            >
              <span class="text-xs text-black mt-2"
                >[{{ roleDescription.label }}]</span
              >
              <span v-html="roleDescription.description" />
            </p>
          </div>
        </div>
      </Popover>
    </div>
    <div v-else>
      <div
        :class="
          node.type === 'question'
            ? node.subType === 'read_only_view_basic'
              ? ''
              : 'p-2 mt-2 text-xs bg-stone-100 text-stone-400'
            : 'bg-blue-50 border-[1px] border-blue-100 p-2 rounded-lg text-slate-500' // category
        "
      >
        <p v-html="descriptionHTML + filteredRoleDescriptionsHTML" />
        <div v-if="!formStore.filter.applied">
          <p
            v-for="roleDescription in labeledRoleDesciptions"
            :key="roleDescription.label"
          >
            <span class="text-xs text-black mt-2"
              >[{{ roleDescription.label }}]</span
            >
            <span v-html="roleDescription.description" />
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { FormNode } from "@/api/queries/types/formTypes";
import { renderRoleLabel } from "@/functions/roles";
import { useFormStore } from "@/stores/form";
import { useLanguageStore } from "@/stores/language";
import { computed } from "vue";
import Popover from "primevue/popover";

const props = defineProps<{
  node: FormNode;
}>();

import { ref } from "vue";
import { isDefined } from "@vueuse/core";

const popoverRef = ref<InstanceType<typeof Popover>>();
const toggle = (event: Event) => {
  if (isDefined(popoverRef)) {
    popoverRef.value.toggle(event);
  }
};

const formStore = useFormStore();
const languageStore = useLanguageStore();

const descriptionAvailable = computed(() =>
  formStore.filter.applied
    ? descriptionHTML.value + filteredRoleDescriptionsHTML.value !== ""
    : descriptionHTML.value || labeledRoleDesciptions.value.length > 0,
);

const descriptionHTML = computed(
  () =>
    props.node.info.description[languageStore.activeLanguage.toLowerCase()] ??
    "",
);

const filteredRoleDescriptionsHTML = computed(() =>
  props.node.info.roleDescriptions
    .filter(
      (roleDescription) => roleDescription.role === formStore.filter?.role.role,
    )
    .map(
      (roleDescription) =>
        roleDescription.translations[
          languageStore.activeLanguage.toLowerCase()
        ] ?? "",
    )
    .join(""),
);

const labeledRoleDesciptions = computed(() =>
  props.node.info.roleDescriptions
    .filter(
      // only descriptions with a value for the active language
      (roleDescription) =>
        roleDescription.translations[
          languageStore.activeLanguage.toLowerCase()
        ],
    )
    .map((roleDescription) => ({
      label: renderRoleLabel(roleDescription.role),
      description:
        roleDescription.translations[
          languageStore.activeLanguage.toLowerCase()
        ] ?? "",
    })),
);
</script>
