<template>
  <Button
    icon="pi pi-question-circle"
    label="Help"
    severity="help"
    @click="visible = !visible"
  />
  <Drawer
    v-model:visible="visible"
    :modal="true"
    position="bottom"
    header="Algemene informatie formulieren help-pagina"
    class="help-shadow h-[unset] max-h-[50vh] text-lg"
  >
    <p>
      Wil je meer weten over de werking van de formbuilder? Bekijk onderstaande
      video's voor meer informatie.
    </p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4 w-full"
    >
      <div class="text-center">
        <h3 class="font-bold mb-4">Algemene informatie over de formbuilder</h3>
        <div class="flex items-center justify-center">
          <iframe
            src="https://kuleuven.sharepoint.com/sites/T0001740/_layouts/15/embed.aspx?UniqueId=d1ccb7a7-72d8-4fb0-9aa7-a59ddf265fc6&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
            allowfullscreen
            title="Opbouw_Formulier_Algemeen.mp4"
          ></iframe>
        </div>
      </div>
      <div class="text-center">
        <h3 class="font-bold mb-4">Algemene instellingen</h3>
        <div class="flex items-center justify-center">
          <iframe
            src="https://kuleuven.sharepoint.com/sites/T0001740/_layouts/15/embed.aspx?UniqueId=b0c6a86d-6377-4435-aa3b-cfe276c2b680&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
            allowfullscreen
            title="Algemene_instellingen.mp4"
          ></iframe>
        </div>
      </div>
      <div class="text-center">
        <h3 class="font-bold mb-4">Workflow stappen</h3>
        <div>
          <div class="flex items-center justify-center">
            <iframe
              src="https://kuleuven.sharepoint.com/sites/T0001740/_layouts/15/embed.aspx?UniqueId=e11c121f-8534-4657-b708-6003ba372c30&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
              allowfullscreen
              title="Workflow_stappen.mp4"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h3 class="font-bold mb-4">Grafieken</h3>
        <div class="flex items-center justify-center">
          <iframe
            src="https://kuleuven.sharepoint.com/sites/T0001740/_layouts/15/embed.aspx?UniqueId=1d8e60fa-9727-49e3-9480-cc52a07c1e80&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
            allowfullscreen
            title="Grafieken.mp4"
          ></iframe>
        </div>
      </div>
      <div class="text-center">
        <h3 class="font-bold mb-4">Logica vragen</h3>
        <div class="flex items-center justify-center">
          <iframe
            src="https://kuleuven.sharepoint.com/sites/T0001740/_layouts/15/embed.aspx?UniqueId=361d6741-5e31-4262-bf38-38a47745a710&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create"
            allowfullscreen
            title="Logica.mp4"
          ></iframe>
        </div>
      </div>
    </div>
  </Drawer>
</template>

<script setup lang="ts">
import { ref } from "vue";

defineProps<{ code: string }>();
const visible = ref(false);
</script>

<style>
.help-shadow {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
