<template>
  <Badge
    v-tooltip="props.uid"
    :value="props.id"
    style="background-color: #eeeeee; color: darkgrey"
  ></Badge>
</template>

<script setup lang="ts">
const props = defineProps<{
  id: number;
  uid: string;
}>();
</script>
