<template>
  <div>
    <div class="flex justify-between items-center gap-2 h-12" :class="bgClass">
      <div class="grow overflow-hidden"><slot></slot></div>
      <div class="p-1 flex-none">
        <button
          class="h-[33px] w-[33px] text-stone-500 hover:bg-stone-500 hover:text-stone-300 rounded-full"
          @click="$emit('close')"
        >
          <span class="pi pi-times p-1"></span>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineEmits(["close"]);
withDefaults(defineProps<{ bgClass?: string }>(), {
  bgClass: "bg-stone-200",
});
</script>
