<template>
  <Badge
    v-tooltip="{ value: tooltip, escape: true }"
    :value="positionString"
    style="background-color: #eeeeee; color: darkgrey"
  ></Badge>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { renderPositionString } from "@/functions/NodePositionFunctions";

const props = defineProps<{
  tooltip: string;
  position: number[];
}>();

const positionString = computed(() => renderPositionString(props.position));
</script>
