<template>
  <div id="TextEditor">
    <Editor
      v-model="modelValue"
      :editor-style="'height:' + height + 'px'"
      :formats="formats"
      :placeholder="placeholder"
      :class="
        // the p-invalid styling is not available for this primevue component
        invalid ? 'rounded border border-red-600' : ''
      "
      :modules="
        limitedControls // disable enter and tab
          ? {
              keyboard: {
                bindings: {
                  handleEnter: {
                    key: 13,
                    handler: () => {},
                  },
                  handleTab: {
                    key: 9,
                    handler: () => {},
                  },
                },
              },
            }
          : {}
      "
    >
      <template #toolbar>
        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
        </span>
        <span v-if="!limitedControls">
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-align" value=""></button>
            <button class="ql-align" value="center"></button>
            <button class="ql-align" value="right"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-blockquote" type="button"></button>
            <button class="ql-indent" value="+1" type="button"></button>
            <button class="ql-indent" value="-1" type="button"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean" type="button"></button>
          </span>
        </span>
      </template>
    </Editor>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
  },
  invalid: {
    type: Boolean,
    default: false,
  },
  height: {
    type: Number,
    required: true,
  },
  limitedControls: {
    type: Boolean,
    default: false,
  },
  placeholder: {
    type: String,
    default: "",
  },
});

const emit = defineEmits<{
  "update:modelValue": [value: string];
  "text-change": [value: string];
}>();

const modelValue = computed({
  get() {
    return props.modelValue;
  },
  set(value: string) {
    emit(
      "update:modelValue",
      props.limitedControls
        ? removeDoubleSpaces(replacePTagsWithSpace(value))
        : value,
    );
  },
});

const formats = computed(() =>
  props.limitedControls
    ? ["bold", "italic", "underline"]
    : [
        "bold",
        "italic",
        "underline",
        "list",
        "align",
        "link",
        "blockquote",
        "indent",
      ],
);

function replacePTagsWithSpace(html: string) {
  return html.replace(/<p>|<\/p>|<br>/g, " ").replace(/<br>/g, "");
}
function removeDoubleSpaces(html: string) {
  return html.replace(/ +(?= )/g, "");
}
</script>
