<template>
  <div
    id="application-footer"
    class="p-1 bg-stone-100 border-t-[1px] border-b-gray-200"
  >
    <div class="flex text-xs text-gray-400">
      <div v-if="showDeveloperInformation">
        <RouterLink :to="{ name: 'formsOverview' }" data-cy="btnFormsOverview">
          <font-awesome-icon icon="fa-solid fa-table-list" />
        </RouterLink>
      </div>
      <div class="flex-initial w-6/12 pl-2">
        <strong>forms-preview.gbiomed.kuleuven.be | Builder App </strong>
        (v{{ version }})

        <span v-if="showDeveloperInformation">
          using Vue v{{ vueVersion }} - Pinia v{{ piniaVersion }} - Router v{{
            routerVersion
          }}
          - PrimeVue v{{ primeVersion }} - Typescript v{{ typescriptVersion }}
        </span>
      </div>

      <!-- render the coordinates for making drag and drop tests -->
      <div
        v-if="showDeveloperInformation"
        class="flex-initial w-1/12 text-center"
      >
        [x: {{ mouseX }},y: {{ mouseY }}]
      </div>

      <div
        v-if="showDeveloperInformation"
        class="flex-initial w-5/12 text-right px-4"
      >
        <div>
          Development: <i>{{ isDevelopment }}</i> Production:
          <i>{{ isProduction }}</i> Api: <i>{{ apiUrl }}</i>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { version as piniaVersion } from "pinia/package.json";
import { version as vueVersion } from "vue/package.json";
import { packages } from "../../../package-lock.json";
import { version as routerVersion } from "vue-router/package.json";
import { version as typescriptVersion } from "typescript/package.json";
import { onMounted, onUnmounted, ref, computed } from "vue";
import { useSettingsStore } from "@/stores/settings.ts";

const isProduction = import.meta.env.PROD;
const isDevelopment = import.meta.env.DEV;
const apiUrl = import.meta.env.VITE_API_URL as string;
const version = import.meta.env.VITE_VERSION as string;
const primeVersion = packages["node_modules/primevue"].version;

const mouseX = ref<number>(0);
const mouseY = ref<number>(0);

const settingsStore = useSettingsStore();

const showDeveloperInformation = computed((): boolean => {
  let userRoles = settingsStore.formBuilderUserRoles;
  return userRoles.includes("ROLE_DEVELOPER");
});

const updateCoordinates = (event: MouseEvent) => {
  mouseX.value = event.clientX;
  mouseY.value = event.clientY;
};

onMounted(() => {
  document.body.addEventListener("mousemove", updateCoordinates);
});

onUnmounted(() => {
  document.body.removeEventListener("mousemove", updateCoordinates);
});
</script>
