<template>
  <FormCardList>
    <FormCard id="category-labels">
      <form data-cy="frmCategoryLabels" @submit.prevent="save">
        <!-- title -->
        <div class="flex">
          <div class="flex-initial w-1/4 text-right pr-2 pt-2">
            Titel
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-3/4">
            <TextEditor
              id="textInputTitle"
              v-model="question"
              :height="50"
              limited-controls
              @input="touchForm"
            />
          </div>
        </div>
        <div class="flex mt-4 items-center justify-start">
          <div class="flex-initial w-1/4 text-right pr-2">Wysiwyg editor</div>
          <div class="flex-initial mr-4 mb-2">
            <ToggleSwitch v-model="wysiwyg" @change="touchForm" />
          </div>
          <div class="text-sm text-stone-500">
            Let op: dit aanzetten verwijderdt sommige HTML tags en styling
          </div>
        </div>

        <div class="flex mt-2">
          <div class="flex-initial w-1/4 text-right pr-2 pt-2">
            {{ wysiwyg ? "Editor" : "HTML Content" }}
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-3/4">
            <TextEditor
              v-if="wysiwyg"
              v-model="description"
              data-cy="tiViewNodeDescription"
              :height="250"
              @input="touchForm"
              @change="touchForm"
            />
            <Textarea
              v-else
              v-model="description"
              fluid
              data-cy="tiViewNodeDescription"
              rows="12"
              @input="touchForm"
              @change="touchForm"
            />
          </div>
        </div>

        <!-- button -->
        <div class="flex flex-row mt-3">
          <div class="basis-1/4">&nbsp;</div>
          <div class="basis-3/4">
            <div v-if="isTouched" class="mb-2">
              <Message
                severity="warn"
                class="w-full"
                icon="pi pi-exclamation-triangle"
              >
                Wijzigingen zijn nog niet bewaard.
              </Message>
            </div>
            <Button
              v-if="!isSaving"
              data-cy="btnSaveCategoryLabels"
              :disabled="!isTouched"
              label="Bewaar labels"
              icon="pi pi-check"
              class="p-button-success w-full"
              type="submit"
              @click="save"
            />
            <Button
              v-else
              icon="pi pi-spin pi-spinner"
              disabled
              label="Saving"
              class="p-button-success w-full"
            />
          </div>
        </div>
      </form>

      <!-- debug the command -->
      <CommandRenderer :command="command"></CommandRenderer>
    </FormCard>
  </FormCardList>

  <!-- role descriptions -->
  <RoleDescriptions :node="props.node"></RoleDescriptions>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import CommandRenderer from "../../_general/CommandRenderer.vue";
import ActiveLanguageBadge from "../../_general/ActiveLanguageBadge.vue";
import { onMounted, ref, toRef } from "vue";
import type { QuestionNode } from "@/api/queries/types/formTypes";
import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import RoleDescriptions from "@/components/formBuilder/formList/nodeEditor/labels/RoleDescriptions.vue";
import { useUpdateQuestionInfoCommand } from "@/api/commands/UpdateQuestionInfo";

const isTouched = ref(false);
const wysiwyg = ref(false);

function touchForm() {
  isTouched.value = true;
}

onMounted((): void => {
  let inputQuestion: HTMLElement | null =
    document.getElementById("textInputTitle");
  if (inputQuestion) {
    inputQuestion.focus();
  }
});

const props = defineProps<{ node: QuestionNode }>();

const {
  question,
  description,

  command,
  executeCommand,
} = useUpdateQuestionInfoCommand(toRef(props, "node"));

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
