<template>
  <FormCardList>
    <FormCard id="category-labels">
      <form data-cy="frmCategoryLabels" @submit.prevent="save">
        <!-- title -->
        <div class="flex">
          <div class="flex-initial w-1/4 text-right pr-2 pt-2">
            Titel
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-3/4">
            <TextEditor
              id="textInputTitle"
              v-model="title"
              :height="50"
              limited-controls
              @input="touchForm"
            />
          </div>
        </div>

        <!-- description -->
        <div class="flex mt-2">
          <div class="flex-initial w-1/4 text-right pr-2 pt-2">
            Inleiding
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-3/4">
            <TextEditor
              v-model="description"
              data-cy="tiCategoryDescription"
              :height="250"
              @input="touchForm"
              @change="touchForm"
            />
          </div>
        </div>

        <!-- display mode: default or matrix -->
        <div v-if="!nodeStore.selectedNodeIsMatrixRow" class="flex mt-2">
          <div class="flex-initial w-1/4">&nbsp;</div>
          <div class="flex-initial w-3/4">
            <div class="flex">
              <div>
                <ToggleSwitch
                  v-model="displayMode"
                  false-value="default"
                  true-value="matrix"
                  @input="touchForm"
                />
              </div>
              <div class="ml-4">
                <div>
                  Toon onderliggende categoriën en vragen in tabel vorm. (
                  <i class="pi pi-table" /> )
                </div>
                <div
                  v-if="isMatrixDisplay"
                  class="text-sm text-stone-400 mt-2 mr-4"
                >
                  <i class="pi pi-info-circle"></i>
                  <strong>&nbsp; Pas op:</strong>
                  De structuur van onderliggende categoriën en vragen moet
                  hetzelfde zijn om in tabel vorm te kunnen getoond te worden.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- title -->
        <div v-if="isMatrixDisplay" class="flex mt-2">
          <div class="flex-initial w-3/5 text-right pr-2 pt-2">
            Titel voor eerste cel in de (tabel)hoofding.
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-2/5">
            <InputText
              v-model="firstHeaderCellTitle"
              data-cy="tiFirstHeaderCellTitle"
              class="w-full"
              @input="touchForm"
            ></InputText>
          </div>
        </div>

        <!-- button -->
        <div class="flex flex-row mt-3">
          <div class="basis-1/4">&nbsp;</div>
          <div class="basis-3/4">
            <div v-if="isTouched" class="mb-2">
              <Message
                severity="warn"
                class="w-full"
                icon="pi pi-exclamation-triangle"
              >
                Wijzigingen voor de labels nog niet bewaard.
              </Message>
            </div>
            <Button
              v-if="!isSaving"
              data-cy="btnSaveCategoryLabels"
              :disabled="!isTouched"
              label="Bewaar labels"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              type="submit"
              @click="save"
            />
            <Button
              v-else
              icon="pi pi-spin pi-spinner"
              disabled
              label="Saving"
              class="w-full"
              severity="success"
            />
          </div>
        </div>
      </form>

      <!-- debug the command -->
      <CommandRenderer :command="command"></CommandRenderer>
    </FormCard>
  </FormCardList>

  <!-- role descriptions -->
  <RoleDescriptions :node="props.category"></RoleDescriptions>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import CommandRenderer from "../../_general/CommandRenderer.vue";
import ActiveLanguageBadge from "../../_general/ActiveLanguageBadge.vue";
import { computed, onMounted, ref, toRef } from "vue";
import { useUpdateCategoryInfoCommand } from "@/api/commands/UpdateCategoryInfo";
import type { CategoryNode } from "@/api/queries/types/formTypes";
import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import { useNodeStore } from "@/stores/node";
import RoleDescriptions from "@/components/formBuilder/formList/nodeEditor/labels/RoleDescriptions.vue";

const isTouched = ref(false);

function touchForm() {
  isTouched.value = true;
}

onMounted((): void => {
  let inputQuestion: HTMLElement | null =
    document.getElementById("textInputTitle");
  if (inputQuestion) {
    inputQuestion.focus();
  }
});

const props = defineProps<{ category: CategoryNode }>();
const nodeStore = useNodeStore();

const {
  title,
  description,
  displayMode,
  firstHeaderCellTitle,

  command,
  executeCommand,
} = useUpdateCategoryInfoCommand(toRef(props, "category"));

const isMatrixDisplay = computed<boolean>(() => {
  if (displayMode.value == "matrix") return true;
  return false;
});

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
