<template>
  <div id="nodeProperties" class="flex flex-col overflow-hidden h-full">
    <NodePropertiesHeader
      v-if="nodeStore.node"
      id="nodePropertiesHeader"
      :node="nodeStore.node"
    />
    <div v-if="nodeStore.node" class="pt-2">
      <NodeEditorTabMenu id="nodeEditorTabMenu" :node="nodeStore.node" />
    </div>

    <div class="bg-stone-50 h-full overflow-auto">
      <RouterView :key="routeKey" v-slot="{ Component }">
        <KeepAlive>
          <component :is="Component" />
        </KeepAlive>
      </RouterView>
    </div>
  </div>
</template>

<script setup lang="ts">
import NodePropertiesHeader from "./NodePropertiesHeader.vue";
import NodeEditorTabMenu from "./NodeEditorTabMenu.vue";
import { useNodeStore } from "@/stores/node";
import { useRoute } from "vue-router";
import { computed, onMounted } from "vue";
import { RoutePermissionName } from "@/router/routePermissions";
import { NodeEditorRouteName } from "@/router/routes/nodeEditor";
import { useRouter } from "vue-router";

const route = useRoute();
const router = useRouter();
const routeKey = computed(() => {
  const questionId = route.params.questionId;
  if (typeof questionId !== "string") {
    return undefined;
  } else return questionId;
});
onMounted(async () => {
  if (route.name === RoutePermissionName.FormList) {
    await router.push({
      name: NodeEditorRouteName.Labels,
      params: route.params,
      query: route.query,
    });
  }
});
const nodeStore = useNodeStore();
</script>
