<template>
  <div id="node-properties-raw" class="p-4">
    <div class="text-xs text-stone-600">
      <code>
        <pre>{{ node }}</pre>
      </code>
      <Divider />
      <code>
        <pre>{{ questionConditions }}</pre>
      </code>
    </div>
  </div>
</template>

<script lang="ts">
import { useNodeStore } from "@/stores/node";
import { mapState } from "pinia";

export default {
  name: "NodePropertiesRaw",
  computed: {
    ...mapState(useNodeStore, ["node", "questionConditions"]),
  },
};
</script>
