<template>
  <Tabs :value="route.name?.toString() ?? tabs[0].route">
    <TabList>
      <Tab
        v-for="tab in tabs"
        :key="tab.label"
        :value="tab.route"
        as="router-link"
        :to="{ name: tab.route, params: route.params, query: route.query }"
      >
        <span>{{ tab.label }}</span>
        <Badge v-if="tab.badge" class="ml-4 -my-3">
          {{ tab.badge }}
        </Badge>
        <FontAwesomeIcon v-if="tab.icon" :icon="tab.icon" />
      </Tab>
    </TabList>
  </Tabs>
</template>

<script setup lang="ts">
import { CategoryNode, QuestionNode } from "@/api/queries/types/formTypes";
import { computed } from "vue";
import { Permission, useSettingsStore } from "@/stores/settings";
import { useNodeStore } from "@/stores/node";
import { NodeEditorRouteName } from "@/router/routes/nodeEditor";
import { useRoute } from "vue-router";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

const settingsStore = useSettingsStore();
const nodeStore = useNodeStore();
const route = useRoute();

const props = defineProps<{ node: QuestionNode | CategoryNode }>();

const showDeveloperInformation = computed((): boolean => {
  let userRoles = settingsStore.formBuilderUserRoles;
  return userRoles.includes("ROLE_DEVELOPER");
});

const tabs = computed(() =>
  [
    {
      label: "Labels",
      route: NodeEditorRouteName.Labels,
    },
    {
      label: "Eigenschappen",
      route: NodeEditorRouteName.Properties,
      visible:
        props.node.type === "question" &&
        props.node.subType !== "read_only_view_basic",
    },
    {
      label: "Berekening",
      route: NodeEditorRouteName.Calculation,
      badge:
        numberOfCalculations.value > 0
          ? numberOfCalculations.value.toString()
          : undefined,
      visible:
        props.node.subType === "question_number" ||
        (props.node.subType === "question_choice" &&
          !props.node.configProps.multiple),
    },
    {
      label: "Opties",
      badge:
        numberOfOptions.value > 0
          ? numberOfOptions.value.toString()
          : undefined,
      route: NodeEditorRouteName.Options,
      visible: props.node.subType === "question_choice",
    },
    {
      label: "Logica",
      badge:
        numberOfConditions.value > 0
          ? numberOfConditions.value.toString()
          : undefined,
      route: NodeEditorRouteName.Logic,
      visible: props.node.type === "question",
    },
    {
      label: "Vooraf invullen",
      route: NodeEditorRouteName.Prefill,
      badge:
        numberOfPrefills.value > 0
          ? numberOfPrefills.value.toString()
          : undefined,
      visible:
        props.node.subType === "question_text" ||
        props.node.subType === "question_choice",
    },
    {
      label: "Permissies",
      route: NodeEditorRouteName.Permissions,
      visible:
        Permission.Write ===
        settingsStore.getPermissionByName("formPermissions"),
    },
    {
      icon: "fa-solid fa-wrench",
      route: NodeEditorRouteName.Json,
      visible: showDeveloperInformation.value,
    },
  ].filter((tab) => tab.visible !== false),
);

const numberOfCalculations = computed(() =>
  props.node.type === "question"
    ? "globalScoreCalculationDependencyConfigs" in props.node.configScoring
      ? props.node.configScoring.globalScoreCalculationDependencyConfigs.length
      : 0
    : 0,
);

const numberOfConditions = computed(() => nodeStore.questionConditions.length);

const numberOfPrefills = computed(() =>
  props.node.subType === "question_text" ||
  props.node.subType === "question_choice"
    ? props.node.configPrefill.prefillingQuestionUids.length
    : 0,
);

const numberOfOptions = computed(() =>
  props.node.subType == "question_choice" ? props.node.options.length : 0,
);
</script>
