<template>
  <PaneHeader @close="formStore.deselectNode">
    <div class="w-full flex gap-2 items-center pl-1">
      <div>
        <QuestionRequired
          v-if="
            props.node.type === 'question' &&
            props.node.subType !== 'read_only_view_radar_chart'
          "
          :question="props.node"
        />
      </div>

      <div
        class="h-7 w-7 text-sm flex-shrink-0 bg-white rounded-lg flex justify-center items-center"
      >
        <NodeTypeRenderer :type="props.node.subType" />
      </div>

      <div>
        <PositionTagger
          :tooltip="`id: ${node.id} \nuid: ${node.uid}`"
          :position="node.position"
          @click="focusQuestion"
        />
      </div>
      <Breadcrumb
        v-if="nodeIsMatrixQuestion(props.node) || nodeIsMatrixRow(props.node)"
        :model="breadcrumbMenu"
      >
        <template #item="{ item }">
          <div
            v-if="item.id === props.node.id"
            v-tooltip.left="
              'Scroll naar de geselecteerde vraag in het overzicht.'
            "
            class="text-stone-700 cursor-pointer line-clamp-1 overflow-visible"
          >
            <span
              class="cursor-pointer"
              @click="focusQuestion"
              v-html="item.label"
            />
            <!-- <span class="pi pi-stop-circle ml-1"></span> -->
          </div>
          <div v-else class="text-stone-700 cursor-pointer line-clamp-1">
            <span @click="item.action" v-html="item.label" />
          </div>
        </template>
      </Breadcrumb>
      <span
        v-else
        class="text-stone-700 cursor-pointer line-clamp-1"
        @click="focusQuestion"
        v-html="
          node.info.label[languageStore.activeLanguage.toLowerCase()]
            ? node.info.label[languageStore.activeLanguage.toLowerCase()]
            : '[label]'
        "
      ></span>
    </div>
  </PaneHeader>
</template>

<script setup lang="ts">
import { useLanguageStore } from "@/stores/language";
import { computed } from "vue";
import {
  isMatrixCategoryNode,
  type CategoryNode,
  type FormNode,
  type QuestionNode,
} from "@/api/queries/types/formTypes";
import QuestionRequired from "./required/QuestionRequired.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import Breadcrumb from "primevue/breadcrumb";
import {
  nodeIsMatrixQuestion,
  nodeIsMatrixRow,
  useNodeStore,
} from "@/stores/node";
import { useFormStore } from "@/stores/form";
import PaneHeader from "../../_general/PaneHeader.vue";
import NodeTypeRenderer from "../formListEditor/nodeRenderer/NodeTypeRenderer.vue";

const props = defineProps<{ node: QuestionNode | CategoryNode }>();

const nodeStore = useNodeStore();
const formStore = useFormStore();
const languageStore = useLanguageStore();

function breadcrumbMenuItem(node: FormNode) {
  return {
    label: node.info.label[languageStore.activeLanguage.toLowerCase()]
      ? node.info.label[languageStore.activeLanguage.toLowerCase()]
      : isMatrixCategoryNode(node)
        ? "[Tabel zonder titel]"
        : "[label]",
    id: node.id,
    action: async () => {
      await formStore.selectNode(node.id);
    },
  };
}
const breadcrumbMenu = computed(() => {
  const fullBreadcrumbs = nodeStore.nodeParents.map((node) =>
    breadcrumbMenuItem(node),
  );
  return fullBreadcrumbs.slice(nodeIsMatrixQuestion(props.node) ? -3 : -2);
});

function focusQuestion() {
  document
    .getElementById(`question-${props.node.uid}`)
    ?.scrollIntoView({ behavior: "smooth", block: "nearest" });
}
</script>
../formListEditor/nodeRenderer/NodeTypeRenderer.vue
