<template>
  <FormCardList>
    <FormCard id="question-labels">
      <form @submit.prevent="save">
        <!-- title ------------------------------------------------------------------------------------------------- -->
        <div class="flex">
          <div class="flex-initial w-1/4 text-left pr-2 pt-2">
            <span class="required-label"> Vraagstelling </span>
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-3/4">
            <div class="flex flex-row">
              <div class="basis-11/12">
                <div
                  v-if="nodeStore.selectedNodeIsMatrixQuestion"
                  v-tooltip.left="
                    'Deze vraag is onderdeel van een tabel. De vraagstelling kun je aanpassen via de tabel editor'
                  "
                  class="p-2 font-medium text-lg"
                  v-html="question.length > 0 ? question : '[geen vertaling]'"
                />
                <TextEditor
                  v-else
                  id="textInputTitle"
                  v-model="question"
                  :height="85"
                  limited-controls
                  :invalid="v$.question.$error"
                  @input="touchForm"
                />
              </div>
            </div>
            <small v-if="v$.question.$error" class="p-error"> &nbsp; </small>
          </div>
        </div>

        <!-- description ------------------------------------------------------------------------------------------- -->
        <div class="flex mt-2">
          <div class="flex-initial w-1/4 text-left pr-2 pt-2">
            Beschrijving
            <ActiveLanguageBadge />
          </div>
          <div class="flex-initial w-3/4">
            <div class="flex flex-row">
              <div class="basis-11/12">
                <TextEditor
                  v-model="description"
                  :height="150"
                  @input="touchForm"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- toon // box // icon -->
        <div v-if="showDisplayMode" class="flex flex-row mt-2">
          <div class="basis-1/4 text-left pr-2 pt-2">Toon beschrijving</div>
          <div class="basis-3/4">
            <div class="flex gap-2 w-full">
              <div class="flex-grow">
                <div class="mt-2">
                  <span class="flex gap-2 w-full">
                    <RadioButton
                      v-model="descriptionDisplayMode"
                      input-id="locationBeneath"
                      name="locationBeneath"
                      value="box"
                      @change="touchForm"
                    />
                    <label for="locationBeneath" class="ml-2 mr-2">
                      Direct onder vraag
                    </label>
                    <RadioButton
                      v-model="descriptionDisplayMode"
                      input-id="locationIcon"
                      name="locationIcon"
                      value="icon"
                      @change="touchForm"
                    />
                    <label for="locationIcon" class="ml-2 mr-2">
                      Als icon + popup
                    </label>
                  </span>
                </div>
              </div>
              <div
                v-tooltip="
                  'Je kan de beschrijving direct onder de vraag tonen of als een tool-tip achter een vraag-icoontje.'
                "
                class="pt-2 cursor-pointer text-stone-600 hover:text-black pr-4"
              >
                <font-awesome-icon
                  icon="fa-solid fa-circle-question"
                  class="fa-lg"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- placeholder ------------------------------------------------------------------------------------------- -->
        <div v-if="showPlaceholder" class="flex flew-row mt-3">
          <div class="basis-1/4 text-left pr-2 pt-2">
            Placeholder
            <ActiveLanguageBadge />
          </div>
          <div class="basis-3/4">
            <div class="flex flex-row">
              <div class="basis-11/12">
                <InputText
                  v-model="placeholder"
                  class="w-full"
                  @input="touchForm"
                />
                <div class="text-sm text-stone-500 mt-2 bg-sky-50 p-4">
                  <font-awesome-icon icon="fa-solid fa-circle-info" />
                  Een
                  <strong>placeholder</strong>
                  geeft een korte hint over de verwachte waarde van een
                  invoerveld. Wil je belangrijke info meegeven, gebruik dan het
                  <strong>'Beschrijving'</strong> veld hierboven.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- save button ------------------------------------------------------------------------------------------- -->
        <div class="mt-4 flex flex-row">
          <div class="basis-1/4">&nbsp;</div>
          <div class="basis-3/4">
            <div class="mb-2">
              <!-- touched ----------------------------------------------------------------------------------------- -->
              <Message
                v-if="isTouched && isValid"
                severity="warn"
                icon="pi pi-exclamation-triangle"
                class="w-full"
              >
                Wijzigingen voor de labels nog niet bewaard.
              </Message>
              <!-- invalid ----------------------------------------------------------------------------------------  -->
              <Message
                v-if="isTouched && !isValid"
                severity="error"
                icon="pi pi-times-circle"
                class="w-full"
              >
                Dit formulier is niet geldig.
              </Message>
            </div>
            <!-- save button --------------------------------------------------------------------------------------- -->
            <Button
              v-if="!isSaving"
              :disabled="!isValid"
              label="Bewaar labels"
              icon="pi pi-check"
              class="w-full"
              severity="success"
              type="submit"
              @click="save"
            />
            <Button
              v-else
              disabled
              label="Bewaren van labels..."
              icon="pi pi-spin pi-spinner"
              class="w-full"
              severity="success"
            />
          </div>
        </div>
      </form>

      <!-- debug the command -->
      <CommandRenderer :command="command" />
    </FormCard>
  </FormCardList>

  <!-- role descriptions -->
  <RoleDescriptions :node="props.question"></RoleDescriptions>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import ActiveLanguageBadge from "../../_general/ActiveLanguageBadge.vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import CommandRenderer from "../../_general/CommandRenderer.vue";
import { useUpdateQuestionInfoCommand } from "@/api/commands/UpdateQuestionInfo";
import { ref, computed, onMounted, toRef } from "vue";
import type { QuestionNode } from "@/api/queries/types/formTypes";

import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import RoleDescriptions from "@/components/formBuilder/formList/nodeEditor/labels/RoleDescriptions.vue";
import { useNodeStore } from "@/stores/node";

const props = defineProps<{ question: QuestionNode }>();
const nodeStore = useNodeStore();

const isTouched = ref(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

onMounted((): void => {
  let inputQuestion: HTMLElement | null =
    document.getElementById("textInputTitle");
  if (inputQuestion) {
    inputQuestion.focus();
  }
});

const isValid = computed(() => !v$.value.$invalid);
const showPlaceholder = computed(
  () =>
    !(
      props.question.subType === "question_choice" &&
      props.question.configProps.expanded
    ) &&
    !(
      props.question.subType === "read_only_view_radar_chart" ||
      props.question.subType === "question_upload"
    ),
);

const showDisplayMode = computed(
  () => !(props.question.subType === "read_only_view_radar_chart"),
);

const {
  newPayload,

  question,
  description,
  descriptionDisplayMode,
  placeholder,

  command,
  executeCommand,
} = useUpdateQuestionInfoCommand(toRef(props, "question"));

const isSaving = ref(false);

async function save() {
  if (!v$.value.$invalid) {
    isSaving.value = true;
    await executeCommand();
    isTouched.value = false;
    isSaving.value = false;
  }
}

const rules = {
  question: { required },
  descriptionDisplayMode: { required },
};

const v$ = useVuelidate(rules, newPayload);
</script>
