<template>
  <div
    id="dragStart"
    class="p-2 px-4 text-xs rounded-3xl cursor-move item"
    :class="color"
    draggable="true"
    @dragstart="startDrag($event)"
    @dragend="onDragEnd($event)"
  >
    <div v-if="props.config.relationToDropped === RelativeRelation.SCORE_FOR">
      <i class="pi pi-percentage" />
      &nbsp;Sleep mij naar een vraag met een berekening (
      <font-awesome-icon icon="fa-solid fa-calculator" /> ) om als score toe te
      voegen...
    </div>
    <div
      v-else-if="
        props.config.relationToDropped === RelativeRelation.CALCULATION_OF
      "
    >
      <i class="pi pi-percentage" />
      &nbsp;Sleep mij naar (nummer/keuze) vraag om deze als score toe te
      voegen...
    </div>
    <div
      v-else-if="
        props.config.relationToDropped ===
        RelativeRelation.RADAR_CHART_THAT_USES
      "
    >
      &nbsp;<i class="pi pi-chart-bar" />
      &nbsp;Sleep mij naar (nummer/keuze) vraag om deze toe te voegen...
    </div>
    <div
      v-else-if="props.config.relationToDropped === RelativeRelation.UNLOCKS"
    >
      <i class="pi pi-unlock" />
      &nbsp;Sleep mij op een vraag die pas getoond mag worden bij keuze voor
      deze optie.
    </div>
    <div
      v-else-if="
        props.config.relationToDropped === RelativeRelation.UNLOCKABLE_BY
      "
    >
      <i class="pi pi-lock" />
      &nbsp;Sleep mij naar een vraag en kies een optie die deze vraag toont
      wanneer de optie is gekozen.
    </div>
    <div
      v-else-if="
        props.config.relationToDropped === RelativeRelation.MULTI_UNLOCKABLE_BY
      "
    >
      <i class="pi pi-lock" />
      &nbsp;Sleep mij naar een vraag en kies een optie die deze vraag toont
      wanneer alle opties zijn gekozen.
    </div>
    <div
      v-else-if="
        props.config.relationToDropped === RelativeRelation.PREFILLED_BY
      "
    >
      <font-awesome-icon icon="fa-solid fa-pen-to-square" />&nbsp; Sleep mij
      naar een vraag met identieke eigenschappen om deze vooraf in te vullen...
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useLanguageStore } from "@/stores/language";
import {
  OptionNode,
  QuestionNode,
  RelativeRelation,
  relationTypeForRelativeRelation,
} from "@/api/queries/types/formTypes";
import { relationStyling } from "@/styles/relationStyling";
import { useDragAndDropStore } from "@/stores/dragAndDropStore";

// question/option is [RelativeRelation] (droppedQuestion)
type RelationDraggableConfig =
  | {
      question: QuestionNode;
      relationToDropped:
        | RelativeRelation.CALCULATION_OF
        | RelativeRelation.SCORE_FOR
        | RelativeRelation.RADAR_CHART_THAT_USES
        | RelativeRelation.UNLOCKABLE_BY
        | RelativeRelation.MULTI_UNLOCKABLE_BY
        | RelativeRelation.PREFILLED_BY;
    }
  | {
      relationToDropped: RelativeRelation.UNLOCKS;
      option: OptionNode;
      question: QuestionNode;
    };

// We use a single prop because only in the case of UNLOCKS we need the option.
// If we used defineProps<RelationDraggableConfig>(), Vue considers the option prop as required.
// The way we do it now, the props are fully typed and Vue will not complain about missing props.
const props = defineProps<{ config: RelationDraggableConfig }>();

const dragAndDropStore = useDragAndDropStore();

const emit = defineEmits<{
  dragstart: [dragEvent: DragEvent];
  dragend: [dragEvent: DragEvent];
}>();

const color = computed(
  () =>
    `bg-${
      relationStyling[
        relationTypeForRelativeRelation(props.config.relationToDropped)
      ]
    }-300`,
);

const languageStore = useLanguageStore();
const nodeLabel = computed(
  () =>
    props.config.question.info.label[
      languageStore.activeLanguage.toLowerCase()
    ] ?? "[label]",
);

function startDrag(event: DragEvent) {
  emit("dragstart", event);

  dragAndDropStore.startRelationDrag(props.config.question.id);

  if (!event.dataTransfer) return;
  event.dataTransfer.dropEffect = "move";
  event.dataTransfer.effectAllowed = "copyLink";
  switch (props.config.relationToDropped) {
    case RelativeRelation.CALCULATION_OF:
      event.dataTransfer.setData(
        "calculationQuestionId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "assignScore");
      event.dataTransfer.setData("calculationQuestionLabel", nodeLabel.value);
      event.dataTransfer.setData(
        "calculationQuestionPosition",
        props.config.question.position.toString(),
      );
      break;
    case RelativeRelation.SCORE_FOR:
      event.dataTransfer.setData(
        "scoreQuestionId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "assignToCalculation");
      event.dataTransfer.setData("scoreQuestionLabel", nodeLabel.value);
      event.dataTransfer.setData(
        "scoreQuestionPosition",
        props.config.question.position.toString(),
      );
      break;
    case RelativeRelation.RADAR_CHART_THAT_USES:
      event.dataTransfer.setData(
        "chartQuestionId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "assignChartParticipant");
      event.dataTransfer.setData("chartQuestionLabel", nodeLabel.value);
      break;
    case RelativeRelation.UNLOCKABLE_BY:
      event.dataTransfer.setData(
        "lockedId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "lockQuestion");
      break;
    case RelativeRelation.MULTI_UNLOCKABLE_BY:
      event.dataTransfer.setData(
        "multiLockedId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "multiLockQuestion");
      break;
    case RelativeRelation.UNLOCKS:
      event.dataTransfer.setData("optionId", props.config.option.id.toString());
      event.dataTransfer.setData(
        "unlockerId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "unlockOption");
      break;
    case RelativeRelation.PREFILLED_BY:
      event.dataTransfer.setData(
        "prefilledQuestionId",
        props.config.question.id.toString(),
      );
      event.dataTransfer.setData("dropAction", "assignPrefillSource");
      break;
  }
}

function onDragEnd(e: DragEvent) {
  emit("dragend", e);
  dragAndDropStore.endDrag();
}
</script>
