<template>
  <div id="form-builder-view" class="flex flex-col overflow-hidden h-full">
    <FormBuilderToolbar />
    <WizardHeader />

    <div
      v-if="formStore.isFormLoading"
      class="p-8 grid place-content-center h-full"
    >
      <ProgressSpinner />
      <div class="mt-4">Ophalen van formulier...</div>
    </div>

    <RouterView v-else />
  </div>
</template>

<script setup lang="ts">
import WizardHeader from "@/components/formBuilder/WizardHeader.vue";
import FormBuilderToolbar from "@/components/formBuilder/FormBuilderToolbar.vue";
import { useFormStore } from "@/stores/form";
import { onMounted } from "vue";
import { usePermissionStore } from "@/stores/permissions";

const props = defineProps({ id: { required: true, type: String } });
const formStore = useFormStore();
const permissionStore = usePermissionStore();

onMounted((): void => {
  void formStore.loadForm(Number(props.id));
  if (permissionStore.permissionTemplates.length === 0)
    void permissionStore.loadPermissionTemplates(Number(props.id));
});
</script>
