<template>
  <div id="formAdd" class="p-4">
    <div class="w-1/2 mx-auto">
      <div class="">Maak een nieuw formulier aan:</div>
      <Divider></Divider>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">ID *</div>
        <div class="basis-3/4 ml-2">
          <IconField>
            <InputIcon
              v-if="!v$.id.$invalid"
              class="pi pi-check text-green-600"
            />
            <InputIcon v-if="v$.id.$invalid" class="pi pi-times text-red-600" />
            <InputText
              v-model="command.id"
              data-cy="tiUid"
              class="w-full"
              placeholder="00_3_xxxx"
            />
          </IconField>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">Taal *</div>
        <div class="basis-3/4 ml-2">
          <IconField>
            <InputIcon
              v-if="v$.language.$invalid"
              class="pi pi-times text-red-600"
            />
            <InputIcon
              v-if="!v$.language.$invalid"
              class="pi pi-check text-green-600"
            />
            <InputText
              v-model="command.language"
              data-cy="tiLanguage"
              class="w-full"
              placeholder="nl"
            />
          </IconField>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">Naam *</div>
        <div class="basis-3/4 ml-2">
          <IconField class="p-input-icon-right w-full">
            <InputText
              v-model="command.name"
              data-cy="tiName"
              class="w-full"
              placeholder=""
            />
            <InputIcon
              v-if="!v$.name.$invalid"
              class="pi pi-check text-green-600"
            />
            <InputIcon
              v-if="v$.name.$invalid"
              class="pi pi-times text-red-600"
            />
          </IconField>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">Targeting Type *</div>
        <div class="basis-3/4 ml-2">
          <IconField>
            <InputText
              v-model="command.targetingType"
              data-cy="tiTargetingType"
              class="w-full"
              placeholder="datasheet_submissions"
            />
            <InputIcon
              v-if="!v$.targetingType.$invalid"
              class="pi pi-check text-green-600"
            />
            <InputIcon
              v-if="v$.targetingType.$invalid"
              class="pi pi-times text-red-600"
            />
          </IconField>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">
          Roles that could participate [JSON] *
        </div>
        <div class="basis-3/4 ml-2">
          <Textarea
            v-model="command.roles"
            data-cy="tiRoles"
            class="w-full"
            placeholder="['ROLE_1','ROLE_2']"
          ></Textarea>
        </div>
      </div>
      <!-- util set scone roles -->
      <div class="flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-1/4 ml-2">
          <div v-if="v$.roles.$invalid" class="text-red-500 text-sm">
            Verplicht veld.
          </div>
        </div>
        <div class="basis-1/2">
          <div
            data-cy="btnSconeRoles"
            class="text-right cursor-pointer text-gray-400 text-sm"
            @click="useSconeRoles"
          >
            Gebruik scone roles.
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">Workflow [JSON] *</div>
        <div class="basis-3/4 ml-2">
          <Textarea
            v-model="command.workflow"
            data-cy="tiWorkflow"
            class="w-full"
            placeholder='{"stepsType": "stepsWithFixedDateStart", "steps": [...]}'
          ></Textarea>
          <div class="text-sm text-gray-300 text-right">
            Laat dit veld leeg, indien nieuw formulier.
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2">Formlist [JSON]</div>
        <div class="basis-3/4 ml-2">
          <Textarea
            v-model="command.formList"
            data-cy="tiFormList"
            class="w-full"
            placeholder='{"root": {}'
          ></Textarea>
          <div class="text-sm text-gray-300 text-right">
            Laat dit veld leeg, indien nieuw formulier.
          </div>
        </div>
      </div>

      <div class="flex flex-row mt-2">
        <div class="basis-1/4 text-right mt-2"></div>
        <div class="basis-2/4 ml-2">
          <Button
            v-if="!isAdding"
            severity="success"
            size="small"
            data-cy="btnAddForm"
            label="Voeg formulier toe"
            icon="pi pi-plus"
            @click="addForm"
          />
          <Button
            v-else
            label="Voeg formulier toe"
            disabled
            severity="success"
            size="small"
            icon="pi pi-spinner pi-spin"
          />
        </div>
        <div class="basis-1/4 text-right">
          <Button
            data-cy="btnCancel"
            label="Cancel"
            size="small"
            outlined
            icon="pi pi-times"
            @click="cancelAddForm"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import type { AddFormCommand } from "@/components/formAdd/AddForm";
import { AddForm } from "@/components/formAdd/AddForm";
import { useToast } from "primevue/usetoast";
import sconeRoles from "./_sconeRoles.json";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import { useRouter } from "vue-router";

const toast = useToast();
const router = useRouter();

const command = ref<AddFormCommand>({
  id: "",
  name: "",
  language: "",
  targetingType: "",
  roles: "",
  workflow: "",
  formList: "",
});

const isAdding = ref<boolean>(false);

function useSconeRoles() {
  command.value.roles = JSON.stringify(sconeRoles.roles);
}

// -- validation -----------------------------------------------

const rules = {
  id: { required },
  name: { required },
  language: { required },
  targetingType: { required },
  roles: { required },
};

const v$ = useVuelidate(rules, command.value);

async function addForm() {
  v$.value.$touch();
  if (!v$.value.$invalid) {
    isAdding.value = true;
    let result = await AddForm(command.value);
    isAdding.value = false;
    if (result) {
      resetCommand();
      toast.add({
        severity: "success",
        summary: "Formulier aangemaakt.",
        detail: "Formulier aangemaakt en beschikbaar om te editeren.",
        life: 3000,
      });
    }
  }
}

async function cancelAddForm() {
  await router.push({ name: "formsOverview" });
}

function resetCommand() {
  command.value = {
    id: "",
    name: "",
    language: "",
    targetingType: "",
    roles: "",
    workflow: "",
    formList: "",
  };
}
</script>
