<template>
  <div v-for="(option, index) in condition.options" :key="index">
    <div class="flex flex-row justify-start items-baseline gap-2">
      <div class="pl-2">
        <HighlightRelationsButton
          :relation-info="{
            type: unlockingMode === UNLOCKING_MODES.MULTI ? RelativeRelation.MULTI_UNLOCKABLE_BY : RelativeRelation.UNLOCKABLE_BY,
            node: props.question,
            optionId: option.id,
          }"
        />
      </div>
      <div class="grow line-clamp-1">
        <span class="m-2"><i class="pi pi-lock-open"></i></span>
        {{ option.label }}
      </div>
      <CommandRenderer :command="command"></CommandRenderer>
      <div class="ml-2 text-right">
        <Button
          v-if="!isDeleting"
          icon="pi pi-trash"
          severity="secondary"
          outlined
          @click="deleteCondition($event, option.id)"
        />
        <Button
          v-else
          icon="pi pi-spin pi-spinner"
          severity="secondary"
          outlined
        />
      </div>
    </div>
    <Divider v-if="showDivider(index)"></Divider>
  </div>

  <ConfirmPopup></ConfirmPopup>
</template>

<script setup lang="ts">
import CommandRenderer from "../../../_general/CommandRenderer.vue";
import {useDeleteConditionCommand} from "@/api/commands/DeleteCondition.ts";
import {useDeleteMultiConditionCommand} from "@/api/commands/DeleteMultiCondition.ts";
import {computed, ref, toRef} from "vue";
import type {ChoiceQuestion} from "@/api/queries/getChoiceQuestions";
import {useConfirm} from "primevue/useconfirm";
import {QuestionNode, RelativeRelation} from "@/api/queries/types/formTypes";
import HighlightRelationsButton from "../../HighlightRelationsButton.vue";
import {UNLOCKING_MODES, UnlockingMode} from "@/stores/node.ts";

const props = defineProps<{
  condition: ChoiceQuestion;
  question: QuestionNode;
  unlockingMode: UnlockingMode;
}>();
const confirm = useConfirm();

const conditionOptionId = ref<number>(0);

const { command, executeCommand } = props.unlockingMode === UNLOCKING_MODES.SINGLE
? useDeleteConditionCommand(
  toRef(props, "question"),
  "unlocker",
  computed(() => props.condition.id),
  conditionOptionId,
)
: useDeleteMultiConditionCommand(
  toRef(props, "question"),
  "unlocker",
  computed(() => props.condition.id),
  conditionOptionId,
);

function showDivider(index: number) {
  if (index == props.condition.options.length - 1) return false;
  return true;
}

function deleteCondition(event: MouseEvent, optionId: number) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message: "Ben je zeker om deze voorwaarde te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        conditionOptionId.value = optionId;
        void deleteConditionHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}

const isDeleting = ref<boolean>(false);

async function deleteConditionHandler() {
  isDeleting.value = true;
  await executeCommand();
  isDeleting.value = false;
}
</script>

<style scoped></style>
