<template>
  <FormCardList>
    <FormCard>
      <!-- Introduction -->
      <Message severity="info" icon="pi pi-exclamation-circle" class="!mt-0">
        <p class="font-normal">
          Door middel van deze optie kan je een vraag pas tonen als aan
          de hieronder opgelijste voorwaarden voldaan is. Als dus de hieronder toegevoegde vragen beantwoord worden,
          zal deze vraag getoond worden.
          Maakt u de vraag
          verplicht, dan zal deze enkel verplicht worden indien de vraag ook
          getoond wordt aan de gebruiker.
        </p>
        <br/>
        <p>
          <ul>
            <li :class="{ bold: unlockingMode === UNLOCKING_MODES.SINGLE }">
              OF: De vraag zal getoond worden als aan minstens één van de onderstaande
              voorwaarden is voldaan.
            </li>
            <li :class="{ bold: unlockingMode === UNLOCKING_MODES.MULTI }">
              EN: De vraag zal getoond worden als aan alle onderstaande voorwaarden is voldaan.
            </li>
          </ul>
        </p>
      </Message>

      <div class="mt-4 flex flex-row">
        <div class="basis-3/4">
          <SelectButton
            v-model="unlockingMode"
            :options="unlockingOptions"
            option-label="label"
            option-value="value"
          />
        </div>
      </div>

      <!-- add condition button -->
      <div class="mt-4 flex flex-row">
        <div class="basis-3/4">
          <RelationDraggable
            v-if="unlockingMode === UNLOCKING_MODES.SINGLE"
            :config="{
              question: question,
              relationToDropped: RelativeRelation.UNLOCKABLE_BY,
            }"
          />
          <RelationDraggable
            v-else-if="unlockingMode === UNLOCKING_MODES.MULTI"
            :config="{
              question: question,
              relationToDropped: RelativeRelation.MULTI_UNLOCKABLE_BY,
            }"
          />
        </div>
      </div>

      <!-- list of logic rules for this question -->
      <Accordion v-model:active-index="activeIndex" class="mt-4">
        <AccordionPanel
          v-for="(condition, index) in conditions"
          :key="index"
          :value="index"
        >
          <AccordionHeader>
            <div class="flex">
              <div class="mr-2">
                <PositionTagger
                  :position="condition.position"
                  :tooltip="`id: ${condition.id} \nuid: ${condition.uid}`"
                />
              </div>
              <div class="line-clamp-1">
                <span v-html="condition.label"/>
              </div>
              <div class="ml-4">
                <router-link
                  :to="{
                    name: NodeEditorRouteName.Calculation,
                    params: { questionId: condition.id },
                  }"
                >
                  <i class="pi pi-link underline"></i>
                </router-link>
              </div>
            </div>
          </AccordionHeader>
          <AccordionContent>
            <QuestionLogicDetail :question="question" :condition="condition" :unlocking-mode="unlockingMode"/>
          </AccordionContent>
        </AccordionPanel>
      </Accordion>
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import {computed, onMounted} from "vue";
import FormCard from "@/components/layout/FormCard.vue";
import QuestionLogicDetail from "./QuestionLogicDetail.vue";
import {UNLOCKING_MODES, useNodeStore} from "@/stores/node";
import {
  RelativeRelation,
  type QuestionNode,
} from "@/api/queries/types/formTypes";
import {ref} from "vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import RelationDraggable from "@/components/formBuilder/formList/nodeEditor/RelationDraggable.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import {NodeEditorRouteName} from "@/router/routes/nodeEditor.ts";
import {ChoiceQuestion} from "@/api/queries/getChoiceQuestions";
import {UnlockingMode} from "@/stores/node.ts";

const nodeStore = useNodeStore();
defineProps<{ question: QuestionNode }>();
const activeIndex = ref<number>(-1);

const unlockingOptions = [{label: 'OF', value: UNLOCKING_MODES.SINGLE}, {label: 'EN', value: UNLOCKING_MODES.MULTI}];
const unlockingMode = ref<UnlockingMode>(UNLOCKING_MODES.SINGLE);

const conditions = computed<ChoiceQuestion[]>(() => {
  if (unlockingMode.value === UNLOCKING_MODES.SINGLE) {
    return nodeStore.questionConditions;
  }
  else if(unlockingMode.value === UNLOCKING_MODES.MULTI)
  {
    return nodeStore.multiUnlockQuestions;
  }

  return [];
});

onMounted(() => {
  unlockingMode.value = nodeStore.unlockingMode;
})
</script>

<style>
.bold {
  font-weight: bold;
}
</style>
