{# @var accessObject \KUL\FormBundle\Client\Access\ClientCombinedAccessObject #}
{% trans_default_domain 'kulFormBase' %}

{# - addReadOnlyQuestionsToggling: a toggle optieon to hide/show the read-only questions will only be shown if the user
   has also write access (= at least write access to at least one rendered question ). this is a domain decision:
   this toggle is only relevant if page has combined both read-only nodes and write nodes for the user. if we were to show
   it if the useronly has only read-only questions, the the toggle would be nothing more than a button to hide the whole form,
   which is pointless. the idea of this toggle is to help users with both write and read-only questions, to reduce scrolling
   and find quicker those questions they actually have to fill in, while still offering them to consult the answers on the
   already answered (read-only) questions

   - addReadOnlyChoiceAnswerOptionsToggling: a toggle option to show all the NOT selected answer options on choice questions
   to which the user has read-only access, while highlighting the selected (given) answer option in the list of the shown
   not selected answer options. this serves 2 purposes: it helps users with read-only access to a choice question to see
   what other answer options there were. and to help those users with read-only access to distinguish the given answer
   option between the other options in case the given answer option's label is not clarifying enough. an example (taken from SCONE)
   for the latter is when a choice question has e.g. 10 answer options, where each unevenly ordered answer option has as label
   an number from 1 to 5, while the other 5 answer options have the label '-', to indicate the answer lies between e.g. 1 and 2
   or 3 and 4, etc.. a user has selected one such '-' answer option as answer. another user then only has read access and
   thus sees the question with answer as:  question label : - , which is meaningless. by then toggling the other answer
   options, it will make more sense.
   note: answer option labels do not have to be unique
   note: this example is actually used (with 20 options) in SCONE on demand of an coordinator.
   note: this toggle is pointless on questions to which user has write access: the user with write access always sees all answer options
#}
{% set addReadOnlyQuestionsToggling = accessObject.isWriteAccessAuthorized and accessObject.openFlowStep.shouldHideReadOnlyNodesOnLanding %}
{% set addReadOnlyChoiceAnswerOptionsToggling = accessObject.template.isReadOnlyChoiceAnswerOptionsTogglingEnabled %}

{% if addReadOnlyQuestionsToggling or addReadOnlyChoiceAnswerOptionsToggling %}
    <div id="extra-actions-block" class="hide btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button id="toggle-choice-answers-boxes-btn" class="btn btn-info hide"></button>
        </div>
        <div class="btn-group" role="group">
            <button id="toggle-read-only-nodes-btn" class="btn btn-info hide"></button>
        </div>
    </div>

    <script type="text/javascript">
        let showToggleActionsBlock = false;
        let toggleReadOnlyQuestionsToHideOnPageInit = {% if accessObject.openFlowStep.shouldHideReadOnlyNodesOnLanding %}true{% else %}false{% endif %};

        let toggleChoiceAnswersBoxes = function (toggleChoiceAnswersBoxesBtn, selectedAnswersBoxes, allAnswersBoxes) {
            if (selectedAnswersBoxes.hasClass('show')) {
                showAllChoiceAnswersBoxes(toggleChoiceAnswersBoxesBtn, selectedAnswersBoxes, allAnswersBoxes);
            } else {
                showSelectedChoiceAnswersBoxes(toggleChoiceAnswersBoxesBtn, selectedAnswersBoxes, allAnswersBoxes);
            }
        }

        let showSelectedChoiceAnswersBoxes = function (toggleChoiceAnswersBoxesBtn, selectedAnswersBoxes, allAnswersBoxes) {
            selectedAnswersBoxes.removeClass('hide').addClass('show');
            allAnswersBoxes.removeClass('show').addClass('hide');
            toggleChoiceAnswersBoxesBtn.html("<i class='ico-stack-plus'></i>&nbsp;" + "{{ 'toggleChoiceAnswers.toggle.showAllAnswers.label'|trans({}, 'kulFormBase') }}");
        }

        let showAllChoiceAnswersBoxes = function (toggleChoiceAnswersBoxesBtn, selectedAnswersBoxes, allAnswersBoxes) {
            allAnswersBoxes.removeClass('hide').addClass('show');
            selectedAnswersBoxes.removeClass('show').addClass('hide');
            toggleChoiceAnswersBoxesBtn.html("<i class='ico-stack-minus'></i>&nbsp;" + "{{ 'toggleChoiceAnswers.toggle.showSelectedAnswers.label'|trans({}, 'kulFormBase') }}");
        }

        let toggleReadOnlyQuestions = function (toggleNodesBtn, readOnlyNodes) {
            if (readOnlyNodes.hasClass('show')) {
                hideReadOnlyQuestions(toggleNodesBtn, readOnlyNodes);
            } else {
                showReadOnlyQuestions(toggleNodesBtn, readOnlyNodes);
            }
        }

        let showReadOnlyQuestions = function (toggleNodesBtn, readOnlyNodes) {
            readOnlyNodes.removeClass('hide').addClass('show');
            toggleNodesBtn.html("<i class='ico-eye-blocked'></i>&nbsp;" + "{{ 'toggleReadOnly.toggle.hide.label'|trans({}, 'kulFormBase') }}");
        }

        let hideReadOnlyQuestions = function (toggleNodesBtn, readOnlyNodes) {
            readOnlyNodes.removeClass('show').addClass('hide');
            toggleNodesBtn.html("<i class='ico-eye'></i>&nbsp;" + "{{ 'toggleReadOnly.toggle.show.label'|trans({}, 'kulFormBase') }}");
        }

        document.addEventListener('DOMContentLoaded', function () {

            {# show a toggle option to hide/show questions in read only mode #}
            {% if addReadOnlyQuestionsToggling %}
                let readOnlyNodes = $(document).find(".read-only-node:not(.view-node)");
                if (typeof readOnlyNodes !== 'undefined' && readOnlyNodes.length) {
                    let toggleNodesBtn = $(document).find("#toggle-read-only-nodes-btn");

                    if (toggleReadOnlyQuestionsToHideOnPageInit) {
                        hideReadOnlyQuestions(toggleNodesBtn, readOnlyNodes);
                    } else {
                        showReadOnlyQuestions(toggleNodesBtn, readOnlyNodes);
                    }

                    toggleNodesBtn.click(function() {
                        toggleReadOnlyQuestions($(this), readOnlyNodes);
                    });

                    toggleNodesBtn.addClass('show');
                    showToggleActionsBlock = true;
                }
            {% endif %}

            {# toggle for showing all or only selected options for all choice questions at once that are in read only mode #}
            {% if addReadOnlyChoiceAnswerOptionsToggling %}
                let choiceAnswersToggleBoxes = $(document).find(".choice-answers-toggle-box");
                if (typeof choiceAnswersToggleBoxes !== 'undefined' && choiceAnswersToggleBoxes.length) {
                    let selectedAnswersBoxes = choiceAnswersToggleBoxes.find('.selected-answers-box');
                    let allAnswersBoxes = choiceAnswersToggleBoxes.find('.all-answers-box');
                    let toggleChoiceAnswersBoxesBtn = $(document).find("#toggle-choice-answers-boxes-btn");

                    showSelectedChoiceAnswersBoxes(toggleChoiceAnswersBoxesBtn, selectedAnswersBoxes, allAnswersBoxes);

                    toggleChoiceAnswersBoxesBtn.click(function() {
                        toggleChoiceAnswersBoxes($(this), selectedAnswersBoxes, allAnswersBoxes);
                    });

                    toggleChoiceAnswersBoxesBtn.addClass('show');
                    showToggleActionsBlock = true;
                }
            {% endif %}

            if (showToggleActionsBlock) {
                $("#extra-actions-block").addClass('show');
            }
        });
    </script>
{% endif %}
