{% trans_default_domain 'kulFormRevert' %}

{% if revertActions is defined and not revertActions.isEmpty %}
    <div class="row hide" id="revert-block">
        <div class="col-md-10 col-sm-8">
            <div id="revert-block-select" class="print-hide"></div>
        </div>
        <div class="col-md-2 col-sm-4">
            <a href="#"
               class="print-hide btn btn-default btn-block mb5"
               data-toggle="popover"
               data-placement="auto"
               data-trigger="hover"
               data-container="body"
               data-template='<div class="popover" style="max-width:100% !important;" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
               data-html="true"
               data-title="{{ 'revert.general.infoTitle' | trans({}, 'kulFormRevert') }}"
               data-content="{{ 'revert.general.infoContent' | trans({}, 'kulFormRevert') }}"
            >
                {{ 'revert.general.infoTitle' | trans({}, 'kulFormRevert') }}
            </a>
        </div>
    </div>
{% endif %}

{% for message in app.session.flashBag.get('kul_form_revert_result') %}
    {% if message is not empty %}
        <div class="row" id="combined_form_submit_success_box">
            <div class="col-sm-12">
                <div class="well alert alert-success mb10 mt5" style="font-size: 14px;font-weight: 500; padding-right: 10px;">
                    <div class="row">
                        <div class="col-md-11">
                            {{ message|sanitize_html_custom }}
                        </div>
                        <div class="col-md-1 text-right">
                            <a class="text-default" href="#"><i class="ico ico-close" onclick="document.getElementById('combined_form_submit_success_box').remove();"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        {% if revertActions is defined and not revertActions.isEmpty %}
            addReverter({{ revertActions|json_encode|raw }}, $('#revert-block-select'));
            $('#revert-block').removeClass('hide').addClass('show');
        {% endif %}
    });
</script>

<script type="text/javascript">
    let addReverter = function (revertActions, appendTo) {
        let select = $($.parseHTML(buildConverterSelect(revertActions)));
        $(appendTo).append(select);
        initConverter(select);
    }

    let buildConverterSelect = function (revertActions) {
        let html = '<select>'
            + '<option value="">' + '{{ 'revert.actions.placeholder'|trans({}, 'kulFormRevert') }}' + '</option>';
        $.each(revertActions, function(key, action) {
            html += '<option value="' + action.options.value + '"'
                + " data-data='"
                + '{"url":"' + action.path +'","type":"' + action.type + '","description":"' + action.options.description +'"}'
                + "'>"
                + action.label
                + '</option>';
        });
        html += '</select>';

        return html;
    }

    let initConverter = function (select) {
        $(select).selectize({
            render: {
                item: function(item, escape) {
                    return '<div class="option"><strong>' + escape(item.text) + '</strong></div>';
                },
                option: function(item, escape) {
                    return '<div class="option"><strong>'
                        + '<span class="text-' + escape(item.type) + '">' + escape(item.text) + '</span>'
                        + '</strong></div>';
                }
            },
            onChange: function (value) {
                if (value === '') {
                    return false;
                }
                handleRevert(this, value);
            },
            onItemAdd: function() {
                this.blur();
            },
        });
    }

    var handleRevert = function($selectizedDropdown, selectedValue) {
        if (typeof window.autoSaveSuspended !== 'undefined') {
            console.log('reverter: suspending auto-save');
            window.autoSaveSuspended = true; // always disable auto save during revert if relevant
        }

        let optionData = $selectizedDropdown.options[selectedValue]; // pulls data-data from the original selectize option
        let title = "{{ 'revert.actions.confirm.titlePrefix'|trans({}, 'kulFormRevert') }}" + ': <em>' + optionData.text + '</em>';

        bootbox.confirm({
            title: title,
            message: optionData.description,
            size: 'large',
            buttons: {
                confirm: {
                    label: "{{ 'revert.actions.confirm.confirmBtn'|trans({}, 'kulFormRevert') }}",
                    className: 'btn-success'
                },
                cancel: {
                    label: "{{ 'revert.actions.confirm.cancelBtn'|trans({}, 'kulFormRevert') }}",
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result === true) {
                    let formId = 'revert-form-' + selectedValue; // unique form-id using the selected option value (combo of (storedTemplateTarget) formId & stepuid)
                    $(formId).remove(); // make sure no duplicate forms exist
                    let form = document.createElement("form");
                    form.setAttribute("id", formId);
                    form.setAttribute("method", 'post');
                    form.setAttribute("action", optionData.url);
                    document.body.appendChild(form);
                    // disable the (temp) save buttons & show a processing message
                    $('#base_save').addClass('disabled').text('reverting...');
                    $('#base_tempSave').addClass('disabled').text('reverting...');
                    let processingMessage = "{{ 'revert.actions.revertIsProcessing'|trans({},'kulFormRevert') }}";
                    bootbox.dialog({
                        message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> ' + processingMessage + '</div>',
                        closeButton: false
                    })

                    form.submit();

                    return true;
                }

                if (typeof window.autoSaveSuspended !== 'undefined') {
                    console.log('reverter: removing auto-save suspension and reactivating auto-save scheduling');
                    window.autoSaveSuspended = false; // always re-enable auto save when revert is cancelled
                }

                $selectizedDropdown.clear();
            }
        });
    };
</script>
