<template>
  <!-- progress bar -->
  <vue3-progress-bar></vue3-progress-bar>
  <DynamicDialog />
  <!-- main router view -->

  <div class="h-screen flex flex-col">
    <div id="content" class="overflow-hidden h-full">
      <RouterView />
    </div>

    <ApplicationFooter />
  </div>
  <Toast />
</template>

<script setup lang="ts">
import { RouterView, useRouter } from "vue-router";
import ApplicationFooter from "./components/layout/ApplicationFooter.vue";
import axios from "axios";
import { useToast } from "primevue/usetoast";
import { onMounted } from "vue";
import { useProgress } from "@marcoschulte/vue3-progress";
import type { ProgressFinisher } from "@marcoschulte/vue3-progress";
import DynamicDialog from "primevue/dynamicdialog";
import { RoutePermissionName } from "./router/routePermissions";

const toaster = useToast();
const router = useRouter();
const progresses = [] as ProgressFinisher[];

router.beforeEach((to, from, next) => {
  progresses.push(useProgress().start());
  next();
});
router.afterEach(() => {
  progresses.pop()?.finish();
});

onMounted((): void => {
  axios.interceptors.request.use((config) => {
    progresses.push(useProgress().start());
    return config;
  });

  //-- some error feedback for the user when something goes wrong
  //-- progress bar on axios calls

  axios.interceptors.response.use(
    (response) => {
      progresses.pop()?.finish();
      return response;
    },
    function (error) {
      progresses.pop()?.finish();
      if (
        router.currentRoute.value.name === RoutePermissionName.FormListByUid
      ) {
        // no default errors on this route
        // eslint-disable-next-line @typescript-eslint/prefer-promise-reject-errors
        return Promise.reject(error);
      }
      console.log(error);
      if (
        axios.isAxiosError<{ message: string | undefined }>(error) &&
        error.response
      ) {
        toaster.add({
          severity: "error",
          summary: error.message,
          detail:
            error.response.data.message ??
            "Gelieve de administrator te contacteren.",
          life: 5000,
        });
      } else {
        toaster.add({
          severity: "error",
          summary: "Oeps, er is iets misgelopen.",
          detail: "Gelieve de administrator te contacteren.",
          life: 5000,
        });
      }
      // eslint-disable-next-line @typescript-eslint/prefer-promise-reject-errors
      return Promise.reject(error);
    },
  );
});
</script>
<style>
.p-toast-message {
  line-height: 1.2rem;
}
</style>
