<template>
  <div data-test="structure-node">
    <div
      :data-test="node.id"
      class="p-1 text-xs cursor-pointer hover:bg-yellow-100 border-b-[1px]"
      @click="scrollToNode(node)"
    >
      <span
        v-if="isFormNode(node) && node.displayMode === 'matrix'"
        class="mr-1"
        ><i class="pi pi-table"
      /></span>
      <span class="text-gray-400">
        {{ renderPositionString(node.position) }}:
      </span>
      <span class="ml-2" v-html="label" />
    </div>

    <FormStructureNodeRenderer
      v-for="(childNode, index) in childrenCategories"
      :key="index"
      :node="childNode"
      class="ml-4"
    />
  </div>
</template>

<script setup lang="ts">
import { useLanguageStore } from "@/stores/language";
import { computed } from "vue";
import type { CategoryNode, FormNode } from "@/api/queries/types/formTypes";
import { renderPositionString } from "@/functions/NodePositionFunctions";
import {
  PermissionCategoryNode,
  PermissionNode,
} from "@/api/queries/types/permissionTypes";
import { useFormStore } from "@/stores/form";

type StructureNode = FormNode | PermissionNode;
type CategoryStructureNode = CategoryNode | PermissionCategoryNode;

const props = defineProps<{
  node: CategoryStructureNode;
}>();
const languageStore = useLanguageStore();

function isFormNode(node: StructureNode): node is FormNode {
  return "uid" in node;
}

const childrenCategories = computed(
  (): CategoryNode[] | PermissionCategoryNode[] =>
    isFormNode(props.node)
      ? props.node.children.filter(
          (item: FormNode): item is CategoryNode => item.type === "category",
        )
      : props.node.children.filter(
          (item: PermissionNode): item is PermissionCategoryNode =>
            item.type === "category",
        ),
);

const label = computed(
  () =>
    props.node.info.label[languageStore.activeLanguage.toLowerCase()] ??
    "[label]",
);

const formStore = useFormStore();
async function scrollToNode(node: StructureNode) {
  if (isFormNode(node)) await formStore.selectNode(node.id);
  document
    .querySelector(`[data-node-position="${node.position.toString()}"]`)
    ?.scrollIntoView({ behavior: "instant", block: "start" });
}
</script>
