<template>
  <FormCard id="LabelRoleConfigsToNotifyOfStart" class="p-4 m-6">
    <h1>Configuratie e-mail berichten reminder</h1>
  </FormCard>

  <FormCardList id="RoleConfigsToRemindOfOngoing" class="p-4">
    <FormCard>
      <MultipleOffsetEditors :step="props.step" :config="config" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import {
  OffsetEditorConfig,
  OffsetEditorSubject,
} from "@/components/formBuilder/formWorkflow/detail/common/EditorConfiguration.ts";
import MultipleOffsetEditors from "@/components/formBuilder/formWorkflow/detail/common/MultipleOffsetEditors.vue";
import { Step } from "@/api/queries/types/workflowTypes.ts";

const props = defineProps<{ step: Step }>();

const config: OffsetEditorConfig = {
  label: "Offset",
  subject: OffsetEditorSubject.roleConfigsToRemindOfOngoing,
};
</script>
