<template>
  <div id="StepDetail" class="flex flex-col overflow-hidden h-full">
    <!-- header ---------------------------------------------------------------------------- -->
    <div class="p-1 bg-stone-500">
      <div class="flex">
        <div class="flex-initial ml-2 w-8/12">
          <div class="flex">
            <!-- fixed date -->
            <div
              v-if="
                workflowStore.step &&
                workflowStore.step.type === 'stepWithFixedDateStart'
              "
              v-tooltip="'Workflow stap met vaste data.'"
              class="mt-1 mr-2 text-xl text-white"
            >
              <font-awesome-icon icon="fa-solid fa-calendar-days" />
            </div>
            <!-- relative date -->
            <div
              v-if="
                workflowStore.step &&
                workflowStore.step.type === 'stepWithCalculatedDateStart'
              "
              v-tooltip="'Workflow stap met relatieve data (berekend).'"
              class="mt-1.5 mr-2 text-xl text-white"
            >
              <font-awesome-icon icon="fa-solid fa-timeline" />
            </div>
            <div class="mt-2.5">
              <div
                data-cy="dspDetailStepNumber"
                class="py-0.5 px-2 text-xs text-white bg-orange-400 rounded-full"
              >
                <span v-if="workflowStore.step"
                  >Stap {{ workflowStore.step.sequence + 1 }}</span
                >
              </div>
            </div>
            <div class="p-2 text-white" data-cy="dspDetailStepLabel">
              <strong>{{ label }}</strong>
            </div>
          </div>
        </div>
        <!-- -- spacer -->
        <div class="flex-initial w-2/12">&nbsp;</div>
        <!-- -- loading and refresh -->
        <div class="flex-initial w-1/12 text-right">
          <div class="float-right pt-2 pl-2">
            <i
              v-if="workflowStore.isStepReloading"
              class="text-white pi pi-spin pi-spinner"
              style="font-size: 1.7rem"
            ></i>
          </div>
        </div>
        <div class="flex-initial w-1/12">
          <Button
            class="float-right"
            severity="success"
            icon="pi pi-refresh"
            @click="reloadWorkflowStep"
          />
        </div>
      </div>
    </div>

    <!-- tabs ---------------------------------------------------------------------------- -->
    <div class="flex-none bg-white pt-2">
      <StepDetailTabMenu />
    </div>
    <div class="overflow-auto h-full bg-stone-100">
      <RouterView />
    </div>
  </div>
</template>

<script setup lang="ts">
import StepDetailTabMenu from "./StepDetailTabMenu.vue";
import { computed, onMounted } from "vue";
import { useWorkflowStore } from "@/stores/workflow";
import { useLanguageStore } from "@/stores/language";
import { useRoute } from "vue-router";
import { onBeforeRouteUpdate } from "vue-router";

function paramToNumber(routeParam: string | string[]) {
  if (Array.isArray(routeParam)) {
    return 0;
  }
  return parseInt(routeParam);
}

onMounted(async () => {
  await workflowStore.loadStep(paramToNumber(useRoute().params.stepNumber));
});

onBeforeRouteUpdate(async (to, from) => {
  if (to.params.stepNumber === from.params.stepNumber) return;
  await workflowStore.loadStep(paramToNumber(to.params.stepNumber));
});

const workflowStore = useWorkflowStore();
const languageStore = useLanguageStore();

function reloadWorkflowStep() {
  void workflowStore.reloadStep();
}

const label = computed(() => {
  let _label = "";
  if (workflowStore.step) {
    _label =
      workflowStore.step.info.label[
        languageStore.activeLanguage.toLowerCase()
      ] ?? "[label]";
  }
  return _label;
});
</script>

<style scoped></style>
