<template>
  <Tabs
    :value="route.name?.toString() ?? tabs[0].route"
    class="overflow-x-auto"
  >
    <TabList>
      <Tab
        v-for="tab in tabs"
        :key="tab.label"
        :value="tab.route"
        as="router-link"
        :to="{ name: tab.route, params: route.params, query: route.query }"
      >
        <span>{{ tab.label }}</span>
        <!-- <Badge v-if="tab.badge" class="ml-4 -my-3">
          {{ tab.badge }}
        </Badge> -->
        <FontAwesomeIcon v-if="tab.icon" :icon="tab.icon" />
      </Tab>
    </TabList>
  </Tabs>
</template>

<script setup lang="ts">
import { StepDetailRouteName } from "@/router/routes/stepEditor";
import { computed } from "vue";
import { useSettingsStore } from "@/stores/settings.ts";
import { useRoute } from "vue-router";

const settingsStore = useSettingsStore();

const route = useRoute();

const showDeveloperInformation = computed((): boolean => {
  let userRoles = settingsStore.formBuilderUserRoles;
  return userRoles.includes("ROLE_DEVELOPER");
});

const tabs = computed(() =>
  [
    {
      label: "Type, naam en timing",
      route: StepDetailRouteName.General,
    },
    {
      label: "Rollen en instellingen",
      route: StepDetailRouteName.RolesAndSettings,
    },
    {
      label: "Teksten en berichten",
      route: StepDetailRouteName.TextsAndMessages,
    },
    {
      label: "E-mail berichten",
      route: StepDetailRouteName.Email,
    },
    {
      icon: "fa-solid fa-wrench",
      route: StepDetailRouteName.Json,
      visible: showDeveloperInformation.value,
    },
  ].filter((tab) => tab.visible !== false),
);
</script>
