<template>
  <div id="TabEmailMessages">
    <RoleConfigsToNotifyOfStart :step="step" />
    <TextRoleMailBodiesForStart :step="step" />
    <TextGeneralMailStart :step="step" />
    <RoleConfigsToRemindOfOngoing :step="step" />
    <TextRoleMailBodiesForOngoing :step="step" />
    <TextGeneralMailOnGoing :step="step" />
  </div>
</template>

<script setup lang="ts">
import type { Step } from "@/api/queries/types/workflowTypes";
import TextGeneralMailStart from "@/components/formBuilder/formWorkflow/detail/TextGeneralMailStart.vue";
import TextGeneralMailOnGoing from "@/components/formBuilder/formWorkflow/detail/TextGeneralMailOnGoing.vue";
import RoleConfigsToNotifyOfStart from "@/components/formBuilder/formWorkflow/detail/RoleConfigsToNotifyOfStart.vue";
import RoleConfigsToRemindOfOngoing from "@/components/formBuilder/formWorkflow/detail/RoleConfigsToRemindOfOngoing.vue";
import TextRoleMailBodiesForStart from "@/components/formBuilder/formWorkflow/detail/TextRoleMailBodiesForStart.vue";
import TextRoleMailBodiesForOngoing from "@/components/formBuilder/formWorkflow/detail/TextRoleMailBodiesForOngoing.vue";

defineProps<{ step: Step }>();
</script>
