<template>
  <FormCardList id="TabNameTiming" class="p-4">
    <!-- step type -->
    <FormCard>
      <div class="flex flex-row mb-4">
        <div class="basis-1/6 text-left required-coloring">
          <div class="mt-2">Type</div>
        </div>
        <div class="basis-5/6">
          <div class="ml-4 mt-2 font-bold" data-cy="lblDetailType">
            <div v-if="isRelativePayload(payload)" class="flex">
              <div>
                <font-awesome-icon icon="fa-solid fa-timeline" />
              </div>
              <div class="ml-2">Stap met relatieve data</div>
            </div>
            <div v-else class="flex">
              <div>
                <font-awesome-icon icon="fa-solid fa-calendar-days" />
              </div>
              <div class="ml-2">Stap met vaste data</div>
            </div>
          </div>
        </div>
      </div>

      <!-- step label -->
      <div class="flex flex-row mt-2">
        <div class="basis-1/6 text-left">
          <div class="mt-2">
            <span class="required-label"> Label </span>
            <ActiveLanguageBadge />
          </div>
        </div>
        <div class="basis-5/6">
          <div class="ml-2 mr-2">
            <IconField class="p-input-icon-right w-full">
              <InputText
                v-model="payload.label"
                data-cy="tiDetailName"
                class="w-full"
                :class="{ 'p-invalid': v$.label.$invalid }"
              />
              <InputIcon v-if="!v$.label.$invalid" class="pi pi-check" />
              <InputIcon v-if="v$.label.$invalid" class="pi pi-times" />
            </IconField>
          </div>
        </div>
      </div>

      <!-- period with calculated start -->
      <div v-if="isRelativePayload(payload)">
        <div class="flex flex-row mt-4">
          <div class="basis-1/6 text-left">
            <div class="mt-2"><span class="required-label">Periode</span></div>
          </div>
          <div class="basis-1/12">
            <div class="mt-2 text-left">van</div>
          </div>
          <div class="basis-2/12">
            <div class="ml-2 mr-2">
              <IconField>
                <InputText
                  v-model="payload.amountOfDaysToCalculateStartDate"
                  data-cy="tiAmountDaysStart"
                  :class="{
                    'p-invalid': v$.amountOfDaysToCalculateStartDate.$invalid,
                  }"
                  class="w-full"
                  placeholder="-x of +x"
                />
                <InputIcon
                  v-if="!v$.amountOfDaysToCalculateStartDate.$invalid"
                  class="pi pi-check"
                />
                <InputIcon
                  v-if="v$.amountOfDaysToCalculateStartDate.$invalid"
                  class="pi pi-times"
                />
              </IconField>
            </div>
          </div>
          <div class="basis-2/12">
            <div class="mt-1 text-xs">
              dagen voor/na<br />
              start periode
            </div>
          </div>
          <div class="basis-1/12">
            <div class="mt-2 text-left">tot</div>
          </div>
          <div v-if="!(isExtendedStep && isLastStep)" class="basis-2/12">
            <div class="ml-2 mr-2">
              <IconField>
                <InputText
                  v-model="payload.amountOfDaysToCalculateEndDate"
                  data-cy="tiAmountDaysEnd"
                  :class="{
                    'p-invalid': v$.amountOfDaysToCalculateEndDate.$invalid,
                  }"
                  class="w-full"
                  placeholder="-x of +x"
                />
                <InputIcon
                  v-if="!v$.amountOfDaysToCalculateEndDate.$invalid"
                  class="pi pi-check"
                />
                <InputIcon
                  v-if="v$.amountOfDaysToCalculateEndDate.$invalid"
                  class="pi pi-times"
                />
              </IconField>
            </div>
          </div>
          <div v-else class="basis-4/12 mt-2">
            <font-awesome-icon icon="fa-solid fa-infinity" />
          </div>
          <div v-if="!(isExtendedStep && isLastStep)" class="basis-2/12">
            <div class="mt-1 text-xs">
              dagen voor/na<br />
              start periode
            </div>
          </div>
        </div>

        <!-- if simulation period set, render the simulated dates -->
        <div v-if="showValidationButton" class="flex flex-row text-gray-400">
          <div class="basis-1/6 text-right">
            <div class="mt-2">Simulatie :</div>
          </div>
          <div class="basis-1/12"></div>
          <div class="basis-2/12">
            <div class="mt-2 ml-4">{{ simulatedFromLabel }}</div>
          </div>
          <div v-if="!(isExtendedStep && isLastStep)" class="basis-3/12"></div>
          <div v-if="!(isExtendedStep && isLastStep)" class="basis-2/12">
            <div class="mt-2 ml-4">{{ simulatedToLabel }}</div>
          </div>
        </div>
      </div>

      <!-- period with fixed dates -->
      <div v-if="isFixedPayload(payload)" class="flex flex-row mt-4">
        <div class="basis-1/6 text-left">
          <div class="mt-2">Periode</div>
        </div>
        <div class="basis-1/12">
          <div class="mt-2 ml-2">van</div>
        </div>
        <div v-if="isDateFixedStartDate" class="basis-4/12">
          <div class="ml-2 mr-2">
            <IconField>
              <DatePicker
                v-model="payload.fixedStartDate"
                data-cy="tiFixedDateStart"
                class="w-full"
                date-format="dd/mm/yy"
                hour-format="24"
                :show-time="true"
                :show-seconds="false"
              />
              <InputIcon
                v-if="!v$.fixedStartDate.$invalid"
                class="pi pi-check"
              />
              <InputIcon
                v-if="v$.fixedStartDate.$invalid"
                class="pi pi-times"
              />
            </IconField>
          </div>
        </div>
        <div class="basis-1/12">
          <div class="mt-2 text-center">tot</div>
        </div>
        <div v-if="!(isExtendedStep && isLastStep)" class="basis-4/12">
          <div v-if="isDateFixedEndDate" class="ml-2 mr-2">
            <IconField>
              <DatePicker
                v-model="payload.fixedEndDate"
                data-cy="tiFixedDateEnd"
                class="w-full"
                :min-date="payload.fixedStartDate"
                date-format="dd/mm/yy"
                hour-format="24"
                :show-time="true"
                :show-seconds="false"
              />
              <InputIcon
                v-if="!v$.fixedStartDate.$invalid"
                class="pi pi-check"
              />
              <InputIcon
                v-if="v$.fixedStartDate.$invalid"
                class="pi pi-times"
              />
            </IconField>
          </div>
        </div>
        <div v-else class="basis-4/12 mt-4">...</div>
      </div>

      <!-- period -->
      <div v-if="props.step.sequence !== 0" class="flex flex-row mt-4">
        <div class="basis-1/6"></div>
        <div class="basis-5/6 ml-2 mr-2">
          <div class="flex">
            <div>
              <ToggleSwitch
                v-model="payload.allowsStartIfPreviousStepIsFulfilled"
                data-cy="switchAllowStartIfPreviousStepIsFullfilled"
              />
            </div>
            <div class="ml-4">
              start onmiddellijk na versturen van de vorige stap
            </div>
            <div
              v-tooltip="
                'Na het afsluiten van de vorige stap zal automatisch deze stap opengezet worden.'
              "
              class="cursor-pointer text-stone-600 hover:text-black ml-4"
            >
              <font-awesome-icon
                icon="fa-solid fa-circle-question"
                class="fa-lg"
              />
            </div>
          </div>
        </div>
      </div>

      <div v-if="isLastStep" class="flex flex-row mt-4">
        <div class="basis-1/6 text-right"></div>
        <div class="basis-5/6 ml-2 mr-2">
          <div class="flex">
            <div>
              <ToggleSwitch
                v-model="isExtendedStep"
                data-cy="switchExtendStep"
                @change="extendStepHandler"
              />
            </div>
            <div class="ml-3">laat formulier open staan</div>
            <div
              v-tooltip="
                'Deze optie wordt enkel getoond bij de laatste stap. Kies of je het formulier wil afsluiten of open wil laten staan. Is het formulier afgesloten, zal het niet meer beschikbaar zijn voor de gebruikers.'
              "
              class="cursor-pointer text-stone-600 hover:text-black ml-4"
            >
              <font-awesome-icon
                icon="fa-solid fa-circle-question"
                class="fa-lg"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row mt-4">
        <div class="basis-1/6"></div>
        <div class="basis-2/6 ml-2">
          <Button
            v-if="!isSaving"
            data-cy="btnSaveNameAndTiming"
            :disabled="!isValid"
            class="w-full"
            severity="success"
            icon="pi pi-save"
            label="Bewaar"
            @click="saveNameAndTiming"
          />
          <Button
            v-else
            :disabled="true"
            class="w-full"
            severity="success"
            icon="pi pi-spin pi-spinner"
            label="Bewaar"
          />
        </div>
        <div class="basis-2/6 ml-2">
          <Button
            v-if="!isDeleting"
            data-cy="btnDeleteStep"
            icon="pi pi-trash"
            class="w-full"
            severity="danger"
            label="Verwijderen stap"
            @click="deleteStep($event)"
          />
          <Button
            v-else
            icon="pi pi-spin pi-spinner"
            severity="secondary"
            outlined
          />
        </div>
        <div class="basis-1/6 ml-2 mr-2">
          <Button
            v-if="showValidationButton"
            icon="pi pi-check-square"
            label="Valideer workflow"
            severity="secondary"
            @click="showWorkflowValidationScreen"
          />
        </div>
      </div>
      <CommandRenderer :command="command" />
      <CommandRenderer :command="deleteCommand" />
    </FormCard>
  </FormCardList>
  <ConfirmPopup />
</template>

<script setup lang="ts">
import type {
  FixedStep,
  RelativeStep,
  Step,
} from "@/api/queries/types/workflowTypes";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { computed, onMounted, ref, toRef, watch } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import moment from "moment";
import { useWorkflowStore } from "@/stores/workflow";
import { useConfirm } from "primevue/useconfirm";
import "moment/locale/nl.js";
import { useDeleteWorkflowStepCommand } from "@/api/commands/DeleteWorkflowStep.ts";
import {
  isFixedPayload,
  isRelativePayload,
  useUpdateWorkflowStepNameAndTiming,
} from "@/api/commands/UpdateWorkflowStepNameAndTiming.ts";
import { Moment } from "moment/moment";
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";

//-- props and stores -------------------------------------------------------------------------------------------

const props = defineProps<{ step: FixedStep | RelativeStep }>();

const workflowStore = useWorkflowStore();
const confirm = useConfirm();

//-- computed properties -----------------------------------------

const { payload, command, executeCommand, resetCommand } =
  useUpdateWorkflowStepNameAndTiming(toRef(props, "step"));

watch(
  () => props.step,
  (newStep: Step) => {
    resetCommand(newStep);
  },
);

//-- command executor ------------------------------------------------------------------------------------------

const isSaving = ref(false);

async function saveNameAndTiming() {
  if (!v$.value.$invalid) {
    isSaving.value = true;
    await executeCommand();
    await workflowStore.refresh();
    isSaving.value = false;
  }
}

//-- validation ----------------------------------------------------------------------------------------------
const fixedDateValidator = () => {
  if (isFixedPayload(payload.value)) {
    let _startDate: Moment = moment(payload.value.fixedStartDate);
    let _endDate: Moment = moment(payload.value.fixedEndDate);
    return _endDate.isAfter(_startDate);
  } else {
    return true;
  }
};
const relativeDateValidator = () => {
  if (isRelativePayload(payload.value)) {
    let _startDate: number = parseInt(
      payload.value.amountOfDaysToCalculateStartDate,
    );
    let _endDate: number = parseInt(
      payload.value.amountOfDaysToCalculateEndDate,
    );
    return _endDate > _startDate;
  } else {
    return true;
  }
};

const relativeRules = {
  label: { required },
  amountOfDaysToCalculateStartDate: { relativeDateValidator },
  amountOfDaysToCalculateEndDate: { relativeDateValidator },
};

const fixedRules = {
  label: { required },
  fixedEndDate: { fixedDateValidator },
  fixedStartDate: { fixedDateValidator },
};

const rules = computed(() => {
  if (isFixedPayload(payload.value)) {
    return fixedRules;
  } else {
    return relativeRules;
  }
});

//-- last step function, let the form open (extended final step)

const isLastStep = computed(
  () => workflowStore.stepCount - 1 === props.step.sequence,
);
const isExtendedStep = ref<boolean>(false);

function extendStepHandler() {
  if (isExtendedStep.value) {
    if (isRelativePayload(payload.value)) {
      payload.value.amountOfDaysToCalculateEndDate = "99999";
    } else {
      payload.value.fixedEndDate = new Date("2300-01-01T00:00:00.000Z");
    }
  }
}

onMounted(() => {
  if (isRelativePayload(payload.value)) {
    isExtendedStep.value =
      payload.value.amountOfDaysToCalculateEndDate === "99999";
  } else {
    // convert date strings to date objects
    payload.value.fixedStartDate = new Date(payload.value.fixedStartDate);
    payload.value.fixedEndDate = new Date(payload.value.fixedEndDate);
    const _endDate: Moment = moment(payload.value.fixedEndDate);
    isExtendedStep.value = _endDate.format("DD-MM-YYYY") === "01-01-2300";
  }
});

const isDateFixedStartDate = computed(() =>
  isFixedPayload(payload.value)
    ? payload.value.fixedStartDate instanceof Date
    : false,
);

const isDateFixedEndDate = computed(() =>
  isFixedPayload(payload.value)
    ? payload.value.fixedEndDate instanceof Date
    : false,
);

const v$ = useVuelidate(rules, payload);
const isValid = computed(() => !v$.value.$invalid);

//-- validation button + function ---------------------------------

function showWorkflowValidationScreen() {
  workflowStore.showValidationScreen();
}

const showValidationButton = computed(
  (): boolean => workflowStore.isSimulationPeriod,
);

//-- delete step ------------------------------------------------

function deleteStep(event: MouseEvent) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message: "Ben je zeker om deze stap te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        void deleteStepHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}

const { command: deleteCommand, executeCommand: executeDeleteCommand } =
  useDeleteWorkflowStepCommand(toRef(props, "step"));

const isDeleting = ref(false);

async function deleteStepHandler() {
  isDeleting.value = true;
  await executeDeleteCommand();
  await workflowStore.resetStep();
  await workflowStore.refresh();
  isDeleting.value = false;
}

//-- calculated simulation dates ---------------------------------

const simulatedFromLabel = computed(() => {
  if (workflowStore.isSimulationPeriod && isRelativePayload(payload.value)) {
    let fromDate = moment(workflowStore.simulationPeriod.start);
    fromDate.add(
      parseInt(payload.value.amountOfDaysToCalculateStartDate),
      "days",
    );
    return fromDate.locale("nl").format("ddd DD MMM YYYY");
  } else {
    return "";
  }
});

const simulatedToLabel = computed((): string => {
  if (workflowStore.isSimulationPeriod && isRelativePayload(payload.value)) {
    let toDate: Moment = moment(workflowStore.simulationPeriod.start);
    toDate.add(parseInt(payload.value.amountOfDaysToCalculateEndDate), "days");
    return toDate.locale("nl").format("ddd DD MMM YYYY");
  } else {
    return "";
  }
});
</script>
