<template>
  <FormCardList id="TabNameTiming" class="p-4">
    <FormCard>
      <!-- roles for one submit -->
      <div class="flex flex-row">
        <div class="basis-6/12 text-left">
          <div class="mt-4 mr-2">
            Volgende rollen mogen het formulier slechts éénmaal insturen
          </div>
        </div>
        <div class="basis-5/12 text-left">
          <div class="mt-2">
            <MultiSelect
              v-model="payload.rolesWithOneSubmit"
              :max-selected-labels="6"
              class="w-full"
              :options="formRoles"
              option-label="label"
              option-value="role"
              placeholder="Selecteer rollen"
            />
          </div>
        </div>
        <div class="basis-1/12 text-center">
          <div class="mt-4">
            <div
              v-tooltip="
                'Bij het publiceren van een nieuwe versie zal de gebruiker het formulier ' +
                'opnieuw kunnen insturen voor de huidige stap.'
              "
              class="cursor-pointer text-stone-600 hover:text-black"
            >
              <font-awesome-icon
                icon="fa-solid fa-circle-question"
                class="fa-lg"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- hideReadOnlyNodesOnLanding -->
      <div class="flex flex-row mt-6">
        <div class="basis-11/12 text-left">
          <div class="flex">
            <div>
              <ToggleSwitch v-model="payload.hideReadOnlyNodesOnLanding" />
            </div>
            <div class="ml-3">
              De 'enkel lees'-vragen automatisch verbergen voor de gebruiker.
            </div>
          </div>
        </div>
        <div class="basis-1/12 text-center">
          <div
            v-tooltip="
              'Standaard worden alle vragen getoond op het scherm. De gebruiker kan de lees-vragen verbergen door op &quot;Verberg alle niet invulbare vragen&quot; te klikken. Vink deze optie aan om bij het opendoen van het formulier de lees-vragen te verbergen. De gebruiker klikt op &quot;Toon alle niet invulbare vragen&quot; om ze vervolgens allemaal te tonen.'
            "
            class="cursor-pointer text-stone-600 hover:text-black"
          >
            <font-awesome-icon
              icon="fa-solid fa-circle-question"
              class="fa-lg"
            />
          </div>
        </div>
      </div>

      <!-- redirectAwayOnSubmitSuccess -->
      <div class="flex flex-row mt-3">
        <div class="basis-11/12">
          <div class="flex">
            <div>
              <ToggleSwitch v-model="payload.redirectAwayOnSubmitSuccess" />
            </div>
            <div class="ml-3">
              Na versturen terugkeren naar de overzichtspagina.
            </div>
          </div>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row mt-3">
        <div class="basis-2/6">
          <Button
            v-if="!isSaving"
            :disabled="!changed"
            data-cy="btnSaveWorkFlowSetting"
            class="w-full"
            severity="success"
            icon="pi pi-save"
            label="Bewaar"
            @click="saveSettings"
          />
          <Button
            v-else
            :disabled="true"
            class="w-full"
            severity="success"
            icon="pi pi-spin pi-spinner"
            label="Bewaar"
          />
        </div>
      </div>

      <CommandRenderer :command="command" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import type { Step } from "@/api/queries/types/workflowTypes";
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";
import { useFormStore } from "@/stores/form.ts";
import { computed, ref, toRef } from "vue";
import { useUpdateWorkflowSettings } from "@/api/commands/UpdateWorkflowSettings.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useWorkflowStore } from "@/stores/workflow.ts";
import { RoleSummary } from "@/api/queries/types/formTypes.ts";
import { renderRoleLabel } from "@/functions/roles.ts";

const props = defineProps<{ step: Step }>();

const isSaving = ref<boolean>(false);

const workflowStore = useWorkflowStore();
const formStore = useFormStore();

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const { payload, command, changed, executeCommand } = useUpdateWorkflowSettings(
  toRef(props, "step"),
);

async function saveSettings() {
  isSaving.value = true;
  await executeCommand();
  await workflowStore.refresh();
  isSaving.value = false;
}
</script>

<style scoped></style>
