<template>
  <div id="TabRawDetail">
    <div v-if="formStore.form" class="p-4">
      <div class="text-xs text-stone-500">
        <code>
          <pre>{{ step }}</pre>
        </code>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Step } from "@/api/queries/types/workflowTypes";
import { useFormStore } from "@/stores/form";

defineProps<{ step: Step }>();
const formStore = useFormStore();
</script>

<style scoped></style>
