<template>
  <!-- general messages -->
  <TextAndMessagesGeneral :step="props.step"></TextAndMessagesGeneral>
  <!-- specific messsages configured for the roles  -->
  <TextAndMessagesForRoles :step="props.step"></TextAndMessagesForRoles>
</template>

<script setup lang="ts">
import TextAndMessagesGeneral from "@/components/formBuilder/formWorkflow/detail/TextAndMessagesGeneral.vue";
import TextAndMessagesForRoles from "@/components/formBuilder/formWorkflow/detail/TextAndMessagesForRoles.vue";
import { Step } from "@/api/queries/types/workflowTypes.ts";

const props = defineProps<{ step: Step }>();
</script>
