<template>
  <FormCardList id="TabGeneralSubmitMessage" class="p-4">
    <FormCard>
      <SingleEditor :step="props.step" :config="config" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import type { Step } from "@/api/queries/types/workflowTypes";
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";
import SingleEditor from "@/components/formBuilder/formWorkflow/detail/common/SingleEditor.vue";
import {
  EditorConfig,
  EditorSubject,
} from "@/components/formBuilder/formWorkflow/detail/common/EditorConfiguration.ts";

const props = defineProps<{ step: Step }>();

const config: EditorConfig = {
  label: "Algemeen bericht bij verzenden formulier",
  height: 120,
  subject: EditorSubject.generalSubmitSuccessMessage,
};
</script>

<style scoped></style>
