<template>
  <FormCardList id="RoleConfigsToRemindOfOngoing" class="p-4">
    <FormCard>
      <MultipleEditors :step="props.step" :config="config" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import { Step } from "@/api/queries/types/workflowTypes.ts";
import {
  EditorConfig,
  EditorSubject,
} from "@/components/formBuilder/formWorkflow/detail/common/EditorConfiguration.ts";
import MultipleEditors from "@/components/formBuilder/formWorkflow/detail/common/MultipleEditors.vue";

const props = defineProps<{ step: Step }>();

const config: EditorConfig = {
  label: "E-mail bericht",
  height: 120,
  subject: EditorSubject.roleMailBodiesForOngoing,
};
</script>

<style scoped></style>
