<template>
  <div id="DialogPermissionTemplates" class="mt-0">
    <PermissionTable
      v-if="permissionDetail"
      :permissions="permissionDetail"
      :form-roles="formRoles"
      :form-steps="formSteps"
      read-only
    />

    <Divider />

    <div class="flex flex-row">
      <div class="w-1/3">
        <div v-if="!isNewName">
          <Select
            v-model="selectedTemplate"
            class="w-full"
            :options="permissionStore.permissionTemplates"
            option-label="name"
            :show-clear="true"
          />
          <div class="text-xs">(selecteer een bestaande template)</div>
        </div>
      </div>
      <div>
        <div v-if="!isNewName && !selectedTemplate" class="mt-2">
          &nbsp;of&nbsp;
        </div>
      </div>
      <div v-if="!selectedTemplate" class="w-1/3">
        <InputText v-model="templateAddName" class="w-full" />
        <div class="text-xs">(naam voor nieuwe template)</div>
      </div>
      <div v-if="selectedTemplate" class="w-1/3 ml-2">
        <InputText v-model="templateUpdateName" class="w-full" />
        <div class="text-xs">
          (vul in indien nieuwe naam voor bestaande template)
        </div>
      </div>
      <div class="w-1/3 ml-2">
        <div v-if="!isNewName">
          <div v-if="selectedTemplate">
            <Button
              v-if="!isSaving"
              icon="pi pi-circle"
              class="w-full"
              severity="success"
              label="Pas bestaande template aan."
              @click="updateTemplate"
            />
            <Button
              v-else
              disabled
              icon="pi pi-spin pi-spinner"
              class="w-full"
              severity="success"
              label="Pas bestaande template aan."
            />
          </div>
        </div>
        <div v-else>
          <Button
            v-if="!isSaving"
            icon="pi pi-circle"
            class="w-full"
            severity="success"
            label="Bewaar als nieuwe template."
            @click="addTemplate"
          />
          <Button
            v-else
            disabled
            icon="pi pi-spin pi-spinner"
            class="w-full"
            severity="success"
            label="Bewaar als nieuwe template."
          />
        </div>
      </div>
    </div>
    <div>&nbsp;</div>
  </div>
</template>

<script setup lang="ts">
import { usePermissionStore } from "@/stores/permissions";
import { computed, ref } from "vue";
import type { RoleSummary, StepSummary } from "@/api/queries/types/formTypes";
import { renderRoleLabel } from "@/functions/roles";
import { useFormStore } from "@/stores/form";
import { useLanguageStore } from "@/stores/language";
import PermissionTable from "@/components/formBuilder/_general/permissions/PermissionTable.vue";
import { executeApiCommand } from "@/api/commands/common/executeApiCommand";
import type {
  AddPermissionsTemplateCommand,
  UpdatePermissionsTemplateCommand,
} from "@/api/commands/PermissionsTemplateCommands";
import type {
  FlowPermissionRecord,
  FlowPermissionTemplate,
} from "@/api/queries/types/permissionTypes";

const props = defineProps<{
  formId: number;
  contentHash: string;
  permissionDetail: FlowPermissionRecord;
}>();

const selectedTemplate = ref<FlowPermissionTemplate | undefined>(undefined);
const templateAddName = ref<string>("");
const templateUpdateName = ref<string>("");

const permissionStore = usePermissionStore();
const formStore = useFormStore();
const languageStore = useLanguageStore();

// ------------------------------------------------------------------------------------------------ command related code

const isSaving = ref<boolean>(false);

async function updateTemplate() {
  if (selectedTemplate.value) {
    let _updateName = selectedTemplate.value.name;
    if (templateUpdateName.value.length !== 0) {
      _updateName = templateUpdateName.value;
    }
    const _updateTemplateCommand: UpdatePermissionsTemplateCommand = {
      type: "updatePermissionsTemplate",
      id: selectedTemplate.value.id,
      contentHash: selectedTemplate.value.contentHash,
      subject: "permissionTemplate",
      changeFrom: {
        name: selectedTemplate.value.name,
        flowPermission: selectedTemplate.value.flowPermission,
      },
      changeTo: {
        name: _updateName,
        flowPermission: props.permissionDetail,
      },
    };
    isSaving.value = true;
    await executeApiCommand(_updateTemplateCommand);
    await permissionStore.loadPermissionTemplates(props.formId);
    isSaving.value = false;
    permissionStore.showPermissionsTemplates = false;
  }
}

async function addTemplate() {
  if (templateAddName.value.length !== 0) {
    const _addTemplateCommand: AddPermissionsTemplateCommand = {
      type: "addPermissionsTemplate",
      subject: "form",
      id: props.formId,
      contentHash: props.contentHash,
      add: {
        name: templateAddName.value,
        flowPermission: props.permissionDetail,
      },
    };
    isSaving.value = true;
    await executeApiCommand(_addTemplateCommand);
    await permissionStore.loadPermissionTemplates(props.formId);
    isSaving.value = false;
    permissionStore.showPermissionsTemplates = false;
  }
}

// ---------------------------------------------------------------------------------------------------------------------

const isNewName = computed<boolean>(() => {
  if (templateAddName.value.length === 0) return false;
  return true;
});

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const formSteps = computed<StepSummary[]>(() =>
  formStore.form.workFlow.steps.map((step, index) => ({
    id: step.id,
    uid: step.uid,
    label:
      step.info.label[languageStore.activeLanguage.toLowerCase()] ??
      (index + 1).toString(),
  })),
);
</script>
