<template>
  <Button
    v-tooltip="
      'Verplicht te beantwoorden? Wanneer de vraag niet verplicht is, ' +
      'dan wordt deze ook genegeerd bij de berekening van berekende scores, indien de gebruiker ' +
      'dit niet invult.'
    "
    :severity="required ? 'warn' : 'info'"
    :label="required ? 'Verplicht' : 'Vrij'"
    :icon="required ? 'pi pi-star-fill' : 'pi pi-circle-fill'"
    class="w-36"
    @click="changeRequired"
  />
</template>

<script setup lang="ts">
import { computed, toRef } from "vue";
import { useUpdateQuestionRequiredCommand } from "@/api/commands/UpdateQuestionRequired";
import type { QuestionNode } from "@/api/queries/types/formTypes";

const props = defineProps<{ question: QuestionNode }>();

// computed to get value as read-only
const required = computed(() => props.question.required);

const { executeCommand } = useUpdateQuestionRequiredCommand(
  toRef(props, "question"),
);

async function changeRequired() {
  await executeCommand();
}
</script>
