<template>
  <FormCardList id="DisplaySettings" class="p-4">
    <FormCard>
      <div class="bg-stone-300 p-2 mb-2 font-bold">Weergaveopties</div>
      <div class="flex flex-col gap-3">
        <div class="p-2 flex justify-between items-start">
          <div class="text-left flex gap-2 items-baseline pr-2">
            <div>Toon Vraagnummering</div>
            <PositionTagger
              :position="[0, 1, 2, 3]"
              tooltip="Voorbeeld vraagnummering"
            />
          </div>
          <div>
            <ToggleSwitch v-model="showPositionNumbers" />
          </div>
        </div>
        <div class="p-2 flex justify-between items-start">
          <div class="text-left pr-2 pt-2">
            <div class="mb-2">
              Toon knop om alle antwoordopties te tonen bij beantwoorde vragen
            </div>
            <div class="text-sm text-stone-400 mb-2">
              Wanneer je deze optie activeert kunnen gebruikers van het
              formulier bij een vraag die beantwoord is (en dus enkel in
              leesmode beschikbaar is op dat moment) mits activeren van deze
              functie (knop bovenaan het formulier) alle mogelijke
              antwoordopties voor die vraag zien. Het gekozen antwoord krijgt
              een duidelijk onderscheidende kleur.
            </div>
          </div>
          <div>
            <ToggleSwitch v-model="enableReadOnlyChoiceAnswerOptionsToggling" />
          </div>
        </div>
        <Message
          v-if="changed"
          severity="warn"
          class="w-full"
          icon="pi pi-exclamation-triangle"
        >
          Wijzigingen voor info nog niet bewaard.
        </Message>
      </div>
      <Button
        label="Bewaar opties"
        icon="pi pi-check"
        class="w-full mt-2"
        :loading="saving"
        severity="success"
        @click="save"
      />
      <CommandRenderer :command="command" />
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import CommandRenderer from "../_general/CommandRenderer.vue";
import { useUpdateDisplayOptionsCommand } from "@/api/commands/UpdateDisplayOptions";
import { ref } from "vue";

const {
  command,
  executeCommand,
  showPositionNumbers,
  enableReadOnlyChoiceAnswerOptionsToggling,
  changed,
} = useUpdateDisplayOptionsCommand();

const saving = ref(false);
async function save() {
  saving.value = true;
  await executeCommand();
  saving.value = false;
}
</script>
