<template>
  <div class="grid md:grid-cols-2 overflow-auto h-full bg-stone-100">
    <div>
      <FormInfo v-if="formStore.form" :form="formStore.form" />
      <DisplayOptions v-if="formStore.form" :form="formStore.form" />
    </div>
    <InfoRoleDescriptions :form="formStore.form" />
  </div>
</template>

<script setup lang="ts">
import FormInfo from "@/components/formBuilder/formGeneral/FormInfo.vue";
import { useFormStore } from "@/stores/form";
import InfoRoleDescriptions from "@/components/formBuilder/formGeneral/InfoRoleDescriptions.vue";
import DisplayOptions from "./DisplayOptions.vue";

const formStore = useFormStore();
</script>

<style scoped></style>
