<template>
  <FormCardList>
    <FormCard id="FormInfo">
      <div class="bg-stone-300 p-2 mb-2 font-bold">Info</div>
      <div class="p-2">
        <div class="flex flex-row mb-2">
          <div class="basis-1/4 text-left pr-2 pt-2">Taal</div>
          <div class="basis-3/4">
            <SelectButton
              v-model="newLanguage"
              :options="settingsStore.availableLanguages.sort()"
              :allow-empty="false"
            >
              <template #option="slotProps">
                {{ slotProps.option }}
                <i
                  v-if="props.form.languages.includes(slotProps.option)"
                  class="pi pi-verified"
                ></i>
                <i v-else class="pi pi-circle"></i>
              </template>
            </SelectButton>
          </div>
        </div>

        <!-- title -->
        <div class="flex flex-row">
          <div class="basis-1/4 text-left pr-2 pt-2">
            Titel <span class="required-label"></span>
            <ActiveLanguageBadge :language="newLanguage" />
          </div>
          <div class="basis-3/4">
            <IconField>
              <InputText
                v-model="title"
                :invalid="v$.title.$invalid"
                class="w-full"
                data-cy="tiFormTitle"
                @input="touchForm"
              />
              <InputIcon v-if="!v$.title.$invalid" class="pi pi-check" />
              <InputIcon v-if="v$.title.$invalid" class="pi pi-times" />
            </IconField>
            <small v-if="v$.title.$invalid" class="text-red-600">
              Titel is een verplicht veld.
            </small>
          </div>
        </div>

        <!-- description -->
        <div class="flex mt-2">
          <div class="flex-initial w-1/4 text-left pr-2 pt-2">
            Beschrijving
            <ActiveLanguageBadge :language="newLanguage" />
          </div>
          <div class="flex-initial w-3/4">
            <TextEditor
              v-model="description"
              :height="180"
              data-cy="tiFormDescription"
              @input="touchForm"
            />
          </div>
        </div>

        <!-- save -->
        <div class="flex flex-row mt-2">
          <div class="basis-1/4">&nbsp;</div>
          <div class="basis-3/4">
            <div class="mb-2">
              <!-- ------------------------------------------------------------------------------------------- touched -->
              <Message
                v-if="isTouched && !v$.$invalid"
                severity="warn"
                class="w-full"
                icon="pi pi-exclamation-triangle"
              >
                Wijzigingen voor info nog niet bewaard.
              </Message>
              <!-- ------------------------------------------------------------------------------------------- invalid -->
              <Message
                v-if="v$.$invalid"
                severity="error"
                icon="pi pi-times-circle"
                class="w-full"
              >
                Dit formulier is niet geldig.
              </Message>
            </div>
            <!-- ---------------------------------------------------------------------------------------------- button -->
            <div v-if="!isSaving">
              <Button
                data-cy="btnFormInfoSave"
                :disabled="v$.$invalid"
                label="Bewaar info"
                icon="pi pi-check"
                class="w-full"
                severity="success"
                @click="save"
              ></Button>
            </div>
            <div v-else>
              <Button
                icon="pi pi-spin pi-spinner"
                disabled
                label="Info bewaren"
                class="w-full"
                severity="success"
              ></Button>
            </div>
          </div>
        </div>
      </div>

      <CommandRenderer :command="command"></CommandRenderer>
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";
import { useUpdateFormInfoCommand } from "@/api/commands/UpdateFormInfo";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import FormCard from "@/components/layout/FormCard.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import { useSettingsStore } from "@/stores/settings";
import { Form } from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";

const settingsStore = useSettingsStore();
const languageStore = useLanguageStore();
const props = defineProps<{ form: Form }>();

const newLanguage = ref(languageStore.activeLanguage);

// two way binding via v-model wouldn't work
// because the language may not be in the list of available languages (yet)
// so we watch manually
watch(newLanguage, (newValue) => {
  if (props.form.languages.includes(newValue)) {
    languageStore.activeLanguage = newValue;
  }
});
watch(
  () => languageStore.activeLanguage,
  (newValue) => {
    newLanguage.value = newValue;
  },
);

const {
  newPayload,

  title,
  description,

  command,
  // changed,
  executeCommand,
} = useUpdateFormInfoCommand(newLanguage);

const isTouched = ref(false);

function touchForm() {
  isTouched.value = true;
  v$.value.$touch();
}

// ---------------------------------------------------------------------------------------------------- validation rules
const rules = { title: { required } };
const v$ = useVuelidate(rules, newPayload);

// ----------------------------------------------------------------------------------------------------------- functions

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isTouched.value = false;
  isSaving.value = false;
}
</script>
