<template>
  <FormCardList id="CardRoleDescriptions" class="p-4">
    <FormCard>
      <div class="bg-stone-300 p-2 mb-2 font-bold">Rolbeschrijvingen</div>
      <div class="p-2">
        <InfoMultipleEditors :form="props.form" :config="config" />
      </div>
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import FormCardList from "@/components/layout/FormCardList.vue";
import FormCard from "@/components/layout/FormCard.vue";
import { Form } from "@/api/queries/types/formTypes.ts";
import {
  EditorConfig,
  EditorSubject,
} from "@/components/formBuilder/formGeneral/EditorConfiguration.ts";
import InfoMultipleEditors from "@/components/formBuilder/formGeneral/InfoMultipleEditors.vue";

const props = defineProps<{ form: Form }>();

const config: EditorConfig = {
  label: "Extra info per rol",
  height: 120,
  subject: EditorSubject.infoRoleDescriptions,
};
</script>
