<template>
  <!-- -- delete confirmation ------------------------------------------------ -->
  <Dialog
    v-model:visible="formStore.isDialogNodeDelete"
    :header="
      formStore.menuSelectedNode?.type === 'question'
        ? 'Vraag verwijderen'
        : 'Categorie verwijderen'
    "
    :modal="true"
    :closable="false"
  >
    <DeleteNode />
  </Dialog>

  <!-- -- add dialog --------------------------------------------------------- -->
  <Dialog
    :visible="addAndCopyStore.showAddDialog"
    header="Item toevoegen"
    :modal="true"
    :closable="false"
  >
    <AddItem />
  </Dialog>

  <!-- -- copy dialog --------------------------------------------------------- -->
  <Dialog
    v-if="addAndCopyStore.copySelectedNode"
    :visible="addAndCopyStore.showCopyDialog"
    :header="`${nodeVraagOfCategorie(
      addAndCopyStore.copySelectedNode,
    )} kopiëren`"
    :modal="true"
    :closable="false"
  >
    <CopyItem />
  </Dialog>

  <!-- -- move dialog --------------------------------------------------------- -->
  <Dialog
    v-if="addAndCopyStore.moveSelectedNode"
    :visible="addAndCopyStore.showMoveDialog"
    :header="`${nodeVraagOfCategorie(
      addAndCopyStore.moveSelectedNode,
    )} verplaatsen`"
    :modal="true"
    :closable="false"
  >
    <MoveItem />
  </Dialog>
</template>

<script setup lang="ts">
import DeleteNode from "./dialog/DeleteNode.vue";
import AddItem from "@/components/formBuilder/formList/formListEditor/dialog/AddItem.vue";
import CopyItem from "@/components/formBuilder/formList/formListEditor/dialog/CopyItem.vue";
import MoveItem from "@/components/formBuilder/formList/formListEditor/dialog/MoveItem.vue";
import { useFormStore } from "@/stores/form";
import { useAddAndCopyStore } from "@/stores/addAndCopy";
import { FormNode } from "@/api/queries/types/formTypes";

const formStore = useFormStore();
const addAndCopyStore = useAddAndCopyStore();

const nodeVraagOfCategorie = (node: FormNode) =>
  node.type === "question" ? "Vraag" : "Categorie";
</script>
