<template>
  <div id="form-list-header" class="p-1 min-h-12 bg-stone-200">
    <div class="flex flex-row gap-2">
      <div>
        <Button
          v-tooltip="'Herlaad het formulier'"
          icon="pi pi-refresh"
          severity="success"
          :loading="formStore.isFormReloading"
          loading-icon="pi pi-spin pi-spinner"
          @click="hardRefresh"
        />
      </div>
      <div class="grow">
        <InputGroup>
          <InputGroupAddon
            v-tooltip.bottom="'Zoek naar een rol in een bepaalde stap.'"
            class="cursor-pointer text-stone-600 hover:text-black"
          >
            <font-awesome-icon
              icon="fa-solid fa-circle-question"
              class="fa-lg"
            />
          </InputGroupAddon>
          <InputGroupAddon>Beperk&nbsp;vragen&nbsp;tot</InputGroupAddon>
          <Select
            v-model="selectedRole"
            :options="formRoles"
            option-label="label"
            placeholder="rol..."
          />
          <InputGroupAddon>in</InputGroupAddon>
          <Select
            v-model="selectedStep"
            :options="formSteps"
            option-label="label"
            placeholder="stap..."
          />
          <Button
            v-tooltip.bottom="'Reset filter'"
            :disabled="!roleOrStepSelected"
            severity="danger"
            icon="pi pi-times"
            @click="clearFilter"
          />
          <Button
            icon="pi pi-filter"
            severity="info"
            :disabled="!applyFilterButtonEnabled"
            label="Pas&nbsp;toe"
            @click="applyFilter"
          />
        </InputGroup>
      </div>
    </div>
    <transition name="slide">
      <div v-if="filterActive" class="my-1">
        <Message severity="info">
          <strong>Filtermodus: </strong>
          U kunt geen nieuwe vragen/categorieën aanmaken of verplaatsen.
        </Message>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { useLanguageStore } from "@/stores/language";
import { computed, ref } from "vue";
import { renderRoleLabel } from "@/functions/roles";
import type { RoleSummary, StepSummary } from "@/api/queries/types/formTypes";

const formStore = useFormStore();
const languageStore = useLanguageStore();

const selectedRole = ref(formStore.filter.role);
const selectedStep = ref(formStore.filter.step);

const roleOrStepSelected = computed(
  () => selectedRole.value.role !== "" || selectedStep.value.id !== 0,
);

const selectedFilterIsSetInStore = computed(
  () =>
    selectedRole.value === formStore.filter.role &&
    selectedStep.value === formStore.filter.step,
);

const filterSelectionIsValid = computed(
  () => selectedRole.value.role !== "" && selectedStep.value.id !== 0,
);

const applyFilterButtonEnabled = computed(
  () => filterSelectionIsValid.value && !selectedFilterIsSetInStore.value,
);

const filterActive = computed(
  () => formStore.filter.applied && !formStore.isFormReloading,
);

async function applyFilter() {
  if (selectedStep.value.id !== 0 && selectedRole.value.role) {
    formStore.filter.role = selectedRole.value;
    formStore.filter.step = selectedStep.value;
    formStore.filter.applied = true;
    await formStore.hardRefreshForm();
  }
}
async function clearFilter() {
  if (selectedFilterIsSetInStore.value) {
    formStore.clearFilter();
    await formStore.hardRefreshForm();
  }
  selectedRole.value = formStore.filter.role;
  selectedStep.value = formStore.filter.step;
}

async function hardRefresh() {
  if (!formStore.filter.applied) {
    formStore.clearFilter();
  }
  await formStore.hardRefreshForm();
}

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const formSteps = computed<StepSummary[]>(() =>
  formStore.form.workFlow.steps.map((step, index) => ({
    id: step.id,
    uid: step.uid,
    label:
      step.info.label[languageStore.activeLanguage.toLowerCase()] ??
      (index + 1).toString(),
  })),
);
</script>
<style>
.slide-enter-from,
.slide-leave-to {
  max-height: 0;
}

.slide-enter-to,
.slide-leave-from {
  max-height: 1000px;
}

.slide-leave-active,
.slide-enter-active {
  overflow: hidden;
  transition: all 1s ease-in-out;
}
</style>
