<template>
  <div id="form-renderer">
    <!-- form list rendering --------------------------------------------------------------------------------------- -->
    <NodeRenderer
      v-for="node in formStore.rootNodeChildren"
      :key="node.id"
      :node="node"
    />

    <!-- form footer ----------------------------------------------------------------------------------------------- -->
    <div class="m-2">
      <div class="p-2 bg-sky-100 border-t-[1px] border-gray-600">
        <div class="flex flex-row justify-end gap-4 items-baseline">
          <div class="text-sm mt-3">* = required field</div>
          <ButtonGroup>
            <Button
              label="Save as draft"
              class="w-50"
              outlined
              severity="info"
            />
            <Button label="Submit" class="w-50" severity="info" />
          </ButtonGroup>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- question drop dialog windows -->
    <!-- ------------------------------------------------------------------------------------------------------------- -->

    <!-- Choose the option that will unlock the question ... -->
    <Dialog
      v-model:visible="formStore.selectUnlockingOptionDialog.visible"
      header="Selecteer de opties die de geselecteerde vraag kunnen unlocken."
      :modal="true"
    >
      <DialogOptionSelector
        v-if="formStore.selectUnlockingOptionDialog.unlockingQuestion"
        :question="formStore.selectUnlockingOptionDialog.unlockingQuestion"
        :locked-id="formStore.selectUnlockingOptionDialog.lockedId"
        @logic-saved="formStore.selectUnlockingOptionDialog.visible = false"
      />
    </Dialog>

    <!-- Choose the option that will unlock the question ... -->
    <Dialog
      v-model:visible="formStore.selectMultiUnlockingOptionDialog.visible"
      header="Selecteer de opties die de geselecteerde vraag gedeeltelijk kunnen unlocken."
      :modal="true"
    >
      <DialogMultiOptionSelector
        v-if="formStore.selectMultiUnlockingOptionDialog.unlockingQuestion"
        :question="formStore.selectMultiUnlockingOptionDialog.unlockingQuestion"
        :locked-id="formStore.selectMultiUnlockingOptionDialog.lockedId"
        @logic-saved="formStore.selectMultiUnlockingOptionDialog.visible = false"
      />
    </Dialog>

    <!-- Choose the weight for this score calculation relation -->
    <Dialog
      v-model:visible="formStore.setScoreWeightDialog.visible"
      header="Zet het gewicht van deze score in de berekening."
      :modal="true"
    >
      <DialogSetScoreWeight
        :calculation-question-id="
          formStore.setScoreWeightDialog.calculationQuestionId
        "
        :score-question-id="formStore.setScoreWeightDialog.scoreQuestionId"
        :calculation-question-label="
          formStore.setScoreWeightDialog.calculationQuestionLabel
        "
        :score-question-label="
          formStore.setScoreWeightDialog.scoreQuestionLabel
        "
        :calculation-question-position="
          formStore.setScoreWeightDialog.calculationQuestionPosition
        "
        :score-question-position="
          formStore.setScoreWeightDialog.scoreQuestionPosition
        "
        @calculation-saved="formStore.setScoreWeightDialog.visible = false"
      />
    </Dialog>

    <Dialog
      v-model:visible="formStore.setChartRelationDialog.visible"
      header="Voeg een vraag toe aan een diagram."
      :modal="true"
    >
      <DialogSetChartRelation
        v-if="formStore.setChartRelationDialog.chartParticipantQuestion"
        :chart-participant-question="
          formStore.setChartRelationDialog.chartParticipantQuestion
        "
        :chart-question-id="formStore.setChartRelationDialog.chartQuestionId"
        :chart-participant-question-label="
          formStore.setChartRelationDialog.chartParticipantQuestionLabel
        "
        :chart-question-label="
          formStore.setChartRelationDialog.chartQuestionLabel
        "
        @relation-saved="formStore.setChartRelationDialog.visible = false"
      />
    </Dialog>
  </div>
</template>

<script setup lang="ts">
import NodeRenderer from "./nodeRenderer/NodeRenderer.vue";
import DialogOptionSelector from "./nodeRenderer/DialogOptionSelector.vue";
import DialogSetScoreWeight from "./nodeRenderer/DialogSetScoreWeight.vue";
import DialogSetChartRelation from "./nodeRenderer/DialogSetChartRelation.vue";
import { useFormStore } from "@/stores/form";
import DialogMultiOptionSelector
  from "@/components/formBuilder/formList/formListEditor/nodeRenderer/DialogMultiOptionSelector.vue";

const formStore = useFormStore();
</script>
