<template>
  <div id="form-list" class="flex flex-col h-full overflow-hidden">
    <FormListHeader />
    <FormListRenderer class="overflow-auto" />

    <!-- possible dialogs triggered by the drop down menu -->
    <FormListMenuDialogs />
  </div>
</template>

<script setup lang="ts">
import FormListRenderer from "./FormListRenderer.vue";
import FormListHeader from "./FormListHeader.vue";
import FormListMenuDialogs from "./formListMenuDialogs.vue";
</script>
