{% macro renderAutoCalculateButton(nodeFormView) %}
    {% set calculationTargetNodeInputType =  nodeFormView.vars.node_input_type %}
    {% if calculationTargetNodeInputType == 'choice' %}
        {% set calculationTargetNodeInputType =  calculationTargetNodeInputType ~ '-' ~ nodeFormView.vars.choice_type %}
    {% endif %}
    <button class="btn btn-primary auto-calculate-btn"
            data-target-node-uid="{{ nodeFormView.vars.full_name }}"
            data-target-node-input-type="{{ calculationTargetNodeInputType }}"
            type="button">
        {{ 'button.label'|trans({},'kulFormCalculation') }}
    </button>
{% endmacro %}
