{% macro render(nodeFormView) %}
    <div class="col-sm-8 col-sm-offset-3">
        <div class="checkbox custom-checkbox" style="padding-left: 0 !important;">
            <input type="checkbox"
                   value="{{ nodeFormView.vars.value }}" {% if nodeFormView.vars.checked %}checked="checked"{% endif %}
                   name="{{ nodeFormView.vars.full_name }}" id="{{ nodeFormView.vars.id }}"/>
            <label {% if nodeFormView.vars.required %}required{% endif %}
                   for="{{ nodeFormView.vars.id }}">&nbsp;&nbsp;{{ nodeFormView.vars.label|sanitize_html_custom }}</label>
        </div>
    </div>
{% endmacro %}
