{% macro render(nodeFormView, showPositionNumbers) %}
    {% if nodeFormView.vars.choice_type is defined %}
        {% import _self as self_macros %}

        {% set readOnly = false %}
        {% set addAutoCalculateBtn = false %}

        {% if nodeFormView.vars.is_global_score_node and nodeFormView.vars.show_auto_calculate_btn is defined and nodeFormView.vars.show_auto_calculate_btn %}
            {% set addAutoCalculateBtn = true %}
            {% if nodeFormView.vars.allow_non_auto_calculated_value is defined %}
                {% set readOnly = nodeFormView.vars.allow_non_auto_calculated_value ? false : true %}
            {% endif %}
        {% endif %}

        {% if 'radios' == nodeFormView.vars.choice_type %}
            {{ self_macros.renderAsRadios(nodeFormView,addAutoCalculateBtn,readOnly, showPositionNumbers) }}
        {% elseif 'checkboxes' == nodeFormView.vars.choice_type %}
            {{ self_macros.renderAsCheckboxes(nodeFormView, showPositionNumbers) }}
        {% elseif 'select' == nodeFormView.vars.choice_type %}
            {{ self_macros.renderAsSelect(nodeFormView,addAutoCalculateBtn,readOnly, showPositionNumbers) }}
        {% endif %}

        <style>
            .other-value-field {
                display: none;
            }

            .other-value-field.showme {
                display: inline;
            }
        </style>

    {% endif %}
{% endmacro %}

{% macro renderAsCheckboxes(nodeFormView, showPositionNumbers) %}
    {% import _self as self_macros %}
    {{ self_macros.renderLabelInLeftSideColumn(nodeFormView, showPositionNumbers) }}

    {% set wrapperClass = 'col-sm-8' %}
    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-sm-12' %}
    {% endif %}

    <div class="{{ wrapperClass }}">
        {% for key,checkbox_option in nodeFormView.children %}
            {% set choiceView = key is same as ("placeholder") ? null : nodeFormView.vars.choices[key] %}
            {# choiceView represents the FormView for a checkbox-option. the choiceView.data in the FormView corresponds
               to an OptionInputNode. the choiceView.value corresponds to the OptionInputNode->uid. #}
            {% set optionInputNode = choiceView.data %}
            {% set optionInputNodeUid = choiceView.value %} {# equal to: {% set optionInputNodeUid = optionInputNode is not null ? optionInputNode.uid : null %} #}
            {% set checkboxVars = checkbox_option.vars %}

            {% set unlocksQuestions = checkboxVars.value ? nodeFormView.vars.unlocks_questions[checkboxVars.value] : [] %}
            <div class="checkbox custom-checkbox nm" style="padding-left: 0 !important;">
                <input type="checkbox" value="{{ checkboxVars.value }}" id="{{ checkboxVars.id }}"
                       name="{{ checkboxVars.full_name }}"
                       {% if checkboxVars.checked %}checked="checked"{% endif %}
                    {% if checkboxVars.disabled %}disabled="disabled"{% endif %}
                       {% if unlocksQuestions is not empty %}kfb-unlocks-questions="{{ unlocksQuestions|join(' ') }}"{% endif %}
                {% for key,value in checkboxVars.attr %}{{ key }}="{{ value }}"{% endfor %}/>
                <label for="{{ checkboxVars.id }}">&nbsp;&nbsp;{{ checkboxVars.label|sanitize_html_custom }}</label>
                {% if optionInputNode is not null and optionInputNode.usesAdditionalTextInput %}
                    {# on time of writing, a choice question can have only one 'other' option with additional text input.
                       note: publish of a choice question with more than one 'other' option is blocked #}
                    {% set key = optionInputNodeUid ~ constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\ChoiceInputNode::OTHER_VALUE_FIELD_SUFFIX') %}
                    {% set otherValueView = nodeFormView.parent.children[key] %}
                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            {# if the option is an option that needs an 'other'- value, we render that extra field here, see ChoiceType::onPreSetData #}
                            <input type="text"
                                   id="{{ "other-value-field-" ~ optionInputNodeUid }}"
                                   class=" form-control mt10 other-value-field"
                                   placeholder="{{ otherValueView.vars.attr.placeholder }}"
                                   name="{{ otherValueView.vars.name }}"
                                   value="{{ otherValueView.vars.data }}"
                                    {# kfb-other-for corresponds to id of parent question (= uid of the ChoiceInputNode to which this OptionInputNode belongs),
                                       thus corresonds also to the 'name' attr on each checkbox input in the parent question checkbox input group #}
                                   kfb-other-for="{{ nodeFormView.vars.id }}"
                            >
                        </div>
                    </div>
                    {% do otherValueView.setRendered() %}
                {% endif %}
            </div>
        {% endfor %}
        {{ self_macros.prefillSources(nodeFormView) }}
    </div>
{% endmacro %}

{% macro renderAsSelect(nodeFormView,addAutoCalculateBtn,readOnly, showPositionNumbers) %}
    {% import _self as self_macros %}
    {{ self_macros.renderLabelInLeftSideColumn(nodeFormView, showPositionNumbers) }}

    {% set colWidth = 8 %}
    {% if addAutoCalculateBtn %}{% set colWidth = 7 %}{% endif %}

    {% if nodeFormView.vars.matrix_view %}
        {% set colWidth = 12 %}
{#        {% if addAutoCalculateBtn %}{% set colWidth = 10 %}{% endif %}#}
    {% endif %}

    <div class="col-sm-{{ colWidth }} mb-5">
    {% if addAutoCalculateBtn and nodeFormView.vars.matrix_view %}
        <div class="form-group mr0 ml0 mb10"><div class="input-group">
    {% endif %}
            {% if nodeFormView.vars.multiple %}
                {% set dropdown_data  = nodeFormView.vars.data %}
                {% set selectizeClasses = 'selectize-multiple' %}
            {% else %}
                {% set dropdown_data  = [nodeFormView.vars.data] %}
                {% set selectizeClasses = 'selectize' %}
            {% endif %}
            {% if nodeFormView.vars.sort_options_alphabetically is defined and not nodeFormView.vars.sort_options_alphabetically %}
                {% set selectizeClasses = selectizeClasses ~ ' no-text-sorting' %}
            {% endif %}

            {# on time of writing, a choice question can have only one 'other' option with additional text input.
               hence we track only one 'other' option, thus one additionalTextInputId.
               note: publish of a choice question with more than one 'other' option is blocked #}
            {% set additionalTextInputId = null %}
            {% set showOptionScoreValues = nodeFormView.vars.show_option_score_values %}

            <select {% if nodeFormView.vars.multiple %}multiple{% endif %} name="{{ nodeFormView.vars.full_name }}"
                    id="{{ 'id-' ~ nodeFormView.vars.id }}"
                    class="{{ selectizeClasses }} {% if readOnly %}readOnly{% endif %} {% if not nodeFormView.vars.valid %}errortje{% endif %}"
            >
                {% if nodeFormView.vars.placeholder is defined and nodeFormView.vars.placeholder is not null %}
                    <option {% if dropdown_data is empty %}selected="selected"{% endif %}
                            value="">{{ nodeFormView.vars.placeholder }}</option>
                {% endif %}
                {% for dropdown_option in nodeFormView.vars.choices %}
                    {# dropdown_option represents the FormView for a select-option. the dropdown_option.data in the FormView corresponds
                       to an OptionInputNode. the dropdown_option.value corresponds to the OptionInputNode->uid.
                       the dropdown_option.data can be null!: if the parent question itself is NOT required, a placeholder select-option
                       (usually labelled 'choose...') will be added to allow users to submit the question blank. (e.g. if they already choose
                       another select-option but want to 'deselect/erase' that option and submit the non-required question blank).
                       in that case dropdown_option.data will be NULL and dropdown_option.value an empty string. #}
                    {% set optionInputNode = dropdown_option.data %}
                    {% set optionInputNodeUid = dropdown_option.value %}

                    {% set unlocksQuestions = optionInputNodeUid ? nodeFormView.vars.unlocks_questions[optionInputNodeUid] : [] %}
                    {% set dropdown_option_label = dropdown_option.label|sanitize_html_custom %}
                    {% if showOptionScoreValues and optionInputNode is not null and optionInputNode.hasScoringValue %}
                        {% set dropdown_option_label = dropdown_option_label ~ ' (score: ' ~ kul_form_localizedChoiceOptionScoringValueNumberFormat(optionInputNode, app.request.locale) ~ ')' %}
                    {% endif %}
                    <option {% if optionInputNode in dropdown_data %}selected="selected"{% endif %}
                    {% if unlocksQuestions is not empty %}
                        kfb-unlocks-questions="{{ unlocksQuestions|join(' ') }}"
                         data-data so that selectize picks this up.
                        data-data='{"unlocksQuestions": "{{ unlocksQuestions|join(' ') }}"}'
                    {% endif %}
                    {% for key,value in dropdown_option.attr %}{{ key }}="{{ value }}"{% endfor %}
                        value="{{optionInputNodeUid}}">{{ dropdown_option_label|kul_form_decode_html_entities }}</option>
                     {% if optionInputNode is not null and optionInputNode.usesAdditionalTextInput %}
                        {% set additionalTextInputId = optionInputNodeUid %}
                    {% endif %}
                {% endfor %}
            </select>

            {# Put some metadata in hidden divs, because selectize will mess up the markup for the select, see FORM-174. #}
            <div hidden class="select-metadata" name="{{ nodeFormView.vars.full_name }}">
                {% for dropdown_option in nodeFormView.vars.choices %}
                    {% set optionInputNodeUid = dropdown_option.value %}
                    {% set unlocksQuestions = optionInputNodeUid ? nodeFormView.vars.unlocks_questions[optionInputNodeUid] : [] %}
                    <div class="answer-metadata"
                            {% if unlocksQuestions is not empty %}
                                kfb-unlocks-questions="{{ unlocksQuestions|join(' ') }}"
                            {% endif %}
                         value="{{ optionInputNodeUid }}"
                         name="{{ nodeFormView.vars.full_name }}"
                    ></div>
                {% endfor %}
            </div>

            {% if additionalTextInputId is not null %}
                {# if the choice question has the 'other'-option, we need to render the text field #}
                {% set key = additionalTextInputId ~ constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\ChoiceInputNode::OTHER_VALUE_FIELD_SUFFIX') %}
                {% set otherValueView = nodeFormView.parent.children[key] %}
                <input id="{{ "other-value-field-" ~ additionalTextInputId }}"
                       type="text"
                       placeholder="{{ otherValueView.vars.attr.placeholder }}"
                       name="{{ otherValueView.vars.name }}"
                       value="{{ otherValueView.vars.data }}"
                       class="other-value-field form-control mt5"
                       kfb-other-for="{{ nodeFormView.vars.id }}"
                >
                {% do otherValueView.setRendered() %}
                {{ form_errors(otherValueView) }}
            {% endif %}
            {{ self_macros.prefillSources(nodeFormView) }}
    {% if addAutoCalculateBtn and nodeFormView.vars.matrix_view %}
        </div></div>
    {% endif %}
    </div>
    {% if addAutoCalculateBtn %}
        {% import "@KULForm/embed/form/node/input/auto_calculation_macros.html.twig" as auto_calculation_macros %}
        {% if nodeFormView.vars.matrix_view %}
            <div class="col-sm-2">
        {% else %}
            <div class="col-sm-1 text-left">
        {% endif %}
                {{ auto_calculation_macros.renderAutoCalculateButton(nodeFormView) }}
            </div>
    {% endif %}
{% endmacro %}

{% macro renderAsRadios(nodeFormView,addAutoCalculateBtn,readOnly, showPositionNumbers) %}
    {# NOTE IN CASE NODE NOT REQUIRED AND THUS USER CAN OPT TO SUBMIT BLANK (NONE OF THE RADIO OPTIONS / EMPTY VALUE OPTION)
        if the parent form choiceType is NOT required, symfony will render a default (somewhat confusing)
        radio option with empty string as value and 'none' as label. this is Symfony's way to allow users
        to submit 'none' of the available options and thus pass the NOT required contraint. this 'none' option
        could be removed easely via js. however, users must still be able to 'un-check' the (already selected)
        'real' radio option(s) when editing this field. so to avoid having do some weird stuff with js (e.g.
        add a button via js to allow users to 'un-check' all radio's), this 'none' option is left in, but with
        a more UX friendly generic label.
        i.e. if not required: on first time submitting the question and user does not want to choose one of the 'real' options,
        the user will have the option to either check NONE of the available radio's or choose 'not applicable'. either one
        of the two last options, will result in storing no value for this non-required node. on edit of the question where
        none of the radio's was checked, the same applies. on edit of the question where one of the radio's was checked
        (be it 'not applicable or a 'real' one), and user wants to change his previous choice to submitting NONE of the
        available radio's (i.e. he/she wants to 'un-check' all, submit blank), the user will have to check 'not applicable'.
        resulting in replacing the previous stored result for this non-required node to no value stored for it.
        in short, a lot of comment to say that in the domain we want to allow admins to create a non-required radio's list
        and then allow end-user to opt to choose none of the radio's and we use Symfony's way to achieve that with small UX tweaking.
        (if, off course, the choiceType is required, then no 'not applicable' option with empty string value will be available)
        (note that sometimes a node/choiceType could be configured as required and with explicit 'not applicable' as a
        valid 'real' option. in which case users DO always will have to check at least one option, be it 'not applicable' or another)
    #}
    {% import _self as self_macros %}

    {% if addAutoCalculateBtn and not nodeFormView.vars.matrix_view %}
        {{ self_macros.renderLabelInLeftSideColumnWithAutoCalculationButton(nodeFormView, showPositionNumbers) }}
    {% else %}
        {{ self_macros.renderLabelInLeftSideColumn(nodeFormView, showPositionNumbers) }}
    {% endif %}

    {% if readOnly %}
        <div class="text-muted">
    {% endif %}

    {% if nodeFormView.vars.use_single_row_view is defined and nodeFormView.vars.use_single_row_view %}
        {{ self_macros.renderAsRadiosInSingleRowView(nodeFormView,readOnly) }}
    {% else %}
        {{ self_macros.renderAsRadiosInListView(nodeFormView,readOnly) }}
    {% endif %}

    {% if addAutoCalculateBtn and nodeFormView.vars.matrix_view%}
        {% import "@KULForm/embed/form/node/input/auto_calculation_macros.html.twig" as auto_calculation_macros %}
            <div class="col-sm-12 mt10">
                {{ auto_calculation_macros.renderAutoCalculateButton(nodeFormView) }}
            </div>
    {% endif %}

    {% if readOnly %}
        </div>
    {% endif %}
{% endmacro %}

{% macro renderAsRadiosInListView(nodeFormView,readOnly) %}
    {% import _self as self_macros %}

    {% set wrapperClass = 'col-sm-8' %}
    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-sm-12' %}
    {% endif %}

    <div class="{{ wrapperClass }}">
        {% for key, radio_option in nodeFormView.children %}
            {% set choiceView = key is same as("placeholder") ? null : nodeFormView.vars.choices[key] %}
            {{ self_macros.renderRadioInputFromVars(radio_option.vars,readOnly,false,choiceView,nodeFormView) }}
        {% endfor %}
        {{ self_macros.prefillSources(nodeFormView) }}
    </div>
{% endmacro %}

{% macro renderAsRadiosInSingleRowView(nodeFormView,readOnly) %}
    {% import _self as self_macros %}

    {% set wrapperClass = 'col-sm-8' %}
    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-sm-12' %}
    {% endif %}

    <div class="{{ wrapperClass }}" >
        {# evenly spread radio's using html attribute 'width': round down (avoids sum over 100%), drop decimal + cast to string. #}
        {% set tdWidth = ( 100 / nodeFormView.children|length )|round(0,'floor')|number_format %}
        <div class="mt10 mb0" style="overflow-x:auto;">
            <table class="table table-bordered table-layout5">
                <tbody>
                <tr>
                    {% for key, radio_option in nodeFormView.children %}
                        {% set choiceView = key is same as("placeholder") ? null : nodeFormView.vars.choices[key] %}
                        <td width="{{ tdWidth }}%"
                            class="radio-cell {% if radio_option.vars.checked %}bg-info{% endif %} {% if readOnly %}readOnly{% endif %}">
                            {{ self_macros.renderRadioInputFromVars(radio_option.vars,readOnly,false, choiceView, nodeFormView) }}
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        {{ self_macros.prefillSources(nodeFormView) }}
    </div>
{% endmacro %}

{% macro renderRadioInputFromVars(radioVars,readOnly,renderLabelOutsideSpanBox,choiceView,questionView) %}
    {% set radioLabel = (radioVars.label == 'None' ? 'fields.choiceType.radio.notRequiredOption'|trans({},'kulFormBase') : radioVars.label) %}
    {% set unlocksQuestions = radioVars.value ? questionView.vars.unlocks_questions[radioVars.value] : [] %}
    {# choiceView represents the FormView for the radio-choice. the 'data' in this FormView corresponds to an OptionInputNode.
       choiceView can be NULL!: if the parent question itself is NOT required, a 'not applicable' radio button will
       be rendered so users can choose this to submit question blank (e.g. if they already choose another radio option but
       want to 'deselect' that option and submit the non-required question blank). in that case choiceView will be passed in here as NULL #}
    {% set optionInputNode = choiceView is not null ? choiceView.data : null %}
    {% if questionView.vars.show_option_score_values and optionInputNode is not null and optionInputNode.hasScoringValue %}
        {% set radioLabel = radioLabel ~ ' (score: ' ~ kul_form_localizedChoiceOptionScoringValueNumberFormat(optionInputNode, app.request.locale) ~ ')' %}
    {% endif %}

    <span class="radio custom-radio custom-radio-primary {% if readOnly %}readOnly{% endif %}"
          style="padding-left: 0 !important;">
        <input type="radio"
               value="{{ radioVars.value }}"
               id="{{ radioVars.id }}"
               name="{{ radioVars.full_name }}"
               class="{% if readOnly %}readOnly{% endif %}"
               {% if radioVars.checked %}checked="checked"{% endif %}
            {% if radioVars.disabled %}disabled="disabled"{% endif %}
            {% if unlocksQuestions is not empty %}kfb-unlocks-questions="{{ unlocksQuestions|join(' ') }}"{% endif %}
        {% for key,value in radioVars.attr %}{{ key }}="{{ value }}"{% endfor %}/>
        <label for="{{ radioVars.id }}">
            {% if not renderLabelOutsideSpanBox %}&nbsp;&nbsp;{{ radioLabel|sanitize_html_custom }}{% endif %}
        </label>
        {% if renderLabelOutsideSpanBox %}
            <label>{{ radioLabel|sanitize_html_custom }}</label>
        {% endif %}

        {% if optionInputNode is not null and optionInputNode.usesAdditionalTextInput %}
            {# on time of writing, a choice question can have only one 'other' option with additional text input.
               note: publish of a choice question with more than one 'other' option is blocked #}
            {% set key = radioVars.value ~ constant('KUL\\FormBundle\\Domain\\Template\\Element\\Node\\Question\\ChoiceInputNode::OTHER_VALUE_FIELD_SUFFIX') %}
            {% set otherValueView = questionView.parent.children[key] %}
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    {# if the option is an option that needs an 'other'- value, we render that extra field here, see ChoiceType::onPreSetData #}
                    <input type="text"
                           id="{{ "other-value-field-" ~ optionInputNode.uid }}"
                           class=" form-control mt10 other-value-field"
                           placeholder="{{ otherValueView.vars.attr.placeholder }}"
                           name="{{ otherValueView.vars.name }}"
                           value="{{ otherValueView.vars.data }}"
                            {# kfb-other-for corresponds to id of parent choice question (= uid of the ChoiceInputNode to which this OptionInputNode belongs),
                               thus corresonds also to the 'name' attr on each radio input in the parent question radio input group #}
                           kfb-other-for="{{ questionView.vars.id }}"
                    >
                </div>
            </div>
            {% do otherValueView.setRendered() %}
        {% endif %}
    </span>
{% endmacro %}

{% macro renderLabelInLeftSideColumn(nodeFormView, showPositionNumbers) %}
    {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
    {{ label_macros.renderInLeftSideColumn(nodeFormView, showPositionNumbers) }}
{% endmacro %}

{% macro renderLabelInLeftSideColumnWithAutoCalculationButton(nodeFormView, showPositionNumbers) %}
    {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
    {% import "@KULForm/embed/form/node/input/auto_calculation_macros.html.twig" as auto_calculation_macros %}
    <div class="col-sm-3 ">
        <div class="row">
            {{ label_macros.renderLabelWithColSize(nodeFormView,12, showPositionNumbers) }}
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                {{ auto_calculation_macros.renderAutoCalculateButton(nodeFormView) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro prefillSources(nodeFormView) %}
    {% if nodeFormView.vars.prefillSources is defined and nodeFormView.vars.prefillSources|length > 0 %}
        <span class="help-block m-t-15 text-muted">
                <a href="#prefillSource-{{ nodeFormView.vars.id }}" data-toggle="collapse">
                {{ 'prefillSources.link'|trans({},'kulFormBase') }}
                </a>
            </span>
        <div id="prefillSource-{{ nodeFormView.vars.id }}" class="collapse">
            <table class="table table-hover m-t-15">
                <tbody>
                {% for prefillSource in nodeFormView.vars.prefillSources %}
                    <tr>
                        <td>
                            {{ prefillSource.nodeInfo.label(app.request.locale) }}
                            <br>
                            <small class="text-muted">{{ prefillSource.person }} ({{ prefillSource.role }})</small>
                        </td>
                        {% for answer in prefillSource.answers %}
                            <td>{{ answer.info.label(app.request.locale) }} {% if answer.input.hasScore %}(score: {{ kul_form_localizedChoiceOptionScoringValueNumberFormat(answer, app.request.locale) }}) {% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endmacro %}
