{% macro render(nodeFormView, showPositionNumbers) %}

   {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
   {{ label_macros.renderInLeftSideColumn(nodeFormView, showPositionNumbers) }}

   {% set wrapperClass = 'col-sm-8' %}
   {% if nodeFormView.vars.matrix_view %}
      {% set wrapperClass = 'col-sm-12' %}
      {% if nodeFormView.vars.required %}
         {% set wrapperClass = 'col-sm-11' %}
      {% endif %}
   {% endif %}

   <div class="{{ wrapperClass }}">
      {{ form_widget(nodeFormView) }}
       <div class="text-muted"><small>{{ nodeFormView.vars.format_mask}}</small></div>
   </div>
   <script language="JavaScript">
      document.addEventListener('DOMContentLoaded', function () {
         $( "#{{ nodeFormView.vars.id }}" ).datepicker({ dateFormat: '{{ nodeFormView.vars.format_mask}}' });
      });
   </script>

{% endmacro %}