{# @var scoringParameters \KUL\FormBundle\Domain\Template\Element\Node\Scoring\ScoringParameters #}
{% macro renderInLeftSideColumn(nodeFormView, showPositionNumbers) %}
    {% import _self as self_macros %}
    {# renders the input item's label in a col-sm-3 (for use aside input in its own col-sm-8) #}
    {{ self_macros.renderLabelWithColSize(nodeFormView, 3, showPositionNumbers) }}
{% endmacro %}

{% macro renderLabelWithColSize(nodeFormView, colSize, showPositionNumbers) %}
    {% if not nodeFormView.vars.matrix_view %}
        <div class="col-sm-{{ colSize }}">
            {% if showPositionNumbers %}
                <div class="row">
                    <div class="col-sm-3">
                        <span class="label label-info">{{ nodeFormView.vars.position }}</span>
                    </div>
                    <div class="col-sm-9">
                        <label for="{{ nodeFormView.vars.id }}" class="col-sm-12 control-label pb5 {% if nodeFormView.vars.required %}required {% endif %}">
                             {{ nodeFormView.vars.label|sanitize_html_custom }}
                        </label>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <label for="{{ nodeFormView.vars.id }}" class="col-sm-12 control-label pb5 {% if nodeFormView.vars.required %}required {% endif %}">
                        {{ nodeFormView.vars.label|sanitize_html_custom }}
                    </label>
                </div>
            {% endif %}

            {% if nodeFormView.vars.node_input_type == 'choice' and nodeFormView.vars.show_extrema_score_values and nodeFormView.vars.scoring_parameters is not null %}
                {% set scoringParameters = nodeFormView.vars.scoring_parameters %}
                {% set scale = scoringParameters.hasScale ? scoringParameters.getScale : null %}
                {% set roundingMode = scoringParameters.hasRoundingMode ? scoringParameters.hasRoundingMode : null %}
                {% set extremas = []  %}
                {% if scoringParameters.hasMinScore %}
                    {% set extremas = extremas|merge(['min. score:' ~ kul_form_localizedNumberFormat(scoringParameters.getMinScore, app.request.locale, null, scale, roundingMode)]) %}
                {% endif %}
                {% if scoringParameters.hasMaxScore %}
                    {% set extremas = extremas|merge(['max. score:' ~ kul_form_localizedNumberFormat(scoringParameters.getMaxScore, app.request.locale, null, scale, roundingMode)]) %}
                {% endif %}
                {% if extremas|length > 0 %}
                    <div class="row">
                        <div class="col-sm-12 text-muted text-right pb5 pr15 pt0">
                            <small>
                                ({{ extremas|join(' | ') }})
                            </small>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
