{% macro render(nodeFormView, showPositionNumbers) %}
    {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
    {{ label_macros.renderInLeftSideColumn(nodeFormView, showPositionNumbers) }}

    {% set numberInputPlaceholder = null %}
    {% if nodeFormView.vars.placeholder is defined %}
        {% set numberInputPlaceholder = nodeFormView.vars.placeholder %}
    {% elseif nodeFormView.vars.attr['placeholder'] is defined %}
        {% set numberInputPlaceholder = nodeFormView.vars.attr['placeholder'] %}
    {% endif %}
    {% set showAutoCalculateBtn = false %}
    {% set allowNonAutoCalculatedValue = true %}
    {% if nodeFormView.vars.is_global_score_node and nodeFormView.vars.show_auto_calculate_btn is defined and nodeFormView.vars.show_auto_calculate_btn %}
        {% set showAutoCalculateBtn = true %}
        {% if nodeFormView.vars.allow_non_auto_calculated_value is defined %}
            {% set allowNonAutoCalculatedValue = nodeFormView.vars.allow_non_auto_calculated_value %}
        {% endif %}
    {% endif %}

    {% set useMinAddon = nodeFormView.vars.attr['use_min_addon'] is defined and nodeFormView.vars.attr['use_min_addon'] and nodeFormView.vars.attr['min'] is defined %}
    {% set useMaxAddon = nodeFormView.vars.attr['use_max_addon'] is defined and nodeFormView.vars.attr['use_max_addon'] and nodeFormView.vars.attr['max'] is defined %}

    {% set wrapperClass = 'col-sm-4 col-md-3 col-lg-2' %}

    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-md-12' %}
        {% if showAutoCalculateBtn %}{% set wrapperClass = 'col-md-12 mb10' %}{% endif %}
    {% elseif useMinAddon and useMaxAddon %}
        {# if both the 'min' and 'max' addons are attached to the number input field, take they up a lot of the provided bootstrap col-space
            (especially on bigger screens) and as a consequence can make the remainder part of the input (to fill in a number answer) so small
            that it becomes not visible anymore. so if both addons are to be shown, we increase the width of the whole input to be sure.
            It also depends a bit on whether a large scale (number of decimals) - 2 or higher - is configured for (the answers on) this number question,
            but keeping it simple with only ckecking addons #}
        {% set wrapperClass = 'col-sm-4 col-md-3 col-lg-3' %}
    {% endif %}

    <div class="{{ wrapperClass }}">
        <div class="input-group">
            {% if useMinAddon %}
                <span class="input-group-addon">
                    {{ kul_form_localizedNumberFormat(nodeFormView.vars.attr['min'], app.request.locale, null, nodeFormView.vars.number_scale, nodeFormView.vars.number_rounding_mode) }}/
                </span>
            {% endif %}
            <input type="text" name="{{ nodeFormView.vars.full_name }}" id="{{ nodeFormView.vars.id }}"
                   {% if not allowNonAutoCalculatedValue %}readonly="readonly"{% endif %}
                   class="form-control {% if not nodeFormView.vars.valid %}errortje{% endif %}"
                    {% if nodeFormView.vars.data is not null %}
                        {# format number with minimum scale (not exact scale). if the number value comes from storage
                          as a previuously temporary saved value (which is allowed to have too many decimals), or it
                          comes from a final submit action that returned with validation error (too many decimals),
                          then we don't show that number rounded to the scale configured by the question: users need to
                          see the temp save value that was once stored or see the invalid number they tried submitting.
                          it is up to the user to then adjust/correct the number with decimals of their choosing and
                          not exceeding the scale configured by the question, before they final submit it.
                          if the number value comes from storage as a previously final submitted value, then it will
                          have been validated (and thus rounded) on the allowed scale when it was submitted & stored:
                          the amount of decimals will not exceed the allowed scale, so using the configured scale as
                          minimal scale instead of exact scale does not matter then; no further rounding will happen. #}
                        value="{{ kul_form_localizedNumberFormat(nodeFormView.vars.data, app.request.locale, nodeFormView.vars.number_scale, null, nodeFormView.vars.number_rounding_mode) }}"
                    {% endif %}
                    {% if numberInputPlaceholder is not null %}placeholder="{{ numberInputPlaceholder }}"{% endif %}>
            {% if useMaxAddon %}
                <span class="input-group-addon">
                    /{{ kul_form_localizedNumberFormat(nodeFormView.vars.attr['max'], app.request.locale, null, nodeFormView.vars.number_scale, nodeFormView.vars.number_rounding_mode) }}
                </span>
            {% endif %}
        </div>
    </div>
    {% if showAutoCalculateBtn %}
        {% import "@KULForm/embed/form/node/input/auto_calculation_macros.html.twig" as auto_calculation_macros %}
        <div class="col-sm-4 col-md-3 col-lg-2">
            {{ auto_calculation_macros.renderAutoCalculateButton(nodeFormView) }}
        </div>
    {% else %}
        <div class="col-sm-4">&nbsp;</div>
    {% endif %}
{% endmacro %}
