{% macro render(nodeFormView, showPositionNumbers) %}
    {% import _self as self_macros %}
    {% if nodeFormView.vars.node_input_form_type == 'ku_form_text' %}
        {{ self_macros.renderAsText(nodeFormView, showPositionNumbers) }}
    {% elseif nodeFormView.vars.node_input_form_type == 'ku_form_textarea' %}
        {{ self_macros.renderAsTextarea(nodeFormView, showPositionNumbers) }}
    {% endif %}
{% endmacro %}

{% macro renderAsText(nodeFormView, showPositionNumbers) %}
    {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
    {{ label_macros.renderInLeftSideColumn(nodeFormView, showPositionNumbers) }}

    {% set wrapperClass = 'col-sm-8' %}
    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-sm-12' %}
    {% endif %}

    <div class="{{ wrapperClass }}">
        {% set rawValue = nodeFormView.vars.data|kul_form_decode_html_entities %}

        {{ form_widget(nodeFormView, {'attr': {
            'kfb-prefill-with': nodeFormView.vars.prefill_with,
            'value': rawValue
        }}) }}
        {% if nodeFormView.vars.prefill_with is defined and nodeFormView.vars.prefill_with is not empty %}
            <span class="help-block m-t-5 text-muted">
                &gt;
            <a href="#" data-node-id="#{{ nodeFormView.vars.id}}" class="prefill-button">
                {{ 'fields.textType.prefill.linkText'|trans({}, 'kulFormBase') }}
            </a>
        </span>
        {% endif %}
    </div>
{% endmacro %}

{% macro renderAsTextarea(nodeFormView, showPositionNumbers) %}
    {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
    {{ label_macros.renderInLeftSideColumn(nodeFormView, showPositionNumbers) }}

    {% set wrapperClass = 'col-sm-8' %}
    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-sm-12' %}
    {% endif %}

    <div class="{{ wrapperClass }}">
        <div>
            {% set textAreaPlaceholder = (nodeFormView.vars.attr.placeholder is defined and nodeFormView.vars.attr.placeholder is not null) ? nodeFormView.vars.attr.placeholder : '' %}
            {% set rawValue = nodeFormView.vars.data|kul_form_decode_html_entities %}
            {# is a wysiwyg is used, the autogrow (class grow-wrap) will mess up the rendering, adding a big empty space above the wysiwyg. hence, only add the autogrow if no wysiwyg is used #}
            {% if nodeFormView.vars.use_wysiwyg %}
                <div>
                    {{ form_widget(nodeFormView, {
                        'attr' :
                        {
                            'class' : 'wysiwygCKEditor5',
                            'placeholder' : textAreaPlaceholder,
                            'kfb-prefill-with': nodeFormView.vars.prefill_with,
                        },
                        'value': rawValue
                    }) }}
                </div>
            {% else %}
                <div class="grow-wrap" data-replicated-value="{{ rawValue }}">
                    {{ form_widget(nodeFormView, {
                        'attr' :
                        {
                            'class' : 'plain-old',
                            'placeholder' : textAreaPlaceholder,
                            'kfb-prefill-with': nodeFormView.vars.prefill_with,
                            'onInput': 'this.parentNode.dataset.replicatedValue = this.value'
                        },
                        'value': rawValue
                    }) }}
                </div>
            {% endif %}

        </div>

        {% if nodeFormView.vars.prefill_with is defined and nodeFormView.vars.prefill_with is not empty %}
            <span class="help-block m-t-5 text-muted">
                &gt;
            <a href="#" data-node-id="#{{ nodeFormView.vars.id }}" class="prefill-button">
                {{ 'fields.textType.prefill.linkText'|trans({}, 'kulFormBase') }}
            </a>
        </span>
        {% endif %}
        {% if nodeFormView.vars.has_predefined_answers %}
            <span class="help-block m-t-5 text-muted">
                &gt;
                <a href="#" data-target="#add-predefined-answers-modal-{{ nodeFormView.vars.id }}" data-toggle="modal">
                    {{ 'fields.textType.predefinedAnswers.linkText'|trans({}, 'kulFormBase') }}
                </a>
            </span>

            {# this is almost entirely copied from the mockup, see GBMEQA-1021 #}
            <div class="modal fade modal-3d-flip-vertical" id="add-predefined-answers-modal-{{ nodeFormView.vars.id }}"
                 aria-labelledby="pre-defined-answers" role="dialog" tabindex="-1" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">{{ 'fields.textType.predefinedAnswers.modalTitle'|trans({}, 'kulFormBase') }}</h4>
                        </div>
                        <div class="modal-body">

                            <table class="table m-t-40">
                                <tbody>
                                {% for predefinedAnswer in nodeFormView.vars.predefined_answers %}
                                    <tr>
                                        <td class="text-top">
                                            <!--For IE compatibility reasons I removed the checkbox-custom class untill we find a better solution -->
                                            <span class="checkbox-primary">
                                                <label>
                                                    <input
                                                            type="checkbox"
                                                            class="contacts-checkbox selectable-item"
                                                            value="{{ predefinedAnswer }}"
                                                    >
                                                </label>
                                            </span>
                                        </td>
                                        <td class="text-top">{{ predefinedAnswer }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button
                                    type="button"
                                    class="btn btn-primary margin-0 fill-answer-button"
                                    data-dismiss="modal"
                            >
                                {{ 'fields.textType.predefinedAnswers.add'|trans({}, 'kulFormBase') }}
                            </button>
                            <button type="button" class="btn btn-default margin-0" data-dismiss="modal">
                                {{ 'fields.textType.predefinedAnswers.closeModal'|trans({}, 'kulFormBase') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
              document
                .getElementById('add-predefined-answers-modal-{{ nodeFormView.vars.id }}')
                .querySelector('.fill-answer-button')
                .addEventListener('click', () => {
                  document.getElementById('add-predefined-answers-modal-{{ nodeFormView.vars.id }}')
                    .querySelectorAll('input:checked').forEach(input => {
                      const textBox = document.querySelector("[name='{{ nodeFormView.vars.id }}']");
                      if (textBox.value && !textBox.value.endsWith('\n')) {
                        textBox.value += "\n";
                      }
                      textBox.value += `${input.value}\n\n`;
                      input.checked = false;
                    });
                  });
            </script>
        {% endif %}

    </div>


{% endmacro %}
