{% macro render(nodeFormView,fileUrls,showPositionNumbers) %}
    {% import "@KULForm/embed/form/node/input/input_node_label_macros.html.twig" as label_macros %}
    {{ label_macros.renderInLeftSideColumn(nodeFormView, showPositionNumbers) }}

    {% set submittedNodeFiles = nodeFormView.vars.node_submitted_files %}

    {% set wrapperClass = 'col-sm-8' %}
    {% if nodeFormView.vars.matrix_view %}
        {% set wrapperClass = 'col-sm-12' %}
    {% endif %}

    <div class="{{ wrapperClass }}">
        {# RENDER HIDDEN FIELD WITH CONCATENATED STRING OF SUBMITTED/TEMPSAVED FILE UIDS (IF ANY) #}

        <input type="text"
               name="{{ nodeFormView.vars.full_name }}"
               id="{{ nodeFormView.vars.id }}"
               class="hidden"
               value="{% if nodeFormView.vars.data is not empty and not submittedNodeFiles.isEmpty() %}{{ nodeFormView.vars.data }}{% endif %}"
        />

        {# RENDER UPLOAD BUTTON WITH SUBMITTED/TEMPSAVED FILES (IF ANY) #}
        {% include "@KULForm/embed/upload/uploadButton.html.twig" with {
            'nodeUid': nodeFormView.vars.full_name,
            'urls': fileUrls,
        } %}

        <div class="{% if not nodeFormView.vars.valid %}errortje{% endif %}" style="padding: 5px; margin-top: 5px;">
            {# RENDER TABLE WITH SUBMITTED/TEMPSAVED FILES (IF ANY) #}
            {% include "@KULForm/embed/upload/table.html.twig" with {
                'nodeUid': nodeFormView.vars.full_name,
                'submittedNodeFiles': submittedNodeFiles,
                'allowManage': true,
                'urls': fileUrls,
            } %}
        </div>
    </div>
{% endmacro %}
