<template>
  <FormCard id="LabelRoleConfigsToNotifyOfStart" class="p-4">
    <h1>Specifieke berichten bij verzenden formulier</h1>
  </FormCard>

  <div class="pt-4">
    <div v-for="(roleMessage, i) in payload.messages" :key="i">
      <div v-if="i === selectedIndex">
        <!-- edit modus of a selected message -------------------------------------------------------------------- -->
        <div class="flex flex-row">
          <div class="basis-3/12 mr-4 text-left">Selecteer rol(len)</div>
          <div class="basis-8/12 pr-4">
            <MultiSelect
              v-model="selectedRoles"
              :max-selected-labels="5"
              class="w-full"
              :options="availableRoles"
              option-label="label"
            />
          </div>
          <div class="basis-1/12">
            <Button
              data-cy="btnDeleteStep"
              icon="pi pi-trash"
              class="w-full"
              severity="danger"
              label=""
              @click="deleteMessage(i, $event)"
            />
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <div class="basis-1/4 mr-4 text-left">
            Editeer bericht
            <span>
              <Badge
                :value="selectedMessage.language"
                class="p-badge-warning"
                data-cy="activeLanguageBadge"
              />
            </span>
          </div>
          <div class="basis-3/4">
            <TextEditor
              v-model="selectedMessage.message"
              :height="100"
            ></TextEditor>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 mr-4">&nbsp;</div>
          <div class="basis-3/4">
            <div class="flex gap-2">
              <div>
                <Button
                  class="w-full"
                  severity="success"
                  icon="pi pi-save"
                  label="Bewaar"
                  @click="saveMessage(i)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <!-- view modus of a role message ------------------------------------------------------------------------ -->
        <div class="flex flex-row">
          <div class="basis-3/12 mr-4 text-left text-sm text-gray-500">
            Rol(len)
          </div>
          <div class="basis-8/12 flex gap-2">
            <div v-for="role in roleMessage.roles" :key="role.label">
              <div class="px-4 py-0.5 bg-gray-200 rounded-full">
                {{ role.label }}
              </div>
            </div>
          </div>
          <div class="basis-1/12">
            <div class="flex gap-4 float-right">
              <div
                class="hover:bg-blue-700 px-3 py-1 rounded-full hover:text-white"
                @click="editMessage(i)"
              >
                <i class="pi pi-pencil cursor-pointer"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 mr-4 text-left text-sm text-gray-500">
            <div>{{ props.config.label }}</div>
            <div class="mt-2">
              <ActiveLanguageBadge></ActiveLanguageBadge>
            </div>
          </div>
          <div class="basis-3/4">
            <div
              v-html="
                getMessageByIndexAndLanguage(i, languageStore.activeLanguage)
              "
            ></div>
          </div>
        </div>
      </div>
      <!-- -- separator -->
      <hr class="mt-4 mb-4" />
    </div>

    <div v-if="!allRolesAreUsed">
      <div class="flex">
        <div class="basis-1/4 mr-4 text-right">&nbsp;</div>
        <div class="basis-3/4">
          <Button
            icon="pi pi-plus"
            class="w-full"
            severity="secondary"
            :label="'Voeg bericht toe'"
            @click="addRoleMessage"
          />
        </div>
      </div>
      <hr v-if="showSaveButton" class="mt-4" />
    </div>

    <!-- -- save button -->
    <div class="flex flex-row mt-4">
      <div class="basis-1/4 mr-4">&nbsp;</div>
      <div class="basis-3/4">
        <Button
          v-if="!isSaving"
          data-cy="btnSaveRoleSubmitSuccessMessages"
          :disabled="!changed || !showSaveButton"
          class="w-full"
          severity="success"
          icon="pi pi-save"
          label="Bewaar"
          @click="saveSubmitMessages"
        />
        <Button
          v-else
          :disabled="true"
          class="w-full"
          severity="success"
          icon="pi pi-spin pi-spinner"
          label="Bewaar"
        />
      </div>
    </div>

    <ConfirmPopup></ConfirmPopup>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { useFormStore } from "@/stores/form.ts";
import { useLanguageStore } from "@/stores/language.ts";
import { computed, ref, toRef } from "vue";
import type { RoleSummary } from "@/api/queries/types/formTypes.ts";
import { renderRoleLabel } from "@/functions/roles.ts";
import { useConfirm } from "primevue/useconfirm";
import type {
  RoleMessage,
  RoleMessageTranslation,
} from "@/api/commands/UpdateWorkflowStepRoleTexts.ts";
import { useUpdateWorkflowStepRoleTexts } from "@/api/commands/UpdateWorkflowStepRoleTexts.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useWorkflowStore } from "@/stores/workflow.ts";
import { Step } from "@/api/queries/types/workflowTypes.ts";
import { EditorConfig } from "@/components/formBuilder/formWorkflow/detail/common/EditorConfiguration.ts";

const props = defineProps<{ step: Step; config: EditorConfig }>();

const formStore = useFormStore();
const languageStore = useLanguageStore();
const confirm = useConfirm();
const workflowStore = useWorkflowStore();

const selectedIndex = ref<number>(-1);
const selectedMessage = ref<RoleMessageTranslation>({
  language: "en",
  message: "",
});
const selectedRoles = ref<Array<RoleSummary>>([]);

// ---------------------------------------------------------------------------------------------------------------------
// sending the command back to the backend (complex object)
// ---------------------------------------------------------------------------------------------------------------------

const { payload, command, changed, executeCommand } =
  useUpdateWorkflowStepRoleTexts(toRef(props, "step"), toRef(props, "config"));

const isSaving = ref<boolean>(false);

async function saveSubmitMessages() {
  isSaving.value = true;
  await executeCommand();
  await workflowStore.reloadStep();
  isSaving.value = false;
}

const showSaveButton = computed(() => {
  return selectedIndex.value === -1;
});

// ---------------------------------------------------------------------------------------------------------------------
// multiple editor functions
// ---------------------------------------------------------------------------------------------------------------------

function addRoleMessage() {
  const _translatedMessage: RoleMessageTranslation = {
    language: languageStore.activeLanguage.toString(),
    message: "",
  };
  const _roleMessage: RoleMessage = {
    roles: [],
    translations: [_translatedMessage],
  };
  payload.value.messages.push(_roleMessage);
  editMessage(payload.value.messages.length - 1);
}

function editMessage(index: number): void {
  if (payload.value.messages[index]) {
    selectedIndex.value = index;
    const _roleMessage = payload.value.messages[index];
    selectedRoles.value = _roleMessage.roles;
    for (const _message of _roleMessage.translations) {
      if (_message.language === languageStore.activeLanguage) {
        selectedMessage.value = _message;
        break;
      }
    }
  } else {
    selectedIndex.value = -1;
  }
}

function saveMessage(index: number): void {
  // put back the information
  // - not needed for message -> two way binding
  // - needed for putting back the selected roles...
  const _currentItem = payload.value.messages[index];
  _currentItem.roles = selectedRoles.value;
  selectedIndex.value = -1;
}

function deleteMessage(index: number, event: MouseEvent): void {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message: "Ben je zeker dat je deze tekst wil verwijderen ?",
    icon: "pi pi-exclamation-triangle",
    acceptLabel: "Ja",
    rejectLabel: "Nee",
    acceptIcon: "pi pi-check",
    rejectIcon: "pi pi-times",
    accept: () => {
      deleteMessageHandler(index);
    },
    reject: () => {
      // callback to execute when user rejects the action
    },
  });
}

function deleteMessageHandler(index: number): void {
  payload.value.messages.splice(index, 1);
  selectedIndex.value = -1;
}

function getMessageByIndexAndLanguage(index: number, language: string) {
  const _currentMessages = payload.value.messages[index].translations;
  let _foundMessage = false;
  for (const _message of _currentMessages) {
    if (_message.language === language) {
      _foundMessage = true;
      return _message.message;
    }
  }
  if (!_foundMessage) {
    const _newLanguageMessage: RoleMessageTranslation = {
      language: languageStore.activeLanguage.toString(),
      message: "",
    };
    _currentMessages.push(_newLanguageMessage);
    return _newLanguageMessage;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// computed properties
// ---------------------------------------------------------------------------------------------------------------------

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const allRolesAreUsed = computed((): boolean => {
  let _foundRoles: Array<RoleSummary> = [];
  let _availableRoles: Array<RoleSummary> = [];
  for (const _roleMessage of payload.value.messages) {
    for (const _role of _roleMessage.roles) {
      _foundRoles.push(_role);
    }
  }
  for (const _formRole of formRoles.value) {
    let _isFoundRole = false;
    for (const _foundRole of _foundRoles) {
      if (_formRole.role === _foundRole.role) {
        _isFoundRole = true;
      }
    }
    if (!_isFoundRole) {
      _availableRoles.push(_formRole);
    }
  }
  return _availableRoles.length === 0;
});

const availableRoles = computed(() => {
  let _foundRoles = [];
  let _availableRoles = [];
  let _index = 0;
  for (const _roleMessage of payload.value.messages) {
    if (_index !== selectedIndex.value) {
      for (const _role of _roleMessage.roles) {
        _foundRoles.push(_role);
      }
    }
    _index++;
  }
  for (const _formRole of formRoles.value) {
    let _isFoundRole = false;
    for (const _foundRole of _foundRoles) {
      if (_formRole.role === _foundRole.role) {
        _isFoundRole = true;
      }
    }
    if (!_isFoundRole) {
      _availableRoles.push(_formRole);
    }
  }
  return _availableRoles;
});
</script>
