<template>
  <div>
    <div v-for="(roleConfig, i) in payload.configs" :key="i">
      <div v-if="i === selectedIndex">
        <!-- edit modus of a selected message -------------------------------------------------------------------- -->
        <div class="flex flex-row">
          <div class="basis-3/12 mr-4 pt-2 text-left">Selecteer rol(len)</div>
          <div class="basis-8/12">
            <MultiSelect
              v-model="selectedRoles"
              :max-selected-labels="5"
              class="w-full"
              :options="availableRoles"
              placeholder="Selecteer rollen"
              option-label="label"
            />
          </div>
          <div class="basis-1/12 pl-2">
            <Button
              class="w-full"
              severity="danger"
              icon="pi pi-trash"
              @click="deleteConfig(i, $event)"
            />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 mr-4 pt-2 text-left">Editeer offset</div>
          <div class="basis-3/4">
            <input-number v-model="selectedOffset" :show-buttons="true" />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 mr-4">&nbsp;</div>
          <div class="basis-3/4">
            <div class="flex gap-2">
              <div>
                <Button
                  class="w-full"
                  severity="success"
                  icon="pi pi-save"
                  label="Bewaar"
                  @click="saveConfig(i)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <!-- view modus of a role message ------------------------------------------------------------------------ -->
        <div class="flex flex-row">
          <div class="basis-3/12 mr-4 text-left text-sm text-gray-500">
            Rol(len)
          </div>
          <div class="basis-8/12 flex gap-2">
            <div v-for="role in roleConfig.roles" :key="role.label">
              <div class="px-4 py-0.5 bg-gray-200 rounded-full">
                {{ role.label }}
              </div>
            </div>
          </div>
          <div class="basis-1/12">
            <div class="flex gap-4 float-right">
              <div
                class="hover:bg-blue-700 px-3 py-1 rounded-full hover:text-white"
                @click="editConfig(i)"
              >
                <i class="pi pi-pencil cursor-pointer"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="basis-1/4 mr-4 text-left text-sm text-gray-500">
            <div>{{ props.config.label }}</div>
          </div>
          <div class="basis-3/4">
            <div>{{ roleConfig.offset }}</div>
          </div>
        </div>
      </div>
      <!-- -- separator -->
      <hr class="mt-4 mb-4" />
    </div>

    <div v-if="!allRolesAreUsed">
      <div class="flex">
        <div class="basis-1/4 mr-4 text-right">&nbsp;</div>
        <div class="basis-3/4">
          <Button
            icon="pi pi-plus"
            class="w-full"
            severity="secondary"
            :label="'Voeg configuratie toe'"
            @click="addRoleConfig"
          />
        </div>
      </div>
      <hr v-if="showSaveButton" class="mt-4" />
    </div>

    <!-- -- save button -->
    <div class="flex flex-row mt-4">
      <div class="basis-1/4 mr-4">&nbsp;</div>
      <div class="basis-3/4">
        <Button
          v-if="!isSaving"
          data-cy="btnSaveRoleOffsetConfigs"
          :disabled="!changed || !showSaveButton"
          class="w-full"
          severity="success"
          icon="pi pi-save"
          label="Bewaar configuratie"
          @click="saveConfigs"
        />
        <Button
          v-else
          :disabled="true"
          class="w-full"
          severity="success"
          icon="pi pi-spin pi-spinner"
          label="Bewaar configuratie"
        />
      </div>
    </div>

    <ConfirmPopup></ConfirmPopup>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form.ts";
import { computed, ref, toRef } from "vue";
import type { RoleSummary } from "@/api/queries/types/formTypes.ts";
import { renderRoleLabel } from "@/functions/roles.ts";
import { useConfirm } from "primevue/useconfirm";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useWorkflowStore } from "@/stores/workflow.ts";
import type { OffsetConfig } from "@/api/commands/UpdateWorkflowStepRoleOffsetConfigs.ts";
import { useUpdateWorkflowStepRoleOffsetConfigs } from "@/api/commands/UpdateWorkflowStepRoleOffsetConfigs.ts";
import { Step } from "@/api/queries/types/workflowTypes.ts";
import { OffsetEditorConfig } from "@/components/formBuilder/formWorkflow/detail/common/EditorConfiguration.ts";

const props = defineProps<{ step: Step; config: OffsetEditorConfig }>();

const formStore = useFormStore();
const confirm = useConfirm();
const workflowStore = useWorkflowStore();

const selectedIndex = ref<number>(-1);
const selectedRoles = ref<Array<RoleSummary>>([]);
const selectedOffset = ref<number>(0);

// ---------------------------------------------------------------------------------------------------------------------
// sending the command back to the backend (complex object)
// ---------------------------------------------------------------------------------------------------------------------

const { payload, command, changed, executeCommand } =
  useUpdateWorkflowStepRoleOffsetConfigs(
    toRef(props, "step"),
    toRef(props, "config"),
  );

const isSaving = ref<boolean>(false);

async function saveConfigs() {
  isSaving.value = true;
  await executeCommand();
  await workflowStore.reloadStep();
  isSaving.value = false;
}

const showSaveButton = computed(() => {
  return selectedIndex.value === -1;
});

// ---------------------------------------------------------------------------------------------------------------------
// multiple editor functions
// ---------------------------------------------------------------------------------------------------------------------

function addRoleConfig() {
  const _offsetConfig: OffsetConfig = {
    roles: [],
    offset: 1,
  };
  payload.value.configs.push(_offsetConfig);
  editConfig(payload.value.configs.length - 1);
}

function editConfig(index: number): void {
  if (payload.value.configs[index]) {
    selectedIndex.value = index;
    selectedOffset.value = payload.value.configs[index].offset;
    selectedRoles.value = payload.value.configs[index].roles;
  } else {
    selectedIndex.value = -1;
  }
}

function saveConfig(index: number): void {
  const _currentItem = payload.value.configs[index];
  _currentItem.roles = selectedRoles.value;
  _currentItem.offset = selectedOffset.value;
  selectedIndex.value = -1;
  selectedRoles.value = [];
  selectedOffset.value = 0;
}

function deleteConfig(index: number, event: MouseEvent): void {
  confirm.require({
    target: event.currentTarget as HTMLElement,
    message: "Ben je zeker dat je deze configuratie wil verwijderen ?",
    icon: "pi pi-exclamation-triangle",
    acceptLabel: "Ja",
    rejectLabel: "Nee",
    acceptIcon: "pi pi-check",
    rejectIcon: "pi pi-times",
    accept: () => {
      deleteConfigHandler(index);
    },
    reject: () => {
      // callback to execute when user rejects the action
    },
  });
}

function deleteConfigHandler(index: number): void {
  payload.value.configs.splice(index, 1);
  selectedIndex.value = -1;
}

// ---------------------------------------------------------------------------------------------------------------------
// computed properties
// ---------------------------------------------------------------------------------------------------------------------

const formRoles = computed<RoleSummary[]>(() =>
  formStore.form.rolesThatCouldParticipate.map((role) => ({
    role: role,
    label: renderRoleLabel(role),
  })),
);

const allRolesAreUsed = computed((): boolean => {
  let _foundRoles: Array<RoleSummary> = [];
  let _availableRoles: Array<RoleSummary> = [];
  for (const _roleConfig of payload.value.configs) {
    for (const _role of _roleConfig.roles) {
      _foundRoles.push(_role);
    }
  }
  for (const _formRole of formRoles.value) {
    let _isFoundRole = false;
    for (const _foundRole of _foundRoles) {
      if (_formRole.role === _foundRole.role) {
        _isFoundRole = true;
      }
    }
    if (!_isFoundRole) {
      _availableRoles.push(_formRole);
    }
  }
  return _availableRoles.length === 0;
});

const availableRoles = computed(() => {
  let _foundRoles = [];
  let _availableRoles = [];
  let _index = 0;
  for (const _roleConfig of payload.value.configs) {
    if (_index !== selectedIndex.value) {
      for (const _role of _roleConfig.roles) {
        _foundRoles.push(_role);
      }
    }
    _index++;
  }
  for (const _formRole of formRoles.value) {
    let _isFoundRole = false;
    for (const _foundRole of _foundRoles) {
      if (_formRole.role === _foundRole.role) {
        _isFoundRole = true;
      }
    }
    if (!_isFoundRole) {
      _availableRoles.push(_formRole);
    }
  }
  return _availableRoles;
});
</script>
