<template>
  <!-- generalSubmitSuccessMessage -->
  <div class="flex mt-2">
    <div class="flex-initial w-1/4 text-left pr-2 pt-2 mr-4">
      {{ props.config.label }}
      <ActiveLanguageBadge />
    </div>
    <div class="flex-initial w-3/4">
      <TextEditor v-model="payload.description" :height="props.config.height" />
    </div>
  </div>

  <!-- save button -->
  <div class="flex flex-row mt-3">
    <div class="basis-1/4 mr-4">&nbsp;</div>
    <div class="basis-3/4">
      <Button
        v-if="!isSaving"
        :disabled="!changed"
        data-cy="btnSaveWorkFlowSetting"
        class="w-full"
        severity="success"
        icon="pi pi-save"
        label="Bewaar"
        @click="saveSubmitMessage"
      />
      <Button
        v-else
        :disabled="true"
        class="w-full"
        severity="success"
        icon="pi pi-spin pi-spinner"
        label="Bewaar"
      />
    </div>
  </div>

  <CommandRenderer :command="command" />
</template>

<script setup lang="ts">
import TextEditor from "@/components/formBuilder/_general/TextEditor.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { ref, toRef } from "vue";
import { useUpdateWorkflowStepText } from "@/api/commands/UpdateWorkflowStepText.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useWorkflowStore } from "@/stores/workflow.ts";
import { Step } from "@/api/queries/types/workflowTypes.ts";
import { EditorConfig } from "@/components/formBuilder/formWorkflow/detail/common/EditorConfiguration.ts";

const props = defineProps<{
  step: Step;
  config: EditorConfig;
}>();

const workflowStore = useWorkflowStore();
const isSaving = ref<boolean>(false);

const { payload, command, changed, executeCommand } = useUpdateWorkflowStepText(
  toRef(props, "step"),
  toRef(props, "config"),
);

async function saveSubmitMessage() {
  isSaving.value = true;
  await executeCommand();
  await workflowStore.reloadStep();
  isSaving.value = false;
}
</script>
