<template>
  <div style="width: 700px" class="p-4">
    <div class="text-left" data-cy="lblAddItem">
      We voegen een <strong>{{ translatedAddType }}</strong> toe
    </div>

    <!-- source -->
    <div class="flex mt-4 mb-2">
      <div class="mr-2 ml-2 mt-1.5">
        <NodeTypeRenderer :type="addAndCopyStore.actionType" />
      </div>
      <div class="mr-2 mt-1.5">
        <ActiveLanguageBadge />
      </div>
      <div class="w-full">
        <div class="flex flex-row">
          <div class="basis-11/12">
            <Textarea
              id="textInputTitleAdd"
              v-model="label"
              data-cy="tiAddNode"
              fluid
              rows="1"
              :placeholder="questionPlaceholder"
              :auto-resize="autoResizeHack"
              :class="{ 'p-invalid': v$.label.$invalid }"
            >
            </Textarea>
          </div>
          <div class="basis-1/12 ml-2 mt-2">
            <i
              v-if="!v$.label.$invalid"
              class="pi pi-check-circle text-green-600"
            />
            <i
              v-if="v$.label.$invalid"
              class="pi pi-times-circle text-red-600"
            />
          </div>
        </div>
        <div
          v-if="addAndCopyStore.actionType === ActionType.add.matrix"
          class="flex flex-row mt-3"
        >
          <div class="basis-11/12">
            <Textarea
              id="textInputRowTitleAdd"
              v-model="firstRowLabel"
              class="w-full"
              rows="1"
              placeholder="Geef hier een titel voor de eerste rij op ..."
              :auto-resize="true"
              :class="{ 'p-invalid': v$.firstRowLabel?.$invalid }"
            >
            </Textarea>
          </div>
          <div class="basis-1/12 ml-2 mt-2">
            <i
              v-if="!v$.firstRowLabel?.$invalid"
              class="pi pi-check-circle text-green-600"
            />
            <i
              v-if="v$.firstRowLabel?.$invalid"
              class="pi pi-times-circle text-red-600"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="addAndCopyStore.actionType === ActionType.add.matrix"
      class="pb-2"
    >
      <div class="text-left mt-2 mb-3">
        Met een <strong>eerste vraag</strong> als kolom
      </div>
      <div class="flex flex-row mb-2">
        <div class="flex flex-row basis-11/12 items-center">
          <p class="mr-3">Vraagtype:</p>
          <Select
            v-model="firstQuestionType"
            class="w-full"
            :options="firstQuestionTypeOptions"
            option-label="name"
          />
        </div>
        <div class="basis-1/12"></div>
      </div>
      <div class="flex mt-3 mb-2">
        <div class="mr-2 ml-2 mt-1.5">
          <NodeTypeRenderer :type="firstQuestionType.type" />
        </div>
        <div class="mr-2 mt-1.5">
          <ActiveLanguageBadge />
        </div>
        <div class="w-full">
          <div class="flex flex-row">
            <div class="basis-11/12">
              <Textarea
                id="textInputFirstQuestionTitleAdd"
                v-model="firstQuestionLabel"
                class="w-full"
                rows="1"
                placeholder="Geef hier een titel voor de eerste vraag op ..."
                :auto-resize="true"
                :class="{ 'p-invalid': v$.firstQuestionLabel?.$invalid }"
              >
              </Textarea>
            </div>
            <div class="basis-1/12 ml-2 mt-2">
              <i
                v-if="!v$.firstQuestionLabel?.$invalid"
                class="pi pi-check-circle text-green-600"
              />
              <i
                v-if="v$.firstQuestionLabel?.$invalid"
                class="pi pi-times-circle text-red-600"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- permissions -->
    <div v-if="addAndCopyStore.actionType !== ActionType.add.category">
      <div class="flex flex-row mb-2">
        <div class="text-left mt-1.5 mr-2 mb-2">met deze permissies</div>
      </div>
      <div class="flex flex-row mb-2">
        <div class="flex flex-row basis-11/12">
          <Select
            v-model="selectedTemplate"
            placeholder="Kies hier de permissie template..."
            :show-clear="true"
            class="w-full"
            :options="permissionTemplates"
            option-label="name"
          />
        </div>
        <div class="basis-1/12"></div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-3/4 pt-2">
          <div class="text-sm text-gray-400">
            <i class="pi pi-info-circle"></i>
            &nbsp; Een <strong>permissie template</strong>
            (set van permissies) kan je makkelijk aanmaken, benoemen en bewaren
            vanaf de
            <strong>'Permissies'-tab</strong>
            bij eender welke bestaande vraag.
          </div>
        </div>
        <div class="basis-1/4">&nbsp;</div>
      </div>
    </div>

    <!-- where to add -->
    <div class="mt-4 mb-4 text-left">
      <div v-if="dragAndDropStore.droppedSelectedType === 'question'">
        <div class="flex w-16 mb-4">
          <div class="mr-2 text-xl">
            <font-awesome-icon icon="fa-solid fa-circle-chevron-down" />
          </div>
          <div class="mt-0.5"><strong>onder</strong></div>
        </div>
      </div>
      <div v-else-if="dragAndDropStore.droppedSelectedType === 'matrix'" else>
        <div class="flex w-16 mb-4">
          <div class="mr-2 text-xl">
            <font-awesome-icon icon="fa-solid fa-circle-chevron-right" />
          </div>
          <div class="mt-0.5"><strong>rechts</strong></div>
        </div>
      </div>
      <div v-else>
        <div class="flex w-5/12 mb-4">
          <div
            :class="aboveClass"
            class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
            @click="addAndCopyStore.insertDirection = 'above'"
          >
            <div class="mr-2 text-xl">
              <font-awesome-icon icon="fa-solid fa-circle-chevron-up" />
            </div>
            <div class="mt-0.5"><strong>boven</strong></div>
          </div>
          <div
            :class="inClass"
            class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
            @click="addAndCopyStore.insertDirection = 'in'"
          >
            <div class="mr-2 text-xl">
              <font-awesome-icon icon="fa-solid fa-circle-chevron-right" />
            </div>
            <div class="mt-0.5"><strong>binnen</strong></div>
          </div>
          <div
            :class="belowClass"
            class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
            @click="addAndCopyStore.insertDirection = 'below'"
          >
            <div class="mr-2 text-xl">
              <font-awesome-icon icon="fa-solid fa-circle-chevron-down" />
            </div>
            <div class="mt-0.5"><strong>onder</strong></div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="dragAndDropStore.droppedSelectedNode" class="flex mt-4 mb-2">
      <div class="mr-2">
        <PositionTagger
          :position="dragAndDropStore.droppedSelectedNode.position"
          class="drop-shadow-md"
          :tooltip="`id: ${dragAndDropStore.droppedSelectedNode.id} \nuid: ${dragAndDropStore.droppedSelectedNode.uid}`"
        />
      </div>
      <div class="mr-2 ml-2">
        <NodeTypeRenderer
          :type="dragAndDropStore.droppedSelectedNode.subType"
        />
      </div>
      <div class="mr-2">
        <ActiveLanguageBadge />
      </div>
      <div v-html="droppedSelectedNodeLabel" />
    </div>

    <!-- footer -->
    <Divider></Divider>
    <div class="flex justify-end">
      <div class="mx-4"><CommandRenderer :command="command" /></div>
      <div class="flex gap-2">
        <Button
          v-if="!isSaving"
          data-cy="btnCancelAddItem"
          label="Cancel"
          severity="secondary"
          icon="pi pi-times"
          @click="dragAndDropStore.resetStore"
        />
        <Button
          v-if="!isSaving"
          data-cy="btnAddItem"
          label="Maak item aan"
          :disabled="!isValid"
          severity="success"
          icon="pi pi-check"
          @click="add"
        />
        <Button
          v-else
          label="Maak item aan"
          disabled
          severity="success"
          icon="pi pi-spinner pi-spin"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { ActionType, useAddAndCopyStore } from "@/stores/addAndCopy";
import { useLanguageStore } from "@/stores/language";
import { computed, onMounted, ref } from "vue";
import NodeTypeRenderer from "@/components/formBuilder/formList/formListEditor/nodeRenderer/NodeTypeRenderer.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { usePermissionStore } from "@/stores/permissions";
import type { FlowPermissionTemplate } from "@/api/queries/types/permissionTypes";
import { useAddNodeCommand } from "@/api/commands/AddNode.ts";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import { useDragAndDropStore } from "@/stores/dragAndDropStore";
import { useAddMatrixQuestionCommand } from "@/api/commands/AddMatrixQuestion";
import Textarea from "primevue/textarea";
import {
  AllowedQuestionTypes,
  useAddMatrixCommand,
} from "@/api/commands/AddMatrix";

const formStore = useFormStore();
const addAndCopyStore = useAddAndCopyStore();
const dragAndDropStore = useDragAndDropStore();
const languageStore = useLanguageStore();
const permissionStore = usePermissionStore();

// Because of a bug in the primevue textarea component, we need to set autoresize after the component is mounted
// Otherwise the textarea will be very narrow until the user starts typing
// https://github.com/primefaces/primevue/issues/6270
const autoResizeHack = ref(false);

// -- mounting ----------------------------------------------------------------

onMounted((): void => {
  // autofocus the input field of the label
  let inputQuestion: HTMLElement | null =
    document.getElementById("textInputTitleAdd");
  if (inputQuestion) {
    inputQuestion.focus();
  }
  if (dragAndDropStore.droppedSelectedMatrixQuestion) {
    addAndCopyStore.insertDirection = "below";
  }
  autoResizeHack.value = true;
});

const label = ref("");
const selectedTemplate = ref<FlowPermissionTemplate>();

const firstRowLabel = ref<string>("");
const firstQuestionLabel = ref<string>("");

interface FirstQuestionTypeOption {
  type: AllowedQuestionTypes;
  name: string;
}
const firstQuestionTypeOptions: FirstQuestionTypeOption[] = [
  { type: "question_text", name: "tekstvraag" },
  { type: "question_choice", name: "keuzevraag" },
  { type: "question_number", name: "nummervraag" },
  { type: "question_date", name: "datumvraag" },
  { type: "question_upload", name: "uploadvraag" },
];
const firstQuestionType = ref<FirstQuestionTypeOption>({
  type: "question_text",
  name: "tekstvraag",
});

const { command, executeCommand, addNodeState } =
  dragAndDropStore.droppedSelectedNode !== undefined
    ? addAndCopyStore.actionType === ActionType.add.matrix
      ? useAddMatrixCommand(
          label,
          selectedTemplate,
          firstRowLabel,
          firstQuestionLabel,
          computed(() => firstQuestionType.value.type),
        )
      : useAddNodeCommand(label, selectedTemplate)
    : dragAndDropStore.droppedSelectedMatrixQuestion !== undefined
      ? useAddMatrixQuestionCommand(label, selectedTemplate)
      : {
          command: ref(),
          executeCommand: () => {},
          addNodeState: ref(),
        };

// -- validation and command executor ---------------------------------------

const isValid = computed(() => !v$.value.$invalid);
const rules = computed(() => {
  if (addAndCopyStore.actionType === ActionType.add.matrix) {
    return {
      label: {},
      firstRowLabel: { required },
      firstQuestionLabel: { required },
    };
  } else if (
    addAndCopyStore.actionType === ActionType.add.category ||
    addAndCopyStore.actionType == ActionType.add.readOnlyViewBasic
  ) {
    return {
      label: {},
    };
  } else {
    return {
      label: { required },
    };
  }
});

const v$ = useVuelidate(rules.value, addNodeState);
const isSaving = ref(false);

async function add() {
  if (!v$.value.$invalid) {
    isSaving.value = true;
    await executeCommand();
    isSaving.value = false;
    // -- close the dialog window
    dragAndDropStore.resetStore();
    // -- selected the highest node ID
    if (dragAndDropStore.droppedSelectedType !== "matrix") {
      await formStore.selectedHighestNodeId();
    }
  }
}

// -- computed properties -----------------------------------------------

const translatedAddType = computed<string>(() => {
  switch (addAndCopyStore.actionType) {
    case ActionType.add.category:
      return "categorie";
    case ActionType.add.matrix:
      return "tabel";
    case ActionType.add.questionText:
      return "tekstvraag";
    case ActionType.add.questionChoice:
      return "keuzevraag";
    case ActionType.add.questionNumber:
      return "nummervraag";
    case ActionType.add.questionDate:
      return "datumvraag";
    case ActionType.add.questionUpload:
      return "uploadvraag";
    case ActionType.add.readOnlyViewRadarChart:
      return "radar grafiek";
    case ActionType.add.readOnlyViewBasic:
      return "info node";
  }
  return "[onbekend type]";
});

const questionPlaceholder = computed<string>(() => {
  if (addAndCopyStore.actionType === ActionType.add.category) {
    return "Geef hier de categorie op...";
  } else if (addAndCopyStore.actionType === ActionType.add.matrix) {
    return "Geef hier een titel voor de tabel op...";
  } else if (addAndCopyStore.actionType === ActionType.add.readOnlyViewBasic) {
    return "Geef hier eventueel een titel op...";
  }
  return "Geef hier de vraag op...";
});

const permissionTemplates = computed<FlowPermissionTemplate[]>(() =>
  [
    {
      id: 0,
      name: "Geen permissies instellen (dat doe ik later)",
      contentHash: "",
      flowPermission: {},
    },
  ].concat(permissionStore.permissionTemplates),
);

const droppedSelectedNodeLabel = computed(() => {
  if (dragAndDropStore.droppedSelectedNode)
    return dragAndDropStore.droppedSelectedNode.info.label[
      languageStore.activeLanguage.toLowerCase()
    ];
  return "";
});

const aboveClass = computed(() => {
  if (addAndCopyStore.insertDirection == "above")
    return "bg-blue-700 text-white";
  return "";
});

const inClass = computed(() => {
  if (addAndCopyStore.insertDirection == "in") return "bg-blue-700 text-white";
  return "";
});

const belowClass = computed(() => {
  if (addAndCopyStore.insertDirection == "below")
    return "bg-blue-700 text-white";
  return "";
});
</script>
