<template>
  <div style="width: 700px" class="p-4">
    <form @submit.prevent="save">
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <!-- warning message: copy category with outside links                                                         -->
      <!-- --------------------------------------------------------------------------------------------------------- -->
      <Message
        v-if="addAndCopyStore.relationsOutsideCopiedCategory.length > 0"
        severity="warn"
        icon="pi pi-exclamation-triangle"
      >
        <p>
          <strong>Let op!</strong> Niet alle afhankelijkheden (unlocking, scores
          en vooraf ingevulde vragen) van de vragen in deze categorie kunnen mee
          worden gekopieerd.
        </p>
        <p>
          Met name de vragen die afhankelijk zijn, berekend of vooraf ingevuld
          worden op basis van vragen <strong>buiten</strong> de geselecteerde
          categorie.
        </p>
        <p>
          De afhankelijkheden binnen de categorie worden wel mee gekopieerd.
        </p>
      </Message>

      <!-- source -->
      <div class="text-left">
        <strong>We kopiëren</strong>
      </div>
      <div v-if="addAndCopyStore.copySelectedNode" class="flex mt-4 mb-2">
        <div class="mr-2 w-6">
          <PositionTagger
            :position="addAndCopyStore.copySelectedNode.position"
            :tooltip="`id: ${addAndCopyStore.copySelectedNode.id} \nuid: ${addAndCopyStore.copySelectedNode.uid}`"
          />
        </div>
        <div class="mr-2 ml-2 w-5">
          <NodeTypeRenderer :type="addAndCopyStore.copySelectedNode.subType" />
        </div>
        <div class="mr-2">
          <ActiveLanguageBadge />
        </div>
        <div v-html="copySelectedNodeLabel" />
      </div>

      <!-- input for the new question / category -->
      <div class="flex mt-4 mb-2">
        <div class="mr-2 ml-2 w-16 mt-1 text-right">
          <Button
            v-tooltip.left="'Kopieer de originele benaming.'"
            link
            @click="copyLabel()"
          >
            <i class="pi pi-copy"></i>
          </Button>
        </div>
        <div class="mr-2 mt-1.5">
          <ActiveLanguageBadge />
        </div>
        <div class="w-full">
          <div class="flex flex-row">
            <div class="basis-11/12">
              <Textarea
                id="textInputTitleCopy"
                v-model="label"
                class="w-full"
                rows="1"
                :placeholder="questionPlaceholder"
                :auto-resize="true"
                :class="{ 'p-invalid': v$.label.$invalid }"
              >
              </Textarea>
            </div>
            <div class="basis-1/12 ml-2 mt-2">
              <i
                v-if="!v$.label.$invalid"
                class="pi pi-check-circle text-green-600"
              />
              <i
                v-if="v$.label.$invalid"
                class="pi pi-times-circle text-red-600"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- met deze permissies -->
      <div>
        <strong>met deze permissies</strong>
      </div>
      <div class="flex flex-row mt-4">
        <div class="basis-1/6 text-right mt-1.5"></div>
        <div class="basis-5/6">
          <div class="flex flex-row">
            <div class="basis-11/12">
              <Select
                id="permissionTemplateSelect"
                v-model="selectedTemplate"
                placeholder="Kies hier de permissie template..."
                :show-clear="true"
                class="w-full"
                :options="permissionTemplates"
                option-label="name"
              />
            </div>
            <div class="basis-1/12 ml-3">&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-2">
        <div class="basis-1/6">&nbsp;</div>
        <div class="basis-5/6 pt-2">
          <div class="text-sm text-gray-400">
            <i class="pi pi-info-circle"></i>
            &nbsp; Een <strong>permissie template</strong>
            (set van permissies) kan je makkelijk aanmaken, benoemen en bewaren
            vanaf de
            <strong>'Permissies'-tab</strong>
            bij eender welke bestaande vraag.
          </div>
        </div>
      </div>

      <!-- direction -->
      <div class="mt-4 mb-4 text-left">
        <div v-if="dragAndDropStore.droppedSelectedType === 'question'">
          <div class="flex w-16">
            <div class="mr-2 text-xl">
              <font-awesome-icon icon="fa-solid fa-circle-chevron-down" />
            </div>
            <div class="mt-0.5"><strong>onder</strong></div>
          </div>
        </div>
        <div v-else>
          <div class="flex mx-auto w-5/12">
            <div
              :class="aboveClass"
              class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
              @click="addAndCopyStore.insertDirection = 'above'"
            >
              <div class="mr-2 text-xl">
                <font-awesome-icon icon="fa-solid fa-circle-chevron-up" />
              </div>
              <div class="mt-0.5"><strong>boven</strong></div>
            </div>
            <div
              v-if="
                dragAndDropStore.droppedSelectedNode &&
                !nodeIsMatrixRow(dragAndDropStore.droppedSelectedNode)
              "
              :class="inClass"
              class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
              @click="addAndCopyStore.insertDirection = 'in'"
            >
              <div class="mr-2 text-xl">
                <font-awesome-icon icon="fa-solid fa-circle-chevron-right" />
              </div>
              <div class="mt-0.5"><strong>binnen</strong></div>
            </div>
            <div
              :class="belowClass"
              class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
              @click="addAndCopyStore.insertDirection = 'below'"
            >
              <div class="mr-2 text-xl">
                <font-awesome-icon icon="fa-solid fa-circle-chevron-down" />
              </div>
              <div class="mt-0.5"><strong>onder</strong></div>
            </div>
          </div>
        </div>
      </div>

      <!-- target -->
      <div v-if="dragAndDropStore.droppedSelectedNode" class="flex mt-4 mb-2">
        <div class="mr-2">
          <PositionTagger
            :position="dragAndDropStore.droppedSelectedNode.position"
            class="drop-shadow-md"
            :tooltip="`id: ${dragAndDropStore.droppedSelectedNode.id} \nuid: ${dragAndDropStore.droppedSelectedNode.uid}`"
          />
        </div>
        <div class="mr-2 ml-2">
          <NodeTypeRenderer
            :type="dragAndDropStore.droppedSelectedNode.subType"
          />
        </div>
        <div class="mr-2">
          <ActiveLanguageBadge />
        </div>
        <div v-html="droppedSelectedNodeLabel" />
      </div>

      <!-- footer -->
      <Divider></Divider>
      <div class="flex flex-row">
        <div class="basis-1/4">
          <Button
            v-if="!isCopying"
            label="Kopieer item"
            :disabled="!isValid"
            class="w-full"
            severity="success"
            icon="pi pi-check"
            type="submit"
            @click="save"
          />
          <Button
            v-if="isCopying"
            disabled
            label="Kopieer item"
            class="w-full"
            severity="success"
            icon="pi pi-spinner pi-spin"
          />
        </div>
        <div class="basis-1/4 ml-2">
          <Button
            v-if="!isCopying"
            label="Cancel"
            class="w-full"
            severity="secondary"
            icon="pi pi-times"
            @click="dragAndDropStore.droppedSelectedNode = undefined"
          />
        </div>
        <div class="basis-2/4"></div>
      </div>
    </form>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import { useAddAndCopyStore } from "@/stores/addAndCopy";
import { computed, onMounted, ref } from "vue";
import { useLanguageStore } from "@/stores/language";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import NodeTypeRenderer from "@/components/formBuilder/formList/formListEditor/nodeRenderer/NodeTypeRenderer.vue";
import { useAddNodeCopyCommand } from "@/api/commands/AddNodeCopy.ts";
import type { FlowPermissionTemplate } from "@/api/queries/types/permissionTypes";
import { usePermissionStore } from "@/stores/permissions";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { requiredIf } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import { nodeIsMatrixRow } from "@/stores/node";
import { useDragAndDropStore } from "@/stores/dragAndDropStore";

const formStore = useFormStore();
const addAndCopyStore = useAddAndCopyStore();
const dragAndDropStore = useDragAndDropStore();
const languageStore = useLanguageStore();
const permissionStore = usePermissionStore();

onMounted((): void => {
  // autofocus the input field of the label
  let inputQuestion: HTMLElement | null =
    document.getElementById("textInputTitleCopy");
  if (inputQuestion) {
    inputQuestion.focus();
  }
  if (
    dragAndDropStore.droppedSelectedNode &&
    nodeIsMatrixRow(dragAndDropStore.droppedSelectedNode)
  )
    addAndCopyStore.insertDirection = "below";
});

function copyLabel() {
  label.value =
    addAndCopyStore.copySelectedNode?.info.label[
      languageStore.activeLanguage
    ] ?? "";
  // autofocus the input field of the label
  let inputQuestion: HTMLElement | null =
    document.getElementById("textInputTitleCopy");
  if (inputQuestion) {
    inputQuestion.focus();
  }
}

const { label, selectedTemplate, sourceNodeState, command, executeCommand } =
  useAddNodeCopyCommand();

const isCopying = ref<boolean>(false);

async function save() {
  isCopying.value = true;
  await executeCommand();
  isCopying.value = false;
  // -- selected the highest node ID
  if (command.value.type === "addNodeCopy") {
    await formStore.selectedHighestNodeId();
  }
  addAndCopyStore.clearNodeForCopying();
}

// -- validation --------------------------------------------------------------------

const isValid = computed(() => !v$.value.$invalid);
const rules = {
  label: {
    requiredIf: requiredIf(
      () => addAndCopyStore.copySelectedNode?.type === "question",
    ),
  },
};
const v$ = useVuelidate(rules, sourceNodeState);

// -- computed labels and classes ----------------------------------------------------

const questionPlaceholder = computed<string>(() => {
  return "Geef hier de nieuwe benaming op...";
});

const permissionTemplates = computed<FlowPermissionTemplate[]>(() =>
  [
    {
      id: 0,
      name: "De permissies van de bronvraag behouden.",
      contentHash: "",
      flowPermission: {},
    },
  ].concat(permissionStore.permissionTemplates),
);

const copySelectedNodeLabel = computed(() => {
  if (addAndCopyStore.copySelectedNode)
    return addAndCopyStore.copySelectedNode.info.label[
      languageStore.activeLanguage.toLowerCase()
    ];
  return "";
});

const droppedSelectedNodeLabel = computed(() => {
  if (dragAndDropStore.droppedSelectedNode)
    return dragAndDropStore.droppedSelectedNode.info.label[
      languageStore.activeLanguage.toLowerCase()
    ];
  return "";
});

const aboveClass = computed(() => {
  if (addAndCopyStore.insertDirection == "above")
    return "bg-blue-700 text-white";
  return "";
});

const inClass = computed(() => {
  if (addAndCopyStore.insertDirection == "in") return "bg-blue-700 text-white";
  return "";
});

const belowClass = computed(() => {
  if (addAndCopyStore.insertDirection == "below")
    return "bg-blue-700 text-white";
  return "";
});
</script>
