<template>
  <div style="width: 850px">
    <div v-if="formStore.menuSelectedNode" class="flex mb-2">
      <div class="mr-2">
        <PositionTagger
          :position="formStore.menuSelectedNode.position"
          :tooltip="`id: ${formStore.menuSelectedNode.id} \nuid: ${formStore.menuSelectedNode.uid}`"
        />
      </div>
      <div class="mr-2 ml-2">
        <NodeTypeRenderer :type="formStore.menuSelectedNode.subType" />
      </div>
      <div class="mr-2">
        <ActiveLanguageBadge />
      </div>
      <div><span v-html="questionLabel"></span></div>
    </div>

    <RelationTable
      :relations="relations"
      :show-source="formStore.menuSelectedNode?.type === 'category'"
    />

    <!-- confirmation & footer -->
    <Divider></Divider>
    <Message
      v-if="relations.length === 0 || forceDelete"
      severity="warn"
      icon="pi pi-exclamation-triangle"
    >
      Ben je zeker dat je deze
      {{ nodeTypeString }}
      wil verwijderen? Dit kan niet ongedaan gemaakt worden.
    </Message>

    <div class="flex flex-row">
      <div v-if="relations.length !== 0" class="basis-3/4">
        <div class="flex align-items-center gap-2">
          <Checkbox
            v-model="forceDelete"
            :binary="true"
            input-id="forceDelete"
          />
          <label for="forceDelete">
            Verwijder de {{ nodeTypeString }} en alle relaties.
          </label>
        </div>
      </div>

      <div class="basis-3/4">
        <Button
          v-if="!isDeleting"
          id="btnDelete"
          :disabled="relations.length !== 0 && !forceDelete"
          :label="`Verwijder ${nodeTypeString}`"
          class="w-full"
          severity="success"
          icon="pi pi-trash"
          @click="deleteNode"
        />
        <Button
          v-else
          disabled
          :label="`Verwijder ${nodeTypeString}`"
          class="w-full"
          severity="success"
          icon="pi pi-spin spinner"
        />
      </div>
      <div class="basis-1/4 text-right">
        <Button
          v-if="!isDeleting"
          label="Cancel"
          severity="secondary"
          outlined
          icon="pi pi-times"
          @click="cancelDeletion"
        />
      </div>
    </div>

    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { useFormStore } from "@/stores/form";
import NodeTypeRenderer from "@/components/formBuilder/formList/formListEditor/nodeRenderer/NodeTypeRenderer.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import { computed, onMounted, ref } from "vue";
import { useLanguageStore } from "@/stores/language";
import type { NodeRelation } from "@/api/queries/types/formTypes";
import { getNodeRelations } from "@/api/queries/getNodeRelations";
import { useDeleteNodeCommand } from "@/api/commands/DeleteNode.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";

import RelationTable from "./RelationTable.vue";

const formStore = useFormStore();
const languageStore = useLanguageStore();
const relations = ref<NodeRelation[]>([]);

onMounted((): void => {
  let btnDelete: HTMLElement | null = document.getElementById("btnDelete");
  if (btnDelete) {
    btnDelete.focus();
  }
});

const forceDelete = ref(false);
const nodeTypeString = computed(() =>
  formStore.menuSelectedNode?.type === "category" ? "categorie" : "vraag",
);

// -- command and deleting ---------------------------------------------------
const { command, executeCommand } = useDeleteNodeCommand();

const isDeleting = ref(false);

async function deleteNode() {
  isDeleting.value = true;
  if (formStore.selectedNodeId === command.value.id) {
    await formStore.selectNode(0);
  }
  await executeCommand();
  isDeleting.value = false;
  cancelDeletion();
}

function cancelDeletion(): void {
  formStore.isDialogNodeDelete = false;
}

onMounted((): void => {
  void getRelations();
});

async function getRelations() {
  if (formStore.menuSelectedNode) {
    relations.value = await getNodeRelations(
      formStore.form.id,
      formStore.menuSelectedNode.id,
      languageStore.activeLanguage,
    );
  }
}

const questionLabel = computed(() => {
  if (formStore.menuSelectedNode)
    return formStore.menuSelectedNode.info.label[
      languageStore.activeLanguage.toLowerCase()
    ];
  return "";
});
</script>
