<template>
  <p>
    Dit is geen vraag met een berekening.
    <br />
    Gelieve een vraag aan te duiden die een
    <strong>berekening</strong>
    (
    <font-awesome-icon icon="fa-solid fa-calculator" />
    ) heeft.
  </p>
</template>
<script setup lang="ts"></script>
