<template>
  <div
    v-if="data.messages && data.messages.length > 1"
    class="min-w-[500px] min-h-[80px]"
  >
    <p><strong>Errors:</strong></p>
    <p v-for="(error, index) in data.messages" :key="index">
      - {{ error.charAt(0).toUpperCase() + error.slice(1) }}.
    </p>
  </div>

  <div
    v-else-if="data.messages && data.messages.length === 1"
    class="min-w-[500px] min-h-[50px]"
  >
    {{ data.messages[0] }}
  </div>

  <div v-else-if="data.HTMLBody">
    <div class="min-w-[500px] min-h-[50px]" v-html="data.HTMLBody" />
  </div>

  <div v-else class="min-w-[500px] min-h-[50px]">
    Er is een onbekende fout opgetreden.
  </div>
</template>
<script setup lang="ts">
import { ComputedRef, inject, onMounted, ref } from "vue";

const dialogRef = inject<ComputedRef<{ data: Data }>>("dialogRef");
interface Data {
  messages: string[] | undefined;
  HTMLBody: string | undefined;
}
const data = ref<Data>({ messages: [], HTMLBody: undefined });

onMounted(() => {
  if (dialogRef?.value) {
    data.value = dialogRef.value.data;
  }
});
</script>
