<template>
  <div style="width: 700px" class="p-4">
    <!-- source -->
    <div class="text-left">
      <strong>We verplaatsen</strong>
    </div>

    <div v-if="addAndCopyStore.moveSelectedNode" class="flex mt-4 mb-2">
      <div class="mr-2">
        <PositionTagger
          :position="addAndCopyStore.moveSelectedNode.position"
          class="drop-shadow-md"
          :tooltip="`id: ${addAndCopyStore.moveSelectedNode.id} \nuid: ${addAndCopyStore.moveSelectedNode.uid}`"
        />
      </div>
      <div class="mr-2 ml-2">
        <NodeTypeRenderer :type="addAndCopyStore.moveSelectedNode.subType" />
      </div>
      <div class="mr-2">
        <ActiveLanguageBadge />
      </div>
      <div v-html="moveSelectedNodeLabel" />
    </div>

    <!-- direction -->
    <div class="mt-4 mb-4 pt-4">
      <div v-if="dragAndDropStore.droppedSelectedType === 'question'">
        <div class="flex w-16 text-left">
          <div class="mr-2 text-xl">
            <FontAwesomeIcon icon="fa-solid fa-circle-chevron-down" />
          </div>
          <div class="mt-0.5"><strong>onder</strong></div>
        </div>
      </div>
      <div v-else>
        <div class="flex mx-auto w-5/12">
          <div
            :class="aboveClass"
            class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
            @click="addAndCopyStore.insertDirection = 'above'"
          >
            <div class="mr-2 text-xl">
              <FontAwesomeIcon icon="fa-solid fa-circle-chevron-up" />
            </div>
            <div class="mt-0.5"><strong>boven</strong></div>
          </div>
          <div
            :class="inClass"
            class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
            @click="addAndCopyStore.insertDirection = 'in'"
          >
            <div class="mr-2 text-xl">
              <FontAwesomeIcon icon="fa-solid fa-circle-chevron-right" />
            </div>
            <div class="mt-0.5"><strong>binnen</strong></div>
          </div>
          <div
            :class="belowClass"
            class="flex w-32 p-2 hover:bg-blue-300 cursor-pointer rounded-lg ml-2"
            @click="addAndCopyStore.insertDirection = 'below'"
          >
            <div class="mr-2 text-xl">
              <FontAwesomeIcon icon="fa-solid fa-circle-chevron-down" />
            </div>
            <div class="mt-0.5"><strong>onder</strong></div>
          </div>
        </div>
      </div>
    </div>

    <!-- target -->
    <div v-if="dragAndDropStore.droppedSelectedNode" class="flex mt-4 mb-2">
      <div class="mr-2">
        <PositionTagger
          :position="dragAndDropStore.droppedSelectedNode.position"
          class="drop-shadow-md"
          :tooltip="`id: ${dragAndDropStore.droppedSelectedNode.id} \nuid: ${dragAndDropStore.droppedSelectedNode.uid}`"
        />
      </div>
      <div class="mr-2 ml-2">
        <NodeTypeRenderer
          :type="dragAndDropStore.droppedSelectedNode.subType"
        />
      </div>
      <div class="mr-2">
        <ActiveLanguageBadge />
      </div>
      <div v-html="droppedSelectedNodeLabel" />
    </div>

    <!-- warnings -->
    <div
      v-if="
        addAndCopyStore.problematicRelations.above.length > 0 ||
        addAndCopyStore.problematicRelations.below.length > 0
      "
    >
      <Divider />
      <div class="text-left">
        <strong>
          Het is niet aangeraden om deze {{ questionOrCategory }} te plaatsen:
        </strong>
      </div>
      <div v-if="addAndCopyStore.problematicRelations.above.length > 0">
        <strong>Boven</strong>
        <RelationTable
          :relations="addAndCopyStore.problematicRelations.above"
        />
      </div>
      <div v-if="addAndCopyStore.problematicRelations.below.length > 0">
        <strong>Onder</strong>
        <RelationTable
          :relations="addAndCopyStore.problematicRelations.below"
        />
      </div>
    </div>

    <!-- footer + buttons -->
    <Divider />
    <div class="flex flex-row">
      <div class="basis-1/4">
        <Button
          v-if="!isMoving"
          id="btnMove"
          label="Verplaats item"
          class="w-full"
          severity="success"
          icon="pi pi-check"
          @click="save"
        />
        <Button
          v-else
          label="OK"
          disabled
          class="w-full"
          severity="success"
          icon="pi pi-spinner pi-spin"
        />
      </div>
      <div class="basis-1/4 text-right ml-2">
        <Button
          v-if="!isMoving"
          label="Cancel"
          class="w-full"
          severity="secondary"
          icon="pi pi-times"
          @click="dragAndDropStore.droppedSelectedNode = undefined"
        />
      </div>
    </div>
    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import { useAddAndCopyStore } from "@/stores/addAndCopy";
import { computed, onMounted, ref } from "vue";
import { useLanguageStore } from "@/stores/language";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import NodeTypeRenderer from "@/components/formBuilder/formList/formListEditor/nodeRenderer/NodeTypeRenderer.vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import RelationTable from "./RelationTable.vue";
import Button from "primevue/button";
import Divider from "primevue/divider";
import { useAddNodeMoveCommand } from "@/api/commands/AddNodeMove.ts";
import { useDragAndDropStore } from "@/stores/dragAndDropStore";

const addAndCopyStore = useAddAndCopyStore();
const dragAndDropStore = useDragAndDropStore();
const languageStore = useLanguageStore();

onMounted((): void => {
  // -- focus the move button (for entering)
  let btnMove: HTMLElement | null = document.getElementById("btnMove");
  if (btnMove) {
    btnMove.focus();
  }
});

const { command, executeCommand } = useAddNodeMoveCommand();

const isMoving = ref<boolean>(false);

async function save() {
  isMoving.value = true;
  await executeCommand();
  isMoving.value = false;
  addAndCopyStore.clearNodeForMoving();
}

// -- computed labels and classes ----------------------------------------------------

const moveSelectedNodeLabel = computed(() => {
  if (addAndCopyStore.moveSelectedNode)
    return addAndCopyStore.moveSelectedNode.info.label[
      languageStore.activeLanguage.toLowerCase()
    ];
  return "";
});

const droppedSelectedNodeLabel = computed(() => {
  if (dragAndDropStore.droppedSelectedNode)
    return dragAndDropStore.droppedSelectedNode.info.label[
      languageStore.activeLanguage.toLowerCase()
    ];
  return "";
});

const questionOrCategory = computed(() =>
  addAndCopyStore.moveSelectedNode?.type === "category" ? "categorie" : "vraag",
);

const aboveClass = computed(() => {
  if (addAndCopyStore.insertDirection == "above")
    return "bg-blue-700 text-white";
  return "";
});

const inClass = computed(() => {
  if (addAndCopyStore.insertDirection == "in") return "bg-blue-700 text-white";
  return "";
});

const belowClass = computed(() => {
  if (addAndCopyStore.insertDirection == "below")
    return "bg-blue-700 text-white";
  return "";
});
</script>
