<template>
  <table class="mt-4 w-full">
    <tr
      v-for="relation in relations"
      :key="relation.targetNode.id"
      class="border-t-[1px]"
    >
      <td v-if="showSource" class="py-2">
        <div class="flex">
          <div>
            <PositionTagger
              :position="relation.sourceNode.position"
              :tooltip="`id: ${relation.sourceNode.id} \nuid: ${relation.sourceNode.uid}`"
            />
          </div>
          <div class="text-center">
            <NodeTypeRenderer
              class="w-10"
              :type="relation.sourceNode.subType"
            />
          </div>
          <div class="mr-2 text-left">
            <ActiveLanguageBadge />
          </div>
          <div><span v-html="relation.sourceNode.label"></span></div>
        </div>
      </td>
      <td class="text-sm pb-6">
        {{ relationDescription(relation.relationType) }} :
      </td>
      <td class="py-2">
        <div class="flex">
          <div>
            <PositionTagger
              :position="relation.targetNode.position"
              :tooltip="`id: ${relation.targetNode.id} \nuid: ${relation.targetNode.uid}`"
            />
          </div>
          <div class="text-center">
            <NodeTypeRenderer
              class="w-10"
              :type="relation.targetNode.subType"
            />
          </div>
          <div class="mr-2 text-left">
            <ActiveLanguageBadge />
          </div>
          <div><span v-html="relation.targetNode.label"></span></div>
        </div>
      </td>
    </tr>
  </table>
</template>
<script lang="ts" setup>
import type { NodeRelation } from "@/api/queries/types/formTypes";
import { RelativeRelation } from "@/api/queries/types/formTypes";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import NodeTypeRenderer from "../nodeRenderer/NodeTypeRenderer.vue";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";

withDefaults(
  defineProps<{
    relations: NodeRelation[];
    showSource?: boolean;
  }>(),
  {
    showSource: false,
  },
);

function relationDescription(relationType: RelativeRelation): string {
  switch (relationType) {
    case RelativeRelation.UNLOCKS:
      return "heeft een optie die een vraag zichtbaar kan maken";
    case RelativeRelation.CALCULATION_OF:
      return "is een berekening met deze vraag";
    case RelativeRelation.RADAR_CHART_THAT_USES:
      return "is een radar grafiek met deze vraag";
    case RelativeRelation.PREFILLED_BY:
      return "is een vooraf ingevuld veld met deze vraag";
    case RelativeRelation.UNLOCKABLE_BY:
      return "is onderdeel van een optie met locking";
    case RelativeRelation.SCORE_FOR:
      return "is onderdeel van een berekening";
    case RelativeRelation.PREFILLS:
      return "is onderdeel van een vooraf ingevuld veld";
    case RelativeRelation.RADAR_CHART_SOURCE:
      return "is onderdeel van een radar grafiek";
    default:
      return "";
  }
}
</script>
