<template>
  <div id="DialogChartParticipant" style="width: 800px" class="p-2">
    <div class="flex flex-row">
      <div class="basis-1/5 text-right text-xs text-gray-400">Id:</div>
      <div class="basis-4/5 ml-2">
        <PositionTagger
          :position="chartParticipantQuestion.position"
          :tooltip="`id: ${chartParticipantQuestion.id} \nuid: ${chartParticipantQuestion.uid}`"
        />
      </div>
    </div>
    <div class="flex flex-row mt-4 mb-4">
      <div class="basis-1/5 text-right text-xs text-gray-400">Vraag:</div>
      <div class="basis-4/5 ml-2">
        <span
          v-html="
            chartParticipantQuestion.questionLabel[languageStore.activeLanguage]
          "
        ></span>
      </div>
    </div>

    <div class="flex flex-row mt-2">
      <div class="basis-1/5 text-right">
        <div class="mt-2">
          Aangepast label (optioneel)
          <ActiveLanguageBadge />
        </div>
      </div>
      <div class="basis-1/2 ml-2">
        <InputText
          v-model="customLabel"
          :placeholder="
            chartParticipantQuestion.questionLabel[languageStore.activeLanguage]
          "
          class="w-full"
        />
      </div>
      <div class="basis-1/3 ml-2">
        <Button
          v-if="!isSaving"
          label="Bewaar"
          icon="pi pi-check"
          class="w-full"
          severity="success"
          @click="save"
        />
        <Button
          v-else
          disabled="true"
          label="Bewaren"
          icon="pi pi-spin pi-spinner"
          class="w-full"
          severity="success"
        />
      </div>
    </div>

    <div class="flex flex-row mt-2">
      <div class="basis-4/5">&nbsp;</div>
      <div class="basis-1/5 text-right">
        <Button
          v-if="!isDeleting"
          v-tooltip="'Verwijder deze deelname.'"
          icon="pi pi-trash"
          severity="secondary"
          outlined
          size="small"
          @click="deleteParticipation($event)"
        />
        <Button
          v-else
          disabled="true"
          icon="pi pi-spin pi-spinner"
          severity="secondary"
          outlined
          size="small"
        />
      </div>
    </div>

    <CommandRenderer :command="command"></CommandRenderer>
    <CommandRenderer :command="deleteCommand" />
  </div>

  <ConfirmPopup></ConfirmPopup>
</template>

<script setup lang="ts">
import type {
  ChartParticipantQuestion,
  QuestionNode,
} from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import { ref, toRef } from "vue";
import {
  useDeleteChartRelationCommand,
  useUpdateChartRelationCommand,
} from "@/api/commands/ChartRelationCommands";
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useConfirm } from "primevue/useconfirm";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";

// -- props, stores and emits

const props = defineProps<{
  question: QuestionNode;
  chartParticipantQuestion: ChartParticipantQuestion;
}>();
const languageStore = useLanguageStore();
const emit = defineEmits(["participationSaved", "participationDeleted"]);
// -- update chart relation
const question = toRef(props, "question");
const chartParticipantQuestion = toRef(props, "chartParticipantQuestion");

const { customLabel, command, executeCommand } = useUpdateChartRelationCommand(
  question,
  chartParticipantQuestion,
);
const { command: deleteCommand, executeCommand: executeDeleteCommand } =
  useDeleteChartRelationCommand(question, chartParticipantQuestion);

const isSaving = ref(false);

async function save() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
  emit("participationSaved");
}

// -- delete chart relation

const confirm = useConfirm();

function deleteParticipation(event: MouseEvent) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message: "Ben je zeker om deze diagram deelname te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        void deleteParticipationHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}

const isDeleting = ref(false);
async function deleteParticipationHandler() {
  isDeleting.value = true;
  await executeDeleteCommand();
  isDeleting.value = false;
  emit("participationDeleted");
}
</script>
