<template>
  <div id="RadarChartRelatedQuestions" class="p-2">
    <div class="flex flex-row">
      <div class="basis-1/12">
        <HighlightRelationsButton
          :relation-info="{
            type: RelativeRelation.RADAR_CHART_THAT_USES,
            node: question,
          }"
        />
      </div>
      <div class="basis-3/12">
        <div class="mt-2">
          <strong>Overzicht vragen</strong>
        </div>
      </div>
      <div class="basis-7/12">
        <RelationDraggable
          :config="{
            question: question,
            relationToDropped: RelativeRelation.RADAR_CHART_THAT_USES,
          }"
        />
      </div>
    </div>

    <!-- list chart participants ----------------------------------------------------------------------------------- -->
    <table id="listChartParticipants" class="mt-2 w-full" cellpadding="2">
      <thead>
        <tr class="border-b-[1px]">
          <td width="5%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="40%">
            <span class="text-sm font-bold text-gray-400">Label</span>
          </td>
          <td width="5%">
            <span class="text-sm font-bold text-gray-400">ID</span>
          </td>
          <td width="40%">
            <span class="text-sm font-bold text-gray-400">Vraag</span>
          </td>
          <td>&nbsp;</td>
        </tr>
      </thead>

      <Draggable
        v-model="newRadarChartNode.chartParticipantQuestions"
        tag="tbody"
        item-key="question_uid"
        handle=".handle"
        ghost-class="ghost"
        @end="saveLabelSequence"
      >
        <template #item="{ element }">
          <tr class="border-b-[1px]">
            <td align="center">
              <Button
                icon="pi pi-pencil"
                severity="secondary"
                outlined
                size="small"
                @click="editChartParticipant(element)"
              />
            </td>
            <td>&nbsp;</td>
            <td>
              <span
                :class="
                  element.customLabel[languageStore.activeLanguage] ===
                  undefined
                    ? ''
                    : 'font-bold'
                "
                >{{
                  element.customLabel[languageStore.activeLanguage] ??
                  element.questionLabel[languageStore.activeLanguage]
                }}</span
              >
            </td>
            <td>
              <PositionTagger
                :position="element.position"
                :tooltip="`id: ${element.id} \nuid: ${element.uid}`"
              />
            </td>
            <td>
              <span
                class="ml-2"
                v-html="element.questionLabel[languageStore.activeLanguage]"
              />
            </td>
            <td>
              <div
                class="mr-2 text-gray-400 cursor-move hover:text-gray-600 handle"
              >
                <i class="pi pi-bars"></i>
              </div>
            </td>
          </tr>
        </template>
      </Draggable>
    </table>
    <CommandRenderer :command="command" />
  </div>

  <!-- dialog for selected score participation --------------------------------------------------------------------- -->
  <Dialog
    v-model:visible="isShowDialogChartParticipant"
    :header="'Detail deelname diagram.'"
    :modal="true"
  >
    <DialogChartParticipant
      :question="question"
      :chart-participant-question="selectedChartParticipantQuestion"
      @participation-saved="hideParticipationDialog"
      @participation-deleted="hideParticipationDialog"
    />
  </Dialog>
</template>

<script setup lang="ts">
import {
  ChartParticipantQuestion,
  RadarChartNode,
  RelativeRelation,
} from "@/api/queries/types/formTypes";
import { useLanguageStore } from "@/stores/language";
import { ref, toRef } from "vue";
import DialogChartParticipant from "@/components/formBuilder/formList/nodeEditor/chart/DialogChartParticipant.vue";
import Draggable from "vuedraggable";
import { useOrderChartRelationCommand } from "@/api/commands/OrderChartRelation.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";
import RelationDraggable from "@/components/formBuilder/formList/nodeEditor/RelationDraggable.vue";
import HighlightRelationsButton from "../../HighlightRelationsButton.vue";

// -- props and store

const props = defineProps<{ question: RadarChartNode }>();
const languageStore = useLanguageStore();

// -- get the complete radar chart participants for this node via API call

const {
  newRadarChartNode,
  command,

  executeCommand,
} = useOrderChartRelationCommand(toRef(props, "question"));
// -- sequence of the labels

async function saveLabelSequence() {
  await executeCommand();
}

// -- properties to toggle the dialog window for editing a score

const isShowDialogChartParticipant = ref<boolean>(false);
const selectedChartParticipantQuestion = ref<ChartParticipantQuestion>({
  id: 0,
  uid: "",
  contentHash: "",
  customLabel: {},
  questionLabel: {},
  position: [],
});

function hideParticipationDialog() {
  isShowDialogChartParticipant.value = false;
}

function editChartParticipant(
  chartParticipantQuestion: ChartParticipantQuestion,
) {
  isShowDialogChartParticipant.value = true;
  selectedChartParticipantQuestion.value = chartParticipantQuestion;
}
</script>
