#zoek_content{
    &.active-search{
        #search-field, #zoek_search{
            background-color: #dff0d8;
        }
    }
    &.filterview-open{
        #search-field, #zoek_filter{
            background-color: #d9edf7;
        }
    }
    #zoek_search{
        padding:20px;
        
        h4{
           padding-top:20px;
        }
    }
    #search-field {
        .form-search-options{
            cursor:pointer;
            color: #fff !important;
            width: 42px !important;
            font-size: 15pt !important;
            
            &.ico-question{
                background-color: #86a45d;
            }
            &.ico-filter2{
                line-height: 45px !important;;
                right: 42px !important;
                background-color: #63d3e9;
            }
            
            &.ico-question.active-icon{
                opacity:.6;
            }

            &.ico-filter2.active-icon{
                opacity:.6;
            }
        }
    }
}
