{#
collected & full functionality: all stylesheet embedabbles to include in your stylesheet block/tag to make the form display
this is a helper embed that combines all known embeddables.
this might not be what you want or need for your implementing app.
or it might include functionality you don't want to use.
you can embed the individual embeds yourself (or (over)write (with) your own code)
#}

{#
the following libraries are required
these are not added here, only shown as info, you need to add them yourself in your stylesheet block/tag

<link rel="stylesheet" href="{{ asset('bundles/kulform/plugins/steps/css/jquery-steps.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/plugins/selectize/css/selectize.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/plugins/jqueryui/css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/library/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/stylesheet/uielement.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/stylesheet/form-field.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/stylesheet/form-layout.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/kulform/stylesheet/summary-panels.css') }}">

#}


{% include "@KULForm/embed/upload/css.html.twig" %}

<style type="text/css">
    .kfb-category.locked,
    .kfb-question.locked {
        display: none;
    }
</style>