{#
collected & full functionality: all HTML embeds to include in your body tag
this is a helper embed that combines all known embeddables to create the form view.
this might not be what you want or need for your implementing app.
you can embed the individual embeds yourself (or (over)write (with) your own code)

To get a read-only view of all questions, regardless of the write permissions for the form, include this
template with a 'readOnly': true parameter. For example for printing purposes.
#}

{% if accessObject is defined or accessObject.grantsAccess %}

    {# START ------------------------ INFO & ACTIONS BLOCK (info, history, togglers, revert actions------------------- #}
    {% include '@KULForm/embed/info/main-form-info.html.twig' %}

    {# by default, the history is shown to all (urser) roles. but it is possible to hide the history anyway if the implementing
       app requests it, using overriding param 'hideAccessBasedHistory'. e.g. to hide it for non-admins #}
    {% if hideAccessBasedHistory is not defined or not hideAccessBasedHistory %}
        {# render submissions history based on the access. show user ids for each submission & show when steps are/were open #}
        {% include '@KULForm/embed/history/access-based-history.html.twig' with {
            'accessObject': accessObject,
            'showSubmitterIds': true,
            'showStepOpenRanges': true,
            'isPrintPage': isPrintPage is defined ? isPrintPage : false
        }
        %}
    {%  endif %}

    {% if isPrintPage is defined and not isPrintPage %}
        {# render a role switcher, but only if user has more than one role allowing him/her to access the form at
               this point ('renderOnlyIfRelevant': true). for convenience, using the roleSlugs as roleLabels (list of
               labels, keyed by roles), but could be any role keyed list of labels (e.g. translated role names,..) #}
        {% include '@KULForm/embed/switcher/role-switcher.html.twig' with {
            'currentRole': accessObject.accessingRole,
            'roleLabels': roleSlugs,
            'roleUrls': switchRoleUrls,
            'renderOnlyIfRelevant': true
        } %}

        {#  render dropdown with revert actions (if any). available revert actions are contructed based on the user having
            access with role and passed to here from form-bundle under twig parameter 'revertActions'.
            roles to allowed to conduct revert actions are defined in the implementing app's kul_form.yml. formBundle will
            have added any revert actions to the parameter 'revertActions' based on the role that accesses this form.
            if the role past in into the formBUndle is not allowed to conduct revert actions, this param will be empty and
            no revert actions will be rendered. therefore, there is no need for the implementing app to determine if revert
            actions shoud be rendered or not.
        #}
        {% include '@KULForm/embed/revert/revert-actions.html.twig' %}

        {# render toolbar with buttons to toggle (show/hide) all readOnly nodes and/or non-selected answers of readOnly choice questions #}
        <div class="row">
            <div class="col-md-12 pb5">
                <div class="pull-right">
                    {% include '@KULForm/embed/togglers/read-only-togglers.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}

    {# END ------------------------ INFO & ACTIONS BLOCK (info, history, togglers, revert actions------------------- #}

    {# START ------------------------ FORM BLOCK ------------------------------------------------------------------- #}
    <div class="row">
        <div class="col-md-12">
            <div>
                {% include '@KULForm/embed/form/form.html.twig' with {
                    'userCanWrite': (isPrintPage is defined and isPrintPage == true ) ? false : accessObject.isWriteAccessAuthorized,
                    'userCanRead': accessObject.isReadAccessAuthorized,
                    'form' : accessObject.isWriteAccessAuthorized ? form : null,
                    'step': accessObject.openFlowStep,
                    'role': accessObject.accessingRole,
                    'rootNode': accessObject.getCurrentVersionFormList.rootNode,
                    'values': formValues,
                    'submittedFiles': accessObject.savedFiles,
                    'fileUrls': fileUrls,
                    'cancel' : overviewUrl,
                    'cancelClass' : 'cancel-link',
                    'showFormErrors' : false,
                    'showTempHistoryWarning' : true,
                    'omitExtraWhitespaceAtEndOfForm': false,
                    'hideDefaultGeneralFormErrorMessage': hideDefaultGeneralFormErrorMessage is defined and hideDefaultGeneralFormErrorMessage,
                    'showPositionNumbers': accessObject.template.showPositionNumbers
                } %}
            </div>
        </div>
    </div>
    {# END ------------------------ FORM BLOCK ------------------------------------------------------------------- #}
{% endif %}
