{#
collected (and almost all functionality) javascript embedabbles to include in your (body) script block/tag to make the form work
this is a helper embed that combines all known embeddables.
this might not be what you want or need for your implementing app.
or it might include functionality you don't want to use.
you can embed the individual embeds yourself (or (over)write (with) your own code)
#}

{#
    the following libraries are required
    these are not added here, only shown as info, you need to add them yourself in your (body) javascript block/tag

    <script type="text/javascript" src="{{ asset('bundles/kulform/library/jquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kulform/plugins/selectize/js/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kulform/plugins/jqueryui/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kulform/library/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kulform/plugins/bootbox/js/bootbox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kulform/plugins/gritter/js/jquery.gritter.js') }}"></script>
#}

{#
    the following javascript files are not loaded here, but are ABSOLUTELY necessary to make it all work.
    those are not loaded here because they are loaded in Demo app via encore

    I did not add them here becasue I don't know if that would cause problems with Demo app.
    I guess we could load them optionally in here, but they are in the non public src/Resources/js.
    so if they have to be loaded here, they would have to be loaded in the public assets dir in the imp.app

    'src/Resources/js/question-unlocker.js'
    'src/Resources/js/otherOption.js'
    'src/Resources/js/submitPrevention.js'
    'src/Resources/js/prefiller.js'
    'src/Resources/js/historyCollapser.js'
    'src/Resources/js/selectizedRoleSwitcher.js'

    in demo they are loaded via 'encore_entry_script_tags('test-storing-view')' where test-storing-view.js imports those scripts.

    the same goes partially for iframe wrapping of form, but the wrapping is not the responsability of the form-bundle. see also Demo app.
#}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {


        // ------------------------------------------------------------------- bootstrap: setup all popover triggers
        $('[data-toggle="popover"]').popover();

        // --------------------------------------------------------------------- showTemporary warning in the footer
        if($('.nodeTempHistory').length > 0) {
            $('#tempHistoryWarning').show();
        }

        $(document).find("input.form-control").each(function (e) {
            var $this = $(this);
            $this.removeAttr('required')
        });
    });
</script>

{# auto save. this embeddable should preferably be placed/loaded before other embeds like upload, calculation and revert #}
{% include "@KULForm/embed/autosave/js.html.twig" %}

{# inactivity checker. shows user a pop-up with option to continue or reload page if form detects no changes in a while
   (kul_form.form_activity.idle_check_interval_in_minutes). also suspends auto-save (if activated) until user opts to continue. #}
{% include "@KULForm/embed/form-activity/idle-checker.html.twig" %}

{% include "@KULForm/embed/upload/js.html.twig" with {'canAutoSaveForm' : (triggerAutoSave is defined and triggerAutoSave ? true : false)} %}

{% include "@KULForm/embed/calculation/js.html.twig" with {'autoCalculatePrototypeUrl' : autoCalculatePrototypeUrl} %}

{% include "@KULForm/embed/radar-chart/js.html.twig" %}