{% trans_default_domain 'kulFormHistory' %}

{% macro renderSubmission(savedInfoMessageTranslationKey, submission, currentVersionNumber, showSubmitterId, roleSlugifier) %}
    {% import _self as macros %}
    {% set submissionIsConvertedByRollback = submission.isConvertedByRollback %}

    {% if submission.isAutoSaved %}
        <span><span class='label label-default'>{{ 'workflow.submission.autoSaved'|trans }}</span></span>
    {% endif %}

    {% if submissionIsConvertedByRollback %}
        <span><span class='label label-default'>{{ ('workflow.submission.savedInfoMessage.convertedByRollback')|trans }}</span></span>
    {% endif %}

    <strong>{{ ('workflow.submission.savedInfoMessage.' ~ savedInfoMessageTranslationKey)|trans }}</strong>
    {{ 'workflow.submission.savedInfoMessage.on'|trans }}

    <strong>{{ submission.getSubmitDateString(app.request.locale) }}</strong>

    {% if submissionIsConvertedByRollback %}
        {{ ('workflow.submission.savedInfoMessage.and')|trans }} <strong> {{ ('workflow.submission.savedInfoMessage.originallySubmitted')|trans }} </strong>
    {% endif %}

    {{ 'workflow.submission.savedInfoMessage.by'|trans }}
    <strong>
        {{ submission.submitterFullName }}
        ({{ 'workflow.submission.savedInfoMessage.as'|trans }}
        {{ roleSlugifier.hasSlugForRole(submission.role) ? roleSlugifier.getSlugForRole(submission.role) : submission.role }})
    </strong>
    {% if showSubmitterId is defined and showSubmitterId %}
        ({{ 'workflow.submission.submitterId'|trans }}: {{ submission.submitterId }})
    {% endif %}

    {% if submissionIsConvertedByRollback %}
        {{ 'workflow.submission.savedInfoMessage.on'|trans }} <strong> {{ submission.getOriginalSubmitDateBeforeRollbackString(app.request.locale) }} </strong>
    {% endif %}

    {% if submission.versionNumber != currentVersionNumber %}
        <span class="text-danger">
		 ({{ 'workflow.submission.olderVersionWarning'|trans({'%number%': submission.versionNumber})|raw }})
	    </span>
    {% endif %}
{% endmacro %}
