{% trans_default_domain 'kulFormHistory' %}
{% import "@KULForm/embed/history/embed/macros.html.twig" as macros %}

{#  making sure the submissions passed in are for the passed in step & nicely ordered (after all, this is an embeddable) #}
{% set stepSubmissions = stepSubmissions.forStep(flowStep).sortedByDescendingSubmitDate %}
{% set stepTempSubmissions = stepTempSubmissions.forStep(flowStep).sortedByDescendingSubmitDate %}

<table class="table table-bordered mb10" width="100%">
    <tbody>
    <tr>
        <th>
            <em>
                {{ 'workflow.step.stepNumber'|trans({'%number%': stepPositionNr}) }}
            </em>
            {% if statusTimeline is same as('past') %}
                <span class='label label-danger'>{{ 'workflow.step.past.state'|trans }}</span>
            {% elseif statusTimeline is same as('current') %}
                <span class='label label-success'>{{'workflow.step.current.state'|trans }}</span>
            {% elseif statusTimeline is same as('future') %}
                <span class='label label-info'>{{ 'workflow.step.future.state'|trans }}</span>
            {% endif %}
            ({{ flowStep.label(app.request.locale) }})
            {% if showStepOpenRange|default(false) %}
                {% if kul_form_stepUsesFixedDates(flowStep) %}
                    ({{ ('workflow.step.openRange'|trans({
                    '%start%': flowStep.period.fixedStartDate|date,
                    '%end%':  flowStep.period.fixedEndDate|date
                }))|raw }})
                {% elseif kul_form_stepUsesCalculatedDates(flowStep) and calculatedStepReferenceDate|default(null) is not empty %}
                    ({{ ('workflow.step.openRange'|trans({
                    '%start%': flowStep.period.calculatedStartDate(calculatedStepReferenceDate)|date,
                    '%end%': flowStep.period.calculatedEndDate(calculatedStepReferenceDate)|date
                }))|raw }})
                {% endif %}
            {% endif %}
        </th>
    </tr>

    {# steps that have not yet started (future steps) do not have any submissions history #}
    {% if statusTimeline is not same as('future') %}
        <tr>
            <td>
                {# perfectly possible that nobody ever submitted in a past (closed) step and/or in current step#}
                {% if stepSubmissions.isEmpty and stepTempSubmissions.isEmpty %}
                    {% if statusTimeline is same as('past') %}
                        <p><strong>{{ ('workflow.submission.noneSubmitted'|trans)|raw }}</strong></p>
                    {% else %}
                        <p>
                            <strong>{{ ('workflow.submission.noneSubmittedYet'|trans)|raw }}<br/>
                                <span class="text-muted">{{ ('workflow.submission.noneTempSavedYet'|trans)|raw }}</span>
                            </strong>
                        </p>
                    {% endif %}
                {% else %}
                    {% set latestSubmission = stepSubmissions.first %}
                    {# always show last submitted if at least someone has submitted in this step #}
                    {% if latestSubmission is not empty %}
                        {# a step ended either when its end date was reached, or it ended before that date when a single
                           user's submit action in that step caused the next step to start prematurely. the message of
                           the last submit action should reflect that difference #}
                        {% set transKey = 'lastSubmitted' %}
                        {% if statusTimeline is same as('past') and checkDate|default(null) is not empty%}
                            {% if kul_form_stepUsesFixedDates(flowStep) and not flowStep.isEndedByDate(checkDate) %}
                                {% set transKey = 'ended' %}
                            {% elseif kul_form_stepUsesCalculatedDates(flowStep) and calculatedStepReferenceDate|default(null) is not empty and not flowStep.isEndedByDate(checkDate, calculatedStepReferenceDate) %}
                                {% set transKey = 'ended' %}
                            {% endif %}
                        {% endif %}
                        <p>
                            {{ macros.renderSubmission(
                                transKey,
                                latestSubmission,
                                currentVersionNumber,
                                showSubmitterIds,
                                roleSlugifier)
                            }}
                        </p>
                    {% else %}
                        {# always explicitly inform if no one has submitted in current step or previous step #}
                        {% if statusTimeline is same as('past') %}
                            <p>{{ ('workflow.submission.noneSubmitted'|trans)|raw }}</p>
                        {% else %}
                            <p>{{ ('workflow.submission.noneSubmittedYet'|trans)|raw }}</p>
                        {% endif %}
                    {% endif %}

                    {# in the current step, show who last temporary saved (shows progress) #}
                    {% if statusTimeline is same as('current') %}
                        {% set latestTempSubmission = stepTempSubmissions.first %}
                        {% if latestTempSubmission is not empty %}
                            <p class="text-muted">
                                {{ macros.renderSubmission(
                                    'lastTempSaved',
                                    latestTempSubmission,
                                    currentVersionNumber,
                                    showSubmitterIds,
                                    roleSlugifier)
                                }}
                            </p>
                        {% else %}
                            <p class="text-muted">
                                {{ ('workflow.submission.noneTempSavedYet'|trans)|raw }}
                            </p>
                        {% endif %}
                    {% endif %}

                    {# list all submissions, both temporary and final all mixed in and in order of descending date #}
                    {% set allStepSubmissions = stepSubmissions.mergedWith(stepTempSubmissions).sortedByDescendingSubmitDate %}
                    <table class="table table-bordered mb0" width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <a href="#" class="step-submissions-collapser"
                                   data-target-class="step-{{ flowStep.uid }}-submission"
                                   title="{{ 'workflow.submission.clickForMore'|trans }}">
                                    {{ 'workflow.submission.clickForMore'|trans }}
                                    <span class="text-muted">{{ '(' ~ ('workflow.submission.orderedByDescDate'|trans) ~ ')' }}</span>
                                </a>
                            </td>
                        </tr>
                        {% for submission in allStepSubmissions %}
                            {% set isTempSubmission = stepTempSubmissions.contains(submission) %}
                            <tr class="step-submission step-{{ flowStep.uid }}-submission" style="display: none;">
                                <td class="{{ isTempSubmission ? 'text-muted' : '' }}">
                                    {{ macros.renderSubmission(
                                        isTempSubmission ? 'tempSaved' : 'submitted',
                                        submission,
                                        currentVersionNumber,
                                        showSubmitterIds,
                                        roleSlugifier)
                                    }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
