<template>
  <div v-if="isLoading">
    <div class="p-8 grid place-content-center">
      <br /><br /><br /><br />
      <ProgressSpinner />
      <br /><br />
      <div>Ophalen van formulier...</div>
    </div>
  </div>
  <div v-else>
    <div v-if="isError">
      <div class="p-8 grid place-content-center">
        <div class="text-red-500">
          <i class="pi pi-exclamation-triangle"></i>
        </div>
        <div>
          De template van het formulier (<strong>{{ uid }}</strong
          >) <br />is nog niet beschikbaar in "edit mode".
          <br />
          <div>
            <br />Klik hieronder om de template van het formulier <br />klaar te
            maken om te kunnen editeren ("<i>deconstructen</i>").

            <div class="mt-4 mb-4">
              <Button
                v-if="!isDeconstructing"
                label="Zet de template van het formulier in 'edit mode'."
                icon="pi pi-pencil"
                @click="doEdit"
              />
              <Button
                v-else
                disabled="true"
                label="... klaar maken van de template om te editeren."
                icon="pi pi-spin pi-spinner"
              />
            </div>

            <div class="text-gray-600 text-sm">
              <strong>Let wel:</strong>
              dit kan enige ogenblikken duren.
              <br />Gelieve even te wachten tot het process is afgelopen.
              <br />Daarna word je automatisch doorverwezen naar het formulier.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="p-8 grid place-content-center">
        <div class="underline cursor-pointer" @click="gotoFormList">
          <i class="pi pi-spinner pi-spin"></i> Redirecting...
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { ERROR_LOADING_FORM, getFormByUid } from "@/api/queries/getFormByUid";
import { useToast } from "primevue/usetoast";
import { useRouter } from "vue-router";
import type { BasicForm } from "@/api/queries/types/formTypes";
import { ERROR_DECONSTRUCTING_FORM, startEdit } from "@/api/startEdit";

const props = defineProps({ uid: { required: true, type: String } });
const toaster = useToast();
const router = useRouter();

const isLoading = ref<boolean>(true);
const isError = ref<boolean>(false);
const form = ref<BasicForm>({
  id: 0,
  contentHash: "",
  currentVersionNumber: 0,
  languages: [],
  uid: "",
  rolesThatCouldParticipate: [],
  targetingType: "",
  unPublishedItemCount: 0,
  showPositionNumbers: false,
  enableReadOnlyChoiceAnswerOptionsToggling: false,
});

onMounted((): void => {
  void loadBasicFormByUid();
});

async function loadBasicFormByUid() {
  isLoading.value = true;
  let response = await getFormByUid(props.uid);
  isLoading.value = false;
  if (response === ERROR_LOADING_FORM) {
    console.log(ERROR_LOADING_FORM);
    isError.value = true;
    toaster.add({
      severity: "warn",
      summary: "Template niet beschikbaar.",
      detail:
        "De template van het formulier (" +
        props.uid +
        ") is nog niet beschikbaar in edit mode.",
      life: 10000,
    });
  } else {
    form.value = response as BasicForm;
    void gotoFormList();
  }
}

async function gotoFormList() {
  await router.push({ name: "formList", params: { id: form.value.id } });
}

const isDeconstructing = ref<boolean>(false);

async function doEdit() {
  isDeconstructing.value = true;
  let result = await startEdit(props.uid);
  if (result === ERROR_DECONSTRUCTING_FORM) {
    showDeconstructionError();
  } else if (result === true) {
    isDeconstructing.value = false;
    toaster.add({
      severity: "success",
      summary: "Template klaar om te editeren.",
      detail:
        "De template van het formulier (" +
        props.uid +
        ") is klaar om te wijzigen.",
      life: 10000,
    });
    void loadBasicFormByUid();
  } else {
    showDeconstructionError();
  }
}

function showDeconstructionError() {
  toaster.add({
    severity: "error",
    summary: "Fout",
    detail:
      "Het is niet gelukt om de template van het formulier in edit modus te zetten. Gelieve de administrator te contacteren.",
    life: 20000,
  });
}
</script>
