<template>
  <!-- add option form -->
  <div v-if="props.isAdding" class="mt-2 bg-green-50 p-1">
    <form @submit.prevent="save" @keyup.esc="cancelOption">
      <div class="flex flew-row mt-1 mb-1">
        <div class="ml-2 font-bold">Voeg een optie toe:</div>
      </div>
      <!-- option value -->
      <div class="flex">
        <div class="basis-1/4 text-right pr-2 pt-2">
          Antwoord optie *
          <ActiveLanguageBadge />
        </div>
        <div class="basis-3/4">
          <IconField>
            <InputText
              id="textInputAddOption"
              v-model="option"
              class="w-full"
              :class="{ 'p-invalid': v$.option.$error }"
              @input="v$.option.$touch"
            ></InputText>
            <InputIcon v-if="!v$.option.$error" class="pi pi-check" />
            <InputIcon v-if="v$.option.$error" class="pi pi-times" />
          </IconField>
          <small v-if="v$.option.$error" class="p-error">
            Antwoord optie is een verplicht veld.
          </small>
        </div>
      </div>

      <!-- scoring value (if scoring question) -->
      <div v-if="question.isScoreQuestion" class="flex mt-2">
        <div class="basis-1/4 text-right pr-2 pt-2">
          <span class="mr-2"><i class="pi pi-percentage"></i></span>
          Score *
        </div>
        <div class="basis-2/4">
          <IconField>
            <!-- <InputText
              v-model="score"
              class="w-full"
              :class="{ 'p-invalid': v$.score.$error }"
              @input="v$.score.$touch"
            /> -->
            <InputNumber
              v-model="score"
              :max-fraction-digits="5"
              :min-fraction-digits="1"
              class="w-full"
              :class="{ 'p-invalid': v$.score.$error }"
              @focus="v$.$reset"
            />
            <InputIcon v-if="!v$.score.$error" class="pi pi-check" />
            <InputIcon v-if="v$.score.$error" class="pi pi-times" />
          </IconField>
          <small v-if="v$.score.$error" class="p-error">
            Score is niet geldig.
          </small>
        </div>
        <div class="basis-1/4">
          <div class="mt-2 ml-4">
            <i
              v-tooltip="'Extra uitleg over dit score veld.'"
              class="pi pi-info-circle"
            ></i>
          </div>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row">
        <div class="basis-1/4">&nbsp;</div>
        <div class="basis-2/4">
          <div class="mt-2 mb-2">
            <!-- ------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="v$.$dirty && v$.$error"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ----------------------------------------------------------------------------------------- save button -->
          <Button
            v-if="!isSaving"
            label="Voeg optie toe"
            icon="pi pi-check"
            class="w-full"
            severity="success"
            type="submit"
            @click="save"
          ></Button>
          <Button
            v-else
            disabled
            label="Toevoegen van optie..."
            icon="pi pi-spin pi-spinner"
            class="w-full"
            severity="success"
          />
        </div>
        <div class="basis-1/4 text-right">
          <div class="mt-2">
            <Button
              icon="pi pi-times"
              label="Cancel"
              severity="secondary"
              outlined
              @click="cancelOption"
            ></Button>
          </div>
        </div>
      </div>
    </form>

    <!-- debug the command (for the backend) -->
    <CommandRenderer :command="command" />
  </div>
</template>

<script setup lang="ts">
import useVuelidate from "@vuelidate/core";
import { required, requiredIf } from "@vuelidate/validators";
import ActiveLanguageBadge from "../../../_general/ActiveLanguageBadge.vue";
import CommandRenderer from "../../../_general/CommandRenderer.vue";
import { ref, toRef } from "vue";
import type { ChoiceQuestionNode } from "@/api/queries/types/formTypes";
import { useAddOptionCommand } from "@/api/commands/OptionCommands";

const props = defineProps<{
  isAdding: boolean;
  question: ChoiceQuestionNode;
}>();
const emit = defineEmits(["update:isAdding"]);

const {
  option,
  score,

  command,
  executeCommand,
} = useAddOptionCommand(toRef(props, "question"));

const rules = {
  option: { required },
  score: {
    requiredIfScoring: requiredIf(props.question.isScoreQuestion),
  },
};

const v$ = useVuelidate(rules, { option, score });

function cancelOption() {
  option.value = "";
  score.value = null;
  v$.value.$reset();
  emit("update:isAdding", false);
}

const isSaving = ref(false);

async function save() {
  const isFormCorrect = await v$.value.$validate();
  if (!isFormCorrect) return;

  isSaving.value = true;
  await executeCommand();
  v$.value.$reset();
  isSaving.value = false;
  cancelOption();
}
</script>
