<template>
  <div id="DialogExportOptions" class="w-[50rem]">
    <div>
      <Textarea v-model="exportString" rows="15" class="w-full" readonly />
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4"></div>
      <div class="basis-2/4 text-center">
        <div v-if="copied" class="mt-2">
          <i class="pi pi-info-circle" />&nbsp; Lijst gekopieerd naar het
          klembord.
        </div>
      </div>
      <div class="basis-1/4">
        <Button
          label="Copy"
          icon="pi pi-copy"
          class="w-full"
          @click="copyListToClipboard"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { ChoiceQuestionNode } from "@/api/queries/types/formTypes";
import { computed } from "vue";
import { useLanguageStore } from "@/stores/language";
import { useClipboard } from "@vueuse/core";

const props = defineProps<{ question: ChoiceQuestionNode }>();
const languageStore = useLanguageStore();
const { copy, copied } = useClipboard();

const exportString = computed<string>(() => {
  let exportString = "";
  for (const option of props.question.options) {
    exportString +=
      option.info.label[languageStore.activeLanguage.toLowerCase()] ?? "";
    if (option.score) {
      exportString += `|${option.score}`;
    }
    exportString += "\r\n";
  }
  return exportString;
});

async function copyListToClipboard() {
  await copy(exportString.value);
}
</script>
