<template>
  <div id="DialogImportOptions" class="w-[50rem]">
    <div>
      <Textarea v-model="importString" rows="15" class="w-full" />
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <div class="text-xs text-gray-500"><i>Per lijn een optie.</i></div>
      </div>
      <div class="basis-2/4">
        <div class="flex float-right mt-2">
          <div class="ml-2">
            <RadioButton v-model="isAppend" input-id="replace" :value="false" />
            <label class="ml-1" for="replace">Vervang opties </label>
          </div>
          <div class="ml-2">
            <RadioButton v-model="isAppend" input-id="append" :value="true" />
            <label class="ml-1" for="append">Voeg opties toe </label>
          </div>
        </div>
      </div>
      <div class="ml-4 basis-1/4">
        <Button
          v-if="!isImporting"
          :disabled="!canImport"
          label="Import"
          icon="pi pi-download"
          class="w-full"
          severity="success"
          @click="importOptions"
        />
        <Button
          v-else
          disabled
          label="Importing"
          icon="pi pi-spinner pi-spin"
          class="w-full"
          severity="success"
        />
      </div>
    </div>
    <div>
      <CommandRenderer :command="command" />
    </div>
  </div>
</template>

<script setup lang="ts">
import type { ChoiceQuestionNode } from "@/api/queries/types/formTypes";
import { computed, ref, toRef } from "vue";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";

import { useImportOptionsCommand } from "@/api/commands/ImportOptions.ts";

const props = defineProps<{ question: ChoiceQuestionNode }>();
const emit = defineEmits(["imported"]);

const { importString, isAppend, command, executeCommand } =
  useImportOptionsCommand(toRef(props, "question"));

const canImport = computed<boolean>(() => {
  return importString.value.trim().length !== 0;
});

const isImporting = ref<boolean>(false);

async function importOptions() {
  isImporting.value = true;
  await executeCommand();
  isImporting.value = false;
  emit("imported");
}
</script>
