<template>
  <div style="width: 800px">
    <!-- list questions that are locked by this option -->
    <div v-for="lockedQuestion in lockedQuestions" :key="lockedQuestion.id">
      <div class="flex flex-row border-b-[1px]">
        <div class="basis-10/12">
          <div class="mt-1.5">
            <PositionTagger
              :position="lockedQuestion.position"
              :tooltip="`id: ${lockedQuestion.id} \nuid: ${lockedQuestion.uid}`"
              class="mr-4"
            />
            <strong><span v-html="lockedQuestion.label" /></strong>
          </div>
        </div>
        <div class="basis-2/12 text-right">
          <div class="mt-1 mb-1">
            <Button
              v-if="!isDeleting"
              icon="pi pi-trash"
              severity="secondary"
              outlined
              size="small"
              @click="deleteLogic($event, lockedQuestion.id)"
            />
            <Button
              v-else
              icon="pi pi-spin pi-spinner"
              severity="secondary"
              outlined
            />
          </div>
        </div>
      </div>
    </div>

    <CommandRenderer :command="deleteCommand"></CommandRenderer>

    <ConfirmPopup />
  </div>
</template>

<script setup lang="ts">
import { useLanguageStore } from "@/stores/language";
import { useFormStore } from "@/stores/form";
import { computed, onMounted, ref, toRef } from "vue";
import type {
  ChoiceQuestionNode,
  OptionNode,
} from "@/api/queries/types/formTypes";
import { getLockedQuestions } from "@/api/queries/getQuestions";
import { useDeleteConditionCommand } from "@/api/commands/DeleteCondition.ts";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";
import { useConfirm } from "primevue/useconfirm";
import PositionTagger from "@/components/formBuilder/_general/PositionTagger.vue";

// -- props & emites

const props = defineProps<{
  option: OptionNode;
  question: ChoiceQuestionNode;
}>();

// -- stores & confirmation

const languageStore = useLanguageStore();
const formStore = useFormStore();
const confirm = useConfirm();

onMounted(async () => {
  await loadLockedQuestions(false);
});

const lockedId = ref<number>(0);
const { command: deleteCommand, executeCommand } = useDeleteConditionCommand(
  toRef(props, "question"),
  "locked",
  lockedId,
  computed(() => props.option.id),
);

interface Question {
  id: number;
  uid: string;
  label: string;
  type: "question";
  subtype: string;
  position: number[];
}

const lockedQuestions = ref<Question[]>([]);

async function loadLockedQuestions(isReload: boolean) {
  if (props.option.unlocksQuestionIds.length > 0) {
    lockedQuestions.value = await getLockedQuestions(
      formStore.form.id,
      languageStore.activeLanguage.toLowerCase(),
      props.option.unlocksQuestionIds,
    );
  } else if (isReload) {
    lockedQuestions.value = [];
  }
}

function deleteLogic(event: MouseEvent, lockedQuestionId: number) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message: "Ben je zeker om deze logica te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        lockedId.value = lockedQuestionId;
        void deleteLogicHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}

const isDeleting = ref(false);

async function deleteLogicHandler() {
  isDeleting.value = true;
  await executeCommand();
  await loadLockedQuestions(true);
  isDeleting.value = false;
}
</script>
