<template>
  <div class="p-2">
    <form @submit.prevent="save">
      <!-- default selected -->
      <div class="flex">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <ToggleSwitch v-model="defaultSelected" @input="v$.$touch" />
        </div>
        <div class="basis-3/4">
          <div class="mt-2">Selecteer standaard deze optie</div>
        </div>
      </div>

      <!-- option value ------------------------------------------------------ -->
      <div class="flex mt-2">
        <div class="pt-2 pr-2 text-right basis-1/4">
          Antwoord optie *
          <ActiveLanguageBadge />
        </div>
        <div class="basis-3/4">
          <IconField>
            <InputText
              :id="'textInputOption' + index + 1"
              v-model="option"
              class="w-full"
              :class="{ 'p-invalid': v$.option.$invalid }"
              @input="v$.touch"
            ></InputText>
            <InputIcon v-if="!v$.option.$invalid" class="pi pi-check" />
            <InputIcon v-if="v$.option.$invalid" class="pi pi-times" />
          </IconField>
          <small v-if="v$.option.$invalid" class="p-error">
            Antwoord optie is een verplicht veld.
          </small>
        </div>
      </div>

      <!-- scoring value (if scoring question) ---------------------------------- -->
      <div v-if="question.isScoreQuestion" class="flex mt-2">
        <div class="pt-2 pr-2 text-right basis-1/4">
          <span class="mr-2"><i class="pi pi-percentage"></i></span>
          Score *
        </div>
        <div class="basis-2/4">
          <InputGroup class="flex-1 w-full">
            <InputGroupAddon :class="scoreIsSmallerThanMin">
              {{ question.configScoring.scoringParameters.minScore }}
            </InputGroupAddon>
            <InputText
              v-model="score"
              class="w-full"
              :class="{ 'p-invalid': v$.score.$invalid }"
              @input="v$.touch"
            ></InputText>
            <InputGroupAddon :class="scoreIsBiggerThanMax">
              {{ question.configScoring.scoringParameters.maxScore }}
            </InputGroupAddon>
          </InputGroup>

          <small v-if="v$.score.$invalid" class="p-error">
            Score is niet geldig.
          </small>
        </div>
        <div class="basis-1/4">
          <div class="mt-2 ml-4">
            <i
              v-tooltip="'Extra uitleg over dit score veld.'"
              class="pi pi-info-circle"
            ></i>
          </div>
        </div>
      </div>

      <!-- extra textfield ------------------------------------------------------ -->
      <div v-if="index + 1 === props.totalOptions">
        <div class="flex pt-2">
          <div class="pt-2 pr-2 text-right basis-1/4">
            <ToggleSwitch
              v-model="inputType"
              true-value="optionWithAdditionalText"
              false-value="option"
              @input="v$.touch"
            />
          </div>
          <div class="basis-3/4">
            <div class="mt-2">
              Toon een extra vrij tekstveld bij keuze voor deze optie?
            </div>
          </div>
        </div>

        <div v-if="inputType === 'optionWithAdditionalText'">
          <div class="flex">
            <div class="pt-2 pr-2 text-right basis-1/4">
              <ToggleSwitch
                v-model="additionalTextRequired"
                @input="v$.touch"
              />
            </div>
            <div class="basis-3/4">
              <div class="mt-2">Het extra veld is verplicht in te vullen?</div>
            </div>
          </div>
          <div class="flex">
            <div class="pt-2 pr-2 text-right basis-1/4">&nbsp;</div>
            <div class="basis-1/3">
              <div class="mt-2">Minimum aantal karakters *</div>
            </div>
            <div class="basis-1/4">
              <IconField>
                <InputNumber
                  v-model="additionalTextMinLength"
                  :min="0"
                  class="w-full"
                  @input="v$.touch"
                  @change="v$.touch"
                />
                <InputIcon
                  v-if="!v$.additionalTextMinLength.$invalid"
                  class="pi pi-check"
                />
                <InputIcon
                  v-if="v$.additionalTextMinLength.$invalid"
                  class="pi pi-times"
                />
              </IconField>
              <div>
                <small
                  v-if="v$.additionalTextMinLength.$invalid"
                  class="p-error"
                >
                  Min. aantal karakters is niet geldig.
                </small>
              </div>
            </div>
          </div>
          <div class="flex mt-1">
            <div class="pt-2 pr-2 text-right basis-1/4">&nbsp;</div>
            <div class="basis-1/3">
              <div class="mt-2">Maximum aantal karakters *</div>
            </div>
            <div class="basis-1/4">
              <IconField>
                <InputNumber
                  v-model="additionalTextMaxLength"
                  :min="additionalTextMinLength ?? undefined"
                  class="w-full"
                  @input="v$.touch"
                  @change="v$.touch"
                />
                <InputIcon
                  v-if="!v$.additionalTextMaxLength.$invalid"
                  class="pi pi-check"
                />
                <InputIcon
                  v-if="v$.additionalTextMaxLength.$invalid"
                  class="pi pi-times"
                />
              </IconField>
              <div>
                <small
                  v-if="v$.additionalTextMaxLength.$invalid"
                  class="p-error"
                >
                  Max. aantal karakters is niet geldig.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- save button -->
      <div class="flex flex-row">
        <div class="basis-1/4">
          <div
            v-if="props.option.unlocksQuestionIds.length > 0"
            class="flex flex-row gap-2 mt-2"
          >
            <!-- locking functionalities -->

            <HighlightRelationsButton
              v-tooltip="'Toon de vragen die zichtbaar worden bij deze optie.'"
              :relation-info="{
                type: RelativeRelation.UNLOCKS,
                node: question,
                optionIndex: index,
              }"
            />
            <Button
              v-tooltip="'Beheer de vragen die worden getoond bij deze optie.'"
              icon="pi pi-unlock"
              severity="secondary"
              outlined
              @click="showOptionDialog"
            />
          </div>
        </div>

        <div class="basis-2/4">
          <div class="mt-2 mb-2">
            <!-- --------------------------------------------------------------------------------------------- touched -->
            <Message
              v-if="v$.$dirty && !v$.$invalid"
              severity="warn"
              icon="pi pi-exclamation-triangle"
              class="w-full"
            >
              Wijzigingen voor deze optie nog niet bewaard.
            </Message>
            <!-- --------------------------------------------------------------------------------------------- invalid -->
            <Message
              v-if="v$.$dirty && v$.$invalid"
              severity="error"
              icon="pi pi-times-circle"
              class="w-full"
            >
              Dit formulier is niet geldig.
            </Message>
          </div>
          <!-- ------------------------------------------------------------------------------------------- save button -->
          <Button
            v-if="!isSaving"
            :disabled="v$.$invalid"
            label="Bewaar optie"
            icon="pi pi-check"
            class="w-full"
            severity="success"
            type="submit"
            @click="save"
          />
          <Button
            v-else
            disabled
            label="Bewaren van optie..."
            icon="pi pi-spin pi-spinner"
            class="w-full"
            severity="success"
          />
        </div>
        <div class="text-right basis-1/4">
          <div v-if="canBeDeleted" class="mt-2">
            <Button
              v-if="!isDeleting"
              icon="pi pi-trash"
              severity="secondary"
              outlined
              @click="deleteOption($event)"
            />
            <Button
              v-else
              icon="pi pi-spin pi-spinner"
              severity="secondary"
              outlined
            />
          </div>
        </div>
      </div>

      <div class="flex flex-row mt-4">
        <div class="basis-3/4">
          <RelationDraggable
            :config="{
              option: props.option,
              question: props.question,
              relationToDropped: RelativeRelation.UNLOCKS,
            }"
            @dragstart="showDependencies()"
          />
        </div>
      </div>
    </form>

    <!-- debug the command (for the backend) -->
    <CommandRenderer :command="command" />
    <CommandRenderer :command="deleteCommand" />
  </div>

  <ConfirmPopup />

  <!-- dialog window with list of locked questions -->
  <Dialog
    v-model:visible="isShowOptionDialog"
    :header="
      'Vragen die pas getoond worden zodra de optie \'' +
      props.label +
      '\' wordt gekozen:'
    "
    :modal="true"
  >
    <OptionLogicDialog :question="props.question" :option="props.option" />
  </Dialog>
</template>

<script setup lang="ts">
import ActiveLanguageBadge from "../../../_general/ActiveLanguageBadge.vue";
import useVuelidate from "@vuelidate/core";
import { decimal, required, requiredIf } from "@vuelidate/validators";
import CommandRenderer from "../../../_general/CommandRenderer.vue";
import OptionLogicDialog from "./OptionLogicDialog.vue";
import { useLanguageStore } from "@/stores/language";
import { useFormStore } from "@/stores/form";
import { computed, ref, toRef, watch } from "vue";
import {
  DeleteOptionCommand,
  useUpdateOptionCommand,
} from "@/api/commands/OptionCommands";
import {
  ChoiceQuestionNode,
  OptionNode,
  RelativeRelation,
} from "@/api/queries/types/formTypes";
import { useConfirm } from "primevue/useconfirm";
import { executeApiCommand } from "@/api/commands/common/executeApiCommand";
import { RelationLookUpInfo } from "@/functions/nodeRelations";
import { isScoringChoiceQuestionNode } from "@/api/queries/types/subtypesForNodeRelations";
import RelationDraggable from "@/components/formBuilder/formList/nodeEditor/RelationDraggable.vue";
import HighlightRelationsButton from "@/components/formBuilder/formList/HighlightRelationsButton.vue";

const formStore = useFormStore();
const languageStore = useLanguageStore();
const confirm = useConfirm();

// -- props
const props = defineProps<{
  option: OptionNode;
  question: ChoiceQuestionNode;
  index: number;
  totalOptions: number;
  label: string;
}>();

const {
  option,
  defaultSelected,
  inputType,
  score: sanitizedScore,
  additionalTextRequired: sanitizedAdditionalTextRequired,
  additionalTextMinLength,
  additionalTextMaxLength,
  command,
  executeCommand: executeUpdateCommand,
} = useUpdateOptionCommand(toRef(props, "option"));

// - convert / sanitze input types
const score = ref(props.option.score?.toString() ?? "");
watch(score, (newVal) => {
  sanitizedScore.value = parseFloat(newVal);
});

const additionalTextRequired = ref(
  props.option.configProps.additionalTextRequired ?? undefined,
);

watch(additionalTextRequired, (newVal) => {
  if (typeof newVal === "boolean") {
    sanitizedAdditionalTextRequired.value = newVal;
  } else {
    sanitizedAdditionalTextRequired.value = null;
  }
});

const canBeDeleted = computed(() => props.totalOptions > 2);
const deleteCommand = computed(
  (): DeleteOptionCommand => ({
    id: props.option.id,
    type: "deleteOption",
    contentHash: props.option.contentHash,
    subject: "option",
    language: languageStore.activeLanguage,
    delete: { optionId: props.option.id, formId: formStore.form.id },
  }),
);

// --------------------------------------------------------------------------------- validation

const charValidator = function (value: number) {
  if (inputType.value === "optionWithAdditionalText") {
    let _value = parseFloat(value.toString());
    if (_value != value) return false;
  }
  return true;
};

const additionalTextMinLengthValidator = function (value: number) {
  if (inputType.value === "optionWithAdditionalText") {
    let _value = parseFloat(value.toString());
    if (_value != value) return false;
    if (additionalTextRequired.value && _value < 1) return false;
  }
  return true;
};

const isScoringQuestion = computed(() =>
  isScoringChoiceQuestionNode(props.question),
);

const rules = {
  option: { required },
  score: {
    requiredIfScoring: requiredIf(isScoringQuestion),
    decimal,
  },
  additionalTextMinLength: { additionalTextMinLengthValidator },
  additionalTextMaxLength: { charValidator },
};

const v$ = useVuelidate(rules, {
  option,
  score,
  additionalTextMinLength,
  additionalTextMaxLength,
});

// ---------------------------------------------------------------------------------- interaction

const isSaving = ref(false);

async function save() {
  if (!v$.value.$invalid) {
    isSaving.value = true;
    await executeUpdateCommand();
    v$.value.$reset();
    isSaving.value = false;
  }
}

const isDeleting = ref(false);

function deleteOption(event: MouseEvent) {
  const target = event.currentTarget;
  if (target instanceof HTMLElement) {
    confirm.require({
      target: target,
      message: "Ben je zeker om deze optie te verwijderen?",
      icon: "pi pi-exclamation-triangle",
      acceptLabel: "Ja",
      rejectLabel: "Nee",
      acceptIcon: "pi pi-check",
      rejectIcon: "pi pi-times",
      accept: () => {
        void deleteOptionHandler();
      },
      reject: () => {
        // callback to execute when user rejects the action
      },
    });
  }
}

async function deleteOptionHandler() {
  isDeleting.value = true;
  await executeApiCommand(deleteCommand.value);
  isDeleting.value = false;
}

const relationInfo = computed<RelationLookUpInfo>(() => ({
  type: RelativeRelation.UNLOCKS,
  node: props.question,
  optionIndex: props.index,
}));

function showDependencies() {
  if (props.option.unlocksQuestionIds.length === 0) return;
  formStore.setRelationToHighlight(relationInfo.value);
}

const isShowOptionDialog = ref(false);

function showOptionDialog() {
  showDependencies();
  isShowOptionDialog.value = true;
}

const maxScore = computed(
  () => props.question.configScoring.scoringParameters.maxScore ?? 0,
);
const minScore = computed(
  () => props.question.configScoring.scoringParameters.minScore ?? 0,
);

const errorClass = "!border-yellow-500 !bg-yellow-200";

const scoreIsBiggerThanMax = computed(() =>
  parseFloat(score.value) > maxScore.value ? errorClass : "",
);
const scoreIsSmallerThanMin = computed(() =>
  parseFloat(score.value) < minScore.value ? errorClass : "",
);
</script>
