<template>
  <FormCardList>
    <FormCard
      v-if="question.isScoreQuestion || question.isChartParticipantQuestion"
      class="p-2"
    >
      <div class="p-2 pb-1">
        <ScoreChoiceProperties :question="question" />
      </div>
    </FormCard>
    <FormCard>
      <!-- list options in a accordion -->
      <Accordion v-model:active-index="activeIndex" @tab-open="openTabHandler">
        <AccordionPanel
          v-if="
            !props.question.required &&
            !props.question.configProps.multiple &&
            props.question.configProps.expanded
          "
          :value="0"
        >
          <AccordionHeader>
            <div class="flex">
              <span class="mr-3 ml-2">
                <span v-if="isOtherOptionSelected"
                  ><i class="pi pi-circle"
                /></span>
                <span v-else><i class="pi pi-check-circle" /></span>
              </span>
              <span class="line-clamp-1">
                Optie 0:
                <strong>{{
                  question.configInfo.placeholder[
                    languageStore.activeLanguage.toLowerCase()
                  ] ?? "Not applicable"
                }}</strong>
              </span>
              <span class="ml-4 text-gray-500 text-xs">
                (Deze vaste optie kan je verwijderen door de vraag verplicht te
                maken.)
              </span>
            </div>
          </AccordionHeader>
          <AccordionContent>
            <div class="flex p-4">
              <div class="pt-2 pr-2 text-right basis-1/4">
                Label n.v.t. *
                <ActiveLanguageBadge />
              </div>
              <div class="basis-3/4">
                <InputText
                  id="textInputOption0"
                  v-model="option0"
                  placeholder="Not applicable"
                  class="w-full"
                ></InputText>
              </div>
            </div>
            <div class="flex">
              <div class="basis-1/4"></div>
              <div class="basis-3/4 pl-2 pr-4">
                <!-- ------------------------------------------------------------------------------------------- save button -->
                <Button
                  v-if="!isSaving"
                  label="Bewaar optie"
                  icon="pi pi-check"
                  class="w-full"
                  severity="success"
                  type="submit"
                  @click="save"
                />
                <Button
                  v-else
                  disabled
                  label="Bewaren van optie..."
                  icon="pi pi-spin pi-spinner"
                  class="w-full"
                  severity="success"
                />
              </div>
            </div>
            <CommandRenderer :command="command" @execute="executeCommand" />
          </AccordionContent>
        </AccordionPanel>

        <AccordionPanel
          v-for="(option, index) in props.question.options"
          :key="index"
          :value="index + 1"
        >
          <AccordionHeader>
            <div class="flex">
              <!-- render a circle of square depending on multiple options or not -->
              <span v-if="props.question.configProps.multiple">
                <span class="mr-3 ml-2">
                  <span v-if="option.defaultSelected">
                    <i class="pi pi-check-square" />
                  </span>
                  <span v-else><i class="pi pi-stop" /></span>
                </span>
              </span>
              <span v-else>
                <span class="mr-3 ml-2">
                  <span v-if="option.defaultSelected">
                    <i class="pi pi-check-circle" />
                  </span>
                  <span v-else><i class="pi pi-circle" /></span>
                </span>
              </span>

              <!-- this option is an unlocker -->
              <span
                v-if="option.unlocksQuestionIds.length > 0"
                class="mr-3 ml-2"
              >
                <i
                  v-tooltip="'Deze optie unlocks andere vragen.'"
                  class="pi pi-lock-open"
                />
              </span>

              <!-- render the label -->
              <span class="line-clamp-1">
                Optie {{ index + 1 }}:
                <span class="font-bold" v-html="getOptionLabel(option)" />
              </span>

              <!-- render the score -->
              <span
                v-if="option.score != null"
                class="ml-2 text-gray-500 text-xs"
              >
                (Score:&nbsp;{{ option.score }})
              </span>

              <!-- render the extra textfield indicator -->
              <span
                v-if="option.inputType === 'optionWithAdditionalText'"
                class="ml-4"
              >
                <i class="pi pi-plus-circle" />
              </span>
            </div>
          </AccordionHeader>
          <AccordionContent>
            <QuestionOptionDetail
              :question="question"
              :option="option"
              :index="index"
              :total-options="props.question.options.length"
              :label="getOptionLabel(option)"
            />
          </AccordionContent>
        </AccordionPanel>
      </Accordion>

      <!-- add button -->
      <div v-if="!isAdding" class="flex flex-row mt-2">
        <div class="basis-1/4">
          <Button
            label="Voeg optie toe"
            icon="pi pi-plus"
            class="w-full"
            severity="success"
            @click="startAdding"
          ></Button>
        </div>
        <div class="ml-2 basis-1/4">
          <Button
            label="Export opties"
            icon="pi pi-upload"
            class="w-full"
            outlined
            @click="showDialogExportHandler"
          />
        </div>
        <div class="ml-2 basis-1/4">
          <Button
            label="Import opties"
            icon="pi pi-download"
            class="w-full"
            outlined
            @click="showDialogImportHandler"
          />
        </div>
      </div>

      <!-- add option component --------------------------------------- -->
      <AddOption v-model:is-adding="isAdding" :question="props.question" />

      <!-- sort options component ------------------------------------- -->
      <SortOptions :question="props.question" />

      <!-- export options dialog -------------------------------------- -->
      <Dialog
        v-model:visible="showDialogExport"
        :header="`Exporteer opties (${question.options.length})`"
        :modal="true"
      >
        <DialogExportOptions :question="question" />
      </Dialog>
      <!-- import options dialog ------------------------------------- -->
      <Dialog
        v-model:visible="showDialogImport"
        header="Importeer opties"
        :modal="true"
      >
        <DialogImportOptions
          :question="question"
          @imported="showDialogImport = false"
        />
      </Dialog>
    </FormCard>
  </FormCardList>
</template>

<script setup lang="ts">
import ActiveLanguageBadge from "@/components/formBuilder/_general/ActiveLanguageBadge.vue";
import FormCard from "@/components/layout/FormCard.vue";
import QuestionOptionDetail from "./QuestionOptionDetail.vue";
import ScoreChoiceProperties from "../properties/ScoreChoiceProperties.vue";
import AddOption from "./AddOption.vue";
import SortOptions from "./SortOptions.vue";
import { useLanguageStore } from "@/stores/language";
import { computed, ref, toRef } from "vue";
import type {
  ChoiceQuestionNode,
  OptionNode,
} from "@/api/queries/types/formTypes";
import DialogExportOptions from "@/components/formBuilder/formList/nodeEditor/options/DialogExportOptions.vue";
import DialogImportOptions from "@/components/formBuilder/formList/nodeEditor/options/DialogImportOptions.vue";
import FormCardList from "@/components/layout/FormCardList.vue";
import { useUpdateQuestionInfoCommand } from "@/api/commands/UpdateQuestionInfo";
import CommandRenderer from "@/components/formBuilder/_general/CommandRenderer.vue";

const props = defineProps<{ question: ChoiceQuestionNode }>();
const languageStore = useLanguageStore();
const activeIndex = ref<number>(-1);
const isAdding = ref<boolean>(false);

// The placeholder value is used for the label on the extra option that is added
// when the options are shown as radio buttons and the question is not required.
const {
  placeholder: option0,
  command,
  executeCommand,
} = useUpdateQuestionInfoCommand(toRef(props, "question"));

const isSaving = ref(false);
async function save() {
  isSaving.value = true;
  await executeCommand();
  isSaving.value = false;
}
function openTabHandler() {
  isAdding.value = false;
  let textInputIndex = activeIndex.value + 1;
  let optionTextInput: HTMLElement | null = document.getElementById(
    `textInputOption${textInputIndex}`,
  );
  setTimeout(function () {
    if (optionTextInput) {
      optionTextInput.focus();
    }
  }, 400);
}

const getOptionLabel = (option: OptionNode) =>
  option.info.label[languageStore.activeLanguage.toLowerCase()] ?? "[option]";

const isOtherOptionSelected = computed((): boolean =>
  props.question.options.some((option) => option.defaultSelected),
);

function closeAccordion() {
  activeIndex.value = -1;
}

function startAdding() {
  closeAccordion();
  isAdding.value = true;
  setTimeout(function () {
    let optionAddTextInput: HTMLElement | null =
      document.getElementById("textInputAddOption");
    if (optionAddTextInput) {
      optionAddTextInput.focus();
    }
  }, 200);
}

// -- export & import ---------------------------------------------------------------

const showDialogExport = ref<boolean>(false);
const showDialogImport = ref<boolean>(false);

function showDialogExportHandler() {
  showDialogExport.value = true;
}

function showDialogImportHandler() {
  showDialogImport.value = true;
}
</script>
