<template>
  <!-- sorting button -->
  <div class="mt-2 flex flex-row">
    <div class="basis-1/4">
      <Button
        label="Wijzig volgorde"
        icon="pi pi-list"
        class="w-full"
        severity="secondary"
        @click="showSortingOptions"
      ></Button>
    </div>
  </div>

  <Dialog
    v-model:visible="isShowSortingOptions"
    header="Wijzig volgorde opties"
    :modal="true"
  >
    <div style="width: 850px">
      <!-- list options -->
      <div id="sortOptionsWrapper">
        <Draggable :list="options" item-key="id" ghost-class="ghost">
          <template #item="{ element }">
            <div class="flex flex-row p-2 bg-stone-100 mb-1 cursor-move">
              <div class="basis-1/12">
                <i class="pi pi-arrows-v"></i>
              </div>
              <div class="basis-11/12">
                {{ element.label }}
                <!-- render the extra textfield indicator -->
                <span v-if="element.hasTextField" class="ml-4">
                  <i class="pi pi-plus-circle" />
                </span>
              </div>
            </div>
          </template>
        </Draggable>
      </div>

      <!-- save button -->
      <div>
        <Button
          v-if="!isSaving"
          label="Bewaar volgorde"
          icon="pi pi-save"
          class="w-full"
          severity="success"
          @click="save"
        />
        <Button
          v-else
          disabled
          label="Bewaren van volgorde..."
          icon="pi pi-spin pi-spinner"
          class="w-full"
          severity="success"
        />
      </div>

      <!-- command renderer -->
      <CommandRenderer :command="command" />
    </div>
  </Dialog>

  <Dialog v-model:visible="showErrorMessage" header="Oeps." :modal="true">
    <p>
      De optie met een extra tekstveld ( <i class="pi pi-plus-circle" /> ) moet
      als laatste in de lijst staan. <br /><br />Gelieve de volgorde aan te
      passen.
    </p>
  </Dialog>
</template>

<script setup lang="ts">
import { useUpdateUpdateOptionSortCommand } from "@/api/commands/UpdateOptionSort";
import CommandRenderer from "../../../_general/CommandRenderer.vue";
import { ref, toRef } from "vue";
import Draggable from "vuedraggable";
import type { ChoiceQuestionNode } from "@/api/queries/types/formTypes";

const props = defineProps<{
  question: ChoiceQuestionNode;
}>();

const { options, command, executeCommand } = useUpdateUpdateOptionSortCommand(
  toRef(props, "question"),
);

const isShowSortingOptions = ref(false);
function showSortingOptions() {
  isShowSortingOptions.value = true;
}

const showErrorMessage = ref(false);
function validateOrder() {
  let _numberOfOptions = options.value.length;
  for (let i = 0; i < _numberOfOptions; i++) {
    let _option = options.value[i];
    if (i !== _numberOfOptions - 1 && _option.hasTextField) {
      showErrorMessage.value = true;
      return false;
    }
  }
  return true;
}

const isSaving = ref(false);

async function save() {
  let isValid = validateOrder();
  if (isValid) {
    isSaving.value = true;
    await executeCommand();
    isSaving.value = false;
    isShowSortingOptions.value = false;
  }
}
</script>
